
<div class="my_tasks_block__body">
  <div class="block-data-tab" id="initTabs">
    <ul class="block-tabs">
      <li class="active-tab first"><a href="#noti-tabs-0">Новые <span>(4)</span></a></li>
      <li class="second"><a href="#noti-tabs-1">Просмотренные <span>(3)</span></a></li>
    </ul>
    <div class="block-desc">
      <div class="desc-area active-area" id="noti-tabs-0">
        <div class="table">
          <div class="table__wrap">
            <div class="table-header">
              <div class="date">Дата</div>
              <div class="title">Тема | Сервис</div>
              <div class="desc">Уведомление</div>
              <div class="goto"></div>
            </div>
            <div class="table-body">
              <div class="table-row">
                <div class="date">01.09.2021</div>
                <div class="title sb">Отпускной план</div>
                <div class="desc">До 1.10.2021 заполните график вашего отпуска на 2022 год.</div>
                <div class="goto"><a class="btn" href="#!">
                    <svg class="w14">
                      <use href="../../images/sprite.svg#i_arrow"></use>
                    </svg></a></div>
              </div>
              <div class="table-row">
                <div class="date">21.03.2021</div>
                <div class="title sb">Заявка на отпуск</div>
                <div class="desc">Ваша заявка на отпуск подписана одобрена руководителем подразделения. Для просмотра заявки и делай вашего отпуска перейдите в раздел Мои сервисы/ Заявка на отпуск.</div>
                <div class="goto"><a class="btn disabled" href>
                    <svg class="w14">
                      <use href="../../images/sprite.svg#i_arrow"></use>
                    </svg></a></div>
              </div>
              <div class="table-row">
                <div class="date">31.12.2021</div>
                <div class="title sb">Вопросы по задаче №1232</div>
                <div class="desc">
                  По задаче №1232 появились новые вопросы. Срок предоставления материалов - …
                  
                </div>
                <div class="goto"><a class="btn" href="#!">
                    <svg class="w14">
                      <use href="../../images/sprite.svg#i_arrow"></use>
                    </svg></a></div>
              </div>
              <div class="table-row">
                <div class="date">09.02.2021</div>
                <div class="title sb">Кодекс этики</div>
                <div class="desc">
                  Поступило новое обращение №1232. Предоставить решение: до 13.02.2021…
                  
                </div>
                <div class="goto"><a class="btn" href="#!">
                    <svg class="w14">
                      <use href="../../images/sprite.svg#i_arrow"></use>
                    </svg></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="desc-area" id="noti-tabs-1">
        <div class="table">
          <div class="table__wrap">
            <div class="table-header">
              <div class="date">Дата</div>
              <div class="title">Тема | Сервис</div>
              <div class="desc">Уведомление</div>
              <div class="goto"></div>
            </div>
            <div class="table-body">
              <div class="table-row">
                <div class="date">01.09.2021</div>
                <div class="title sb">Отпускной план</div>
                <div class="desc">До 01.10.2021 заполните график вашего отпуска на 2022 год.</div>
                <div class="goto"><a class="btn" href="#!">
                    <svg class="w14">
                      <use href="../../images/sprite.svg#i_arrow"></use>
                    </svg></a></div>
              </div>
              <div class="table-row">
                <div class="date">21.03.2021</div>
                <div class="title sb">Заявка на отпуск</div>
                <div class="desc">Ваша заявка на отпуск подписана одобрена руководителем подразделения. Для просмотра заявки и делай вашего отпуска перейдите в раздел Мои сервисы/ Заявка на отпуск.</div>
                <div class="goto"><a class="btn disabled" href>
                    <svg class="w14">
                      <use href="../../images/sprite.svg#i_arrow"></use>
                    </svg></a></div>
              </div>
              <div class="table-row">
                <div class="date">31.12.2021</div>
                <div class="title sb">Вопросы по задаче №1232</div>
                <div class="desc">
                  По задаче №1232 появились новые вопросы. Срок предоставления материалов - …
                  
                </div>
                <div class="goto"><a class="btn" href="#!">
                    <svg class="w14">
                      <use href="../../images/sprite.svg#i_arrow"></use>
                    </svg></a></div>
              </div>
              <div class="table-row">
                <div class="date">09.02.2021</div>
                <div class="title sb">Кодекс этики</div>
                <div class="desc">
                  Поступило новое обращение №1232. Предоставить решение: до 13.02.2021…
                  
                </div>
                <div class="goto"><a class="btn" href="#!">
                    <svg class="w14">
                      <use href="../../images/sprite.svg#i_arrow"></use>
                    </svg></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="more-tasks"><a href="/my-notifications.html">Все уведомления</a></div>
</div>