
<div class="my_tasks_block__body">
  <div class="block-data-tab" id="initTabs1">
    <ul class="block-tabs">
      <li class="active-tab first"><a href="#shop2-tabs-0">Топ-менеджмент <sup>1</sup></a></li>
      <li class="second"><a href="#shop2-tabs-1">Средний менеджмент <sup>2</sup></a></li>
      <li class="third"><a href="#shop2-tabs-2">Линейный менеджмент<sup>3</sup></a></li>
      <li><a href="#shop2-tabs-3">Специалист/Рабочий</a></li>
    </ul>
    <div class="block-desc">
      <div class="desc-area active-area" id="shop2-tabs-0">
        <div class="modelBlock">
          <div class="modelBlock__item">
            <div class="modelBlock__img"> <img src="../../images/image_ku/strategy.png"></div>
            <div class="modelBlock__title">Организация работы</div>
            <div class="modelBlock__txt">Анализирует долгосрочные перспективы компании в целом и отдельных бизнес-единиц</div>
          </div>
          <div class="modelBlock__item">
            <div class="modelBlock__img"> <img src="../../images/image_ku/idea.png"></div>
            <div class="modelBlock__title">Принятие решений</div>
            <div class="modelBlock__txt">Несет ответственность за решения, определяющие сохранение лидерства и достижение финансовых показателей</div>
          </div>
          <div class="modelBlock__item">
            <div class="modelBlock__img"> <img src="../../images/image_ku/settings.png"></div>
            <div class="modelBlock__title">Развитие других</div>
            <div class="modelBlock__txt">Определяет стратегию развития, задавая общий вектор развития кадрового потенциала </div>
          </div>
          <div class="modelBlock__item">
            <div class="modelBlock__img"> <img src="../../images/image_ku/network.png"></div>
            <div class="modelBlock__title">Коммуникативные компетенции</div>
            <div class="modelBlock__txt">Формирует культуру коммуникации и определяет критерии соответствия </div>
          </div>
        </div>
      </div>
      <div class="desc-area" id="shop2-tabs-1">
        <div class="modelBlock">
          <div class="modelBlock__item">
            <div class="modelBlock__img"> <img src="../../images/image_ku/strategy.png"></div>
            <div class="modelBlock__title">Организация работы</div>
            <div class="modelBlock__txt"></div>
          </div>
        </div>
      </div>
      <div class="desc-area" id="shop2-tabs-2">
        <div class="modelBlock">
          <div class="modelBlock__item">
            <div class="modelBlock__img"> <img src="../../images/image_ku/strategy.png"></div>
            <div class="modelBlock__title">Организация работы</div>
            <div class="modelBlock__txt"></div>
          </div>
        </div>
      </div>
      <div class="desc-area" id="shop2-tabs-3">
        <div class="modelBlock">
          <div class="modelBlock__item">
            <div class="modelBlock__img"> <img src="../../images/image_ku/strategy.png"></div>
            <div class="modelBlock__title">Организация работы</div>
            <div class="modelBlock__txt"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modelBlock__sub"> 
    <p> <sup>1</sup>Топ-менеджмент - директор функции в офисе, руководитель производственной единицы.</p>
    <p><sup>2</sup>Средний менеджмент - директор департамента, начальник управления в офисе; заместитель директора, главный инженер на производстве.</p>
    <p><sup>3</sup>Линейный менеджер - руководитель направления / менеджер в офисе; от начальника смены до заместителя главного инженера, технолога на производстве.</p>
  </div>
</div>