mixin my_tasks_block()
    .my_tasks_block__body
        .block-data-tab#initTabs1
            ul.block-tabs
                li.active-tab.first
                    a(href="#shop2-tabs-0")
                        | Срочные 
                        span (4)
                li.second
                    a(href="#shop2-tabs-1")
                        | ТЕКУЩИЕ 
                        span (3)
                li.third
                    a(href="#shop2-tabs-2")
                        | ПРОЧИЕ 
                        span (7)
            .block-desc
                .desc-area.active-area#shop2-tabs-0
                    .table(style="display: none;")
                        .table__wrap
                            .table-header
                                .date Срок
                                .theme Описание
                                .desc Тема
                                .name Автор
                                .image Система
                            .table-body
                                .table-row
                                    .date 28.09.2019
                                    .theme
                                        a.text(href="#") Согласование отпуска
                                    .desc Согласование отпуска Иванова А.А.
                                    .name Иванов А.А.
                                    .image
                                        img(src="../../images/image_tasks/task_1.png", alt)
                                .table-row
                                    .date 28.09.2019
                                    .theme
                                        a.text(href="#") Подписание документов
                                    .desc
                                        | Универсальный документ. Подписание ЭП.
                                        br
                                        | Договор с подрядчиком.
                                    .name Коломенцев А.В.
                                    .image
                                        img(src="../../images/image_tasks/task_2.png", alt)
                                .table-row
                                    .date 28.09.2019
                                    .theme
                                        a.text(href="#") Подписание документов
                                    .desc Подписание электронной счет-фактуры.
                                    .name Иванов А.А.
                                    .image
                                        img(src="../../images/image_tasks/task_3.png", alt)
                                .table-row
                                    .date 28.09.2019
                                    .theme
                                        a.text(href="#") Подписание документов
                                    .desc
                                        | Универсальный документ. Подписание ЭП.
                                        br
                                        | Договор с подрядчиком.
                                    .name Астафьев В.Н.
                                    .image
                                        img(src="../../images/image_tasks/task_3.png", alt)
                    .table_empty
                        p Здесь пока нет задач
                .desc-area#shop2-tabs-1
                    .table
                        .table__wrap
                            .table-header
                                .date Срок
                                .theme Описание
                                .desc Тема
                                .name Автор
                                .image Система
                            .table-body
                                .table-row
                                    .date 28.09.2019
                                    .theme
                                        a.text(href="#") Согласование отпуска
                                    .desc Согласование отпуска Иванова А.А.
                                    .name Иванов А.А.
                                    .image
                                        img(src="../../images/image_tasks/task_1.png", alt)
                                .table-row
                                    .date 28.09.2019
                                    .theme
                                        a.text(href="#") Подписание документов
                                    .desc
                                        | Универсальный документ. Подписание ЭП.
                                        br
                                        | Договор с подрядчиком.
                                    .name Коломенцев А.В.
                                    .image
                                        img(src="../../images/image_tasks/task_2.png", alt)
                                .table-row
                                    .date 28.09.2019
                                    .theme
                                        a.text(href="#") Подписание документов
                                    .desc Подписание электронной счет-фактуры.
                                    .name Иванов А.А.
                                    .image
                                        img(src="../../images/image_tasks/task_3.png", alt)
                                .table-row
                                    .date 28.09.2019
                                    .theme
                                        a.text(href="#") Подписание документов
                                    .desc
                                        | Универсальный документ. Подписание ЭП.
                                        br
                                        | Договор с подрядчиком.
                                    .name Астафьев В.Н.
                                    .image
                                        img(src="../../images/image_tasks/task_3.png", alt)
                .desc-area#shop2-tabs-2
                    .table
                        .table__wrap
                            .table-header
                                .date Срок
                                .theme Описание
                                .desc Тема
                                .name Автор
                                .image Система
                            .table-body
                                .table-row
                                    .date 28.09.2019
                                    .theme
                                        a.text(href="#") Согласование отпуска
                                    .desc Согласование отпуска Иванова А.А.
                                    .name Иванов А.А.
                                    .image
                                        img(src="../../images/image_tasks/task_1.png", alt)
                                .table-row
                                    .date 28.09.2019
                                    .theme
                                        a.text(href="#") Подписание документов
                                    .desc
                                        | Универсальный документ. Подписание ЭП.
                                        br
                                        | Договор с подрядчиком.
                                    .name Коломенцев А.В.
                                    .image
                                        img(src="../../images/image_tasks/task_2.png", alt)
                                .table-row
                                    .date 28.09.2019
                                    .theme
                                        a.text(href="#") Подписание документов
                                    .desc Подписание электронной счет-фактуры.
                                    .name Иванов А.А.
                                    .image
                                        img(src="../../images/image_tasks/task_3.png", alt)
                                .table-row
                                    .date 28.09.2019
                                    .theme
                                        a.text(href="#") Подписание документов
                                    .desc
                                        | Универсальный документ. Подписание ЭП.
                                        br
                                        | Договор с подрядчиком.
                                    .name Астафьев В.Н.
                                    .image
                                        img(src="../../images/image_tasks/task_3.png", alt)
        .more-link
            a(href="/my-tasks.html") Все задачи