mixin target_block()
    .my_tasks_block__body
        .block-data-tab#initTabs1
            ul.block-tabs
                li.active-tab.first
                    a(href="#shop2-tabs-0")
                        | Топ-менеджмент 
                        sup 1
                li.second
                    a(href="#shop2-tabs-1")
                        | Средний менеджмент 
                        sup 2
                li.third
                    a(href="#shop2-tabs-2")
                        | Линейный менеджмент
                        sup 3
                li
                    a(href="#shop2-tabs-3")
                        | Специалист/Рабочий
            .block-desc
                .desc-area.active-area#shop2-tabs-0
                    .modelBlock
                        .modelBlock__item
                            .modelBlock__img 
                                img(src="../../images/image_ku/strategy.png")
                            .modelBlock__title Организация работы
                            .modelBlock__txt Анализирует долгосрочные перспективы компании в целом и отдельных бизнес-единиц
                        .modelBlock__item
                            .modelBlock__img 
                                img(src="../../images/image_ku/idea.png")
                            .modelBlock__title Принятие решений
                            .modelBlock__txt Несет ответственность за решения, определяющие сохранение лидерства и достижение финансовых показателей
                        .modelBlock__item
                            .modelBlock__img 
                                img(src="../../images/image_ku/settings.png")
                            .modelBlock__title Развитие других
                            .modelBlock__txt Определяет стратегию развития, задавая общий вектор развития кадрового потенциала 
                        .modelBlock__item
                            .modelBlock__img 
                                img(src="../../images/image_ku/network.png")
                            .modelBlock__title Коммуникативные компетенции
                            .modelBlock__txt Формирует культуру коммуникации и определяет критерии соответствия 
                .desc-area#shop2-tabs-1
                    .modelBlock
                        .modelBlock__item
                            .modelBlock__img 
                                img(src="../../images/image_ku/strategy.png")
                            .modelBlock__title Организация работы
                            .modelBlock__txt
                .desc-area#shop2-tabs-2
                    .modelBlock
                        .modelBlock__item
                            .modelBlock__img 
                                img(src="../../images/image_ku/strategy.png")
                            .modelBlock__title Организация работы
                            .modelBlock__txt
                .desc-area#shop2-tabs-3
                    .modelBlock
                        .modelBlock__item
                            .modelBlock__img 
                                img(src="../../images/image_ku/strategy.png")
                            .modelBlock__title Организация работы
                            .modelBlock__txt
        .modelBlock__sub 
            p 
                sup 1
                | Топ-менеджмент - директор функции в офисе, руководитель производственной единицы.
            p
                sup 2
                | Средний менеджмент - директор департамента, начальник управления в офисе; заместитель директора, главный инженер на производстве.
            p
                sup 3
                |Линейный менеджер - руководитель направления / менеджер в офисе; от начальника смены до заместителя главного инженера, технолога на производстве.