
<div class="step_blocks">
  <div class="step_one">
    <div class="step_blocks_name">Шаг 1: Выберите компанию</div>
    <div class="step_one_blocks">
      <div class="item" data-tmpl="default">
        <div class="image image--svg"><img src="../../images/logo-aim-56.svg" alt></div>
        <div class="body">
          <div class="title">АИМ Холдинг</div>
          <div class="desc">Крупнейшая угольная компания и системообразующее предприятие в России.</div>
        </div>
      </div>
      <div class="item" data-tmpl="suek">
        <div class="image image--svg"><img src="../../images/logo-suek-56.svg" alt></div>
        <div class="body">
          <div class="title">Сибирская угольная энергетическая компания</div>
        </div>
      </div>
      <div class="item" data-tmpl="ntk">
        <div class="image image--svg"><img src="../../images/logo-ntk-56.svg" alt></div>
        <div class="body">
          <div class="title">Национальная транспортная компания</div>
        </div>
      </div>
      <div class="item" data-tmpl="sgk">
        <div class="image image--svg" style="background-color:#333333;"><img src="../../images/logo-sgk-56.svg" alt></div>
        <div class="body">
          <div class="title">Сибирская генерирующая компания</div>
          <div class="desc">Энергетический холдинг, входящий в Группу компаний АО «СУЭК»</div>
        </div>
      </div>
      <div class="item" data-tmpl="eurochem">
        <div class="image image--svg" style="background-color:#053868;"><img src="../../images/logo-eurochem-56.svg" alt></div>
        <div class="body">
          <div class="title">ЕвроХим</div>
        </div>
      </div>
    </div>
  </div>
  <div class="step_two">
    <div class="step_blocks_name">Шаг 2: Выберите регион</div>
    <ul class="step_two_blocks">
      <li><a href="#">Бурятия <span>(3)</span></a></li>
      <li><a href="#">Кузбасс <span>(19)</span></a></li>
      <li><a href="#">Забайкалье <span>(4)</span></a></li>
      <li><a href="#">Москва <span>(1)</span></a></li>
      <li><a href="#">Мурманск <span>(1)</span></a></li>
      <li><a href="#">Приморье <span>(4)</span></a></li>
      <li><a href="#">Красноярский край <span>(8)</span></a></li>
      <li><a href="#">Хабаровский край <span>(3)</span></a></li>
      <li><a href="#">Хакасия (6)</a></li>
    </ul>
  </div>
  <div class="step_three">
    <div class="step_blocks_name">Шаг 3: Выберите предприятие</div>
    <ul class="step_three_blocks">
      <li><a href="#"><span class="pic">
            <svg class="icon">
              <use xlink:href="../../images/group/sprite.svg#gr_icon1"></use>
            </svg></span><span class="name">АО "Разрез Березовский"</span></a></li>
      <li><a href="#"><span class="pic">
            <svg class="icon">
              <use xlink:href="../../images/group/sprite.svg#gr_icon2"></use>
            </svg></span><span class="name">АО "Разрез Назаровский"</span></a></li>
      <li><a href="#"><span class="pic"><img class="normal" src="../../images/step_pic3.png" alt><img class="hover" src="../../images/step_pic3_h.png" alt></span><span class="name">АО "СУЭК-Красноярск"</span></a></li>
      <li><a href="#"><span class="pic">
            <svg class="icon">
              <use xlink:href="../../images/group/sprite.svg#gr_icon5"></use>
            </svg></span><span class="name">АО "СУЭК-Красноярск"</span></a></li>
      <li><a href="#"><span class="pic"><img class="normal" src="../../images/step_pic3.png" alt><img class="hover" src="../../images/step_pic3_h.png" alt></span><span class="name">ООО "Гринфин"</span></a></li>
      <li><a href="#"><span class="pic">
            <svg class="icon">
              <use xlink:href="../../images/group/sprite.svg#gr_icon3"></use>
            </svg></span></a></li>
      <li><a href="#"><span class="pic">
            <svg class="icon">
              <use xlink:href="../../images/group/sprite.svg#gr_icon4"></use>
            </svg></span></a></li>
      <li><a href="#"><span class="pic">
            <svg class="icon">
              <use xlink:href="../../images/group/sprite.svg#gr_icon6"></use>
            </svg></span></a></li>
      <li><a href="#"><span class="pic">
            <svg class="icon">
              <use xlink:href="../../images/group/sprite.svg#gr_icon9"></use>
            </svg></span></a></li>
      <li><a href="#"><span class="pic">
            <svg class="icon">
              <use xlink:href="../../images/group/sprite.svg#gr_icon10"></use>
            </svg></span></a></li>
      <li><a href="#"><span class="pic">
            <svg class="icon">
              <use xlink:href="../../images/group/sprite.svg#gr_icon11"></use>
            </svg></span></a></li>
      <li><a href="#"><span class="pic">
            <svg class="icon">
              <use xlink:href="../../images/group/sprite.svg#gr_icon12"></use>
            </svg></span></a></li>
      <li><a href="#"><span class="pic">
            <svg class="icon">
              <use xlink:href="../../images/group/sprite.svg#gr_icon13"></use>
            </svg></span></a></li>
      <li><a href="#"><span class="pic">
            <svg class="icon">
              <use xlink:href="../../images/group/sprite.svg#gr_icon14"></use>
            </svg></span></a></li>
    </ul>
  </div>
  <div class="step_four">
    <div class="step_blocks_name">Выберите подразделение</div>
    <div class="step_four__wrap">
      <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
        <defs>
          <marker id="arrowhead" viewBox="0 0 10 18" refX="3" refY="9" markerWidth="7" markerHeight="9" orient="auto">
            <path xmlns="http://www.w3.org/2000/svg" d="M1.70711 17.7071C1.31658 18.0976 0.683417 18.0976 0.292893 17.7071C-0.0976311 17.3166 -0.0976311 16.6834 0.292893 16.2929L1.70711 17.7071ZM9 9L9.70711 8.29289C10.0976 8.68342 10.0976 9.31658 9.70711 9.70711L9 9ZM0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683418 0.292893 0.292892C0.683417 -0.0976315 1.31658 -0.0976315 1.70711 0.292892L0.292893 1.70711ZM0.292893 16.2929L8.29289 8.29289L9.70711 9.70711L1.70711 17.7071L0.292893 16.2929ZM8.29289 9.70711L0.292893 1.70711L1.70711 0.292892L9.70711 8.29289L8.29289 9.70711Z" fill="#B8B9BA"></path>
          </marker>
        </defs>
        <g fill="none" stroke-dasharray="2 4" ; stroke="#B8B9BA" stroke-width="2" marker-end="url(#arrowhead)">
          <path class="arrowLeft"></path>
        </g>
      </svg>
      <ul>
        <li>
          <p class="label"><span>КЛИК</span></p>
          <div class="step_four_block_popup b">
            <div class="step_four_block_popup_in">
              <button class="btn btn-close_wpopup"><span class="icon-close"> </span></button>
              <div class="top">
                <div class="icon_close"></div>
                <div class="title">
                  ООО "Бородинский РМЗ"
                  
                </div>
                <div class="desc"><span>• 4120 сотрудников</span><span>• 662200, г. Березовский, ул. Лосиная роща, д. 1.</span></div>
                <div class="author">
                  <div class="image"><img src="../../images/group/gr_icon6_orange.svg" alt></div>
                  <div class="information">
                    <div class="name">
                      Добролюбов Владимир Николаевич
                      
                    </div>
                    <div class="body">Генеральный директор<br>предприятия</div>
                  </div>
                </div><a class="more" href="#">Перейти в интранет предприятия</a>
              </div>
              <div class="bottom">
                <div class="title">
                  Отдел информационного, IT-поддержки и документационного обеспечения по великому управлению главного офиса компании (43)
                  
                </div>
                <div class="head_divizion">
                  <div class="heading">Глава подразделения</div>
                  <div class="author">
                    <div class="image"><img src="../../images/step_author2_01.png" alt></div>
                    <div class="information">
                      <div class="name">
                        Зельчинская Маргарита Потаповна
                        
                      </div>
                      <div class="body">
                        Заместитель Директора по персоналу и администрации (региональные вопросы работы с персоналом)
                        
                      </div>
                    </div>
                  </div>
                </div>
                <div class="heading">Сотрудники (43)</div>
                <div class="author">
                  <div class="image"><img src="../../images/step_author8_01.png" alt></div>
                  <div class="information">
                    <div class="name">
                      Вершинский Вениаимин Павлович
                      
                    </div>
                    <div class="body">
                      Лаборант 3 категории
                      
                    </div>
                  </div>
                </div>
                <div class="author">
                  <div class="image"><img src="../../images/step_author8_01.png" alt></div>
                  <div class="information">
                    <div class="name">
                      Вершинский Вениаимин Павлович
                      
                    </div>
                    <div class="body">
                      Лаборант 3 категории
                      
                    </div>
                  </div>
                </div>
                <div class="author">
                  <div class="image"><img src="../../images/step_author8_01.png" alt></div>
                  <div class="information">
                    <div class="name">
                      Вершинский Вениаимин Павлович
                      
                    </div>
                    <div class="body">
                      Лаборант 3 категории
                      
                    </div>
                  </div>
                </div>
                <div class="author">
                  <div class="image"><img src="../../images/step_author8_01.png" alt></div>
                  <div class="information">
                    <div class="name">
                      Вершинский Вениаимин Павлович
                      
                    </div>
                    <div class="body">
                      Лаборант 3 категории
                      
                    </div>
                  </div>
                </div>
                <div class="author">
                  <div class="image"><img src="../../images/step_author8_01.png" alt></div>
                  <div class="information">
                    <div class="name">
                      Вершинский Вениаимин Павлович
                      
                    </div>
                    <div class="body">
                      Лаборант 3 категории
                      
                    </div>
                  </div>
                </div>
                <div class="author">
                  <div class="image"><img src="../../images/step_author8_01.png" alt></div>
                  <div class="information">
                    <div class="name">
                      Вершинский Вениаимин Павлович
                      
                    </div>
                    <div class="body">
                      Лаборант 3 категории
                      
                    </div>
                  </div>
                </div>
                <div class="author">
                  <div class="image"><img src="../../images/step_author9_01.png" alt></div>
                  <div class="information">
                    <div class="name">
                      Бзцжинский Юрий Львович
                      
                    </div>
                    <div class="body">
                      Лаборант 1 категории
                      
                    </div>
                  </div>
                </div>
                <div class="author">
                  <div class="image"><img src="../../images/step_author10_01.png" alt></div>
                  <div class="information">
                    <div class="name">
                      Уральцев Махмут Джамшутович
                      
                    </div>
                    <div class="body">
                      Лаборант 1 категории
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <p class="label"><span>КЛИК</span></p>
          <div class="step_four_block_popup b">
            <div class="step_four_block_popup_in">
              <button class="btn btn-close_wpopup"><span class="icon-close"> </span></button>
              <div class="top">
                <div class="icon_close"></div>
                <div class="title">
                  ООО "Бородинский РМЗ"
                  
                </div>
                <div class="desc"><span>• 4120 сотрудников</span><span>• 662200, г. Березовский, ул. Лосиная роща, д. 1.</span></div>
                <div class="author">
                  <div class="image"><img src="../../images/group/gr_icon6_orange.svg" alt></div>
                  <div class="information">
                    <div class="name">
                      Добролюбов Владимир Николаевич
                      
                    </div>
                    <div class="body">Генеральный директор<br>предприятия</div>
                  </div>
                </div><a class="more" href="#">Перейти в интранет предприятия</a>
              </div>
              <div class="bottom">
                <div class="title">
                  Отдел информационного, IT-поддержки и документационного обеспечения по великому управлению главного офиса компании (43)
                  
                </div>
                <div class="head_divizion">
                  <div class="heading">Глава подразделения</div>
                  <div class="author">
                    <div class="image"><img src="../../images/step_author2_01.png" alt></div>
                    <div class="information">
                      <div class="name">
                        Зельчинская Маргарита Потаповна
                        
                      </div>
                      <div class="body">
                        Заместитель Директора по персоналу и администрации (региональные вопросы работы с персоналом)
                        
                      </div>
                    </div>
                  </div>
                </div>
                <div class="heading">Сотрудники (43)</div>
                <div class="author">
                  <div class="image"><img src="../../images/step_author8_01.png" alt></div>
                  <div class="information">
                    <div class="name">
                      Вершинский Вениаимин Павлович
                      
                    </div>
                    <div class="body">
                      Лаборант 3 категории
                      
                    </div>
                  </div>
                </div>
                <div class="author">
                  <div class="image"><img src="../../images/step_author9_01.png" alt></div>
                  <div class="information">
                    <div class="name">
                      Бзцжинский Юрий Львович
                      
                    </div>
                    <div class="body">
                      Лаборант 1 категории
                      
                    </div>
                  </div>
                </div>
                <div class="author">
                  <div class="image"><img src="../../images/step_author10_01.png" alt></div>
                  <div class="information">
                    <div class="name">
                      Уральцев Махмут Джамшутович
                      
                    </div>
                    <div class="body">
                      Лаборант 1 категории
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <p class="label"><span>Цех по ремонту подвижного состава (31)</span></p>
          <div class="step_four_block_popup b">
            <div class="step_four_block_popup_in">
              <button class="btn btn-close_wpopup"><span class="icon-close"> </span></button>
              <div class="top">
                <div class="icon_close"></div>
                <div class="title">
                  ООО "Бородинский РМЗ"
                  
                </div>
                <div class="desc"><span>• 4120 сотрудников</span><span>• 662200, г. Березовский, ул. Лосиная роща, д. 1.</span></div>
                <div class="author">
                  <div class="image"><img src="../../images/group/gr_icon6_orange.svg" alt></div>
                  <div class="information">
                    <div class="name">
                      Добролюбов Владимир Николаевич
                      
                    </div>
                    <div class="body">Генеральный директор<br>предприятия</div>
                  </div>
                </div><a class="more" href="#">Перейти в интранет предприятия</a>
              </div>
              <div class="bottom">
                <div class="title">
                  Отдел информационного, IT-поддержки и документационного обеспечения по великому управлению главного офиса компании (43)
                  
                </div>
                <div class="head_divizion">
                  <div class="heading">Глава подразделения</div>
                  <div class="author">
                    <div class="image"><img src="../../images/step_author2_01.png" alt></div>
                    <div class="information">
                      <div class="name">
                        Зельчинская Маргарита Потаповна
                        
                      </div>
                      <div class="body">
                        Заместитель Директора по персоналу и администрации (региональные вопросы работы с персоналом)
                        
                      </div>
                    </div>
                  </div>
                </div>
                <div class="heading">Сотрудники (43)</div>
                <div class="author">
                  <div class="image"><img src="../../images/step_author8_01.png" alt></div>
                  <div class="information">
                    <div class="name">
                      Вершинский Вениаимин Павлович
                      
                    </div>
                    <div class="body">
                      Лаборант 3 категории
                      
                    </div>
                  </div>
                </div>
                <div class="author">
                  <div class="image"><img src="../../images/step_author9_01.png" alt></div>
                  <div class="information">
                    <div class="name">
                      Бзцжинский Юрий Львович
                      
                    </div>
                    <div class="body">
                      Лаборант 1 категории
                      
                    </div>
                  </div>
                </div>
                <div class="author">
                  <div class="image"><img src="../../images/step_author10_01.png" alt></div>
                  <div class="information">
                    <div class="name">
                      Уральцев Махмут Джамшутович
                      
                    </div>
                    <div class="body">
                      Лаборант 1 категории
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ul>
            <li>
              <p class="label"><span>КЛИК</span></p>
              <div class="step_four_block_popup b">
                <div class="step_four_block_popup_in">
                  <button class="btn btn-close_wpopup"><span class="icon-close"> </span></button>
                  <div class="top">
                    <div class="icon_close"></div>
                    <div class="title">
                      ООО "Бородинский РМЗ"
                      
                    </div>
                    <div class="desc"><span>• 4120 сотрудников</span><span>• 662200, г. Березовский, ул. Лосиная роща, д. 1.</span></div>
                    <div class="author">
                      <div class="image"><img src="../../images/group/gr_icon6_orange.svg" alt></div>
                      <div class="information">
                        <div class="name">
                          Добролюбов Владимир Николаевич
                          
                        </div>
                        <div class="body">Генеральный директор<br>предприятия</div>
                      </div>
                    </div><a class="more" href="#">Перейти в интранет предприятия</a>
                  </div>
                  <div class="bottom">
                    <div class="title">
                      Отдел информационного, IT-поддержки и документационного обеспечения по великому управлению главного офиса компании (43)
                      
                    </div>
                    <div class="head_divizion">
                      <div class="heading">Глава подразделения</div>
                      <div class="author">
                        <div class="image"><img src="../../images/step_author2_01.png" alt></div>
                        <div class="information">
                          <div class="name">
                            Зельчинская Маргарита Потаповна
                            
                          </div>
                          <div class="body">
                            Заместитель Директора по персоналу и администрации (региональные вопросы работы с персоналом)
                            
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="heading">Сотрудники (43)</div>
                    <div class="author">
                      <div class="image"><img src="../../images/step_author8_01.png" alt></div>
                      <div class="information">
                        <div class="name">
                          Вершинский Вениаимин Павлович
                          
                        </div>
                        <div class="body">
                          Лаборант 3 категории
                          
                        </div>
                      </div>
                    </div>
                    <div class="author">
                      <div class="image"><img src="../../images/step_author9_01.png" alt></div>
                      <div class="information">
                        <div class="name">
                          Бзцжинский Юрий Львович
                          
                        </div>
                        <div class="body">
                          Лаборант 1 категории
                          
                        </div>
                      </div>
                    </div>
                    <div class="author">
                      <div class="image"><img src="../../images/step_author10_01.png" alt></div>
                      <div class="information">
                        <div class="name">
                          Уральцев Махмут Джамшутович
                          
                        </div>
                        <div class="body">
                          Лаборант 1 категории
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <p class="label"><span>Участок по производству рештаков (43)</span></p>
              <ul>
                <li>
                  <p class="label"><span>Участок по производству рештаков (43)</span></p>
                </li>
                <li>
                  <p class="label"><span>Участок по производству рештаков (43)</span></p>
                </li>
                <li>
                  <p class="label"><span>Участок по производству рештаков (43)</span></p>
                  <ul>
                    <li>
                      <p class="label"><span>КЛИК</span></p>
                      <div class="step_four_block_popup b">
                        <div class="step_four_block_popup_in">
                          <button class="btn btn-close_wpopup"><span class="icon-close"> </span></button>
                          <div class="top">
                            <div class="icon_close"></div>
                            <div class="title">
                              ООО "Бородинский РМЗ"
                              
                            </div>
                            <div class="desc"><span>• 4120 сотрудников</span><span>• 662200, г. Березовский, ул. Лосиная роща, д. 1.</span></div>
                            <div class="author">
                              <div class="image"><img src="../../images/group/gr_icon6_orange.svg" alt></div>
                              <div class="information">
                                <div class="name">
                                  Добролюбов Владимир Николаевич
                                  
                                </div>
                                <div class="body">Генеральный директор<br>предприятия</div>
                              </div>
                            </div><a class="more" href="#">Перейти в интранет предприятия</a>
                          </div>
                          <div class="bottom">
                            <div class="title">
                              Отдел информационного, IT-поддержки и документационного обеспечения по великому управлению главного офиса компании (43)
                              
                            </div>
                            <div class="head_divizion">
                              <div class="heading">Глава подразделения</div>
                              <div class="author">
                                <div class="image"><img src="../../images/step_author2_01.png" alt></div>
                                <div class="information">
                                  <div class="name">
                                    Зельчинская Маргарита Потаповна
                                    
                                  </div>
                                  <div class="body">
                                    Заместитель Директора по персоналу и администрации (региональные вопросы работы с персоналом)
                                    
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="heading">Сотрудники (43)</div>
                            <div class="author">
                              <div class="image"><img src="../../images/step_author8_01.png" alt></div>
                              <div class="information">
                                <div class="name">
                                  Вершинский Вениаимин Павлович
                                  
                                </div>
                                <div class="body">
                                  Лаборант 3 категории
                                  
                                </div>
                              </div>
                            </div>
                            <div class="author">
                              <div class="image"><img src="../../images/step_author9_01.png" alt></div>
                              <div class="information">
                                <div class="name">
                                  Бзцжинский Юрий Львович
                                  
                                </div>
                                <div class="body">
                                  Лаборант 1 категории
                                  
                                </div>
                              </div>
                            </div>
                            <div class="author">
                              <div class="image"><img src="../../images/step_author10_01.png" alt></div>
                              <div class="information">
                                <div class="name">
                                  Уральцев Махмут Джамшутович
                                  
                                </div>
                                <div class="body">
                                  Лаборант 1 категории
                                  
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <p class="label"><span>Участок по производству рештаков (43)</span></p>
                      <ul>
                        <li>
                          <p class="label"><span>Участок по производству рештаков (43)</span></p>
                        </li>
                        <li>
                          <p class="label"><span class="jpost">Отдел информационного, IT-поддержки и документационного обеспечения по великому управлению главного офиса компании (43)</span></p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <p class="label"><span class="jpost">Отдел информационного и документационного обеспечения Отдел информационного и документационного обеспечения (42)<span class="jpost_popup">Отдел информационного и документационного обеспечения Отдел информационного и документационного обеспечения (42)</span></span></p>
        </li>
        <li>
          <p class="label"> <span class="jpost">Бухгалтерия (2)<span class="jpost_popup">asdasdadad</span></span></p>
          <ul> 
            <li>
              <p class="label"> <span class="jpost">Отдел информационного и документационного обеспечения<span class="jpost_popup">Отдел информационного и документационного обеспечения Отдел информационного и документационного обеспечения (42)</span></span></p>
            </li>
            <li>
              <p class="label"> <span class="jpost">Отдел информационного и документационного обеспечения</span></p>
            </li>
          </ul>
        </li>
        <li>
          <p class="label">Служба охраны труда, промышленной и экологической безопасности (11)</p>
        </li>
        <li>
          <p class="label">Отдел труда и заработной платы (5)</p>
        </li>
        <li>
          <p class="label">Отдел кадров (43)</p>
        </li>
        <li>
          <p class="label">Технологический отдел (32)</p>
        </li>
        <li>
          <p class="label">Отдел материально- технического снабжения (53)</p>
        </li>
        <li>
          <p class="label">Центральная заводская лаборатория (10)</p>
        </li>
        <li>
          <p class="label">Производственный отдел (29)</p>
        </li>
        <li>
          <p class="label"><span>КЛИК</span></p>
          <div class="step_four_block_popup b">
            <div class="step_four_block_popup_in">
              <button class="btn btn-close_wpopup"><span class="icon-close"> </span></button>
              <div class="top">
                <div class="icon_close"></div>
                <div class="title">
                  ООО "Бородинский РМЗ"
                  
                </div>
                <div class="desc"><span>• 4120 сотрудников</span><span>• 662200, г. Березовский, ул. Лосиная роща, д. 1.</span></div>
                <div class="author">
                  <div class="image"><img src="../../images/group/gr_icon6_orange.svg" alt></div>
                  <div class="information">
                    <div class="name">
                      Добролюбов Владимир Николаевич
                      
                    </div>
                    <div class="body">Генеральный директор<br>предприятия</div>
                  </div>
                </div><a class="more" href="#">Перейти в интранет предприятия</a>
              </div>
              <div class="bottom">
                <div class="title">
                  Отдел информационного, IT-поддержки и документационного обеспечения по великому управлению главного офиса компании (43)
                  
                </div>
                <div class="head_divizion">
                  <div class="heading">Глава подразделения</div>
                  <div class="author">
                    <div class="image"><img src="../../images/step_author2_01.png" alt></div>
                    <div class="information">
                      <div class="name">
                        Зельчинская Маргарита Потаповна
                        
                      </div>
                      <div class="body">
                        Заместитель Директора по персоналу и администрации (региональные вопросы работы с персоналом)
                        
                      </div>
                    </div>
                  </div>
                </div>
                <div class="heading">Сотрудники (43)</div>
                <div class="author">
                  <div class="image"><img src="../../images/step_author8_01.png" alt></div>
                  <div class="information">
                    <div class="name">
                      Вершинский Вениаимин Павлович
                      
                    </div>
                    <div class="body">
                      Лаборант 3 категории
                      
                    </div>
                  </div>
                </div>
                <div class="author">
                  <div class="image"><img src="../../images/step_author9_01.png" alt></div>
                  <div class="information">
                    <div class="name">
                      Бзцжинский Юрий Львович
                      
                    </div>
                    <div class="body">
                      Лаборант 1 категории
                      
                    </div>
                  </div>
                </div>
                <div class="author">
                  <div class="image"><img src="../../images/step_author10_01.png" alt></div>
                  <div class="information">
                    <div class="name">
                      Уральцев Махмут Джамшутович
                      
                    </div>
                    <div class="body">Лаборант 1 категории</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <p class="label">Отдел главного энергетика (9)</p>
        </li>
      </ul>
    </div>
  </div>
</div>