mixin block_org_struct()
    .step_blocks
        .step_one
            .step_blocks_name Шаг 1: Выберите компанию

            .step_one_blocks
                .item(data-tmpl="default")
                    .image.image--svg
                        img(src="../../images/logo-aim-56.svg", alt)
                    .body
                        .title АИМ Холдинг
                        .desc Крупнейшая угольная компания и системообразующее предприятие в России.

                .item(data-tmpl="suek")
                    .image.image--svg
                        img(src="../../images/logo-suek-56.svg", alt)
                    .body
                        .title Сибирская угольная энергетическая компания

                .item(data-tmpl="ntk")
                    .image.image--svg
                        img(src="../../images/logo-ntk-56.svg", alt)
                    .body
                        .title Национальная транспортная компания

                .item(data-tmpl="sgk")
                    .image.image--svg(style="background-color:#333333;")
                        img(src="../../images/logo-sgk-56.svg", alt)
                    .body
                        .title Сибирская генерирующая компания
                        .desc Энергетический холдинг, входящий в Группу компаний АО «СУЭК»

                .item(data-tmpl="eurochem")
                    .image.image--svg(style="background-color:#053868;")
                        img(src="../../images/logo-eurochem-56.svg", alt)
                    .body
                        .title ЕвроХим

        .step_two
            .step_blocks_name Шаг 2: Выберите регион
            ul.step_two_blocks
                li
                    a(href="#")
                        | Бурятия 
                        span (3)
                li
                    a(href="#")
                        | Кузбасс 
                        span (19)
                li
                    a(href="#")
                        | Забайкалье 
                        span (4)
                li
                    a(href="#")
                        | Москва 
                        span (1)
                li
                    a(href="#")
                        | Мурманск 
                        span (1)
                li
                    a(href="#")
                        | Приморье 
                        span (4)
                li
                    a(href="#")
                        | Красноярский край 
                        span (8)
                li
                    a(href="#")
                        | Хабаровский край 
                        span (3)
                li
                    a(href="#") Хакасия (6)
        .step_three
            .step_blocks_name Шаг 3: Выберите предприятие
            ul.step_three_blocks
                li
                    a(href="#")
                        span.pic
                            svg.icon
                                use(xlink:href='../../images/group/sprite.svg#gr_icon1')
                            //- img.normal(src="../../images/group/gr_icon1_orange.svg", alt)
                            //- img.hover(src="../../images/group/gr_icon1_h.svg", alt)
                        span.name АО "Разрез Березовский"
                li
                    a(href="#")
                        span.pic
                            svg.icon
                                use(xlink:href='../../images/group/sprite.svg#gr_icon2')
                        span.name АО "Разрез Назаровский"
                li
                    a(href="#")
                        span.pic
                            img.normal(src="../../images/step_pic3.png", alt)
                            img.hover(src="../../images/step_pic3_h.png", alt)
                        span.name АО "СУЭК-Красноярск"
                li
                    a(href="#")
                        span.pic
                            svg.icon
                                use(xlink:href='../../images/group/sprite.svg#gr_icon5')
                        span.name АО "СУЭК-Красноярск"
                li
                    a(href="#")
                        span.pic
                            img.normal(src="../../images/step_pic3.png", alt)
                            img.hover(src="../../images/step_pic3_h.png", alt)
                        span.name ООО "Гринфин"
                li
                    a(href="#")
                        span.pic
                            svg.icon
                                use(xlink:href='../../images/group/sprite.svg#gr_icon3')
                li
                    a(href="#")
                        span.pic
                            svg.icon
                                use(xlink:href='../../images/group/sprite.svg#gr_icon4')
                li
                    a(href="#")
                        span.pic
                            svg.icon
                                use(xlink:href='../../images/group/sprite.svg#gr_icon6')
                li
                    a(href="#")
                        span.pic
                            svg.icon
                                use(xlink:href='../../images/group/sprite.svg#gr_icon9')
                li
                    a(href="#")
                        span.pic
                            svg.icon
                                use(xlink:href='../../images/group/sprite.svg#gr_icon10')
                li
                    a(href="#")
                        span.pic
                            svg.icon
                                use(xlink:href='../../images/group/sprite.svg#gr_icon11')
                li
                    a(href="#")
                        span.pic
                            svg.icon
                                use(xlink:href='../../images/group/sprite.svg#gr_icon12')
                li
                    a(href="#")
                        span.pic
                            svg.icon
                                use(xlink:href='../../images/group/sprite.svg#gr_icon13')
                li
                    a(href="#")
                        span.pic
                            svg.icon
                                use(xlink:href='../../images/group/sprite.svg#gr_icon14')
        .step_four
            .step_blocks_name Выберите подразделение
            .step_four__wrap
                svg.arrow(xmlns="http://www.w3.org/2000/svg", width="100%", height="100%")
                    defs
                        marker#arrowhead(viewBox="0 0 10 18", refX="3", refY="9", markerWidth="7", markerHeight="9", orient="auto")
                            path(xmlns="http://www.w3.org/2000/svg", d="M1.70711 17.7071C1.31658 18.0976 0.683417 18.0976 0.292893 17.7071C-0.0976311 17.3166 -0.0976311 16.6834 0.292893 16.2929L1.70711 17.7071ZM9 9L9.70711 8.29289C10.0976 8.68342 10.0976 9.31658 9.70711 9.70711L9 9ZM0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683418 0.292893 0.292892C0.683417 -0.0976315 1.31658 -0.0976315 1.70711 0.292892L0.292893 1.70711ZM0.292893 16.2929L8.29289 8.29289L9.70711 9.70711L1.70711 17.7071L0.292893 16.2929ZM8.29289 9.70711L0.292893 1.70711L1.70711 0.292892L9.70711 8.29289L8.29289 9.70711Z", fill="#B8B9BA")
                    g(fill="none", stroke-dasharray="2 4", ;, stroke="#B8B9BA", stroke-width="2", marker-end="url(#arrowhead)")
                        path.arrowLeft
                ul
                    li
                        p.label(onclick='initPopupBlock(this, bCheckToggle = true)')
                            span КЛИК
                        .step_four_block_popup.b
                            .step_four_block_popup_in
                                button.btn.btn-close_wpopup
                                    span.icon-close  
                                .top
                                    .icon_close
                                    .title.

                                        ООО "Бородинский РМЗ"

                                    .desc
                                        span • 4120 сотрудников
                                        span • 662200, г. Березовский, ул. Лосиная роща, д. 1.
                                    .author
                                        .image
                                            img(src="../../images/group/gr_icon6_orange.svg", alt)
                                        .information
                                            .name.

                                                Добролюбов Владимир Николаевич

                                            .body
                                                | Генеральный директор
                                                br
                                                | предприятия

                                    a.more(href="#") Перейти в интранет предприятия
                                .bottom
                                    .title.

                                        Отдел информационного, IT-поддержки и документационного обеспечения по великому управлению главного офиса компании (43)

                                    .head_divizion
                                        .heading Глава подразделения
                                        .author
                                            .image
                                                img(src="../../images/step_author2_01.png", alt)
                                            .information
                                                .name.

                                                    Зельчинская Маргарита Потаповна

                                                .body.

                                                    Заместитель Директора по персоналу и администрации (региональные вопросы работы с персоналом)

                                    .heading Сотрудники (43)
                                    .author
                                        .image
                                            img(src="../../images/step_author8_01.png", alt)
                                        .information
                                            .name.

                                                Вершинский Вениаимин Павлович

                                            .body.

                                                Лаборант 3 категории

                                    .author
                                        .image
                                            img(src="../../images/step_author8_01.png", alt)
                                        .information
                                            .name.

                                                Вершинский Вениаимин Павлович

                                            .body.

                                                Лаборант 3 категории

                                    .author
                                        .image
                                            img(src="../../images/step_author8_01.png", alt)
                                        .information
                                            .name.

                                                Вершинский Вениаимин Павлович

                                            .body.

                                                Лаборант 3 категории

                                    .author
                                        .image
                                            img(src="../../images/step_author8_01.png", alt)
                                        .information
                                            .name.

                                                Вершинский Вениаимин Павлович

                                            .body.

                                                Лаборант 3 категории

                                    .author
                                        .image
                                            img(src="../../images/step_author8_01.png", alt)
                                        .information
                                            .name.

                                                Вершинский Вениаимин Павлович

                                            .body.

                                                Лаборант 3 категории

                                    .author
                                        .image
                                            img(src="../../images/step_author8_01.png", alt)
                                        .information
                                            .name.

                                                Вершинский Вениаимин Павлович

                                            .body.

                                                Лаборант 3 категории

                                    .author
                                        .image
                                            img(src="../../images/step_author9_01.png", alt)
                                        .information
                                            .name.

                                                Бзцжинский Юрий Львович

                                            .body.

                                                Лаборант 1 категории

                                    .author
                                        .image
                                            img(src="../../images/step_author10_01.png", alt)
                                        .information
                                            .name.

                                                Уральцев Махмут Джамшутович

                                            .body.

                                                Лаборант 1 категории

                    li
                        p.label(onclick='initPopupBlock(this, bCheckToggle = true)')
                            span КЛИК
                        .step_four_block_popup.b
                            .step_four_block_popup_in
                                button.btn.btn-close_wpopup
                                    span.icon-close  
                                .top
                                    .icon_close
                                    .title.

                                        ООО "Бородинский РМЗ"

                                    .desc
                                        span • 4120 сотрудников
                                        span • 662200, г. Березовский, ул. Лосиная роща, д. 1.
                                    .author
                                        .image
                                            img(src="../../images/group/gr_icon6_orange.svg", alt)
                                        .information
                                            .name.

                                                Добролюбов Владимир Николаевич

                                            .body
                                                | Генеральный директор
                                                br
                                                | предприятия

                                    a.more(href="#") Перейти в интранет предприятия
                                .bottom
                                    .title.

                                        Отдел информационного, IT-поддержки и документационного обеспечения по великому управлению главного офиса компании (43)

                                    .head_divizion
                                        .heading Глава подразделения
                                        .author
                                            .image
                                                img(src="../../images/step_author2_01.png", alt)
                                            .information
                                                .name.

                                                    Зельчинская Маргарита Потаповна

                                                .body.

                                                    Заместитель Директора по персоналу и администрации (региональные вопросы работы с персоналом)

                                    .heading Сотрудники (43)
                                    .author
                                        .image
                                            img(src="../../images/step_author8_01.png", alt)
                                        .information
                                            .name.

                                                Вершинский Вениаимин Павлович

                                            .body.

                                                Лаборант 3 категории

                                    .author
                                        .image
                                            img(src="../../images/step_author9_01.png", alt)
                                        .information
                                            .name.

                                                Бзцжинский Юрий Львович

                                            .body.

                                                Лаборант 1 категории

                                    .author
                                        .image
                                            img(src="../../images/step_author10_01.png", alt)
                                        .information
                                            .name.

                                                Уральцев Махмут Джамшутович

                                            .body.

                                                Лаборант 1 категории

                    li
                        p.label(onclick='initPopupBlock(this, bCheckToggle = true)')
                            span Цех по ремонту подвижного состава (31)
                        .step_four_block_popup.b
                            .step_four_block_popup_in
                                button.btn.btn-close_wpopup
                                    span.icon-close  
                                .top
                                    .icon_close
                                    .title.

                                        ООО "Бородинский РМЗ"

                                    .desc
                                        span • 4120 сотрудников
                                        span • 662200, г. Березовский, ул. Лосиная роща, д. 1.
                                    .author
                                        .image
                                            img(src="../../images/group/gr_icon6_orange.svg", alt)
                                        .information
                                            .name.

                                                Добролюбов Владимир Николаевич

                                            .body
                                                | Генеральный директор
                                                br
                                                | предприятия

                                    a.more(href="#") Перейти в интранет предприятия
                                .bottom
                                    .title.

                                        Отдел информационного, IT-поддержки и документационного обеспечения по великому управлению главного офиса компании (43)

                                    .head_divizion
                                        .heading Глава подразделения
                                        .author
                                            .image
                                                img(src="../../images/step_author2_01.png", alt)
                                            .information
                                                .name.

                                                    Зельчинская Маргарита Потаповна

                                                .body.

                                                    Заместитель Директора по персоналу и администрации (региональные вопросы работы с персоналом)

                                    .heading Сотрудники (43)
                                    .author
                                        .image
                                            img(src="../../images/step_author8_01.png", alt)
                                        .information
                                            .name.

                                                Вершинский Вениаимин Павлович

                                            .body.

                                                Лаборант 3 категории

                                    .author
                                        .image
                                            img(src="../../images/step_author9_01.png", alt)
                                        .information
                                            .name.

                                                Бзцжинский Юрий Львович

                                            .body.

                                                Лаборант 1 категории

                                    .author
                                        .image
                                            img(src="../../images/step_author10_01.png", alt)
                                        .information
                                            .name.

                                                Уральцев Махмут Джамшутович

                                            .body.

                                                Лаборант 1 категории

                        ul
                            li
                                p.label(onclick='initPopupBlock(this, bCheckToggle = true)')
                                    span КЛИК
                                .step_four_block_popup.b
                                    .step_four_block_popup_in
                                        button.btn.btn-close_wpopup
                                            span.icon-close  
                                        .top
                                            .icon_close
                                            .title.

                                                ООО "Бородинский РМЗ"

                                            .desc
                                                span • 4120 сотрудников
                                                span • 662200, г. Березовский, ул. Лосиная роща, д. 1.
                                            .author
                                                .image
                                                    img(src="../../images/group/gr_icon6_orange.svg", alt)
                                                .information
                                                    .name.

                                                        Добролюбов Владимир Николаевич

                                                    .body
                                                        | Генеральный директор
                                                        br
                                                        | предприятия

                                            a.more(href="#") Перейти в интранет предприятия
                                        .bottom
                                            .title.

                                                Отдел информационного, IT-поддержки и документационного обеспечения по великому управлению главного офиса компании (43)

                                            .head_divizion
                                                .heading Глава подразделения
                                                .author
                                                    .image
                                                        img(src="../../images/step_author2_01.png", alt)
                                                    .information
                                                        .name.

                                                            Зельчинская Маргарита Потаповна

                                                        .body.

                                                            Заместитель Директора по персоналу и администрации (региональные вопросы работы с персоналом)

                                            .heading Сотрудники (43)
                                            .author
                                                .image
                                                    img(src="../../images/step_author8_01.png", alt)
                                                .information
                                                    .name.

                                                        Вершинский Вениаимин Павлович

                                                    .body.

                                                        Лаборант 3 категории

                                            .author
                                                .image
                                                    img(src="../../images/step_author9_01.png", alt)
                                                .information
                                                    .name.

                                                        Бзцжинский Юрий Львович

                                                    .body.

                                                        Лаборант 1 категории

                                            .author
                                                .image
                                                    img(src="../../images/step_author10_01.png", alt)
                                                .information
                                                    .name.

                                                        Уральцев Махмут Джамшутович

                                                    .body.

                                                        Лаборант 1 категории

                            li
                                p.label(onclick='initPopupBlock(this, bCheckToggle = true)')
                                    span Участок по производству рештаков (43)
                                ul
                                    li
                                        p.label
                                            span Участок по производству рештаков (43)
                                    li
                                        p.label
                                            span Участок по производству рештаков (43)
                                    li
                                        p.label
                                            span Участок по производству рештаков (43)
                                        ul
                                            li
                                                p.label
                                                    span КЛИК
                                                .step_four_block_popup.b
                                                    .step_four_block_popup_in
                                                        button.btn.btn-close_wpopup
                                                            span.icon-close  
                                                        .top
                                                            .icon_close
                                                            .title.

                                                                ООО "Бородинский РМЗ"

                                                            .desc
                                                                span • 4120 сотрудников
                                                                span • 662200, г. Березовский, ул. Лосиная роща, д. 1.
                                                            .author
                                                                .image
                                                                    img(src="../../images/group/gr_icon6_orange.svg", alt)
                                                                .information
                                                                    .name.

                                                                        Добролюбов Владимир Николаевич

                                                                    .body
                                                                        | Генеральный директор
                                                                        br
                                                                        | предприятия
                                                            a.more(href="#") Перейти в интранет предприятия
                                                        .bottom
                                                            .title.

                                                                Отдел информационного, IT-поддержки и документационного обеспечения по великому управлению главного офиса компании (43)

                                                            .head_divizion
                                                                .heading Глава подразделения
                                                                .author
                                                                    .image
                                                                        img(src="../../images/step_author2_01.png", alt)
                                                                    .information
                                                                        .name.

                                                                            Зельчинская Маргарита Потаповна

                                                                        .body.

                                                                            Заместитель Директора по персоналу и администрации (региональные вопросы работы с персоналом)

                                                            .heading Сотрудники (43)
                                                            .author
                                                                .image
                                                                    img(src="../../images/step_author8_01.png", alt)
                                                                .information
                                                                    .name.

                                                                        Вершинский Вениаимин Павлович

                                                                    .body.

                                                                        Лаборант 3 категории

                                                            .author
                                                                .image
                                                                    img(src="../../images/step_author9_01.png", alt)
                                                                .information
                                                                    .name.

                                                                        Бзцжинский Юрий Львович

                                                                    .body.

                                                                        Лаборант 1 категории

                                                            .author
                                                                .image
                                                                    img(src="../../images/step_author10_01.png", alt)
                                                                .information
                                                                    .name.

                                                                        Уральцев Махмут Джамшутович

                                                                    .body.

                                                                        Лаборант 1 категории

                                            li
                                                p.label
                                                    span Участок по производству рештаков (43)
                                                ul
                                                    li
                                                        p.label
                                                            span Участок по производству рештаков (43)
                                                    li
                                                        p.label
                                                            span.jpost Отдел информационного, IT-поддержки и документационного обеспечения по великому управлению главного офиса компании (43)
                    li
                        p.label
                            span.jpost Отдел информационного и документационного обеспечения Отдел информационного и документационного обеспечения (42)
                                span.jpost_popup Отдел информационного и документационного обеспечения Отдел информационного и документационного обеспечения (42)
                    li
                        p.label 
                            span.jpost Бухгалтерия (2)
                                span.jpost_popup asdasdadad
                        ul 
                            li
                                p.label 
                                    span.jpost Отдел информационного и документационного обеспечения
                                        span.jpost_popup Отдел информационного и документационного обеспечения Отдел информационного и документационного обеспечения (42)
                            li
                                p.label 
                                    span.jpost Отдел информационного и документационного обеспечения
                    li
                        p.label Служба охраны труда, промышленной и экологической безопасности (11)
                    li
                        p.label Отдел труда и заработной платы (5)
                    li
                        p.label Отдел кадров (43)
                    li
                        p.label Технологический отдел (32)
                    li
                        p.label Отдел материально- технического снабжения (53)
                    li
                        p.label Центральная заводская лаборатория (10)
                    li
                        p.label Производственный отдел (29)
                    li
                        p.label(onclick='initPopupBlock(this, bCheckToggle = true)')
                            span КЛИК
                        .step_four_block_popup.b
                            .step_four_block_popup_in
                                button.btn.btn-close_wpopup
                                    span.icon-close  
                                .top
                                    .icon_close
                                    .title.

                                        ООО "Бородинский РМЗ"

                                    .desc
                                        span • 4120 сотрудников
                                        span • 662200, г. Березовский, ул. Лосиная роща, д. 1.
                                    .author
                                        .image
                                            img(src="../../images/group/gr_icon6_orange.svg", alt)
                                        .information
                                            .name.

                                                Добролюбов Владимир Николаевич

                                            .body
                                                | Генеральный директор
                                                br
                                                | предприятия

                                    a.more(href="#") Перейти в интранет предприятия
                                .bottom
                                    .title.

                                        Отдел информационного, IT-поддержки и документационного обеспечения по великому управлению главного офиса компании (43)

                                    .head_divizion
                                        .heading Глава подразделения
                                        .author
                                            .image
                                                img(src="../../images/step_author2_01.png", alt)
                                            .information
                                                .name.

                                                    Зельчинская Маргарита Потаповна

                                                .body.

                                                    Заместитель Директора по персоналу и администрации (региональные вопросы работы с персоналом)

                                    .heading Сотрудники (43)
                                    .author
                                        .image
                                            img(src="../../images/step_author8_01.png", alt)
                                        .information
                                            .name.

                                                Вершинский Вениаимин Павлович

                                            .body.

                                                Лаборант 3 категории

                                    .author
                                        .image
                                            img(src="../../images/step_author9_01.png", alt)
                                        .information
                                            .name.

                                                Бзцжинский Юрий Львович

                                            .body.

                                                Лаборант 1 категории

                                    .author
                                        .image
                                            img(src="../../images/step_author10_01.png", alt)
                                        .information
                                            .name.

                                                Уральцев Махмут Джамшутович

                                            .body.

                                                Лаборант 1 категории
                    
                    li
                        p.label(onclick='initPopupBlock(this, bCheckToggle = true)')
                            span.jpost
                                | Отдел главного энергетика (9) 

                            span.jpost_popup.
                                Отдел информационного и документационного обеспечения Отдел информационного и документационного обеспечения (42)
                        .step_four_block_popup.b
                            .step_four_block_popup_in
                                button.btn.btn-close_wpopup
                                    span.icon-close  
                                .top
                                    .icon_close
                                    .title.

                                        ООО "Бородинский РМЗ"

                                    .desc
                                        span • 4120 сотрудников
                                        span • 662200, г. Березовский, ул. Лосиная роща, д. 1.
                                    .author
                                        .image
                                            img(src="../../images/group/gr_icon6_orange.svg", alt)
                                        .information
                                            .name.

                                                Добролюбов Владимир Николаевич

                                            .body
                                                | Генеральный директор
                                                br
                                                | предприятия

                                    a.more(href="#") Перейти в интранет предприятия
                                .bottom
                                    .title.

                                        Отдел информационного, IT-поддержки и документационного обеспечения по великому управлению главного офиса компании (43)

                                    .head_divizion
                                        .heading Глава подразделения
                                        .author
                                            .image
                                                img(src="../../images/step_author2_01.png", alt)
                                            .information
                                                .name.

                                                    Зельчинская Маргарита Потаповна

                                                .body.

                                                    Заместитель Директора по персоналу и администрации (региональные вопросы работы с персоналом)

                                    .heading Сотрудники (43)
                                    .author
                                        .image
                                            img(src="../../images/step_author8_01.png", alt)
                                        .information
                                            .name.

                                                Вершинский Вениаимин Павлович

                                            .body.

                                                Лаборант 3 категории

                                    .author
                                        .image
                                            img(src="../../images/step_author9_01.png", alt)
                                        .information
                                            .name.

                                                Бзцжинский Юрий Львович

                                            .body.

                                                Лаборант 1 категории

                                    .author
                                        .image
                                            img(src="../../images/step_author10_01.png", alt)
                                        .information
                                            .name.

                                                Уральцев Махмут Джамшутович

                                            .body.

                                                Лаборант 1 категории
