
<div class="toast--container">
  <div class="toast--item">
    <div class="toast--header">
      <div class="toast--label toast--label__green">Заметка</div>
      <div class="toast--pin"><img src="../../images/helpers/pin.svg"></div>
      <div class="toast--date">03 марта 2020, 17:49</div>
    </div>
    <div class="toast--body">
      Старая версия корпоративного портала доступна по ссылке
      
    </div>
    <div class="toast--close" onclick="this.parentNode.style.display = 'none';">×</div>
  </div>
  <div class="toast--item">
    <div class="toast--header">
      <div class="toast--label toast--label__yellow">Объявление</div>
      <div class="toast--pin"><img src="../../images/helpers/pin.svg"></div>
      <div class="toast--date">03 марта 2020, 17:49</div>
    </div>
    <div class="toast--body">
      С целью улучшения качества предоставляемых сервисов с 19.08.2021 по 20.08.2021 на портале будут проводиться плановые обновления. Во время проведения работ возможны сбои отображения данных. Приносим извинения за неудобства.
      
    </div>
    <div class="toast--close" onclick="this.parentNode.style.display = 'none';">×</div>
  </div>
</div>