
<div class="usercard"><img src="../../images/temp/avatars/ava03.png" alt><a href="#!">
    <h3>Васюкович Юлия Анатольевна</h3></a><span class="position">Директор по подбору персонала</span><a class="map" href="#!">АО "СУЭК-Красноярск</a>
  <div class="phones"><a href="tel:+7 (495) 911-12-10">+7 (495) 911-12-10</a>
    <div class="mobile-code"><a class="code" href="#">3128</a></div>
  </div>
  <div class="skype"><a href="mailto:VasukovichUA@suek.ru" data-toggle="tooltip" data-placement="top" title="VasukovichUA@suek.ru">VasukovichUA@suek.ru</a></div>
  <div class="whatsap"><a href="tel:+7 (495) 911-12-10">WhatsApp</a></div>
</div>