mixin user_card()
    .usercard
        img(src="../../images/temp/avatars/ava03.png", alt)
        a(href="#!")
            h3 Васюкович Юлия Анатольевна
        span.position Директор по подбору персонала
        a.map(href="#!") АО "СУЭК-Красноярск
        .phones
            a(href="tel:+7 (495) 911-12-10") +7 (495) 911-12-10
            .mobile-code
                a.code(href="#") 3128
        .skype
            a(href="mailto:VasukovichUA@suek.ru" data-toggle="tooltip" data-placement="top" title="VasukovichUA@suek.ru") VasukovichUA@suek.ru
        .whatsap
            a(href="tel:+7 (495) 911-12-10") WhatsApp
        //- hr.gray
        //- a.go(href="#!") НАПИСАТЬ
