
<div class="appeals_block">
  <div class="top_link">
    <select class="xl without_btn" id="selnew" name="Все заявки">
      <option>Все заявки</option>
      <option>Заявки на канцтовары</option>
      <option>Заявки на гостевой пропуск</option>
      <option>Заявки на автотранспорт</option>
      <option>Заказ визиток</option>
    </select>
  </div>
  <div class="appeals_block_tab r-tabs">
    <ul class="appeals-tabs r-tabs-nav">
      <li class="active-tab r-tabs-tab r-tabs-state-active"><a class="r-tabs-anchor" href="#tab-10">Открытые заявки <span>(8)</span></a></li>
      <li class="second r-tabs-state-default r-tabs-tab"><a class="r-tabs-anchor" href="#tab-11">Все заявки <span>(10)</span></a></li>
    </ul>
    <div class="appeals-desc">
      <div class="r-tabs-accordion-title r-tabs-state-active"><a class="r-tabs-anchor" href="#tab-10">Открытые заявки <span>(8)</span></a></div>
      <div class="desc-area active-area r-tabs-panel r-tabs-state-active" id="tab-10" style="display: block;">
        <div class="title">
          <div class="left">
            <div class="id s150">ID</div>
            <div class="type s200">Тип заявки</div>
          </div>
          <div class="right wpad">
            <div class="date s200">Дата заявки</div>
            <div class="docs s150">Документы</div>
            <div class="status s200">Статус</div>
            <div class="goto"></div>
          </div>
        </div>
        <div class="item">
          <div class="left">
            <div class="id s150">#374782</div>
            <div class="type s200">Заявка на канцтовары</div>
          </div>
          <div class="right wpad">
            <div class="date s200">27.02.2020</div>
            <div class="docs s150">
              <div class="docs__wrap">
                <div class="docs__item"><a class="btn" href="#!">
                    <svg class="ifile" fill="#219653">
                      <use href="../images/sprite.svg#ifile"></use>
                      <text x="50%" y="80%">csv</text>
                    </svg></a></div>
              </div>
            </div>
            <div class="status s200 wait">На согласовании</div>
            <div class="goto"><a class="btn" href="/zayavka-info-kanctovary.html">
                <svg class="w14">
                  <use href="../images/sprite.svg#i_arrow"></use>
                </svg></a></div>
          </div>
        </div>
        <div class="item odd">
          <div class="left">
            <div class="id s150">#312355</div>
            <div class="type s200">Заявка на пропуск</div>
          </div>
          <div class="right wpad">
            <div class="date s200">27.02.2020</div>
            <div class="docs s150"></div>
            <div class="status s200 considered">Выполнена</div>
            <div class="goto"><a class="btn" href="/zayavka-info-propusk.html">
                <svg class="w14">
                  <use href="../images/sprite.svg#i_arrow"></use>
                </svg></a></div>
          </div>
        </div>
        <div class="item">
          <div class="left">
            <div class="id s150">#374782</div>
            <div class="type s200">Заявка на автотранспорт</div>
          </div>
          <div class="right wpad">
            <div class="date s200">01.02.2020</div>
            <div class="docs s150"></div>
            <div class="status s200 wait">На рассмотрении</div>
            <div class="goto"><a class="btn" href="/zayavka-info-avto.html">
                <svg class="w14">
                  <use href="../images/sprite.svg#i_arrow"></use>
                </svg></a></div>
          </div>
        </div>
        <div class="item odd">
          <div class="left">
            <div class="id s150">#312355</div>
            <div class="type s200">Заявка на канцтовары</div>
          </div>
          <div class="right wpad">
            <div class="date s200">27.02.2020</div>
            <div class="docs s150">
              <div class="docs__wrap">
                <div class="docs__item"><a class="btn" href="#!">
                    <svg class="ifile" fill="#219653">
                      <use href="../images/sprite.svg#ifile"></use>
                      <text x="50%" y="80%">csv</text>
                    </svg></a></div>
              </div>
            </div>
            <div class="status s200 send">Отправлена</div>
            <div class="goto"><a class="btn" href="/zayavka-info-kanctovary.html">
                <svg class="w14">
                  <use href="../images/sprite.svg#i_arrow"></use>
                </svg></a></div>
          </div>
        </div>
      </div>
      <div class="r-tabs-accordion-title"><a class="r-tabs-anchor" href="#tab-11">Все заявки <span>(10)</span></a></div>
      <div class="desc-area r-tabs-state-default r-tabs-panel" id="tab-11">
        <div class="title">
          <div class="left">
            <div class="id s150">ID</div>
            <div class="type s200">Тип заявки</div>
          </div>
          <div class="right wpad">
            <div class="date s200">Дата заявки</div>
            <div class="docs s150">Документы</div>
            <div class="status s200">Статус</div>
            <div class="goto"></div>
          </div>
        </div>
        <div class="item">
          <div class="left">
            <div class="id s150">#374782</div>
            <div class="type s200">Заявка на автотранспорт</div>
          </div>
          <div class="right wpad">
            <div class="date s200">01.02.2020</div>
            <div class="docs s150"></div>
            <div class="status s200 wait">На рассмотрении</div>
            <div class="goto"><a class="btn" href="/zayavka-info-avto.html">
                <svg class="w14">
                  <use href="../images/sprite.svg#i_arrow"></use>
                </svg></a></div>
          </div>
        </div>
        <div class="item odd">
          <div class="left">
            <div class="id s150">#312355</div>
            <div class="type s200">Заявка на канцтовары</div>
          </div>
          <div class="right wpad">
            <div class="date s200">27.02.2020</div>
            <div class="docs s150">
              <div class="docs__wrap">
                <div class="docs__item"><a class="btn" href="#!">
                    <svg class="ifile" fill="#219653">
                      <use href="../images/sprite.svg#ifile"></use>
                      <text x="50%" y="80%">csv</text>
                    </svg></a></div>
              </div>
            </div>
            <div class="status s200 send">Отправлена</div>
            <div class="goto"><a class="btn" href="/zayavka-info-kanctovary.html">
                <svg class="w14">
                  <use href="../images/sprite.svg#i_arrow"></use>
                </svg></a></div>
          </div>
        </div>
        <div class="item">
          <div class="left">
            <div class="id s150">#374782</div>
            <div class="type s200">Заявка на канцтовары</div>
          </div>
          <div class="right wpad">
            <div class="date s200">27.02.2020</div>
            <div class="docs s150">
              <div class="docs__wrap">
                <div class="docs__item"><a class="btn" href="#!">
                    <svg class="ifile" fill="#219653">
                      <use href="../images/sprite.svg#ifile"></use>
                      <text x="50%" y="80%">csv</text>
                    </svg></a></div>
              </div>
            </div>
            <div class="status s200 wait">На согласовании</div>
            <div class="goto"><a class="btn" href="/zayavka-info-kanctovary.html">
                <svg class="w14">
                  <use href="../images/sprite.svg#i_arrow"></use>
                </svg></a></div>
          </div>
        </div>
        <div class="item odd">
          <div class="left">
            <div class="id s150">#312355</div>
            <div class="type s200">Заявка на пропуск</div>
          </div>
          <div class="right wpad">
            <div class="date s200">27.02.2020</div>
            <div class="docs s150"></div>
            <div class="status s200 considered">Выполнена</div>
            <div class="goto"><a class="btn" href="/zayavka-info-propusk.html">
                <svg class="w14">
                  <use href="../images/sprite.svg#i_arrow"></use>
                </svg></a></div>
          </div>
        </div>
        <div class="item">
          <div class="left">
            <div class="id s150">#374782</div>
            <div class="type s200">Заявка на канцтовары</div>
          </div>
          <div class="right wpad">
            <div class="date s200">27.02.2020</div>
            <div class="docs s150">
              <div class="docs__wrap">
                <div class="docs__item"><a class="btn" href="#!">
                    <svg class="ifile" fill="#219653">
                      <use href="../images/sprite.svg#ifile"></use>
                      <text x="50%" y="80%">csv</text>
                    </svg></a></div>
              </div>
            </div>
            <div class="status s200 wait">На согласовании</div>
            <div class="goto"><a class="btn" href="/zayavka-info-kanctovary.html">
                <svg class="w14">
                  <use href="../images/sprite.svg#i_arrow"></use>
                </svg></a></div>
          </div>
        </div>
        <div class="item odd">
          <div class="left">
            <div class="id s150">#312355</div>
            <div class="type s200">Заявка на пропуск</div>
          </div>
          <div class="right wpad">
            <div class="date s200">27.02.2020</div>
            <div class="docs s150"></div>
            <div class="status s200 considered">Выполнена</div>
            <div class="goto"><a class="btn" href="/zayavka-info-propusk.html">
                <svg class="w14">
                  <use href="../images/sprite.svg#i_arrow"></use>
                </svg></a></div>
          </div>
        </div>
        <div class="item">
          <div class="left">
            <div class="id s150">#374782</div>
            <div class="type s200">Заявка на автотранспорт</div>
          </div>
          <div class="right wpad">
            <div class="date s200">01.02.2020</div>
            <div class="docs s150"></div>
            <div class="status s200 wait">На рассмотрении</div>
            <div class="goto"><a class="btn" href="/zayavka-info-avto.html">
                <svg class="w14">
                  <use href="../images/sprite.svg#i_arrow"></use>
                </svg></a></div>
          </div>
        </div>
        <div class="item odd">
          <div class="left">
            <div class="id s150">#312355</div>
            <div class="type s200">Заявка на канцтовары</div>
          </div>
          <div class="right wpad">
            <div class="date s200">27.02.2020</div>
            <div class="docs s150">
              <div class="docs__wrap">
                <div class="docs__item"><a class="btn" href="#!">
                    <svg class="ifile" fill="#219653">
                      <use href="../images/sprite.svg#ifile"></use>
                      <text x="50%" y="80%">csv</text>
                    </svg></a></div>
              </div>
            </div>
            <div class="status s200 send">Отправлена</div>
            <div class="goto"><a class="btn" href="/zayavka-info-kanctovary.html">
                <svg class="w14">
                  <use href="../images/sprite.svg#i_arrow"></use>
                </svg></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="pagelist">
      <ul>
        <li class="prev"><a href="#"></a></li>
        <li class="active"><a href="#">01</a></li>
        <li><a href="#">02</a></li>
        <li><a href="#">03</a></li>
        <li><a href="#">...</a></li>
        <li><a href="#">15</a></li>
        <li class="next"><a href="#"></a></li>
      </ul>
    </div>
  </div>
</div>