$default-font-size: 16;

$grid-b: 1480px;
$grid-lm: 1240px;
$grid-l:1024px;
$grid-ls: 960px;
$grid-sl: 768px;
$grid-sm: 480px;
$grid-s: 320px;

$orange: #F0AE43;
$blue-link:#007BC4;
$bg-grad:linear-gradient(195deg, #FFE62E 0%, #F0AE43 100%), #C4C4C4;

$transition: 250ms ease-in-out;
