
<section class="section event-block">
  <div class="title-bl"><img src="../../images/image_event/event_title.png"></div>
  <div class="items-wrap">
    <div class="item">
      <div class="image"><img src="../../images/image_event/event1.png" alt>
        <div class="title">
          СУЭК / Развитие
          
        </div>
      </div>
      <div class="date">
        21 января
        
      </div>
      <div class="body">
        СУЭК предложит на региональной ярмарке вакансий 80 стабильных рабочих мест. Новый этап!
        
      </div>
      <div class="tags">#работа, #развитие, #ярмарка</div>
      <div class="btns-wrap"><a class="like" href="#">153</a><a class="comment" href="#">36</a><a class="see" href="#">256</a><a class="favorite" href="#"><span>123</span></a></div>
    </div>
    <div class="item">
      <div class="image"><img src="../../images/image_event/event2.png" alt>
        <div class="title">
          СУЭК / Вакансии
          
        </div>
      </div>
      <div class="date">
        23 января, 16:00
        
      </div>
      <div class="body">
        СУЭК предложит на региональной ярмарке вакансий 12 рабочих мест в сфере IT.
        
      </div>
      <div class="tags">#работа, #развитие, #ярмарка</div>
      <div class="btns-wrap"><a class="like" href="#">153</a><a class="comment" href="#">36</a><a class="see" href="#">256</a><a class="favorite" href="#"><span>123</span></a></div>
    </div>
    <div class="item">
      <div class="image"><img src="../../images/image_event/event3.png" alt>
        <div class="title">
          СУЭК / Развитие
          
        </div>
      </div>
      <div class="date">
        1 февраля
        
      </div>
      <div class="body">
        СУЭК предложит на международной ярмарке вакансий 11 стабильных рабочих мест.
        
      </div>
      <div class="tags">#работа, #развитие, #ярмарка</div>
      <div class="btns-wrap"><a class="like" href="#">153</a><a class="comment" href="#">36</a><a class="see" href="#">256</a><a class="favorite" href="#"><span>123</span></a></div>
    </div>
    <div class="item">
      <div class="image"><img src="../../images/image_event/event2.png" alt>
        <div class="title">
          Корпоративный университет
          
        </div>
      </div>
      <div class="date">
        Осталось 3 дня
        
      </div>
      <div class="body">
        СУЭК предложит на международной ярмарке вакансий 11 стабильных рабочих мест.
        
      </div>
      <div class="tags">#работа, #развитие, #ярмарка</div>
      <div class="btns-wrap"><a class="like" href="#">153</a><a class="comment" href="#">36</a><a class="see" href="#">256</a><a class="favorite" href="#"><span>123</span></a></div>
    </div>
    <div class="item">
      <div class="image"><img src="../../images/image_event/event3.png" alt>
        <div class="title">
          Комплаенс
          
        </div>
      </div>
      <div class="date result">
        Завершен
        
      </div>
      <div class="body">Выполнение требований комплаенс<br>в 2019 году</div>
      <div class="tags">#работа, #развитие, #ярмарка</div>
      <div class="btns-wrap"><a class="like" href="#">153</a><a class="comment" href="#">36</a><a class="see" href="#">256</a><a class="favorite" href="#"><span>123</span></a></div>
    </div>
    <div class="item">
      <div class="image"><img src="../../images/image_event/event1.png" alt>
        <div class="title">
          Дирекция по общим вопросам
          
        </div>
      </div>
      <div class="date">
        Осталось 3 дня
        
      </div>
      <div class="body">
        СУЭК предложит на региональной ярмарке вакансий 80 стабильных рабочих мест. Новый этап!
        
      </div>
      <div class="tags">#работа, #развитие, #ярмарка</div>
      <div class="btns-wrap"><a class="like" href="#">153</a><a class="comment" href="#">36</a><a class="see" href="#">256</a><a class="favorite" href="#"><span>123</span></a></div>
    </div>
  </div>
  <div class="more-events"><a href="#">Все события</a></div>
</section>