section.section.event-block
  .title-bl
    img(src='../../images/image_event/event_title.png')
  .items-wrap
    .item
      .image
        img(src="../../images/image_event/event1.png", alt)
        .title.

          СУЭК / Развитие

      .date.

        21 января

      .body.

        СУЭК предложит на региональной ярмарке вакансий 80 стабильных рабочих мест. Новый этап!

      .tags #работа, #развитие, #ярмарка
      .btns-wrap
        a.like(href="#") 153
        a.comment(href="#") 36
        a.see(href="#") 256
        a.favorite(href="#")
          span 123
    .item
      .image
        img(src="../../images/image_event/event2.png", alt)
        .title.

          СУЭК / Вакансии

      .date.

        23 января, 16:00

      .body.

        СУЭК предложит на региональной ярмарке вакансий 12 рабочих мест в сфере IT.

      .tags #работа, #развитие, #ярмарка
      .btns-wrap
        a.like(href="#") 153
        a.comment(href="#") 36
        a.see(href="#") 256
        a.favorite(href="#")
          span 123
    .item
      .image
        img(src="../../images/image_event/event3.png", alt)
        .title.

          СУЭК / Развитие

      .date.

        1 февраля

      .body.

        СУЭК предложит на международной ярмарке вакансий 11 стабильных рабочих мест.

      .tags #работа, #развитие, #ярмарка
      .btns-wrap
        a.like(href="#") 153
        a.comment(href="#") 36
        a.see(href="#") 256
        a.favorite(href="#")
          span 123
    .item
      .image
        img(src="../../images/image_event/event2.png", alt)
        .title.

          Корпоративный университет

      .date.

        Осталось 3 дня

      .body.

        СУЭК предложит на международной ярмарке вакансий 11 стабильных рабочих мест.

      .tags #работа, #развитие, #ярмарка
      .btns-wrap
        a.like(href="#") 153
        a.comment(href="#") 36
        a.see(href="#") 256
        a.favorite(href="#")
          span 123
    .item
      .image
        img(src="../../images/image_event/event3.png", alt)
        .title.

          Комплаенс

      .date.result.

        Завершен

      .body
        | Выполнение требований комплаенс
        br
        | в 2019 году

      .tags #работа, #развитие, #ярмарка
      .btns-wrap
        a.like(href="#") 153
        a.comment(href="#") 36
        a.see(href="#") 256
        a.favorite(href="#")
          span 123
    .item
      .image
        img(src="../../images/image_event/event1.png", alt)
        .title.

          Дирекция по общим вопросам

      .date.

        Осталось 3 дня

      .body.

        СУЭК предложит на региональной ярмарке вакансий 80 стабильных рабочих мест. Новый этап!

      .tags #работа, #развитие, #ярмарка
      .btns-wrap
        a.like(href="#") 153
        a.comment(href="#") 36
        a.see(href="#") 256
        a.favorite(href="#")
          span 123
  .more-events
    a(href="#") Все события