footer.site-footer
    .footer-in
        .left
            .copyright © 2003 - 2020 АО «СУЭК»
            a.agreement(href="#") Политика конфиденциальности
        .center
            .social
                a(href="#")
                    img(src="../images/image_social/vk.png", alt)
                a(href="#")
                    img(src="../images/image_social/facebook.png", alt)
                a(href="#")
                    img(src="../images/image_social/instagramm.png", alt)
                a(href="#")
                    img(src="../images/image_social/youtube.png", alt)
        .right
            .link-site
                a(href="#") Внешний сайт СУЭК
            .phones
                .title Горячая линия СУЭК
                a(href="tel:8 (800) 200 - 12 - 40") 8 (800) 200 - 12 - 40