
<footer class="site-footer">
  <div class="footer-in">
    <div class="left">
      <div class="copyright">© 2003 - 2020 АО «СУЭК»</div><a class="agreement" href="#">Политика конфиденциальности</a>
    </div>
    <div class="center">
      <div class="social"><a href="#"><img src="../images/image_social/vk.png" alt></a><a href="#"><img src="../images/image_social/facebook.png" alt></a><a href="#"><img src="../images/image_social/instagramm.png" alt></a><a href="#"><img src="../images/image_social/youtube.png" alt></a></div>
    </div>
    <div class="right">
      <div class="link-site"><a href="#">Внешний сайт СУЭК</a></div>
      <div class="phones">
        <div class="title">Горячая линия СУЭК</div><a href="tel:8 (800) 200 - 12 - 40">8 (800) 200 - 12 - 40</a>
      </div>
    </div>
  </div>
</footer>