
<footer class="site-footer">
  <div class="footer-in">
    <div class="left">
      <div class="copyright">© 2021 АИМ Холдинг </div><a class="agreement" href="#">Политика конфиденциальности</a>
    </div>
    <div class="center">
      <div class="footer__select">
        <div class="social"><a class="vk" href="#" target="_blank"><img src="../../images/image_social/vk.svg" alt></a><a class="fb" href="#" target="_blank"><img src="../../images/image_social/fb.svg" alt></a><a class="inst" href="#" target="_blank"><img src="../../images/image_social/inst.svg" alt></a><a class="youtube" href="#" target="_blank"><img src="../../images/image_social/youtube.svg" alt></a></div>
      </div>
    </div>
    <div class="right">
      <div class="link-site"><a href="#" target="_blank">Внешний сайт АИМ</a></div>
      <div class="phones">
        <div class="title">Единая горячая линия</div><a href="tel:88002001240">8 (800) 200-12-40</a>
      </div>
    </div>
  </div>
</footer>