
<footer class="site-footer">
  <div class="footer-in">
    <div class="left">
      <div class="copyright">© 2003 - 2022 АИМ Холдинг </div><a class="agreement" href="#">Политика конфиденциальности</a>
    </div>
    <div class="center">
      <div class="footer__select">
        <div class="selectStyler">
          <select id="sort_bl" name="sort_bl_select">
            <option value="СГК" selected>СГК</option>
            <option value="СУЭК">СУЭК</option>
            <option value="АИМ">АИМ</option>
            <option value="ЕвроХим">ЕвроХим</option>
            <option value="НТК">НТК</option>
          </select>
        </div>
        <div class="social"><a href="#"><img src="../../images/image_social/vk.svg" alt></a><a href="#"><img src="../../images/image_social/fb.svg" alt></a><a href="#"><img src="../../images/image_social/inst.svg" alt></a><a href="#"><img src="../../images/image_social/youtube.svg" alt></a></div>
      </div>
    </div>
    <div class="right">
      <div class="link-site"><a href="#!">Внешний сайт СУЭК</a></div>
      <div class="phones">
        <div class="title">Единая горячая линия</div><a href="tel:88002001240">8 (800) 200-12-40</a>
      </div>
    </div>
  </div>
</footer>