mixin footer_lk()
    footer.site-footer
      .footer-in
        .left
          .copyright © 2021 АИМ Холдинг 
          a.agreement(href="#") Политика конфиденциальности
        .center
          .footer__select
            .social
              a.vk(href="#" target="_blank")
                img(src="../../images/image_social/vk.svg", alt)
              a.fb(href="#" target="_blank")
                img(src="../../images/image_social/fb.svg", alt)
              a.inst(href="#" target="_blank")
                img(src="../../images/image_social/inst.svg", alt)
              a.youtube(href="#" target="_blank")
                img(src="../../images/image_social/youtube.svg", alt)
        .right
          .link-site
            a(href="#" target="_blank") Внешний сайт АИМ
          .phones
            .title Единая горячая линия
            a(href="tel:88002001240") 8 (800) 200-12-40