.quizList {
  -ms-flex-align: start !important;
  align-items: flex-start !important;
  clear: both;
  margin-bottom: 6rem; }
  .quizList:last-child {
    margin-bottom: 0; }
  .quizList .item {
    background: #FFFFFF;
    padding: 2rem;
    position: relative;
    border: 1px solid #F0F0F0;
    box-sizing: border-box;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin: 2.5rem 0;
    -ms-flex-align: inherit;
    align-items: inherit;
    display: block; }
    @media (max-width: 600px) {
      .quizList .item {
        padding: 15px 10px 15px 10px; } }
    .quizList .item .tools {
      -ms-flex-align: center;
      align-items: center;
      max-width: 40rem;
      width: 100%;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      @media all and (max-width: 480px) {
        .quizList .item .tools {
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          width: 100%; } }
      .quizList .item .tools a {
        transition: 0.3s ease-out; }
        .quizList .item .tools a:hover {
          opacity: .7; }
      .quizList .item .tools .btn {
        background: #F1B043;
        border-radius: 5px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0 3rem;
        font-size: 1.6rem;
        max-width: 17rem;
        line-height: 1;
        color: white;
        height: 5rem;
        text-decoration: none; }
        @media (max-width: 768px) {
          .quizList .item .tools .btn {
            height: 40px;
            padding: 12px 25px; } }
        @media all and (max-width: 480px) {
          .quizList .item .tools .btn {
            width: 100%; } }
        .quizList .item .tools .btn--primary {
          background-color: transparent;
          color: #333333;
          display: -ms-flexbox;
          display: flex;
          border: 2px solid #F1B043;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-pack: center;
          justify-content: center; }
      .quizList .item .tools .favorite,
      .quizList .item .tools .share,
      .quizList .item .tools .mail,
      .quizList .item .tools .copy,
      .quizList .item .tools .print,
      .quizList .item .tools .edit {
        width: 3.8rem;
        height: 3.8rem;
        border: 1px solid #B8B9BA;
        background-size: 1.8rem;
        border-radius: 50%; }
        .quizList .item .tools .favorite:hover,
        .quizList .item .tools .share:hover,
        .quizList .item .tools .mail:hover,
        .quizList .item .tools .copy:hover,
        .quizList .item .tools .print:hover,
        .quizList .item .tools .edit:hover {
          border-color: #F0F0F0;
          background-color: #F0F0F0; }
        .quizList .item .tools .favorite.added,
        .quizList .item .tools .share.added,
        .quizList .item .tools .mail.added,
        .quizList .item .tools .copy.added,
        .quizList .item .tools .print.added,
        .quizList .item .tools .edit.added {
          border-color: #F1B043;
          background-color: #F1B043; }
      .quizList .item .tools .favorite {
        background: url(../../images/info_zakladka_ico.svg) no-repeat center center; }
      .quizList .item .tools .share {
        background: url(../../images/info_share_ico.svg) no-repeat center center; }
      .quizList .item .tools .copy {
        background: url(../../images/info_copy.svg) no-repeat center center; }
      .quizList .item .tools .mail {
        background: url(../../images/info_mail.svg) no-repeat center center; }
      .quizList .item .tools .print {
        background: url(../../images/template/info_print.svg) no-repeat center center; }
      .quizList .item .tools .edit {
        background: url(../../images/template/icon_pen.svg) no-repeat center center; }
      .quizList .item .tools .order {
        width: auto;
        display: -ms-flexbox;
        display: flex; }
        @media all and (max-width: 480px) {
          .quizList .item .tools .order {
            width: 100%;
            margin-top: 1rem; } }
        .quizList .item .tools .order a {
          margin: 0 1rem; }
          @media all and (max-width: 480px) {
            .quizList .item .tools .order a {
              margin: 0 .5rem; } }
          .quizList .item .tools .order a:first-child {
            margin-left: 2rem; }
            @media all and (max-width: 480px) {
              .quizList .item .tools .order a:first-child {
                margin-left: 0; } }
          .quizList .item .tools .order a:last-child {
            margin-right: 2rem; }
            @media all and (max-width: 480px) {
              .quizList .item .tools .order a:last-child {
                margin-right: 0; } }
    .quizList .item__head {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: start;
      align-items: flex-start;
      -ms-flex-pack: justify;
      justify-content: space-between;
      text-decoration: none;
      transition: all .3s; }
      @media all and (max-width: 768px) {
        .quizList .item__head {
          -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
      .quizList .item__head h3 {
        margin: 0 1rem 0 0;
        padding: 0;
        width: 50%;
        color: #333333;
        font-weight: 600;
        font-size: 2.4rem; }
        @media all and (max-width: 768px) {
          .quizList .item__head h3 {
            width: 100%; } }
        @media (max-width: 600px) {
          .quizList .item__head h3 {
            margin: 0;
            font-size: 1.6rem;
            width: 100%; } }
      .quizList .item__head:hover {
        opacity: .9; }
      .quizList .item__head span {
        display: block;
        font-style: normal;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 1.4;
        text-align: right;
        color: #007BC4;
        margin: 0;
        white-space: nowrap;
        padding-left: 1rem; }
        @media (max-width: 768px) {
          .quizList .item__head span {
            font-weight: 400; } }
        @media (max-width: 600px) {
          .quizList .item__head span {
            font-size: 16px;
            padding: 0; } }
    .quizList .item__status {
      margin-top: 2rem;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      @media all and (max-width: 768px) {
        .quizList .item__status {
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          width: 100%;
          -ms-flex-pack: start;
          justify-content: flex-start; } }
      .quizList .item__status data {
        font-size: 1.4rem;
        color: #B8B9BA; }
        @media (max-width: 1180px) {
          .quizList .item__status data {
            display: block;
            width: 100%;
            margin-top: 10px; } }
      .quizList .item__status a.mt-2 {
        text-decoration: underline; }
        .quizList .item__status a.mt-2:hover {
          text-decoration: none; }
  .quizList .map {
    width: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    @media all and (max-width: 768px) {
      .quizList .map {
        width: 100%;
        -ms-flex-pack: start;
        justify-content: flex-start; } }
    @media (max-width: 600px) {
      .quizList .map {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
    .quizList .map a,
    .quizList .map span {
      display: inline-block;
      font-weight: 600;
      font-size: 1.6rem;
      color: #707274;
      text-decoration: none;
      padding: .3rem 2rem .3rem 2.5rem;
      transition: 0.3s ease-out; }
      @media (max-width: 600px) {
        .quizList .map a,
        .quizList .map span {
          width: 100%; } }
      .quizList .map a:hover,
      .quizList .map span:hover {
        opacity: 0.7; }
      .quizList .map a.pin,
      .quizList .map span.pin {
        background: url(../../images/template/info_map_ico.svg) center left no-repeat;
        background-size: 1.5rem; }
      .quizList .map a.sort,
      .quizList .map span.sort {
        background: url(../../images/template/info_department_ico.svg) center left no-repeat;
        background-size: 2rem; }
      .quizList .map a.calendar,
      .quizList .map span.calendar {
        background: url(../../images/template/info_calendar_ico.svg) center left no-repeat;
        background-size: 1.6rem; }

.top_link {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  transition: .3s;
  min-height: 5rem;
  margin-bottom: 3rem; }
  .top_link a, .top_link .btn {
    background: linear-gradient(195deg, #FFE62E 0%, #F0AE43 100%), #C4C4C4;
    border-radius: 5px;
    text-decoration: none;
    padding: 1.4rem 2rem;
    min-width: 17rem;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.2;
    text-align: center;
    color: #fff;
    display: inline-block;
    margin-right: auto;
    transition: .3s; }
    .top_link a:hover, .top_link .btn:hover {
      filter: brightness(1.05); }

.sort-bl {
  margin-bottom: 0; }

.sort_bl {
  margin-bottom: 0; }
  @media all and (max-width: 1260px) {
    .sort_bl .sort_bl_body {
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  @media all and (max-width: 800px) {
    .sort_bl .sort_bl_body {
      -ms-flex-pack: start;
      justify-content: flex-start; } }
  @media all and (max-width: 800px) {
    .sort_bl .sort_bl_body .to-heading {
      width: 48%; } }
  @media all and (max-width: 480px) {
    .sort_bl .sort_bl_body .to-heading {
      width: 100%; } }
  .sort_bl .sort_bl_body .to-heading .jq-selectbox__select {
    padding-left: 3rem;
    height: 4rem; }
    @media all and (max-width: 800px) {
      .sort_bl .sort_bl_body .to-heading .jq-selectbox__select {
        border-left: 0; } }
    @media all and (max-width: 480px) {
      .sort_bl .sort_bl_body .to-heading .jq-selectbox__select {
        padding-left: 0; } }
  .sort_bl .sort_bl_body .to-heading .jq-selectbox__select-text {
    padding-left: 0;
    padding-right: 4rem; }
  .sort_bl .sort_bl_body .to-heading .jq-selectbox__trigger {
    right: 0; }
  .sort_bl .to-heading:first-child .jq-selectbox__select-text {
    padding-left: 0; }
  .sort_bl .to-heading:last-child .jq-selectbox__select {
    display: -ms-flexbox;
    display: flex;
    height: 5rem;
    -ms-flex-align: center;
    align-items: center;
    width: 30rem; }
    @media all and (max-width: 1100px) {
      .sort_bl .to-heading:last-child .jq-selectbox__select {
        margin-top: 2rem; } }
  .sort_bl .to-heading:last-child .jq-selectbox__select-text {
    padding: 0 3rem; }
  .sort_bl .to-heading:last-child .jq-selectbox__trigger {
    right: 2rem; }
  .sort_bl .to-heading .checkbox__wrap {
    background: transparent;
    border-left: 1px solid #F0F0F0;
    padding-left: 3rem;
    height: 4rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center; }
    @media all and (max-width: 800px) {
      .sort_bl .to-heading .checkbox__wrap {
        border-left: 0;
        padding-left: 0; } }
  .sort_bl .to-heading input.custom-checkbox + label {
    padding-bottom: 0; }

.icon-result {
  font-weight: normal;
  font-size: 1.6rem;
  margin-right: 1rem;
  line-height: 1;
  color: #b8b9ba;
  width: 2rem;
  height: 2rem;
  background: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.4213 10.0685C22.4213 4.5166 17.9045 0 12.3524 0C6.80048 0 2.28369 4.5166 2.28369 10.0685C2.28369 15.6202 6.80048 20.1368 12.3524 20.1368C17.9045 20.1368 22.4213 15.6202 22.4213 10.0685ZM10.5576 14.3635L7.11997 10.9259L8.16195 9.88407L10.5576 12.2797L16.543 6.29444L17.585 7.33624L10.5576 14.3635Z' fill='%23F6C358'/%3E%3Cpath d='M3.04794 16.8884L0 21.3339L4.5063 20.4935L5.34668 25L8.20084 20.8372C6.12869 20.0356 4.34418 18.6523 3.04794 16.8884Z' fill='%23009696'/%3E%3Cpath d='M21.6573 16.8884C20.3611 18.6523 18.5765 20.0356 16.5044 20.8372L19.3586 25L20.1989 20.4935L24.7052 21.3339L21.6573 16.8884Z' fill='%23009696'/%3E%3C/svg%3E%0A") 0 45% no-repeat;
  background-size: contain; }

.progres {
  width: 100%;
  max-width: 74rem;
  margin-left: 2rem;
  box-sizing: content-box; }
  @media all and (max-width: 768px) {
    .progres {
      margin-left: 0;
      margin-top: 2rem; } }
  @media all and (max-width: 480px) {
    .progres {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      display: -ms-flexbox;
      display: flex; } }
  .progres a {
    float: right;
    font-size: 1.4rem; }
    @media all and (max-width: 480px) {
      .progres a {
        float: left;
        display: inline-block;
        width: 100%; } }
  .progres .progress {
    margin: .5rem 0;
    background-color: #D3D3D3;
    border-radius: 3rem;
    position: relative; }
    @media all and (max-width: 480px) {
      .progres .progress {
        width: 100%; } }
  .progres .progress-info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .progres .percent {
    display: inline-block;
    font-size: 1.4rem;
    color: #333; }
  .progres .progress-bar {
    background-color: #00C42B;
    height: 1rem;
    border-radius: 3rem; }
  .progres .timer,
  .progres .timetofin {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.2rem;
    height: 2rem;
    color: #B8B9BA;
    background: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 19C14.9706 19 19 14.9706 19 10C19 5.02944 14.9706 1 10 1C5.02944 1 1 5.02944 1 10C1 14.9706 5.02944 19 10 19ZM10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20Z' fill='%23B8B9BA'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 4.95459C10.2761 4.95459 10.5 5.17845 10.5 5.45459V10.4091H14.5454C14.8216 10.4091 15.0454 10.633 15.0454 10.9091C15.0454 11.1853 14.8216 11.4091 14.5454 11.4091H10C9.72386 11.4091 9.5 11.1853 9.5 10.9091V5.45459C9.5 5.17845 9.72386 4.95459 10 4.95459Z' fill='%23B8B9BA'/%3E%3C/svg%3E%0A") 0 50% no-repeat;
    background-size: 1.4rem 1.4rem;
    padding-left: 2rem;
    margin-left: 1rem; }
    @media all and (max-width: 768px) {
      .progres .timer,
      .progres .timetofin {
        margin-left: 0;
        margin-right: 1rem; } }
  .progres .timetofin {
    background: url(../../images/template/icon_sandclock.svg) center left no-repeat;
    background-size: 1.4rem; }
