
<div class="menu-inner-top">
  <ul>
    <li><a href="#"><span class="icon"><img src="../../images/menu_icon_inner/icon_f_y.svg" alt></span><span class="name">Системы</span></a></li>
    <li><a href="#"><span class="icon"><img src="../../images/menu_icon_inner/icon_sec_y.svg" alt></span><span class="name">Избранное</span></a></li>
    <li class="docs submenu"><a href="#"><span class="icon"><img src="../../images/menu_icon_inner/icon_third_y.svg" alt></span><span class="name">Документы</span></a>
      <ul>
        <div class="div_one_level"><span class="icon"><img src="../../images/menu_icon_inner/icon_third_y.svg" alt></span><span class="name">Документы</span>
          <div class="close_m"></div>
        </div>
        <li><a href="#"><span class="image"><img src="../../images/menu_icon_inner/icon_doc.png" alt></span><span class="name">15 лет СУЭК<i>.doc</i></span></a></li>
        <li><a href="#"><span class="image"><img src="../../images/menu_icon_inner/icon_xls.png" alt></span><span class="name">Отчет фонда «СУЭК-регионам».xls</span></a></li>
        <li><a href="#"><span class="image"><img src="../../images/menu_icon_inner/icon_pdf.png" alt></span><span class="name">Отчет об устойчивом развитии.pdf</span></a></li>
        <li><a href="#"><span class="image"><img src="../../images/menu_icon_inner/icon_doc.png" alt></span><span class="name">15 лет СУЭК<i>.doc</i></span></a></li>
        <li><a href="#"><span class="image"><img src="../../images/menu_icon_inner/icon_xls.png" alt></span><span class="name">Отчет фонда «СУЭК-регионам».xls</span></a></li>
        <li><a href="#"><span class="image"><img src="../../images/menu_icon_inner/icon_pdf.png" alt></span><span class="name">Отчет об устойчивом развитии.pdf</span></a></li>
      </ul>
    </li>
    <li><a href="#"><span class="icon"><img src="../../images/menu_icon_inner/icon_fourth_y.svg" alt></span><span class="name">Здоровье</span></a></li>
    <li><a href="#"><span class="icon"><img src="../../images/menu_icon_inner/icon_fifth_y.svg" alt></span><span class="name">Опросы</span></a></li>
    <li><a href="#"><span class="icon"><img src="../../images/menu_icon_inner/icon_six_y.svg" alt></span><span class="name">Котировки</span></a></li>
  </ul>
</div>