.menu-inner-top
    ul
        li
            a(href="#")
                span.icon
                    img(src="../../images/menu_icon_inner/icon_f_y.svg", alt)
                span.name Системы
        li
            a(href="#")
                span.icon
                    img(src="../../images/menu_icon_inner/icon_sec_y.svg", alt)
                span.name Избранное
        li.docs.submenu
            a(href="#")
                span.icon
                    img(src="../../images/menu_icon_inner/icon_third_y.svg", alt)
                span.name Документы
            ul
                .div_one_level
                    span.icon
                        img(src="../../images/menu_icon_inner/icon_third_y.svg", alt)
                    span.name Документы
                    .close_m
                li
                    a(href="#")
                        span.image
                            img(src="../../images/menu_icon_inner/icon_doc.png", alt)
                        span.name
                            | 15 лет СУЭК
                            i .doc
                li
                    a(href="#")
                        span.image
                            img(src="../../images/menu_icon_inner/icon_xls.png", alt)
                        span.name Отчет фонда «СУЭК-регионам».xls
                li
                    a(href="#")
                        span.image
                            img(src="../../images/menu_icon_inner/icon_pdf.png", alt)
                        span.name Отчет об устойчивом развитии.pdf
                li
                    a(href="#")
                        span.image
                            img(src="../../images/menu_icon_inner/icon_doc.png", alt)
                        span.name
                            | 15 лет СУЭК
                            i .doc
                li
                    a(href="#")
                        span.image
                            img(src="../../images/menu_icon_inner/icon_xls.png", alt)
                        span.name Отчет фонда «СУЭК-регионам».xls
                li
                    a(href="#")
                        span.image
                            img(src="../../images/menu_icon_inner/icon_pdf.png", alt)
                        span.name Отчет об устойчивом развитии.pdf
        li
            a(href="#")
                span.icon
                    img(src="../../images/menu_icon_inner/icon_fourth_y.svg", alt)
                span.name Здоровье
        li
            a(href="#")
                span.icon
                    img(src="../../images/menu_icon_inner/icon_fifth_y.svg", alt)
                span.name Опросы
        li
            a(href="#")
                span.icon
                    img(src="../../images/menu_icon_inner/icon_six_y.svg", alt)
                span.name Котировки