mixin formwrapper()
    .form-wrapper.form-wrapper2
        .popup-block-active
            .close-icon
            .inner
                .left
                    .image-slick.slick-slider
                        div
                            img(src="../../images/slick1.png", alt)
                        div
                            img(src="../../images/slick1.png", alt)
                        div
                            img(src="../../images/slick1.png", alt)
                    .image-gallery.slick-slider
                        div
                            img(src="../../images/slick1.png", alt)
                        div
                            img(src="../../images/slick1.png", alt)
                        div
                            img(src="../../images/slick1.png", alt)
                    .see-more
                        a(href="#") Смотреть все 10 фото
                    .go-to
                        a(href="#") Перейти на сайт
                .right
                    .title-bl Разрез Назаровский
                    .address 662200, г. Назарово, ул. Березовая роща, д. 1.
                    .block
                        .item
                            .title Добыча
                            .text 35,3
                                .desc   млн. тонн
                        .item
                            .title ПЕРСОНАЛ
                            .text 1341
                                .desc человек
                    .body
                        p Разрез «Назаровский» разрабатывает Назаровское месторождение бурых углей. Сдан в эксплуатацию в 1951 году с производственной мощностью 2,5 млн тонн угля в год. Сегодня объем добычи на предприятии составляет более 3 млн тонн. Во все годы разрез был одним из передовых предприятий отрасли и полигоном для испытания новейших образцов горнодобывающей техники, за что отмечен многочисленными наг радами.
                        p Во все годы разрез был одним из передовых предприятий отрасли и полигоном для испытания новейших образцов горнодобывающей техники, за что отмечен многочисленными наградами. За выдающиеся достижения Назаровский разрез награжден орденом Трудового Красного Знамени.
