
<div class="result-block">
  <div class="heading">Результаты поиска по запросу <span>«Сотрудники на букву “Б”, Все регионы»</span> (2 430)</div>
  <div class="sort_bl">
    <select id="sort_bl" name="sort_bl_select">
      <option value="По фамилии от А до Я">По фамилии от А до Я</option>
      <option value="По фамилии от Я до А">По фамилии от Я до А</option>
      <option value="По имени от А до Я">По фамилии от А до Я</option>
      <option value="По имени от Я до А">По фамилии от Я до А</option>
    </select>
  </div>
</div>