.quizList
    .item
        .item__head
            h3 Обновление корпоративной библиотеки
            .flex.map
                a.pin(href="#!") АО "СУЭК-Красноярск"
                a.sort(href="#!") Корпоративный университет
        .item__status
            .flex.tools
                a.btn(href="#!") Пройти опрос
                .order
                    a.share(href="#!" data-toggle="tooltip" data-placement="bottom" title="Поделиться" data-popup-trigger="socialshare")
                    a.copy(href="#!" data-toggle="tooltip" data-placement="bottom" data-copy="https://testtesttest.test" data-copied="Скопировано!" data-err-copied="Не удалось скопировать!" title="Скопипровать")
                    a.edit(href="#!" data-toggle="tooltip" data-placement="bottom" title="Изменить")
            .progres
                span.percent 250 000  (42%) / 600 000
                a(href='#!') Посмотреть результаты
                .progress
                    .progress-bar.progress-bar-striped.progress-bar-animated(role="progressbar", style="width: 42%;", aria-valuenow="42", aria-valuemin="0", aria-valuemax="100") 
                .progress-info
                    .timer 03 декабря 2021, 17:49
                    .timetofin 00d 03h 00m 
    .item
        .item__head
            h3 Выполнение требований комплаенс в 2019 году
            .flex.map
                a.pin(href="#!") АО "СУЭК-Красноярск"
                a.sort(href="#!") Комплаенс
        .item__status
            .flex.tools
                span.btn.btn--primary
                    .icon-result
                    | Завершен
                .order
                    a.share(href="#!" data-toggle="tooltip" data-placement="bottom" title="Поделиться" data-popup-trigger="socialshare")
                    a.copy(href="#!" data-toggle="tooltip" data-placement="bottom" data-copy="https://testtesttest.test" data-copied="Скопировано!" data-err-copied="Не удалось скопировать!" title="Скопипровать")
                    a.edit(href="#!" data-toggle="tooltip" data-placement="bottom" title="Изменить")
            .progres
                span.percent 600 000  (100%) / 600 000
                a(href='#!') Посмотреть результаты
                .progress
                    .progress-bar.progress-bar-striped.progress-bar-animated(role="progressbar", style="width: 100%;", aria-valuenow="100", aria-valuemin="0", aria-valuemax="100") 
                .progress-info
                    .timer 03 декабря 2021, 17:49
                    .timetofin 00d 00h 00m 
    .item
        .item__head
            h3 Декларация о конфликте интересов сотрудников
            .flex.map
                a.pin(href="#!") АО "СУЭК-Красноярск"
                a.sort(href="#!") Дирекция по общим вопросам
        .item__status
            .flex.tools
                a.btn(href="#!") Пройти опрос
                .order
                    a.share(href="#!" data-toggle="tooltip" data-placement="bottom" title="Поделиться" data-popup-trigger="socialshare")
                    a.copy(href="#!" data-toggle="tooltip" data-placement="bottom" data-copy="https://testtesttest.test" data-copied="Скопировано!" data-err-copied="Не удалось скопировать!" title="Скопипровать")
                    a.edit(href="#!" data-toggle="tooltip" data-placement="bottom" title="Изменить")
            .progres
                span.percent 250 000  (42%) / 600 000
                a(href='#!') Посмотреть результаты
                .progress
                    .progress-bar.progress-bar-striped.progress-bar-animated(role="progressbar", style="width: 42%;", aria-valuenow="42", aria-valuemin="0", aria-valuemax="100") 
                .progress-info
                    .timer 03 декабря 2021, 17:49
                    .timetofin 00d 03h 00m 