
<section class="Staff">
  <div class="row mx-lg-n5">
    <div class="col-12 col-xl-6 px-xl-5">
      <div class="title-bl"><img src="../../images/titles/birthday_title.png"></div>
      <div class="Staff--slider" id="StaffBirthdaySlider">
        <div class="Staff--item text-center mb-4">
          <div class="Staff--birthday text-warning">
            <div class="Staff--birthday-title">Сегодня</div>
          </div>
          <div class="Staff--photo Staff--birthday__today">
            <div class="congratulate-action link js-show-happy-birthday-popup"><a class="js-prepare-congrats" data-id="123" href="#"><img src="../../images/gift.svg"></a></div><img class="img-fluid rounded-circle mx-auto mb-3" src="../../images/people/employees5.png">
          </div>
          <div class="Staff--name"><b>Илларион Витальев</b></div>
          <div class="Staff--position">Заместитель Директора по персоналу и администрации (региональные вопросы работы с персоналом)</div>
        </div>
        <div class="Staff--item text-center mb-4">
          <div class="Staff--birthday text-warning">
            <div class="Staff--birthday-title">Сегодня</div>
          </div>
          <div class="Staff--photo Staff--birthday__today">
            <div class="congratulate-action link js-show-happy-birthday-popup"><a class="js-prepare-congrats" data-id="123" href="#"><img src="../../images/gift.svg"></a></div><img class="img-fluid rounded-circle mx-auto mb-3" src="../../images/people/employees7.png">
          </div>
          <div class="Staff--name"><b>Илларион Витальев</b></div>
          <div class="Staff--position">Заместитель Генерального директора</div>
        </div>
        <div class="Staff--item text-center mb-4">
          <div class="Staff--birthday mb-2">
            <div class="Staff--birthday-title">Завтра</div>
          </div>
          <div class="Staff--photo">
            <div class="congratulate-action link js-show-happy-birthday-popup"><a class="js-prepare-congrats" data-id="123" href="#"><img src="../../images/gift.svg"></a></div><img class="img-fluid rounded-circle mx-auto mb-3" src="../../images/people/employees3.png">
          </div>
          <div class="Staff--tooltip__source" title="Степан Богомолов ">
            <div class="Staff--tooltip__content hidden">
              <div class="Staff--name"><b>Степан Богомолов</b></div>
              <div class="Staff--position">Заместитель Директора по персоналу и администрации (региональные вопросы работы с персоналом)</div>
            </div>
            <div class="Staff--name"><b>Степан Богомолов</b></div>
            <div class="Staff--position">Заместитель Директора по персоналу и адм ...</div>
          </div>
        </div>
        <div class="Staff--item text-center mb-4">
          <div class="Staff--birthday mb-2">
            <div class="Staff--birthday-title">1 января</div>
          </div>
          <div class="Staff--photo">
            <div class="congratulate-action link js-show-happy-birthday-popup"><a class="js-prepare-congrats" data-id="123" href="#"><img src="../../images/gift.svg"></a></div><img class="img-fluid rounded-circle mx-auto mb-3" src="../../images/people/employees6.png">
          </div>
          <div class="Staff--name"><b>Степан Богомолов</b></div>
          <div class="Staff--position">Директор по персоналу и администрации</div>
        </div>
        <div class="Staff--item text-center mb-4">
          <div class="Staff--birthday mb-2">
            <div class="Staff--birthday-title">1 января</div>
          </div>
          <div class="Staff--photo"><img class="img-fluid rounded-circle mx-auto mb-3" src="../../images/people/employees6.png"></div>
          <div class="Staff--name"><b>Степан Богомолов</b></div>
          <div class="Staff--position">Директор по персоналу и администрации</div>
        </div>
      </div>
      <div class="more-birthdays text-center"><a href="#">Все дни рождения</a></div>
    </div>
    <div class="col-12 col-xl-6 px-xl-5">
      <div class="title-bl"><img src="../../images/titles/new_employes_title.png"></div>
      <div class="Staff--slider" id="StaffNewSlider">
        <div class="Staff--item text-center mb-4">
          <div class="Staff--birthday mb-2">
            <div class="Staff--birthday-title"> </div>
          </div>
          <div class="Staff--photo"><img class="img-fluid rounded-circle mx-auto mb-3" src="../../images/people/employees1.png"></div>
          <div class="Staff--tooltip__source" title="Пётр Озерцов">
            <div class="Staff--tooltip__content hidden">
              <div class="Staff--name"><b>Пётр Озерцов</b></div>
              <div class="Staff--position">Начальник управления сводного планирования</div>
            </div>
            <div class="Staff--name"><b>Пётр Озерцов</b></div>
            <div class="Staff--position">Начальник управления сводного плани...</div>
          </div>
        </div>
        <div class="Staff--item text-center mb-4">
          <div class="Staff--birthday mb-2">
            <div class="Staff--birthday-title"> </div>
          </div>
          <div class="Staff--photo"><img class="img-fluid rounded-circle mx-auto mb-3" src="../../images/people/employees2.png"></div>
          <div class="Staff--tooltip__source" title="Евгений Петров">
            <div class="Staff--tooltip__content hidden">
              <div class="Staff--name"><b>Евгений Петров</b></div>
              <div class="Staff--position">
                Оператор пульта управления 3 разряда, участок передовой
                
              </div>
            </div>
            <div class="Staff--name"><b>Евгений Петров</b></div>
            <div class="Staff--position">Оператор пульта управления 3 разряда, участок...</div>
          </div>
        </div>
        <div class="Staff--item text-center mb-4">
          <div class="Staff--birthday mb-2">
            <div class="Staff--birthday-title"> </div>
          </div>
          <div class="Staff--photo"><img class="img-fluid rounded-circle mx-auto mb-3" src="../../images/people/employees8.png"></div>
          <div class="Staff--name"><b>Семён Озерицын</b></div>
          <div class="Staff--position">Бухгалтер 1-ой категории</div>
        </div>
        <div class="Staff--item text-center mb-4">
          <div class="Staff--birthday mb-2">
            <div class="Staff--birthday-title"> </div>
          </div>
          <div class="Staff--photo"><img class="img-fluid rounded-circle mx-auto mb-3" src="../../images/people/employees8.png"></div>
          <div class="Staff--name"><b>Семён Озерицын</b></div>
          <div class="Staff--position">Директор по персоналу и администрации</div>
        </div>
        <div class="Staff--item text-center mb-4">
          <div class="Staff--birthday mb-2">
            <div class="Staff--birthday-title"> </div>
          </div>
          <div class="Staff--photo"><img class="img-fluid rounded-circle mx-auto mb-3" src="../../images/people/employees8.png"></div>
          <div class="Staff--name"><b>Семён Озерицын</b></div>
          <div class="Staff--position">Директор по персоналу и администрации</div>
        </div>
      </div>
      <div class="more-birthdays text-center"><a href="#">Все новые сотрудники</a></div>
    </div>
  </div>
</section>