section.Staff
    .row.mx-lg-n5
        .col-12.col-xl-6.px-xl-5
            .title-bl
                img(src='../../images/titles/birthday_title.png')
            .Staff--slider#StaffBirthdaySlider
                .Staff--item.text-center.mb-4
                    .Staff--birthday.text-warning
                        .Staff--birthday-title Сегодня
                    .Staff--photo.Staff--birthday__today
                        .congratulate-action.link.js-show-happy-birthday-popup
                            a.js-prepare-congrats(data-id="123", href="#")
                                img(src="../../images/gift.svg")
                        img.img-fluid.rounded-circle.mx-auto.mb-3(src="../../images/people/employees5.png")
                    .Staff--name
                        b Илларион Витальев
                    .Staff--position Заместитель Директора по персоналу и администрации (региональные вопросы работы с персоналом)
                .Staff--item.text-center.mb-4
                    .Staff--birthday.text-warning
                        .Staff--birthday-title Сегодня
                    .Staff--photo.Staff--birthday__today
                        .congratulate-action.link.js-show-happy-birthday-popup
                            a.js-prepare-congrats(data-id="123", href="#")
                                img(src="../../images/gift.svg")
                        img.img-fluid.rounded-circle.mx-auto.mb-3(src="../../images/people/employees7.png")
                    .Staff--name
                        b Илларион Витальев
                    .Staff--position Заместитель Генерального директора
                .Staff--item.text-center.mb-4
                    .Staff--birthday.mb-2
                        .Staff--birthday-title Завтра
                    .Staff--photo
                        .congratulate-action.link.js-show-happy-birthday-popup
                            a.js-prepare-congrats(data-id="123", href="#")
                                img(src="../../images/gift.svg")
                        img.img-fluid.rounded-circle.mx-auto.mb-3(src="../../images/people/employees3.png")
                    .Staff--tooltip__source(title="Степан Богомолов ")
                        .Staff--tooltip__content.hidden
                            .Staff--name
                                b Степан Богомолов
                            .Staff--position Заместитель Директора по персоналу и администрации (региональные вопросы работы с персоналом)
                        .Staff--name
                            b Степан Богомолов
                        .Staff--position Заместитель Директора по персоналу и адм ...
                .Staff--item.text-center.mb-4
                    .Staff--birthday.mb-2
                        .Staff--birthday-title 1 января
                    .Staff--photo
                        .congratulate-action.link.js-show-happy-birthday-popup
                            a.js-prepare-congrats(data-id="123", href="#")
                                img(src="../../images/gift.svg")
                        img.img-fluid.rounded-circle.mx-auto.mb-3(src="../../images/people/employees6.png")
                    .Staff--name
                        b Степан Богомолов
                    .Staff--position Директор по персоналу и администрации
                .Staff--item.text-center.mb-4
                    .Staff--birthday.mb-2
                        .Staff--birthday-title 1 января
                    .Staff--photo
                        img.img-fluid.rounded-circle.mx-auto.mb-3(src="../../images/people/employees6.png")
                    .Staff--name
                        b Степан Богомолов
                    .Staff--position Директор по персоналу и администрации
            .more-birthdays.text-center
                a(href="#") Все дни рождения
        .col-12.col-xl-6.px-xl-5
            .title-bl
                img(src='../../images/titles/new_employes_title.png')
            .Staff--slider#StaffNewSlider
                .Staff--item.text-center.mb-4
                    .Staff--birthday.mb-2
                        .Staff--birthday-title  
                    .Staff--photo
                        img.img-fluid.rounded-circle.mx-auto.mb-3(src="../../images/people/employees1.png")
                    .Staff--tooltip__source(title="Пётр Озерцов")
                        .Staff--tooltip__content.hidden
                            .Staff--name
                                b Пётр Озерцов
                            .Staff--position Начальник управления сводного планирования
                        .Staff--name
                            b Пётр Озерцов
                        .Staff--position Начальник управления сводного плани...
                .Staff--item.text-center.mb-4
                    .Staff--birthday.mb-2
                        .Staff--birthday-title  
                    .Staff--photo
                        img.img-fluid.rounded-circle.mx-auto.mb-3(src="../../images/people/employees2.png")
                    .Staff--tooltip__source(title="Евгений Петров")
                        .Staff--tooltip__content.hidden
                            .Staff--name
                                b Евгений Петров
                            .Staff--position.
                                Оператор пульта управления 3 разряда, участок передовой

                        .Staff--name
                            b Евгений Петров
                        .Staff--position Оператор пульта управления 3 разряда, участок...
                .Staff--item.text-center.mb-4
                    .Staff--birthday.mb-2
                        .Staff--birthday-title  
                    .Staff--photo
                        img.img-fluid.rounded-circle.mx-auto.mb-3(src="../../images/people/employees8.png")
                    .Staff--name
                        b Семён Озерицын
                    .Staff--position Бухгалтер 1-ой категории
                .Staff--item.text-center.mb-4
                    .Staff--birthday.mb-2
                        .Staff--birthday-title  
                    .Staff--photo
                        img.img-fluid.rounded-circle.mx-auto.mb-3(src="../../images/people/employees8.png")
                    .Staff--name
                        b Семён Озерицын
                    .Staff--position Директор по персоналу и администрации
                .Staff--item.text-center.mb-4
                    .Staff--birthday.mb-2
                        .Staff--birthday-title  
                    .Staff--photo
                        img.img-fluid.rounded-circle.mx-auto.mb-3(src="../../images/people/employees8.png")
                    .Staff--name
                        b Семён Озерицын
                    .Staff--position Директор по персоналу и администрации
            .more-birthdays.text-center
                a(href="#") Все новые сотрудники
