mixin top_slider()
    .bt_o_top_slider_c.owl-carousel
        .bt_o_top_slider_c_item_c
            .bt_o_top_slider_c_item
                .bt_o_top_slider_c_item_row_1
                    img(src="../../images/my-company-1.jpg")
                    .bt_o_top_slider_c_item_row_1_text
                        .bt_o_top_slider_c_item_row_1_text_1
                            span Наша миссия
                        .bt_o_top_slider_c_item_row_1_text_2.bt_font_size_21.
    
                            Способствовать обеспечению энергетических потребностей мирового сообщества путем добычи угля и производства энергии с соблюдением всех требований безопасности и принципов устойчивого развития, а также с учетом интересов всех заинтересованных сторон.

        .bt_o_top_slider_c_item_c
            .bt_o_top_slider_c_item
                .bt_o_top_slider_c_item_row_1
                    img(src="../../images/my-company-2.jpg")
                    .bt_o_top_slider_c_item_row_1_text
                        .bt_o_top_slider_c_item_row_1_text_1
                            span Наше видение
                        .bt_o_top_slider_c_item_row_1_text_2.
    
                            Будучи крупнейшим производителем угля и одним из крупнейших производителей тепло- и электроэнергии в России, мы стремимся быть одной из ведущих угольно-энергетических компаний мира. Для этого мы развиваем существующие угледобывающие, обогатительные и генерирующие мощности, инвестируем в развитие современных технологий, логистической и сбытовой инфраструктуры.

        .bt_o_top_slider_c_item_c
            .bt_o_top_slider_c_item
                .bt_o_top_slider_c_item_row_1
                    img(src="../../images/my-company-3.jpg")
                    .bt_o_top_slider_c_item_row_1_text
                        .bt_o_top_slider_c_item_row_1_text_1
                            span Наши ценности
                        .bt_o_top_slider_c_item_row_1_text_2.bt_font_size_28
                            ul
                                li Безопасность и результативность
                                li Стабильность и развитие
                                li Профессионализм и сотрудничество
                                li Социальная ответственность
                .bt_o_top_slider_c_item_row_2
                    a(href="#!") Подробнее