
<div class="notification-block">
  <div class="notification-block-title">
    <div class="count">15</div>
  </div>
  <div class="notification-block-body">
    <div class="blocks empty" style="display:none">
      <p>У вас нет новых уведомлений</p><a href="#!">Архив уведомлений</a>
    </div>
    <div class="blocks">
      <div class="blocks-title">Мои задачи <a href="#">Смотреть все</a></div>
      <div class="tasks">
        <div class="task red">
          <div class="count">39</div><a href="#">Срочные</a>
        </div>
        <div class="task yellow">
          <div class="count">3</div><a href="#">Текущие</a>
        </div>
        <div class="task green">
          <div class="count">1</div><a href="#">Прочие</a>
        </div>
      </div>
    </div>
    <div class="blocks">
      <div class="blocks-title">Общие (12) <a href="#">Смотреть все</a></div>
      <div class="blocks-body">
        <div class="links"><a class="jpopup" href="#">Создаём день независимости от ПК</a></div>
        <div class="links"><a class="jpopup" href="#">Отпускной план</a></div>
        <div class="links"><a class="jpopup" href="#">Расписание новогодних праздников</a></div>
        <div class="links"><a class="jpopup" href="#">Пройдите обязательный опрос “Сколько необхождимо времени для понятия всех обстоятельств”</a></div>
        <div class="links"><a class="jpopup" href="#">Вопросы по задаче № 1341</a></div>
      </div>
    </div>
    <div class="blocks">
      <div class="blocks-title">Мои заявки (1) <a href="#">Смотреть все</a></div>
      <div class="blocks-body">
        <div class="links"><a class="jpopup" href="#">Ваш пропуск готов</a></div>
        <div class="links"><a class="jpopup" href="#">Ваш пропуск #2 готов тоже</a></div>
      </div>
    </div>
    <div class="blocks">
      <div class="blocks-title">Поздравления (2) <a href="#">Смотреть все</a></div>
      <div class="congratulation">
        <div class="item">
          <div class="pic"><img src="../../images/congratulation_pic.png" alt="Валентина Михайлова"></div>
          <div class="text">
            <div class="title">Валентина Михайлова</div>
            <div class="body">
              <div class="jmodal">С днём рождения. Вы самый лучший руководитель! Желаю всего всего всего всего всего всего</div>
            </div>
            <div class="date">2 декабря</div>
          </div>
        </div>
        <div class="item">
          <div class="pic"><img src="../../images/congratulation_pic.png" alt="Валентина Михайлова"></div>
          <div class="text">
            <div class="title">Валентина Михайлович</div>
            <div class="body">
              <div class="jmodal">С днём рождения. Вы самый лучший руководитель! Желаю много много много много много много много много много</div>
            </div>
            <div class="date">2 декабря</div>
          </div>
        </div>
        <div class="item">
          <div class="pic"><img src="../../images/congratulation_pic.png" alt="Валентина Михайлова"></div>
          <div class="text">
            <div class="title">Валентина Михайлова</div>
            <div class="body">С днём рождения. Вы самый лучший руководитель!</div>
            <div class="date">2 декабря</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>