
<div class="kUn">
  <div class="kUn__title">
    <div class="kUn__title--img"> <img src="../../images/image_ku/icon_n1.svg"></div>
    <div class="kUn__title--txt">Корпоративный университет - Ваш помощник на пути к успеху! </div>
  </div>
  <div class="kUn__content">
    <h4>Цели корпоративного университета</h4>
    <p>Поддержка и реализация стратегии группы компаний через развитие сотрудников.</p>
  </div>
  <div class="kUn__content kUn__content--flex">
    <div class="kUn__item">
      <h4>Кому и для чего <br>полезен каталог:</h4>
      <div class="kUn__promofw">
        <h5>Локомотив 2018</h5>
        <p>Защита проектов. 5 сессия </p><a href="#!">Подробнее о программе</a>
      </div>
    </div>
    <div class="kUn__item">
      <div class="kUn__block kUn__block--withimg"><img src="../../images/image_ku/businessman.png">
        <p><b>Руководителю</b></p>
        <p>Определить спектр возможностей по обучению и развитию и найти необходимые программы для сотрудников.</p>
      </div>
      <div class="kUn__block kUn__block--withimg"><img src="../../images/image_ku/structure.png">
        <p><b>Представителю службы управления персоналом</b></p>
        <p>Планировать обучение сотрудников подразделений и выстроить работу с руководителями.</p>
      </div>
      <div class="kUn__block kUn__block--withimg"><img src="../../images/image_ku/businessman2.png">
        <p><b>Сотруднику</b></p>
        <p>Сориентироваться в возможностях для развития, которые предоставляет компания, и инициировать диалог со своим руководителем.</p>
      </div>
    </div>
  </div>
  <h4>Как записаться на программы</h4>
  <div class="kUn__content kUn__content--flex reverse">
    <div class="kUn__item">
      <h6>Электронные курсы</h6>
      <p>
        Их можно изучать самостоятельно в удобное для вас время. 
        Для этого нужно зайти в систему дистанционного обучения и найти нужный курс.
      </p>
      <h6>В онлайн-, очном или смешанном формате проводятся:</h6>
      <ul> 
        <li>Открытые для всех программы<br>Расписание публикуется на сайте Корпоративного университета и ежеквартально рассылается всем сотрудникам группы компаний.</li>
        <li>Программы по записи<br>На них сотрудники назначаются по признаку работы в функции, по назначению руководителя или службы управления персоналом. 
          О возможностях записи на них узнавайте в Службе управления персоналом вашего предприятия.
        </li>
      </ul>
    </div>
    <div class="kUn__item">
      <div class="safety_content_top_item"><img src="../../images/image_ku/icon_n021.svg"><span>Вход в систему дистанционного обучения</span></div>
      <div class="safety_content_top_item"><img src="../../images/image_ku/icon_n2.svg"><span>Онлайн-библиотека</span></div>
    </div>
  </div>
  <div class="kUn__content"> 
    <h4>Мы формируем программы обучения,<br>опираясь на модель корпоративных компетенций</h4>
    <p>
      Все программы развития включают в себя работу над каждой из компетенций. 
      Сотрудники, не имеющие подчиненных, смогут развивать компетенции на программах факультета личной эффективности.
    </p>
  </div>
</div>