mixin kun()
    .kUn
        .kUn__title
            .kUn__title--img 
                img(src="../../images/image_ku/icon_n1.svg")
            .kUn__title--txt Корпоративный университет - Ваш помощник на пути к успеху! 
        .kUn__content
            h4 Цели корпоративного университета
            p Поддержка и реализация стратегии группы компаний через развитие сотрудников.
        .kUn__content.kUn__content--flex
            .kUn__item
                h4 Кому и для чего 
                    br
                    | полезен каталог:
                .kUn__promofw
                    h5 Локомотив 2018
                    p Защита проектов. 5 сессия 
                    a(href='#!') Подробнее о программе
            .kUn__item
                .kUn__block.kUn__block--withimg
                    img(src='../../images/image_ku/businessman.png')
                    p
                        b Руководителю
                    p Определить спектр возможностей по обучению и развитию и найти необходимые программы для сотрудников.
                .kUn__block.kUn__block--withimg
                    img(src='../../images/image_ku/structure.png')
                    p
                        b Представителю службы управления персоналом
                    p Планировать обучение сотрудников подразделений и выстроить работу с руководителями.
                .kUn__block.kUn__block--withimg
                    img(src='../../images/image_ku/businessman2.png')
                    p
                        b Сотруднику
                    p Сориентироваться в возможностях для развития, которые предоставляет компания, и инициировать диалог со своим руководителем.
        h4 Как записаться на программы
        .kUn__content.kUn__content--flex.reverse
            .kUn__item
                h6 Электронные курсы
                p.
                    Их можно изучать самостоятельно в удобное для вас время. 
                    Для этого нужно зайти в систему дистанционного обучения и найти нужный курс.
                h6 В онлайн-, очном или смешанном формате проводятся:
                ul 
                    li Открытые для всех программы
                        br
                        | Расписание публикуется на сайте Корпоративного университета и ежеквартально рассылается всем сотрудникам группы компаний.
                    li Программы по записи
                        br
                        | На них сотрудники назначаются по признаку работы в функции, по назначению руководителя или службы управления персоналом. 
                        | О возможностях записи на них узнавайте в Службе управления персоналом вашего предприятия.
            .kUn__item
                .safety_content_top_item
                    img(src="../../images/image_ku/icon_n021.svg")
                    span Вход в систему дистанционного обучения
                .safety_content_top_item
                    img(src="../../images/image_ku/icon_n2.svg")
                    span Онлайн-библиотека
        .kUn__content 
            h4 Мы формируем программы обучения,
                br 
                | опираясь на модель корпоративных компетенций
            p.
                Все программы развития включают в себя работу над каждой из компетенций. 
                Сотрудники, не имеющие подчиненных, смогут развивать компетенции на программах факультета личной эффективности.