section.section.quiz-block
    .title-bl
        img(src='../../images/image_quiz/quiz_title.png')
    .items-wrap
        .item
            .image
                img(src="../../images/image_quiz/quiz_img_1.png", alt)
                .title.

                    Корпоративный университет

            .date.

                Осталось 3 дня

            .body.

                Обновление корпоративной библиотеки

            .bl_link
                a.go-to(href="#") Пройти опрос
        .item
            .image
                img(src="../../images/image_quiz/quiz_img_2.png", alt)
                .title.

                    Комплаенс

            .date.result.

                Завершен

            .body
                | Выполнение требований комплаенс
                br
                | в 2019 году

            .bl_link
                a.go-to(href="#") Результаты опроса
        .item
            .image
                img(src="../../images/image_quiz/quiz_img_3.png", alt)
                .title.

                    Дирекция по общим вопросам

            .date.

                Осталось 3 дня

            .body.

                Декларация о конфликте интересов

            .bl_link
                a.go-to(href="#") Пройти опрос
        .item
            .image
                img(src="../../images/image_quiz/quiz_img_1.png", alt)
                .title.

                    Корпоративный университет

            .date.

                Осталось 3 дня

            .body.

                Обновление корпоративной библиотеки

            .bl_link
                a.go-to(href="#") Пройти опрос
        .item
            .image
                img(src="../../images/image_quiz/quiz_img_2.png", alt)
                .title.

                    Комплаенс

            .date.result.

                Завершен

            .body
                | Выполнение требований комплаенс
                br
                | в 2019 году

            .bl_link
                a.go-to(href="#") Результаты опроса
        .item
            .image
                img(src="../../images/image_quiz/quiz_img_3.png", alt)
                .title.

                    Дирекция по общим вопросам

            .date.

                Осталось 3 дня

            .body.

                Декларация о конфликте интересов

            .bl_link
                a.go-to(href="#") Пройти опрос
    .more-quiz
        a(href="#") Все опросы
