
<section class="section quiz-block">
  <div class="title-bl"><img src="../../images/image_quiz/quiz_title.png"></div>
  <div class="items-wrap">
    <div class="item">
      <div class="image"><img src="../../images/image_quiz/quiz_img_1.png" alt>
        <div class="title">
          Корпоративный университет
          
        </div>
      </div>
      <div class="date">
        Осталось 3 дня
        
      </div>
      <div class="body">
        Обновление корпоративной библиотеки
        
      </div>
      <div class="bl_link"><a class="go-to" href="#">Пройти опрос</a></div>
    </div>
    <div class="item">
      <div class="image"><img src="../../images/image_quiz/quiz_img_2.png" alt>
        <div class="title">
          Комплаенс
          
        </div>
      </div>
      <div class="date result">
        Завершен
        
      </div>
      <div class="body">Выполнение требований комплаенс<br>в 2019 году</div>
      <div class="bl_link"><a class="go-to" href="#">Результаты опроса</a></div>
    </div>
    <div class="item">
      <div class="image"><img src="../../images/image_quiz/quiz_img_3.png" alt>
        <div class="title">
          Дирекция по общим вопросам
          
        </div>
      </div>
      <div class="date">
        Осталось 3 дня
        
      </div>
      <div class="body">
        Декларация о конфликте интересов
        
      </div>
      <div class="bl_link"><a class="go-to" href="#">Пройти опрос</a></div>
    </div>
    <div class="item">
      <div class="image"><img src="../../images/image_quiz/quiz_img_1.png" alt>
        <div class="title">
          Корпоративный университет
          
        </div>
      </div>
      <div class="date">
        Осталось 3 дня
        
      </div>
      <div class="body">
        Обновление корпоративной библиотеки
        
      </div>
      <div class="bl_link"><a class="go-to" href="#">Пройти опрос</a></div>
    </div>
    <div class="item">
      <div class="image"><img src="../../images/image_quiz/quiz_img_2.png" alt>
        <div class="title">
          Комплаенс
          
        </div>
      </div>
      <div class="date result">
        Завершен
        
      </div>
      <div class="body">Выполнение требований комплаенс<br>в 2019 году</div>
      <div class="bl_link"><a class="go-to" href="#">Результаты опроса</a></div>
    </div>
    <div class="item">
      <div class="image"><img src="../../images/image_quiz/quiz_img_3.png" alt>
        <div class="title">
          Дирекция по общим вопросам
          
        </div>
      </div>
      <div class="date">
        Осталось 3 дня
        
      </div>
      <div class="body">
        Декларация о конфликте интересов
        
      </div>
      <div class="bl_link"><a class="go-to" href="#">Пройти опрос</a></div>
    </div>
  </div>
  <div class="more-quiz"><a href="#">Все опросы</a></div>
</section>