.typeblock,
.page-news-in{
    &.section{
        padding-bottom: 2rem;
    }
    &__title{
        margin-bottom: 2rem;
    }
    .news_text{
        margin-bottom: 2rem;
    }
    h2{
        font-size: 2.4rem;
        font-weight: normal;
        margin-bottom: 2rem;
    }
    .all-news_bottom{
        padding-top: 2rem;
        display: inline-block;
        width: 100%;
    }
    .table,
    .news_text_in{
        @media (max-width:768px){
            overflow: auto;
        }
    }
    table{
        th,td{
            padding: 1rem 2rem;
            vertical-align: baseline;
        }
    }
}
.page-news-in{
    padding-bottom: 2rem;
    .comments{
        position: relative;
        width: 100%;
        padding-top: 2rem;
        &_wrap{
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: flex-start;
        }
        .title-bl{
            width: 100%;
            text-align: left;
            font-size: 3.2rem;
            font-weight: bold;
            margin-bottom: 2rem;
            @media (max-width:480px){
                font-size: 2.8rem;
            }
        }
        .items-wrap{
            max-width: 100%;
            margin-left: 0;
            padding: 4rem;
            width: 100%;
            box-shadow: 0px 1.7rem 5rem rgba(0, 0, 0, 0.05);
            border-radius: 1rem;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: flex-start;
            margin-bottom: 2rem;
            .item{
                width: 100%;
            }
            &:last-child{
                margin-bottom: 0;
            }
            @media (max-width:480px){
                padding: 2rem;
            }
        }
        form{
            width: 100%;
            input[type='text']{
                cursor: pointer;
                height: 5rem;
                width: 100%;
                border: none;
                padding: 0 2rem;
                margin: 0;
                outline: none;
                font-size: 1.6rem;
                line-height: 1;
                color: #333333;
                background-color: #F0F0F0;
                border:none;
                border-radius: 5px;
                transition: .3s;
                &::placeholder {
                    font-size: 1.6rem;
                    line-height: 1;
                    color: #5e5e5e;
                }
                &:hover,
                &:focus,
                &:active {
                    outline: none;
                    border-color:#333333;
                }
            }
        }
        .heading{
            font-size: 2.4rem;
            font-weight: bold;
            margin-bottom: 1rem;
            line-height: 1.4;
            @media (max-width:480px){
                font-size: 2rem;
            }
        }
        .more-link{
            font-weight: bold;
            margin:0 auto;
            margin-bottom: 3rem;
            span{
                font-weight: normal;
            }
        }
    }
    .author{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 3rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid #F0F0F0;
        .image{
            width: 6rem;
            height: 6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            object-fit: cover;
            border-radius: 50%;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            img{
                border-radius: 50%;
                object-fit: cover;
                width: 100%;
            }
            & + .body{
                margin-left: 2rem;
            }
        }
        .body{
            width: calc(100% - 8rem);
            @media (max-width:480px){
                width: 100%;
            }
            & + form{
                margin-top: 3rem;
                padding-top: 2rem;
                border-top: 1px solid #F0F0F0;
            }
        }
        .top{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: .5rem;
        }
        .name{
            width: auto;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            font-size: 1.8rem;
            font-weight: bold;
            margin-right: 3rem;
        }
        .date{
            color:#707274;
            font-size: 1.2rem;
            font-weight: normal;
        }
        .center{
            margin-bottom: 1rem;
            color:#707274;
        }
        .reply{
            color:#707274;
            &:hover{
                color:#007BC4;
            }
        }
        
    }
}