
<div class="items-wrap">
  <div class="item">
    <div class="left"><img src="../../images/phonebook_image1.png" alt></div>
    <div class="center">
      <div class="name">Богомолов Степан <span>Эдуадович</span></div>
      <div class="desc">Заместитель Директора по персоналу и администрации<br>(региональные вопросы работы с персоналом)</div>
      <div class="company">АО "Разрез Назаровский"</div>
      <div class="btns">
        <div class="department">
          <div class="image"><img src="../../images/rectangle_first.png" alt></div>
          <div class="body body_width">
            <div class="body_in">
              <div class="close"></div>
              <div class="titbl">Огранизационная структура сотрудника</div>
              <ul class="tit_links">
                <li><a href="#">Сибирская угольная энергетическая компания</a>
                  <ul>
                    <li><a href="#">АО «СУЭК-Кузбасс»</a>
                      <ul>
                        <li><a href="#">АО «СУЭК-Кузбасс» шахтоуправление им. А.Д.Рубана</a>
                          <ul>
                            <li><a href="#">Шахта им. А.Д.Рубана</a>
                              <ul>
                                <li><a class="active" href="#"><strong>Участок по добыче угля №1</strong><br>(подразделение сотрудника)</a>
                                  <ul>
                                    <li><a href="#">Участок по добыче угля №1</a>
                                      <ul>
                                        <li class="end"><a href="#">Горнорабочий очистного забоя 5 разряда</a></li>
                                      </ul>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="location">
          <div class="image"><img src="../../images/rectangle_second.png" alt></div>
          <div class="body">
            <div class="body_in">
              <div class="close"></div>Подразделение:<br><strong>Управление по работе с персоналом</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="right">
      <div class="phones"><a href="tel:+7 (495) 911-12-10">
          +7 (495) 911-12-10
          </a><a href="tel:+7 (495) 622-49-00">
          +7 (495) 622-49-00
          </a></div>
      <div class="mobile-code"><a class="code" href="#">4993</a><a href="tel:+7 (962) 955-55-53">
          +7 (962) 955-55-53
          </a></div>
      <div class="skype"><a href="mailto:BogomolovSE@suek.ru">BogomolovSE@suek.ru</a></div>
    </div>
    <div class="hide_more_but">Раскрыть все информацию</div>
  </div>
  <div class="item">
    <div class="left"><img src="../../images/phonebook_image2.png" alt></div>
    <div class="center">
      <div class="name">Иванько Мария <span>Владимировна</span></div>
      <div class="desc">
        Заместитель директора
        
      </div>
      <div class="company">Шахтопроходческое Управление «Восточное»</div>
      <div class="btns">
        <div class="department">
          <div class="image"><img src="../../images/rectangle_first.png" alt></div>
          <div class="body body_width">
            <div class="body_in">
              <div class="close"></div>
              <div class="titbl">Огранизационная структура сотрудника</div>
              <ul class="tit_links">
                <li><a href="#">Сибирская угольная энергетическая компания</a>
                  <ul>
                    <li><a href="#">АО «СУЭК-Кузбасс»</a>
                      <ul>
                        <li><a href="#">АО «СУЭК-Кузбасс» шахтоуправление им. А.Д.Рубана</a>
                          <ul>
                            <li><a href="#">Шахта им. А.Д.Рубана</a>
                              <ul>
                                <li><a class="active" href="#"><strong>Участок по добыче угля №1</strong><br>(подразделение сотрудника)</a>
                                  <ul>
                                    <li><a href="#">Участок по добыче угля №1</a>
                                      <ul>
                                        <li class="end"><a href="#">Горнорабочий очистного забоя 5 разряда</a></li>
                                      </ul>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="location">
          <div class="image"><img src="../../images/rectangle_second.png" alt></div>
          <div class="body">
            <div class="body_in">
              <div class="close"></div>Подразделение:<br><strong>Управление по работе с персоналом</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="right">
      <div class="phones"><a href="tel:+7 (495) 911-12-10">
          +7 (495) 911-12-10
          </a><a href="tel:+7 (495) 622-49-00">
          +7 (495) 622-49-00
          </a></div>
      <div class="mobile-code"><a class="code" href="#">4993</a><a href="tel:+7 (962) 955-55-53">
          +7 (962) 955-55-53
          </a></div>
      <div class="skype"><a href="mailto:BogomolovSE@suek.ru">BogomolovSE@suek.ru</a></div>
    </div>
    <div class="hide_more_but">Раскрыть все информацию</div>
  </div>
  <div class="item">
    <div class="left"><img src="../../images/phonebook_image2.png" alt></div>
    <div class="center">
      <div class="name">Тульская Владлена <span>Вячеславовна</span></div>
      <div class="desc">Заместитель Директора по<br>персоналу и администрации</div>
      <div class="company">АО "Разрез Березовский"</div>
      <div class="btns">
        <div class="department">
          <div class="image"><img src="../../images/rectangle_first.png" alt></div>
          <div class="body body_width">
            <div class="body_in">
              <div class="close"></div>
              <div class="titbl">Огранизационная структура сотрудника</div>
              <ul class="tit_links">
                <li><a href="#">Сибирская угольная энергетическая компания</a>
                  <ul>
                    <li><a href="#">АО «СУЭК-Кузбасс»</a>
                      <ul>
                        <li><a href="#">АО «СУЭК-Кузбасс» шахтоуправление им. А.Д.Рубана</a>
                          <ul>
                            <li><a href="#">Шахта им. А.Д.Рубана</a>
                              <ul>
                                <li><a class="active" href="#"><strong>Участок по добыче угля №1</strong><br>(подразделение сотрудника)</a>
                                  <ul>
                                    <li><a href="#">Участок по добыче угля №1</a>
                                      <ul>
                                        <li class="end"><a href="#">Горнорабочий очистного забоя 5 разряда</a></li>
                                      </ul>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="location">
          <div class="image"><img src="../../images/rectangle_second.png" alt></div>
          <div class="body">
            <div class="body_in">
              <div class="close"></div>Подразделение:<br><strong>Управление по работе с персоналом</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="right">
      <div class="phones"><a href="tel:+7 (495) 911-12-10">
          +7 (495) 911-12-10
          </a><a href="tel:+7 (495) 622-49-00">
          +7 (495) 622-49-00
          </a></div>
      <div class="mobile-code"><a class="code" href="#">4993</a><a href="tel:+7 (962) 955-55-53">
          +7 (962) 955-55-53
          </a></div>
      <div class="skype"><a href="mailto:BogomolovSE@suek.ru">BogomolovSE@suek.ru</a></div>
    </div>
    <div class="hide_more_but">Раскрыть все информацию</div>
  </div>
  <div class="item">
    <div class="left"><img src="../../images/phonebook_image3.png" alt>
      <div class="bone">
        <div class="image"><img src="../../images/bone.png" alt></div>
        <div class="body"><strong>В коммандировке в Кемерово</strong><br>С 05.03.20 по 07.03.20</div>
      </div>
    </div>
    <div class="center">
      <div class="name">Борисов Роман <span>Кириллович</span></div>
      <div class="desc">Заместитель Директора по персоналу<br>и администрации</div>
      <div class="mob_butbl">
        <div class="bone">
          <div class="image"><img src="../../images/bone.png" alt></div>
          <div class="body"><strong>В коммандировке в Кемерово</strong><br>С 05.03.20 по 07.03.20</div>
        </div>
      </div>
      <div class="company">ООО "Черновский ремнтно-механический завод"</div>
      <div class="btns">
        <div class="department">
          <div class="image"><img src="../../images/rectangle_first.png" alt></div>
          <div class="body body_width">
            <div class="body_in">
              <div class="close"></div>
              <div class="titbl">Огранизационная структура сотрудника</div>
              <ul class="tit_links">
                <li><a href="#">Сибирская угольная энергетическая компания</a>
                  <ul>
                    <li><a href="#">АО «СУЭК-Кузбасс»</a>
                      <ul>
                        <li><a href="#">АО «СУЭК-Кузбасс» шахтоуправление им. А.Д.Рубана</a>
                          <ul>
                            <li><a href="#">Шахта им. А.Д.Рубана</a>
                              <ul>
                                <li><a class="active" href="#"><strong>Участок по добыче угля №1</strong><br>(подразделение сотрудника)</a>
                                  <ul>
                                    <li><a href="#">Участок по добыче угля №1</a>
                                      <ul>
                                        <li class="end"><a href="#">Горнорабочий очистного забоя 5 разряда</a></li>
                                      </ul>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="location">
          <div class="image"><img src="../../images/rectangle_second.png" alt></div>
          <div class="body">
            <div class="body_in">
              <div class="close"></div>Подразделение:<br><strong>Управление по работе с персоналом</strong>
            </div>
          </div>
        </div>
        <div class="mob_butbl">
          <div class="bone">
            <div class="image"><img src="../../images/bone.png" alt></div>
            <div class="body"><strong>В коммандировке в Кемерово</strong><br>С 05.03.20 по 07.03.20</div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="right">
      <div class="phones"><a href="tel:+7 (495) 911-12-10">
          +7 (495) 911-12-10
          </a><a href="tel:+7 (495) 622-49-00">
          +7 (495) 622-49-00
          </a></div>
      <div class="mobile-code"><a class="code" href="#">4993</a><a href="tel:+7 (962) 955-55-53">
          +7 (962) 955-55-53
          </a></div>
      <div class="skype"><a href="mailto:BogomolovSE@suek.ru">BogomolovSE@suek.ru</a></div>
    </div>
    <div class="hide_more_but">Раскрыть все информацию</div>
  </div>
  <div class="item">
    <div class="left"><img src="../../images/phonebook_image4.png" alt></div>
    <div class="center">
      <div class="name">Дудаев Тимур <span>Зелимханович</span></div>
      <div class="desc">Заместитель Директора по персоналу и администрации<br>(региональные вопросы работы с персоналом)</div>
      <div class="company">АО "Разрез Назаровский"</div>
      <div class="btns">
        <div class="department">
          <div class="image"><img src="../../images/rectangle_first.png" alt></div>
          <div class="body body_width">
            <div class="body_in">
              <div class="close"></div>
              <div class="titbl">Огранизационная структура сотрудника</div>
              <ul class="tit_links">
                <li><a href="#">Сибирская угольная энергетическая компания</a>
                  <ul>
                    <li><a href="#">АО «СУЭК-Кузбасс»</a>
                      <ul>
                        <li><a href="#">АО «СУЭК-Кузбасс» шахтоуправление им. А.Д.Рубана</a>
                          <ul>
                            <li><a href="#">Шахта им. А.Д.Рубана</a>
                              <ul>
                                <li><a class="active" href="#"><strong>Участок по добыче угля №1</strong><br>(подразделение сотрудника)</a>
                                  <ul>
                                    <li><a href="#">Участок по добыче угля №1</a>
                                      <ul>
                                        <li class="end"><a href="#">Горнорабочий очистного забоя 5 разряда</a></li>
                                      </ul>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="location">
          <div class="image"><img src="../../images/rectangle_second.png" alt></div>
          <div class="body">
            <div class="body_in">
              <div class="close"></div>Подразделение:<br><strong>Управление по работе с персоналом</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="right">
      <div class="phones"><a href="tel:+7 (495) 911-12-10">
          +7 (495) 911-12-10
          </a><a href="tel:+7 (495) 622-49-00">
          +7 (495) 622-49-00
          </a></div>
      <div class="mobile-code"><a class="code" href="#">4993</a><a href="tel:+7 (962) 955-55-53">
          +7 (962) 955-55-53
          </a></div>
      <div class="skype"><a href="mailto:BogomolovSE@suek.ru">BogomolovSE@suek.ru</a></div>
    </div>
    <div class="hide_more_but">Раскрыть все информацию</div>
  </div>
  <div class="item">
    <div class="left"><img src="../../images/phonebook_image3.png" alt>
      <div class="btwo">
        <div class="image"><img src="../../images/btwo.png" alt></div>
        <div class="body"><strong>В отпуске</strong><br>С 05.03.20 по 17.03.20</div>
      </div>
      <div class="bthree">
        <div class="image"><img src="../../images/bthree.png" alt></div>
        <div class="body">
          Не имеет доступа к ПК
          
        </div>
      </div>
    </div>
    <div class="center">
      <div class="name">Макоревич Андрей <span>Сергеевич</span></div>
      <div class="desc">
        Шахтёр
        
      </div>
      <div class="mob_butbl">
        <div class="btwo">
          <div class="image"><img src="../../images/btwo.png" alt></div>
          <div class="body"><strong>В отпуске</strong><br>С 05.03.20 по 17.03.20</div>
        </div>
        <div class="bthree">
          <div class="image"><img src="../../images/bthree.png" alt></div>
          <div class="body">
            Не имеет доступа к ПК
            
          </div>
        </div>
      </div>
      <div class="company">АО "Разрез Назаровский"</div>
      <div class="btns">
        <div class="department">
          <div class="image"><img src="../../images/rectangle_first.png" alt></div>
          <div class="body body_width">
            <div class="body_in">
              <div class="close"></div>
              <div class="titbl">Огранизационная структура сотрудника</div>
              <ul class="tit_links">
                <li><a href="#">Сибирская угольная энергетическая компания</a>
                  <ul>
                    <li><a href="#">АО «СУЭК-Кузбасс»</a>
                      <ul>
                        <li><a href="#">АО «СУЭК-Кузбасс» шахтоуправление им. А.Д.Рубана</a>
                          <ul>
                            <li><a href="#">Шахта им. А.Д.Рубана</a>
                              <ul>
                                <li><a class="active" href="#"><strong>Участок по добыче угля №1</strong><br>(подразделение сотрудника)</a>
                                  <ul>
                                    <li><a href="#">Участок по добыче угля №1</a>
                                      <ul>
                                        <li class="end"><a href="#">Горнорабочий очистного забоя 5 разряда</a></li>
                                      </ul>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="location">
          <div class="image"><img src="../../images/rectangle_second.png" alt></div>
          <div class="body">
            <div class="body_in">
              <div class="close"></div>Подразделение:<br><strong>Управление по работе с персоналом</strong>
            </div>
          </div>
        </div>
        <div class="mob_butbl">
          <div class="btwo">
            <div class="image"><img src="../../images/btwo.png" alt></div>
            <div class="body"><strong>В отпуске</strong><br>С 05.03.20 по 17.03.20</div>
          </div>
          <div class="bthree">
            <div class="image"><img src="../../images/bthree.png" alt></div>
            <div class="body">
              Не имеет доступа к ПК
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="right">
      <div class="phones"><a href="tel:-">
          -
          </a><a href="tel:-">
          -
          </a></div>
      <div class="mobile-code"><a class="code" href="#">-</a><a href="tel:-">
          -
          </a></div>
      <div class="skype"><a href="mailto:-">-</a></div>
    </div>
    <div class="hide_more_but">Раскрыть все информацию</div>
  </div>
  <div class="item">
    <div class="left"><img src="../../images/phonebook_image3.png" alt>
      <div class="btwo">
        <div class="image"><img src="../../images/btwo.png" alt></div>
        <div class="body"><strong>В отпуске</strong><br>С 05.03.20 по 17.03.20</div>
      </div>
    </div>
    <div class="center">
      <div class="name">Михничёв Олег <span>Романович</span></div>
      <div class="desc">Заместитель Директора по персоналу и администрации<br>(региональные вопросы работы с персоналом)</div>
      <div class="company">АО "Разрез Назаровский"</div>
      <div class="btns">
        <div class="department">
          <div class="image"><img src="../../images/rectangle_first.png" alt></div>
          <div class="body body_width">
            <div class="body_in">
              <div class="close"></div>
              <div class="titbl">Огранизационная структура сотрудника</div>
              <ul class="tit_links">
                <li><a href="#">Сибирская угольная энергетическая компания</a>
                  <ul>
                    <li><a href="#">АО «СУЭК-Кузбасс»</a>
                      <ul>
                        <li><a href="#">АО «СУЭК-Кузбасс» шахтоуправление им. А.Д.Рубана</a>
                          <ul>
                            <li><a href="#">Шахта им. А.Д.Рубана</a>
                              <ul>
                                <li><a class="active" href="#"><strong>Участок по добыче угля №1</strong><br>(подразделение сотрудника)</a>
                                  <ul>
                                    <li><a href="#">Участок по добыче угля №1</a>
                                      <ul>
                                        <li class="end"><a href="#">Горнорабочий очистного забоя 5 разряда</a></li>
                                      </ul>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="location">
          <div class="image"><img src="../../images/rectangle_second.png" alt></div>
          <div class="body">
            <div class="body_in">
              <div class="close"></div>Подразделение:<br><strong>Управление по работе с персоналом</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="right">
      <div class="phones"><a href="tel:+7 (495) 911-12-10">
          +7 (495) 911-12-10
          </a><a href="tel:+7 (495) 622-49-00">
          +7 (495) 622-49-00
          </a></div>
      <div class="mobile-code"><a class="code" href="#">4993</a><a href="tel:+7 (962) 955-55-53">
          +7 (962) 955-55-53
          </a></div>
      <div class="skype"><a href="mailto:BogomolovSE@suek.ru">BogomolovSE@suek.ru</a></div>
    </div>
    <div class="hide_more_but">Раскрыть все информацию</div>
  </div>
  <div class="item">
    <div class="left"><img src="../../images/phonebook_image2.png" alt></div>
    <div class="center">
      <div class="name">Японская Евгения <span>Романовна</span></div>
      <div class="desc">Заместитель Директора по персоналу и администрации<br>(региональные вопросы работы с персоналом)</div>
      <div class="company">АО "Разрез Назаровский"</div>
      <div class="btns">
        <div class="department">
          <div class="image"><img src="../../images/rectangle_first.png" alt></div>
          <div class="body body_width">
            <div class="body_in">
              <div class="close"></div>
              <div class="titbl">Огранизационная структура сотрудника</div>
              <ul class="tit_links">
                <li><a href="#">Сибирская угольная энергетическая компания</a>
                  <ul>
                    <li><a href="#">АО «СУЭК-Кузбасс»</a>
                      <ul>
                        <li><a href="#">АО «СУЭК-Кузбасс» шахтоуправление им. А.Д.Рубана</a>
                          <ul>
                            <li><a href="#">Шахта им. А.Д.Рубана</a>
                              <ul>
                                <li><a class="active" href="#"><strong>Участок по добыче угля №1</strong><br>(подразделение сотрудника)</a>
                                  <ul>
                                    <li><a href="#">Участок по добыче угля №1</a>
                                      <ul>
                                        <li class="end"><a href="#">Горнорабочий очистного забоя 5 разряда</a></li>
                                      </ul>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="location">
          <div class="image"><img src="../../images/rectangle_second.png" alt></div>
          <div class="body">
            <div class="body_in">
              <div class="close"></div>
              <div class="title"><strong style="text-transform: uppercase;">Красноярский край</strong>(16:30)<br>г. Канск, ул. Ленина, д.5,<br>стр. 7/16, этаж 3, каб. 1340</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="right">
      <div class="phones"><a href="tel:+7 (495) 911-12-10">
          +7 (495) 911-12-10
          </a><a href="tel:+7 (495) 622-49-00">
          +7 (495) 622-49-00
          </a></div>
      <div class="mobile-code"><a class="code" href="#">4993</a><a href="tel:+7 (962) 955-55-53">
          +7 (962) 955-55-53
          </a></div>
      <div class="skype"><a href="mailto:BogomolovSE@suek.ru">BogomolovSE@suek.ru</a></div>
    </div>
    <div class="hide_more_but">Раскрыть все информацию</div>
  </div>
  <div class="item">
    <div class="left"><img src="../../images/phonebook_image5.png" alt></div>
    <div class="center">
      <div class="name">Иневаткин Ян <span>Маркович</span></div>
      <div class="desc">Заместитель Директора по персоналу и администрации<br>(региональные вопросы работы с персоналом)</div>
      <div class="company">АО "Разрез Назаровский"</div>
      <div class="btns">
        <div class="department">
          <div class="image"><img src="../../images/rectangle_first.png" alt></div>
          <div class="body body_width">
            <div class="body_in">
              <div class="close"></div>
              <div class="titbl">Огранизационная структура сотрудника</div>
              <ul class="tit_links">
                <li><a class="active" href="#">Больше не работает</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="location">
          <div class="image"><img src="../../images/rectangle_second.png" alt></div>
          <div class="body">
            <div class="body_in">
              <div class="close"></div>Подразделение:<br><strong>Управление по работе с персоналом</strong>
            </div>
          </div>
        </div>
        <div class="dont_working mob_hide">Больше не работает в компании</div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="right">
      <div class="phones"><a href="tel:+7 (495) 911-12-10">
          +7 (495) 911-12-10
          </a><a href="tel:+7 (495) 622-49-00">
          +7 (495) 622-49-00
          </a></div>
      <div class="mobile-code"><a class="code" href="#">4993</a><a href="tel:+7 (962) 955-55-53">
          +7 (962) 955-55-53
          </a></div>
      <div class="skype"><a href="mailto:BogomolovSE@suek.ru">BogomolovSE@suek.ru</a></div>
    </div>
    <div class="dont_working_mob">Больше не работает в компании</div>
    <div class="hide_more_but">Раскрыть все информацию</div>
  </div>
  <div class="item">
    <div class="left"><img src="../../images/phonebook_image6.png" alt></div>
    <div class="center">
      <div class="name">Удинская Евдокия <span>Зауровна</span></div>
      <div class="desc">Заместитель Директора по персоналу и администрации<br>(региональные вопросы работы с персоналом)</div>
      <div class="company">АО "Разрез Назаровский"</div>
      <div class="btns">
        <div class="department">
          <div class="image"><img src="../../images/rectangle_first.png" alt></div>
          <div class="body body_width">
            <div class="body_in">
              <div class="close"></div>
              <div class="titbl">Огранизационная структура сотрудника</div>
              <ul class="tit_links">
                <li><a class="active" href="#">Больше не работает</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="location">
          <div class="image"><img src="../../images/rectangle_second.png" alt></div>
          <div class="body">
            <div class="body_in">
              <div class="close"></div>Подразделение:<br><strong>Управление по работе с персоналом</strong>
            </div>
          </div>
        </div>
        <div class="dont_working mob_hide">Больше не работает в компании</div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="right">
      <div class="phones"><a href="tel:+7 (495) 911-12-10">
          +7 (495) 911-12-10
          </a><a href="tel:+7 (495) 622-49-00">
          +7 (495) 622-49-00
          </a></div>
      <div class="mobile-code"><a class="code" href="#">4993</a><a href="tel:+7 (962) 955-55-53">
          +7 (962) 955-55-53
          </a></div>
      <div class="skype"><a href="mailto:BogomolovSE@suek.ru">BogomolovSE@suek.ru</a></div>
    </div>
    <div class="dont_working_mob">Больше не работает в компании</div>
    <div class="hide_more_but">Раскрыть все информацию</div>
  </div>
</div>