mixin items_wrap()
    .items-wrap
        .item
            .left
                img(src="../../images/phonebook_image1.png", alt)
            .center
                .name
                    | Богомолов Степан 
                    span Эдуадович
                .desc
                    | Заместитель Директора по персоналу и администрации
                    br
                    | (региональные вопросы работы с персоналом)
    
                .company АО "Разрез Назаровский"
                .btns
                    .department
                        .image
                            img(src="../../images/rectangle_first.svg", alt)
                        .body.body_width
                            .body_in
                                .close
                                .titbl Огранизационная структура сотрудника
                                ul.tit_links
                                    li
                                        a(href="#") Сибирская угольная энергетическая компания
                                        ul
                                            li
                                                a(href="#") АО «СУЭК-Кузбасс»
                                                ul
                                                    li
                                                        a(href="#") АО «СУЭК-Кузбасс» шахтоуправление им. А.Д.Рубана
                                                        ul
                                                            li
                                                                a(href="#") Шахта им. А.Д.Рубана
                                                                ul
                                                                    li
                                                                        a.active(href="#")
                                                                            strong Участок по добыче угля №1
                                                                            br
                                                                            | (подразделение сотрудника)
                                                                        ul
                                                                            li
                                                                                a(href="#") Участок по добыче угля №1
                                                                                ul
                                                                                    li.end
                                                                                        a(href="#") Горнорабочий очистного забоя 5 разряда
                    .location
                        .image
                            img(src="../../images/rectangle_second.svg", alt)
                        .body
                            .body_in
                                .close
                                | Подразделение:
                                br
                                strong Управление по работе с персоналом
            .clear
            .right
                .phones
                    a(href="tel:+7 (495) 911-12-10").
    
                        +7 (495) 911-12-10
    
                    a(href="tel:+7 (495) 622-49-00").
    
                        +7 (495) 622-49-00
    
                .mobile-code
                    a.code(href="#") 4993
                    a(href="tel:+7 (962) 955-55-53").
    
                        +7 (962) 955-55-53
    
                .skype
                    a(href="mailto:BogomolovSE@suek.ru") BogomolovSE@suek.ru
            .hide_more_but Раскрыть все информацию
        .item
            .left
                img(src="../../images/phonebook_image2.png", alt)
            .center
                .name
                    | Иванько Мария 
                    span Владимировна
                .desc.
    
                    Заместитель директора
    
                .company Шахтопроходческое Управление «Восточное»
                .btns
                    .department
                        .image
                            img(src="../../images/rectangle_first.svg", alt)
                        .body.body_width
                            .body_in
                                .close
                                .titbl Огранизационная структура сотрудника
                                ul.tit_links
                                    li
                                        a(href="#") Сибирская угольная энергетическая компания
                                        ul
                                            li
                                                a(href="#") АО «СУЭК-Кузбасс»
                                                ul
                                                    li
                                                        a(href="#") АО «СУЭК-Кузбасс» шахтоуправление им. А.Д.Рубана
                                                        ul
                                                            li
                                                                a(href="#") Шахта им. А.Д.Рубана
                                                                ul
                                                                    li
                                                                        a.active(href="#")
                                                                            strong Участок по добыче угля №1
                                                                            br
                                                                            | (подразделение сотрудника)
                                                                        ul
                                                                            li
                                                                                a(href="#") Участок по добыче угля №1
                                                                                ul
                                                                                    li.end
                                                                                        a(href="#") Горнорабочий очистного забоя 5 разряда
                    .location
                        .image
                            img(src="../../images/rectangle_second.svg", alt)
                        .body
                            .body_in
                                .close
                                | Подразделение:
                                br
                                strong Управление по работе с персоналом
            .clear
            .right
                .phones
                    a(href="tel:+7 (495) 911-12-10").
    
                        +7 (495) 911-12-10
    
                    a(href="tel:+7 (495) 622-49-00").
    
                        +7 (495) 622-49-00
    
                .mobile-code
                    a.code(href="#") 4993
                    a(href="tel:+7 (962) 955-55-53").
    
                        +7 (962) 955-55-53
    
                .skype
                    a(href="mailto:BogomolovSE@suek.ru") BogomolovSE@suek.ru
            .hide_more_but Раскрыть все информацию
        .item
            .left
                img(src="../../images/phonebook_image2.png", alt)
            .center
                .name
                    | Тульская Владлена 
                    span Вячеславовна
                .desc
                    | Заместитель Директора по
                    br
                    | персоналу и администрации
    
                .company АО "Разрез Березовский"
                .btns
                    .department
                        .image
                            img(src="../../images/rectangle_first.svg", alt)
                        .body.body_width
                            .body_in
                                .close
                                .titbl Огранизационная структура сотрудника
                                ul.tit_links
                                    li
                                        a(href="#") Сибирская угольная энергетическая компания
                                        ul
                                            li
                                                a(href="#") АО «СУЭК-Кузбасс»
                                                ul
                                                    li
                                                        a(href="#") АО «СУЭК-Кузбасс» шахтоуправление им. А.Д.Рубана
                                                        ul
                                                            li
                                                                a(href="#") Шахта им. А.Д.Рубана
                                                                ul
                                                                    li
                                                                        a.active(href="#")
                                                                            strong Участок по добыче угля №1
                                                                            br
                                                                            | (подразделение сотрудника)
                                                                        ul
                                                                            li
                                                                                a(href="#") Участок по добыче угля №1
                                                                                ul
                                                                                    li.end
                                                                                        a(href="#") Горнорабочий очистного забоя 5 разряда
                    .location
                        .image
                            img(src="../../images/rectangle_second.svg", alt)
                        .body
                            .body_in
                                .close
                                | Подразделение:
                                br
                                strong Управление по работе с персоналом
            .clear
            .right
                .phones
                    a(href="tel:+7 (495) 911-12-10").
    
                        +7 (495) 911-12-10
    
                    a(href="tel:+7 (495) 622-49-00").
    
                        +7 (495) 622-49-00
    
                .mobile-code
                    a.code(href="#") 4993
                    a(href="tel:+7 (962) 955-55-53").
    
                        +7 (962) 955-55-53
    
                .skype
                    a(href="mailto:BogomolovSE@suek.ru") BogomolovSE@suek.ru
            .hide_more_but Раскрыть все информацию
        .item
            .left
                img(src="../../images/phonebook_image3.png", alt)
                .bone
                    .image
                        img(src="../../images/bone.png", alt)
                    .body
                        strong В коммандировке в Кемерово
                        br
                        | С 05.03.20 по 07.03.20
    
            .center
                .name
                    | Борисов Роман 
                    span Кириллович
                .desc
                    | Заместитель Директора по персоналу
                    br
                    | и администрации
    
                .mob_butbl
                    .bone
                        .image
                            img(src="../../images/bone.png", alt)
                        .body
                            strong В коммандировке в Кемерово
                            br
                            | С 05.03.20 по 07.03.20
    
                .company ООО "Черновский ремонтно-механический завод"
                .btns
                    .department
                        .image
                            img(src="../../images/rectangle_first.svg", alt)
                        .body.body_width
                            .body_in
                                .close
                                .titbl Огранизационная структура сотрудника
                                ul.tit_links
                                    li
                                        a(href="#") Сибирская угольная энергетическая компания
                                        ul
                                            li
                                                a(href="#") АО «СУЭК-Кузбасс»
                                                ul
                                                    li
                                                        a(href="#") АО «СУЭК-Кузбасс» шахтоуправление им. А.Д.Рубана
                                                        ul
                                                            li
                                                                a(href="#") Шахта им. А.Д.Рубана
                                                                ul
                                                                    li
                                                                        a.active(href="#")
                                                                            strong Участок по добыче угля №1
                                                                            br
                                                                            | (подразделение сотрудника)
                                                                        ul
                                                                            li
                                                                                a(href="#") Участок по добыче угля №1
                                                                                ul
                                                                                    li.end
                                                                                        a(href="#") Горнорабочий очистного забоя 5 разряда
                    .location
                        .image
                            img(src="../../images/rectangle_second.svg", alt)
                        .body
                            .body_in
                                .close
                                | Подразделение:
                                br
                                strong Управление по работе с персоналом
                    .mob_butbl
                        .bone
                            .image
                                img(src="../../images/bone.png", alt)
                            .body
                                strong В коммандировке в Кемерово
                                br
                                | С 05.03.20 по 07.03.20
    
            .clear
            .right
                .phones
                    a(href="tel:+7 (495) 911-12-10").
    
                        +7 (495) 911-12-10
    
                    a(href="tel:+7 (495) 622-49-00").
    
                        +7 (495) 622-49-00
    
                .mobile-code
                    a.code(href="#") 4993
                    a(href="tel:+7 (962) 955-55-53").
    
                        +7 (962) 955-55-53
    
                .skype
                    a(href="mailto:BogomolovSE@suek.ru") BogomolovSE@suek.ru
            .hide_more_but Раскрыть все информацию
        .item
            .left
                img(src="../../images/phonebook_image4.png", alt)
            .center
                .name
                    | Дудаев Тимур 
                    span Зелимханович
                .desc
                    | Заместитель Директора по персоналу и администрации
                    br
                    | (региональные вопросы работы с персоналом)
    
                .company АО "Разрез Назаровский"
                .btns
                    .department
                        .image
                            img(src="../../images/rectangle_first.svg", alt)
                        .body.body_width
                            .body_in
                                .close
                                .titbl Огранизационная структура сотрудника
                                ul.tit_links
                                    li
                                        a(href="#") Сибирская угольная энергетическая компания
                                        ul
                                            li
                                                a(href="#") АО «СУЭК-Кузбасс»
                                                ul
                                                    li
                                                        a(href="#") АО «СУЭК-Кузбасс» шахтоуправление им. А.Д.Рубана
                                                        ul
                                                            li
                                                                a(href="#") Шахта им. А.Д.Рубана
                                                                ul
                                                                    li
                                                                        a.active(href="#")
                                                                            strong Участок по добыче угля №1
                                                                            br
                                                                            | (подразделение сотрудника)
                                                                        ul
                                                                            li
                                                                                a(href="#") Участок по добыче угля №1
                                                                                ul
                                                                                    li.end
                                                                                        a(href="#") Горнорабочий очистного забоя 5 разряда
                    .location
                        .image
                            img(src="../../images/rectangle_second.svg", alt)
                        .body
                            .body_in
                                .close
                                | Подразделение:
                                br
                                strong Управление по работе с персоналом
            .clear
            .right
                .phones
                    a(href="tel:+7 (495) 911-12-10").
    
                        +7 (495) 911-12-10
    
                    a(href="tel:+7 (495) 622-49-00").
    
                        +7 (495) 622-49-00
    
                .mobile-code
                    a.code(href="#") 4993
                    a(href="tel:+7 (962) 955-55-53").
    
                        +7 (962) 955-55-53
    
                .skype
                    a(href="mailto:BogomolovSE@suek.ru") BogomolovSE@suek.ru
            .hide_more_but Раскрыть все информацию
        .item
            .left
                img(src="../../images/phonebook_image3.png", alt)
                .btwo
                    .image
                        img(src="../../images/btwo.png", alt)
                    .body
                        strong В отпуске
                        br
                        | С 05.03.20 по 17.03.20
    
                .bthree
                    .image
                        img(src="../../images/bthree.png", alt)
                    .body.
    
                        Не имеет доступа к ПК
    
            .center
                .name
                    | Макоревич Андрей 
                    span Сергеевич
                .desc.
    
                    Шахтёр
    
                .mob_butbl
                    .btwo
                        .image
                            img(src="../../images/btwo.png", alt)
                        .body
                            strong В отпуске
                            br
                            | С 05.03.20 по 17.03.20
    
                    .bthree
                        .image
                            img(src="../../images/bthree.png", alt)
                        .body.
    
                            Не имеет доступа к ПК
    
                .company АО "Разрез Назаровский"
                .btns
                    .department
                        .image
                            img(src="../../images/rectangle_first.svg", alt)
                        .body.body_width
                            .body_in
                                .close
                                .titbl Огранизационная структура сотрудника
                                ul.tit_links
                                    li
                                        a(href="#") Сибирская угольная энергетическая компания
                                        ul
                                            li
                                                a(href="#") АО «СУЭК-Кузбасс»
                                                ul
                                                    li
                                                        a(href="#") АО «СУЭК-Кузбасс» шахтоуправление им. А.Д.Рубана
                                                        ul
                                                            li
                                                                a(href="#") Шахта им. А.Д.Рубана
                                                                ul
                                                                    li
                                                                        a.active(href="#")
                                                                            strong Участок по добыче угля №1
                                                                            br
                                                                            | (подразделение сотрудника)
                                                                        ul
                                                                            li
                                                                                a(href="#") Участок по добыче угля №1
                                                                                ul
                                                                                    li.end
                                                                                        a(href="#") Горнорабочий очистного забоя 5 разряда
                    .location
                        .image
                            img(src="../../images/rectangle_second.svg", alt)
                        .body
                            .body_in
                                .close
                                | Подразделение:
                                br
                                strong Управление по работе с персоналом
                    .mob_butbl
                        .btwo
                            .image
                                img(src="../../images/btwo.png", alt)
                            .body
                                strong В отпуске
                                br
                                | С 05.03.20 по 17.03.20
    
                        .bthree
                            .image
                                img(src="../../images/bthree.png", alt)
                            .body.
    
                                Не имеет доступа к ПК
    
            .clear
            .right
                .phones
                    a(href="tel:-").
    
                        -
    
                    a(href="tel:-").
    
                        -
    
                .mobile-code
                    a.code(href="#") -
                    a(href="tel:-").
    
                        -
    
                .skype
                    a(href="mailto:-") -
            .hide_more_but Раскрыть все информацию
        .item
            .left
                img(src="../../images/phonebook_image3.png", alt)
                .btwo
                    .image
                        img(src="../../images/btwo.png", alt)
                    .body
                        strong В отпуске
                        br
                        | С 05.03.20 по 17.03.20
    
            .center
                .name
                    | Михничёв Олег 
                    span Романович
                .desc
                    | Заместитель Директора по персоналу и администрации
                    br
                    | (региональные вопросы работы с персоналом)
    
                .company АО "Разрез Назаровский"
                .btns
                    .department
                        .image
                            img(src="../../images/rectangle_first.svg", alt)
                        .body.body_width
                            .body_in
                                .close
                                .titbl Огранизационная структура сотрудника
                                ul.tit_links
                                    li
                                        a(href="#") Сибирская угольная энергетическая компания
                                        ul
                                            li
                                                a(href="#") АО «СУЭК-Кузбасс»
                                                ul
                                                    li
                                                        a(href="#") АО «СУЭК-Кузбасс» шахтоуправление им. А.Д.Рубана
                                                        ul
                                                            li
                                                                a(href="#") Шахта им. А.Д.Рубана
                                                                ul
                                                                    li
                                                                        a.active(href="#")
                                                                            strong Участок по добыче угля №1
                                                                            br
                                                                            | (подразделение сотрудника)
                                                                        ul
                                                                            li
                                                                                a(href="#") Участок по добыче угля №1
                                                                                ul
                                                                                    li.end
                                                                                        a(href="#") Горнорабочий очистного забоя 5 разряда
                    .location
                        .image
                            img(src="../../images/rectangle_second.svg", alt)
                        .body
                            .body_in
                                .close
                                | Подразделение:
                                br
                                strong Управление по работе с персоналом
            .clear
            .right
                .phones
                    a(href="tel:+7 (495) 911-12-10").
    
                        +7 (495) 911-12-10
    
                    a(href="tel:+7 (495) 622-49-00").
    
                        +7 (495) 622-49-00
    
                .mobile-code
                    a.code(href="#") 4993
                    a(href="tel:+7 (962) 955-55-53").
    
                        +7 (962) 955-55-53
    
                .skype
                    a(href="mailto:BogomolovSE@suek.ru") BogomolovSE@suek.ru
            .hide_more_but Раскрыть все информацию
        .item
            .left
                img(src="../../images/phonebook_image2.png", alt)
            .center
                .name
                    | Японская Евгения 
                    span Романовна
                .desc
                    | Заместитель Директора по персоналу и администрации
                    br
                    | (региональные вопросы работы с персоналом)
    
                .company АО "Разрез Назаровский"
                .btns
                    .department
                        .image
                            img(src="../../images/rectangle_first.svg", alt)
                        .body.body_width
                            .body_in
                                .close
                                .titbl Огранизационная структура сотрудника
                                ul.tit_links
                                    li
                                        a(href="#") Сибирская угольная энергетическая компания
                                        ul
                                            li
                                                a(href="#") АО «СУЭК-Кузбасс»
                                                ul
                                                    li
                                                        a(href="#") АО «СУЭК-Кузбасс» шахтоуправление им. А.Д.Рубана
                                                        ul
                                                            li
                                                                a(href="#") Шахта им. А.Д.Рубана
                                                                ul
                                                                    li
                                                                        a.active(href="#")
                                                                            strong Участок по добыче угля №1
                                                                            br
                                                                            | (подразделение сотрудника)
                                                                        ul
                                                                            li
                                                                                a(href="#") Участок по добыче угля №1
                                                                                ul
                                                                                    li.end
                                                                                        a(href="#") Горнорабочий очистного забоя 5 разряда
                    .location
                        .image
                            img(src="../../images/rectangle_second.svg", alt)
                        .body
                            .body_in
                                .close
                                .title
                                    strong(style="text-transform: uppercase;") Красноярский край
                                    | (16:30)
                                    br
                                    | г. Канск, ул. Ленина, д.5,
                                    br
                                    | стр. 7/16, этаж 3, каб. 1340
    
            .clear
            .right
                .phones
                    a(href="tel:+7 (495) 911-12-10").
        
                        +7 (495) 911-12-10
        
                    a(href="tel:+7 (495) 622-49-00").
        
                        +7 (495) 622-49-00
        
                .mobile-code
                    a.code(href="#") 4993
                    a(href="tel:+7 (962) 955-55-53").
        
                        +7 (962) 955-55-53
        
                .skype
                    a(href="mailto:BogomolovSE@suek.ru") BogomolovSE@suek.ru
            .hide_more_but Раскрыть все информацию
        .item
            .left
                img(src="../../images/phonebook_image5.png", alt)
            .center
                .name
                    | Иневаткин Ян 
                    span Маркович
                .desc
                    | Заместитель Директора по персоналу и администрации
                    br
                    | (региональные вопросы работы с персоналом)
    
                .company АО "Разрез Назаровский"
                .btns
                    .department
                        .image
                            img(src="../../images/rectangle_first.svg", alt)
                        .body.body_width
                            .body_in
                                .close
                                .titbl Огранизационная структура сотрудника
                                ul.tit_links
                                    li
                                        a.active(href="#") Больше не работает
                    .location
                        .image
                            img(src="../../images/rectangle_second.svg", alt)
                        .body
                            .body_in
                                .close
                                | Подразделение:
                                br
                                strong Управление по работе с персоналом
                    .dont_working.mob_hide Больше не работает в компании
            .clear
            .right
                .phones
                    a(href="tel:+7 (495) 911-12-10").
    
                        +7 (495) 911-12-10
    
                    a(href="tel:+7 (495) 622-49-00").
    
                        +7 (495) 622-49-00
    
                .mobile-code
                    a.code(href="#") 4993
                    a(href="tel:+7 (962) 955-55-53").
    
                        +7 (962) 955-55-53
    
                .skype
                    a(href="mailto:BogomolovSE@suek.ru") BogomolovSE@suek.ru
            .dont_working_mob Больше не работает в компании
            .hide_more_but Раскрыть все информацию
        .item
            .left
                img(src="../../images/phonebook_image6.png", alt)
            .center
                .name
                    | Удинская Евдокия 
                    span Зауровна
                .desc
                    | Заместитель Директора по персоналу и администрации
                    br
                    | (региональные вопросы работы с персоналом)
    
                .company АО "Разрез Назаровский"
                .btns
                    .department
                        .image
                            img(src="../../images/rectangle_first.svg", alt)
                        .body.body_width
                            .body_in
                                .close
                                .titbl Огранизационная структура сотрудника
                                ul.tit_links
                                    li
                                        a.active(href="#") Больше не работает
                    .location
                        .image
                            img(src="../../images/rectangle_second.svg", alt)
                        .body
                            .body_in
                                .close
                                | Подразделение:
                                br
                                strong Управление по работе с персоналом
                    .dont_working.mob_hide Больше не работает в компании
            .clear
            .right
                .phones
                    a(href="tel:+7 (495) 911-12-10").
    
                        +7 (495) 911-12-10
    
                    a(href="tel:+7 (495) 622-49-00").
    
                        +7 (495) 622-49-00
    
                .mobile-code
                    a.code(href="#") 4993
                    a(href="tel:+7 (962) 955-55-53").
    
                        +7 (962) 955-55-53
    
                .skype
                    a(href="mailto:BogomolovSE@suek.ru") BogomolovSE@suek.ru
            .dont_working_mob Больше не работает в компании
            .hide_more_but Раскрыть все информацию