.accordion
    .accordion__header
        button.btn.btn-link.btn-accordion
            span История изменения статусов заявки
            svg.w14
                use(href="../../images/sprite.svg#i_arrow")
    .accordion__body
        .table
            .table__wrap
                .table-header
                    .date Дата изменения
                    .status Статус
                    .comment Комментарий
                .table-body
                    .table-row
                        .date 2020-08-26 14:05
                        .status.orange В очереди
                        .comment
                    .table-row
                        .date 2020-08-26 14:05
                        .status.red Отклонено
                        .comment
                    .table-row
                        .date 2020-08-26 14:05
                        .status.red Отклонено
                        .comment