.news-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 6rem; }

.news-block .popular-news {
  padding: 2rem;
  box-sizing: border-box; }

.news-block .popular-news .title-bl {
  text-align: left;
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #333;
  padding-bottom: 1rem;
  margin-bottom: 0;
  border-bottom: 2px solid #333; }

.news-block.news-block-new .big_news,
.news-block.news-block-new .item_bl {
  float: left;
  margin-right: 3rem;
  width: calc(24.66% - 3rem);
  box-sizing: border-box; }

.news-block .popular-news .item {
  padding: 1rem 0 2rem;
  border-bottom: 1px solid #f0f0f0;
  box-sizing: border-box; }

.news-block .popular-news .item.with-image {
  display: -ms-flexbox;
  display: flex; }

.news-block .popular-news .item.with-image .image {
  min-width: 3.6rem;
  margin-left: 2rem; }

.news-block .popular-news .item .title {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #333; }

.news-block .popular-news .item .title a {
  text-decoration: none;
  color: #333; }

.news-block .popular-news .item .title a:hover {
  text-decoration: underline; }

.news-block .popular-news .item .date {
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: rgba(112, 114, 116, 0.6);
  margin: .37rem 0; }

.news-block .more-news {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  text-align: center; }

.news-block.news-block-new .item_bl .date_news {
  margin-bottom: 14px; }

.news-block .more-news a {
  display: inline-block;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 2.2rem;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #2E7CC3;
  padding-right: 2.8rem;
  background: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.7564e-08 4C5.19421e-08 3.63181 0.299234 3.33333 0.668359 3.33333L9.69397 3.33333L7.45175 1.14296C7.18803 0.885344 7.18361 0.463257 7.44189 0.200206C7.70016 -0.0628451 8.12332 -0.0672482 8.38704 0.190371L11.7993 3.5237C11.9277 3.6491 12 3.82078 12 4C12 4.17922 11.9277 4.3509 11.7993 4.4763L8.38704 7.80963C8.12332 8.06725 7.70016 8.06285 7.44189 7.79979C7.18361 7.53674 7.18803 7.11466 7.45175 6.85704L9.69397 4.66667L0.668358 4.66667C0.299234 4.66667 4.31858e-08 4.36819 4.7564e-08 4Z' fill='%23949300'/%3E%3C/svg%3E%0A") 100% 50% no-repeat; }

.news-block.news-block-new .right-side {
  background: #fff;
  border-radius: 5px; }
  .news-block.news-block-new .right-side .overlook-news {
    box-shadow: none; }
    .news-block.news-block-new .right-side .overlook-news + .popular-news {
      box-shadow: none; }
  .news-block.news-block-new .right-side .item:last-child {
    border-bottom: none;
    padding-bottom: 0; }

.news_slider {
  padding: 3rem 4rem;
  margin-bottom: 6rem;
  width: 100%;
  float: left;
  box-sizing: border-box;
  background: #fbfbfb; }

.news_slider .items-wrap.owl-carousel .item {
  height: 100%; }

.news_slider .items-wrap {
  display: -ms-flexbox;
  display: flex; }

.news_slider .items-wrap .item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto; }

.news_slider .items-wrap .item img {
  width: auto; }

.news_slider .items-wrap .item .city {
  width: 100%;
  margin-bottom: 1rem;
  display: -ms-flexbox;
  display: flex; }

.news_slider .items-wrap .item .city .image {
  min-width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  font-size: 0;
  margin-bottom: 0; }

.news_slider .items-wrap .item .city .body {
  width: calc(100% - 4rem); }

.news_slider .items-wrap .item .city .body .title {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #333;
  text-decoration: none; }

.news_slider .items-wrap .item .city .body .desc {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%; }

.news_slider .items-wrap .item .image {
  margin-bottom: 1rem;
  font-size: 0; }

.news_slider .items-wrap .item .btns-wrap {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: .7rem; }

.news_slider .items-wrap .item .btns-wrap a {
  padding-top: .3rem;
  padding-bottom: .3rem;
  margin-right: 2rem;
  display: block;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #707274;
  text-decoration: none;
  padding-left: 2.8rem; }

.news_slider .items-wrap .item .btns-wrap a.like {
  background: url("data:image/svg+xml,%3Csvg width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.2522 6.31868L9.7956 4.03263C8.37075 1.79643 6.40361 1.42907 4.8206 2.00927C3.1565 2.61919 1.73684 4.34447 1.73684 6.77712C1.73684 7.39552 2.10652 8.37622 3.03784 9.69153C3.92809 10.9488 5.15849 12.2735 6.4712 13.5325C7.77581 14.7837 9.11687 15.9277 10.2029 16.8293C10.5392 17.1085 10.8371 17.353 11.1068 17.5744C11.1508 17.6105 11.194 17.646 11.2366 17.6809C11.5215 17.4374 11.8434 17.1621 12.1989 16.8537C13.2359 15.9541 14.5134 14.8116 15.7545 13.5622C17.0032 12.3052 18.1726 10.982 19.0188 9.72557C19.9005 8.41634 20.2632 7.42291 20.2632 6.77712C20.2632 4.30034 18.9066 2.60191 17.4021 2.0147C16.0078 1.47049 14.1645 1.75662 12.7108 4.03389L11.2522 6.31868ZM11.335 19.9198C11.303 19.9501 11.2758 19.9769 11.2536 20C11.2362 19.9818 11.2155 19.9613 11.1917 19.9386C10.9947 19.751 10.5816 19.4119 10.0254 18.9554C7.05433 16.5165 0 10.726 0 6.77712C0 1.01603 6.17581 -2.13721 10.106 1.6546C10.5162 2.05032 10.9019 2.52168 11.2536 3.07361C11.6079 2.5185 11.992 2.04533 12.397 1.64896C16.2526 -2.12512 22 1.06314 22 6.77712C22 10.7895 15.0792 16.7032 12.3089 19.0704C11.859 19.4549 11.5185 19.7458 11.335 19.9198Z' fill='%23707274'/%3E%3C/svg%3E%0A") 0 50% no-repeat;
  background-size: contain; }

.news_slider .items-wrap .item .btns-wrap a.comment {
  background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.4907 14.3021L16.9527 13.6219C17.7681 12.4216 18.2353 11.0037 18.2353 9.48394C18.2353 5.30767 14.6375 1.76471 10 1.76471C5.3625 1.76471 1.76471 5.30767 1.76471 9.48394C1.76471 13.6602 5.3625 17.2032 10 17.2032C10.9175 17.2032 11.7961 17.063 12.6148 16.8062L13.0925 16.6563L17.4701 17.7687L16.4907 14.3021ZM19.0118 19.9813C19.4508 20.0929 19.8459 19.6872 19.7227 19.2512L18.4124 14.6136C19.4171 13.1348 20 11.3739 20 9.48394C20 4.2461 15.5228 0 10 0C4.47715 0 0 4.2461 0 9.48394C0 14.7218 4.47715 18.9679 10 18.9679C11.098 18.9679 12.1547 18.8 13.1431 18.4899L19.0118 19.9813Z' fill='%23707274'/%3E%3C/svg%3E%0A") 0 50% no-repeat;
  background-size: contain; }

.news_slider .items-wrap .item .text {
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #333;
  margin-bottom: auto; }

.news_slider .items-wrap .item .tags {
  padding-top: .6rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem; }

.news_slider .items-wrap .item .tags a {
  text-decoration: none; }

.news_slider .items-wrap .item .tags a:hover {
  text-decoration: underline; }

.news_slider .owl-nav button {
  position: absolute;
  top: 50%;
  width: 4rem;
  height: 4rem;
  border-radius: 25rem;
  border: 1px solid #f0f0f0;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  background: #fff url("data:image/svg+xml,%3Csvg width='8' height='15' viewBox='0 0 8 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.15' fill-rule='evenodd' clip-rule='evenodd' d='M7.68239 14.3035C7.23267 14.7878 6.48161 14.7878 6.0319 14.3035L0.31761 8.14967C-0.105871 7.69361 -0.105871 6.97322 0.317611 6.51716L6.0319 0.363317L6.52042 0.81695L6.0319 0.363316C6.48161 -0.120996 7.23267 -0.120996 7.68239 0.363316L7.19386 0.81695L7.68239 0.363317C8.10587 0.819374 8.10587 1.53977 7.68239 1.99582L7.19815 1.54617L7.68239 1.99582L2.72605 7.33342L7.68239 12.671C8.10587 13.1271 8.10587 13.8475 7.68239 14.3035Z' fill='%23707274'/%3E%3C/svg%3E%0A") 50% 50% no-repeat; }

.news_slider .owl-nav button:focus {
  outline: none; }

.news_slider .owl-nav button:hover {
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background: #fff url("data:image/svg+xml,%3Csvg width='8' height='15' viewBox='0 0 8 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='1' fill-rule='evenodd' clip-rule='evenodd' d='M7.68239 14.3035C7.23267 14.7878 6.48161 14.7878 6.0319 14.3035L0.31761 8.14967C-0.105871 7.69361 -0.105871 6.97322 0.317611 6.51716L6.0319 0.363317L6.52042 0.81695L6.0319 0.363316C6.48161 -0.120996 7.23267 -0.120996 7.68239 0.363316L7.19386 0.81695L7.68239 0.363317C8.10587 0.819374 8.10587 1.53977 7.68239 1.99582L7.19815 1.54617L7.68239 1.99582L2.72605 7.33342L7.68239 12.671C8.10587 13.1271 8.10587 13.8475 7.68239 14.3035Z' fill='%23707274'/%3E%3C/svg%3E%0A") 50% 50% no-repeat; }

.news_slider .owl-nav button span {
  display: none; }

.news_slider .owl-nav button.owl-prev {
  left: -6rem; }

.news_slider .owl-nav button.owl-next {
  right: -6rem;
  transform: rotate(180deg); }

.news_slider .owl-nav button.owl-next:hover {
  box-shadow: 0 -0.4rem 0.4rem rgba(0, 0, 0, 0.25); }

.news-block.news-block-new .first-block {
  float: left;
  margin-right: 30px;
  width: calc(25.66% - 30px);
  box-sizing: border-box; }

.news-block.news-block-new .first-block > div {
  float: none;
  width: 100%; }

.news-block.news-block-new .first-block > div:first-child {
  margin-bottom: 30px; }

@media (min-width: 1125px) {
  .news-block.news-block-new div.news {
    float: left;
    width: calc(53.34% - 30px);
    margin-bottom: 30px; }
  .news-block.news-block-new div.news > div {
    width: calc(50% - 30px) !important; } }

@media (max-width: 1124px) {
  .news-block.news-block-new .first-block {
    width: calc(50% - 30px); }
  .news-block.news-block-new div.news {
    float: none;
    clear: both;
    overflow: hidden; }
  div.title-body {
    width: 70%; }
  div.title-body br {
    display: none; } }

@media (max-width: 768px) {
  .news-block.news-block-new .first-block,
  .news-block.news-block-new .right-side {
    width: 100%; }
  .blocks-wrapper.blocks-news .news-block.news-block-new .news_page .item_bl {
    margin-bottom: 20px; }
  .blocks-wrapper.blocks-news .news-block.news-block-new .news_page div.news .item_bl:last-child {
    margin-bottom: 0; }
  .news-block.news-block-new .big_news .btns-wrap {
    border-top: 0;
    border-bottom: 1px solid #efefef; }
  div.title-body br {
    display: block; }
  div.title-body {
    width: 100%; }
  .header_slider_wrap .header_slider .slider_block.slider_block1 .slider_bottom,
  .header_slider_wrap .header_slider .slider_block.slider_block6 .slider_bottom {
    margin-bottom: 50px; }
  .step_blocks.division .step_four ul.step_four_blocks li a {
    font-size: 12px; }
  .step_blocks.division .step_four ul.step_four_blocks li a {
    padding-top: 2px;
    padding-bottom: 2px;
    min-height: 52px; } }

.popular-quiz {
  padding: 20px;
  padding-top: 0;
  box-sizing: border-box; }
  .popular-quiz .title-bl {
    text-align: left;
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 1.2;
    color: #333;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #333; }
  .popular-quiz .item {
    padding: 1.4rem 0 1.8rem;
    border-bottom: 1px solid #f0f0f0;
    box-sizing: border-box;
    margin-bottom: 1rem; }
    .popular-quiz .item .title {
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 1.2;
      color: #333; }
      .popular-quiz .item .title a {
        text-decoration: none;
        color: #333;
        display: inline-block; }
        .popular-quiz .item .title a:hover {
          text-decoration: underline; }
    .popular-quiz .item .image img {
      border-radius: 5px;
      width: 100%; }
    .popular-quiz .item .left {
      margin-right: 2rem; }
    .popular-quiz .item .right {
      margin-left: 2rem; }
    .popular-quiz .item.with-image {
      display: -ms-flexbox;
      display: flex; }
      .popular-quiz .item.with-image .image {
        min-width: 3.6rem;
        max-width: 5rem; }
    .popular-quiz .item .date {
      font-weight: normal;
      font-size: 1.2rem;
      line-height: 1.1;
      color: rgba(112, 114, 116, 0.6);
      margin: .4rem 0;
      padding: .3rem .2rem .3rem 2.5rem;
      background: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 19C14.9706 19 19 14.9706 19 10C19 5.02944 14.9706 1 10 1C5.02944 1 1 5.02944 1 10C1 14.9706 5.02944 19 10 19ZM10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20Z' fill='%23B8B9BA'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 4.95459C10.2761 4.95459 10.5 5.17845 10.5 5.45459V10.4091H14.5454C14.8216 10.4091 15.0454 10.633 15.0454 10.9091C15.0454 11.1853 14.8216 11.4091 14.5454 11.4091H10C9.72386 11.4091 9.5 11.1853 9.5 10.9091V5.45459C9.5 5.17845 9.72386 4.95459 10 4.95459Z' fill='%23B8B9BA'/%3E%3C/svg%3E%0A") 0 45% no-repeat; }
      .popular-quiz .item .date.result {
        background: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.4213 10.0685C22.4213 4.5166 17.9045 0 12.3524 0C6.80048 0 2.28369 4.5166 2.28369 10.0685C2.28369 15.6202 6.80048 20.1368 12.3524 20.1368C17.9045 20.1368 22.4213 15.6202 22.4213 10.0685ZM10.5576 14.3635L7.11997 10.9259L8.16195 9.88407L10.5576 12.2797L16.543 6.29444L17.585 7.33624L10.5576 14.3635Z' fill='%23F6C358'/%3E%3Cpath d='M3.04794 16.8884L0 21.3339L4.5063 20.4935L5.34668 25L8.20084 20.8372C6.12869 20.0356 4.34418 18.6523 3.04794 16.8884Z' fill='%23009696'/%3E%3Cpath d='M21.6573 16.8884C20.3611 18.6523 18.5765 20.0356 16.5044 20.8372L19.3586 25L20.1989 20.4935L24.7052 21.3339L21.6573 16.8884Z' fill='%23009696'/%3E%3C/svg%3E%0A") 0 45% no-repeat; }
  .popular-quiz .more-quiz a {
    font-size: 1.4rem !important; }

.news-block.news-block-new .big_news .image,
.news-block.news-block-new .item_bl .image {
  width: 100%; }

.news-block .more-quiz {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  margin-top: 1.4rem;
  line-height: 1.6;
  text-align: left; }

.news-block .more-quiz a {
  display: inline-block;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  padding-right: 1.8rem;
  background: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.7564e-08 4C5.19421e-08 3.63181 0.299234 3.33333 0.668359 3.33333L9.69397 3.33333L7.45175 1.14296C7.18803 0.885344 7.18361 0.463257 7.44189 0.200206C7.70016 -0.0628451 8.12332 -0.0672482 8.38704 0.190371L11.7993 3.5237C11.9277 3.6491 12 3.82078 12 4C12 4.17922 11.9277 4.3509 11.7993 4.4763L8.38704 7.80963C8.12332 8.06725 7.70016 8.06285 7.44189 7.79979C7.18361 7.53674 7.18803 7.11466 7.45175 6.85704L9.69397 4.66667L0.668358 4.66667C0.299234 4.66667 4.31858e-08 4.36819 4.7564e-08 4Z' fill='%23949300'/%3E%3C/svg%3E%0A") 100% 50% no-repeat; }

.news-block .more-quiz a:hover {
  color: #009696;
  background: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.7564e-08 4C5.19421e-08 3.63181 0.299234 3.33333 0.668359 3.33333L9.69397 3.33333L7.45175 1.14296C7.18803 0.885344 7.18361 0.463257 7.44189 0.200206C7.70016 -0.0628451 8.12332 -0.0672482 8.38704 0.190371L11.7993 3.5237C11.9277 3.6491 12 3.82078 12 4C12 4.17922 11.9277 4.3509 11.7993 4.4763L8.38704 7.80963C8.12332 8.06725 7.70016 8.06285 7.44189 7.79979C7.18361 7.53674 7.18803 7.11466 7.45175 6.85704L9.69397 4.66667L0.668358 4.66667C0.299234 4.66667 4.31858e-08 4.36819 4.7564e-08 4Z' fill='%23009696'/%3E%3C/svg%3E%0A") 100% 50% no-repeat; }

@media screen and (max-width: 1124px) {
  .news-block.news-block-new .big_news, .news-block.news-block-new .item_bl {
    margin-right: 2.1rem;
    width: calc(48% - 2.1rem); }
  .news-block.news-block-new .right-side {
    float: right;
    width: 50%;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    background: #fff; } }

@media screen and (max-width: 1124px) {
  .news-block__wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .news-block__wrap .big_news {
      -ms-flex-order: 1;
      order: 1; }
    .news-block__wrap .right-side {
      -ms-flex-order: 2;
      order: 2; }
    .news-block__wrap .item_bl {
      -ms-flex-order: 3;
      order: 3; }
    .news-block__wrap .more-news {
      -ms-flex-order: 3;
      order: 3; }
  .news-block.news-block-new .right-side .popular-news {
    box-shadow: none; } }

@media screen and (max-width: 767px) {
  .news-block .popular-news .item {
    padding: 1.8rem 0; }
  .news-block .popular-news .item.with-image .image {
    min-width: 5.5rem; }
  .news-block .popular-news .item.with-image .image img {
    width: 100%; }
  .news-block.news-block-new .first-block,
  .news-block.news-block-new .right-side {
    width: 50%; }
    .news-block.news-block-new .first-block .popular-news .item:last-child,
    .news-block.news-block-new .right-side .popular-news .item:last-child {
      border-bottom: none;
      padding-bottom: 0; }
  .news-block.news-block-new .big_news {
    width: 100%;
    margin: 0 0 20px; }
  .news-block.news-block-new .first-block,
  .news-block.news-block-new .right-side {
    width: 100%; }
  .news-block.news-block-new .right-side {
    -ms-flex-order: 2;
    order: 2; }
  .news-block__wrap .big_news {
    -ms-flex-order: 2;
    order: 2; }
  .news-block__wrap .right-side {
    -ms-flex-order: 1;
    order: 1; }
  .popular-quiz {
    padding-top: 20px; }
  .popular-quiz .title-bl {
    max-width: 100%; }
  .popular-quiz .item {
    padding: 18px 0; }
  .popular-quiz .item.with-image .image {
    min-width: 55px;
    width: 100%;
    max-width: 100%; }
  .popular-quiz .item .image img {
    width: 100%; }
  .popular-quiz .item.with-image .image img {
    width: 100%; } }

@media screen and (max-width: 580px) {
  .news-block.news-block-new .right-side {
    background: none;
    box-shadow: none; } }

@media (max-width: 480px) {
  .news-block.news-block-new .big_news, .news-block.news-block-new .item_bl {
    margin-right: 0;
    width: 100%; }
  .popular-quiz .item.with-image {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .popular-quiz .item.with-image .left,
  .popular-quiz .item.with-image .right {
    margin-right: 0;
    margin-left: 0; } }

.banner_news, .banner_news_second {
  border-radius: .5rem;
  min-height: 27rem;
  background: url(../../images/news_banner.png) 0 0 no-repeat;
  background-size: contain;
  padding: 4rem 2rem 3rem;
  margin-bottom: 6rem;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 1024px) {
    .banner_news, .banner_news_second {
      background-size: cover; } }
  .banner_news .date, .banner_news_second .date {
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #fff;
    padding-top: 2px;
    padding-bottom: 2px;
    background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 19C14.9706 19 19 14.9706 19 10C19 5.02944 14.9706 1 10 1C5.02944 1 1 5.02944 1 10C1 14.9706 5.02944 19 10 19ZM10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 4.95459C10.2761 4.95459 10.5 5.17845 10.5 5.45459V10.4091H14.5454C14.8216 10.4091 15.0454 10.633 15.0454 10.9091C15.0454 11.1853 14.8216 11.4091 14.5454 11.4091H10C9.72386 11.4091 9.5 11.1853 9.5 10.9091V5.45459C9.5 5.17845 9.72386 4.95459 10 4.95459Z' fill='white'/%3E%3C/svg%3E%0A") 0 50% no-repeat;
    background-size: contain;
    margin-bottom: 1.5rem;
    padding-left: 3rem; }
  .banner_news .title, .banner_news_second .title {
    font-style: normal;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 127%;
    color: #fff;
    margin-bottom: auto;
    text-align: center; }
  .banner_news .go-to, .banner_news_second .go-to {
    font-size: 2.4rem;
    line-height: 2.9rem;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #fff; }

.banner_news_second {
  background: url(../../images/news_banner_second.png) 0 0 no-repeat;
  background-size: contain;
  margin-bottom: 0; }
  @media (max-width: 1024px) {
    .banner_news_second {
      background-size: cover; } }

@media (max-width: 580px) {
  .banner_news,
  .banner_news_second {
    min-height: 0; }
  .banner_news .date,
  .banner_news_second .date {
    font-size: 14px; }
  .banner_news .title,
  .banner_news_second .title {
    font-size: 20px;
    margin-bottom: 13px; }
  .banner_news .go-to,
  .banner_news_second .go-to {
    font-size: 14px; }
  .banner_news_second {
    padding-right: 40px;
    padding-left: 40px; } }

.news-block.news-block-new {
  display: block; }

.news-block.news-block-new .right-side {
  float: right;
  width: 23%; }

.news-block.news-block-new .big_news .item,
.news-block.news-block-new .item_bl .item {
  background: none;
  border-radius: .5rem;
  padding: 0;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 1.7rem 5rem rgba(0, 0, 0, 0.05); }

.news-block.news-block-new .big_news .image,
.news-block.news-block-new .item_bl .image {
  font-size: 0; }

.news-block.news-block-new .big_news .title,
.news-block.news-block-new .item_bl .title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #333;
  display: block;
  text-decoration: none; }

.news-block.news-block-new .big_news .title:hover,
.news-block.news-block-new .item_bl .title:hover {
  text-decoration: underline; }

.news-block.news-block-new .big_news .body,
.news-block.news-block-new .item_bl .body {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: #707274; }

.news-block.news-block-new .big_news .date_news,
.news-block.news-block-new .item_bl .date_news {
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #707274;
  opacity: 0.6;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.news-block.news-block-new .big_news .btns-wrap,
.news-block.news-block-new .item_bl .btns-wrap {
  border-top: 1px solid #efefef;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.news-block.news-block-new .big_news .btns-wrap a,
.news-block.news-block-new .item_bl .btns-wrap a {
  margin-right: 1.5rem;
  display: block;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #b8b9ba;
  text-decoration: none;
  padding-left: 2.2rem; }

.news-block.news-block-new .big_news .btns-wrap a.like,
.news-block.news-block-new .item_bl .btns-wrap a.like {
  background: url("data:image/svg+xml,%3Csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.57252 11.0694L6.56162 11.0587L6.55009 11.0487C4.86762 9.58862 3.51681 8.40013 2.58178 7.28413C1.65215 6.17459 1.18555 5.19637 1.18555 4.16314C1.18555 2.49039 2.49776 1.18945 4.22654 1.18945C5.17513 1.18945 6.13157 1.63104 6.74511 2.34234L7.12372 2.78129L7.50234 2.34234C8.11587 1.63104 9.07231 1.18945 10.0209 1.18945C11.7497 1.18945 13.0619 2.49039 13.0619 4.16314C13.0619 5.19637 12.5953 6.17459 11.6657 7.28413C10.7306 8.40013 9.37982 9.58862 7.69736 11.0487L7.68582 11.0587L7.67492 11.0694L7.12372 11.6101L6.57252 11.0694Z' stroke='%23707274'/%3E%3C/svg%3E%0A") 0 50% no-repeat; }

.news-block.news-block-new .big_news .btns-wrap a.like.active,
.news-block.news-block-new .item_bl .btns-wrap a.like.active {
  background: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='red' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.88698 11.0531L5.87607 11.0424L5.86454 11.0324C4.18208 9.57239 2.83126 8.38389 1.89623 7.2679C0.966606 6.15835 0.5 5.18013 0.5 4.1469C0.5 2.47415 1.81221 1.17322 3.541 1.17322C4.48958 1.17322 5.44603 1.6148 6.05956 2.32611L6.43818 2.76506L6.81679 2.32611C7.43032 1.6148 8.38677 1.17322 9.33535 1.17322C11.0641 1.17322 12.3764 2.47415 12.3764 4.1469C12.3764 5.18013 11.9097 6.15835 10.9801 7.2679C10.0451 8.38389 8.69427 9.57239 7.01181 11.0324L7.00028 11.0424L6.98938 11.0531L6.43818 11.5939L5.88698 11.0531Z' stroke='%23red'/%3E%3C/svg%3E%0A") 0 50% no-repeat;
  color: red; }

.news-block.news-block-new .big_news .btns-wrap a.comment,
.news-block.news-block-new .item_bl .btns-wrap a.comment {
  background: url("data:image/svg+xml,%3Csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.08316 9.30462L2.1005 9.1165L1.98911 8.96392C1.37929 8.12859 1.06203 7.16983 1.06203 6.18421C1.06203 3.38275 3.66599 1 7.0002 1C10.3344 1 12.9384 3.38275 12.9384 6.18421C12.9384 8.98567 10.3344 11.3684 7.0002 11.3684C6.14686 11.3684 5.3261 11.2136 4.55675 10.9092L4.3345 10.8212L4.12648 10.939C3.24612 11.4373 2.13254 11.7296 1.42678 11.878C1.53902 11.6691 1.63511 11.4381 1.717 11.1923C1.89474 10.6587 2.01726 10.0197 2.08316 9.30462Z' stroke='%23707274'/%3E%3C/svg%3E%0A") 0 50% no-repeat; }

.news-block.news-block-new .big_news .btns-wrap a.see,
.news-block.news-block-new .item_bl .btns-wrap a.see {
  background: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.08474 7.65015L7.08393 7.6502C5.16165 7.76882 3.5526 6.21111 3.67517 4.29511L7.08474 7.65015ZM7.08474 7.65015C8.67405 7.54946 9.97415 6.28449 10.0781 4.70599L10.0781 4.70509M7.08474 7.65015L10.0781 4.70509M10.0781 4.70509C10.2008 2.78909 8.59181 1.23134 6.66957 1.34984L10.0781 4.70509ZM6.94121 5.42728L6.9407 5.42731C6.3489 5.46381 5.88468 4.98969 5.92156 4.4405L5.9217 4.43834C5.95009 3.98616 6.33064 3.60144 6.81583 3.57012C7.40734 3.53397 7.87124 4.00797 7.83438 4.55697L7.83435 4.55742C7.80401 5.0154 7.42098 5.39818 6.94121 5.42728ZM0.940461 4.49874C2.51597 2.44919 4.61023 1.23523 6.87665 1.23523C9.14309 1.23523 11.2374 2.44921 12.8128 4.50132C11.2373 6.55087 9.14307 7.76482 6.87665 7.76482C4.61022 7.76482 2.51595 6.55085 0.940461 4.49874ZM6.66938 1.34986C5.0768 1.4476 3.77604 2.71315 3.67518 4.29496L6.66938 1.34986Z' stroke='%23707274'/%3E%3C/svg%3E%0A") 0 50% no-repeat; }

.news-block.news-block-new .big_news .btns-wrap a.favorite,
.news-block.news-block-new .item_bl .btns-wrap a.favorite {
  margin-right: 0;
  margin-left: auto;
  border-radius: 25rem;
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
  padding: 0;
  background: #f0f0f0 url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.2388 0.371873C10.1421 0.232984 10.0119 0.131415 9.84846 0.0669835C9.74436 0.0224233 9.63527 0.000104173 9.52122 0.000104173V0H1.72869C1.6147 0 1.50571 0.0223192 1.40158 0.0668793C1.23803 0.131259 1.10787 0.232958 1.01122 0.371769C0.914599 0.51058 0.866211 0.664184 0.866211 0.832762V10.4172C0.866211 10.5858 0.914599 10.7394 1.01122 10.8783C1.10787 11.0171 1.23803 11.1188 1.40158 11.1831C1.5056 11.2277 1.6147 11.25 1.72869 11.25C1.96175 11.25 2.16736 11.1681 2.34586 11.0047L5.62498 7.85184L8.9041 11.0048C9.07763 11.1631 9.28335 11.2425 9.5212 11.2425C9.64517 11.2425 9.75424 11.2228 9.84843 11.1831C10.0119 11.1188 10.1421 11.0171 10.2388 10.8781C10.3354 10.7394 10.3837 10.5858 10.3837 10.4172V0.832866C10.3837 0.664288 10.3353 0.510684 10.2388 0.371873Z' fill='%23B8B9BA'/%3E%3C/svg%3E%0A") 50% 50% no-repeat; }

.news-block.news-block-new .big_news .btns-wrap a.favorite.active,
.news-block.news-block-new .item_bl .btns-wrap a.favorite.active {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='15' fill='%23333333'/%3E%3Cpath d='M19.2388 9.37187C19.1421 9.23298 19.0119 9.13141 18.8485 9.06698C18.7444 9.02242 18.6353 9.0001 18.5212 9.0001V9H10.7287C10.6147 9 10.5057 9.02232 10.4016 9.06688C10.238 9.13126 10.1079 9.23296 10.0112 9.37177C9.9146 9.51058 9.86621 9.66418 9.86621 9.83276V19.4172C9.86621 19.5858 9.9146 19.7394 10.0112 19.8783C10.1079 20.0171 10.238 20.1188 10.4016 20.1831C10.5056 20.2277 10.6147 20.25 10.7287 20.25C10.9618 20.25 11.1674 20.1681 11.3459 20.0047L14.625 16.8518L17.9041 20.0048C18.0776 20.1631 18.2833 20.2425 18.5212 20.2425C18.6452 20.2425 18.7542 20.2228 18.8484 20.1831C19.0119 20.1188 19.1421 20.0171 19.2388 19.8781C19.3354 19.7394 19.3837 19.5858 19.3837 19.4172V9.83287C19.3837 9.66429 19.3353 9.51068 19.2388 9.37187Z' fill='white'/%3E%3C/svg%3E%0A"); }

.news-block.news-block-new .big_news .title {
  padding: 1rem 2rem; }

.news-block.news-block-new .big_news .body {
  padding: 0 2rem 1.6rem; }

.news-block.news-block-new .big_news .date_news {
  padding: 0 2rem; }

.news-block.news-block-new .big_news .btns-wrap {
  padding: 1rem 2rem; }

.news-block.news-block-new .item_bl {
  padding-bottom: 3rem; }

.news-block.news-block-new .item_bl .title {
  padding: 0 0 1rem; }

.news-block.news-block-new .item_bl .body {
  padding: 0 0 1rem; }

.news-block.news-block-new .item_bl .btns-wrap {
  padding: 1rem 0; }

@media (max-width: 1124px) {
  .news-block.news-block-new .right-side {
    float: right;
    width: 50%;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0 1.7rem 5rem;
    border-radius: .5rem;
    background: #fff; }
  .news-block.news-block-new .right-side .overlook-news {
    margin-bottom: 1.8rem; }
  .news-block.news-block-new .right-side .overlook-news .title-over {
    padding-top: 2rem; }
  .news-block.news-block-new .right-side .popular-news {
    min-height: 0 !important;
    padding-bottom: 2rem !important; }
  .news-block.news-block-new .right-side .popular-news .item:last-child {
    border-bottom: none;
    padding-bottom: 1.5rem; }
  .news-block.news-block-new .big_news,
  .news-block.news-block-new .item_bl {
    margin-right: 2.1rem;
    width: calc(50% - 2.1rem); }
  .news-block.news-block-new .big_news {
    margin-bottom: 1.8rem;
    background: none;
    box-shadow: none; }
  .news-block.news-block-new .big_news .image {
    max-height: 20rem;
    overflow: hidden;
    border-radius: .5rem;
    overflow: hidden; }
  .news-block.news-block-new .big_news .image img {
    width: 100%; }
  .news-block.news-block-new .item_bl {
    padding: 0 2rem 2rem; } }

@media (max-width: 580px) {
  .news-block.news-block-new .right-side {
    width: 100%;
    float: none; }
  .news-block.news-block-new .right-side .overlook-news {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 2rem; }
  .news-block.news-block-new .right-side .popular-news {
    display: block;
    margin: 0 -2rem; }
  .news-block.news-block-new .right-side .popular-news .item .title {
    font-size: 1.8rem;
    line-height: 2.2rem; }
  .news-block.news-block-new .right-side .popular-news .item .date {
    margin-top: 0; }
  .news-block.news-block-new .big_news,
  .news-block.news-block-new .item_bl {
    min-height: 0 !important;
    float: none;
    margin-right: 0;
    width: 100%;
    padding-right: 0;
    padding-left: 0; }
  .news-block.news-block-new .big_news .title,
  .news-block.news-block-new .item_bl .title,
  .news-block.news-block-new .big_news .btns-wrap,
  .news-block.news-block-new .item_bl .btns-wrap {
    padding-right: 0;
    padding-left: 0; }
  .news-block.news-block-new .big_news .body,
  .news-block.news-block-new .item_bl .body {
    padding-right: 0;
    padding-left: 0;
    min-height: 0 !important; }
  .news-block.news-block-new .big_news .item {
    background: none;
    box-shadow: none; } }
