
<div class="top_filter">
  <form class="top_filter_form" action>
    <div class="top_filter_item width-4">
      <select class="select-custom" name="Выбрать действие">
        <option selected value="default">Выбрать действие</option>
        <option>Отправить уведомление о необходимости заполнить декларацию</option>
        <option>Сформировать отчет Комплаенс</option>
        <option>Сформировать подробный отчет</option>
        <option disabled>Сформировать декларацию участников</option>
      </select>
      <button class="btn btn-primary disabled" disabled>Применить</button>
    </div>
    <div class="top_filter_item width-7">
      <div class="sort-bl">
        <div class="form">
          <input id="jsSearch" type="text" placeholder="Поиск участника декларирования" value="" data-user="Всего участников (2)" data-org="Всего организаций (6)">
          <button type="submit"></button>
        </div>
      </div>
    </div>
  </form>
</div>