doctype html
html(class="no-js", lang="en")

    include ../components/head/head
    include ../components/header_top/header_top_custom
    include ../components/header_right/header_right
    include ../components/header_notif/header_notif
    include ../components/section_title/title_bl
    include ../components/breadcrumbs/breadcrumbs
    include ../components/typicalblock/typicalblock
    include ../components/comments/comments
    include ../components/footer/footer_custom

    head
        +head
        link(rel='stylesheet', href='../css/header_top/header_top.css')
        link(rel='stylesheet', href='../css/header_right/header_right.css')
        link(rel='stylesheet', href='../css/header_notif/header_notif.css')
        link(rel='stylesheet', href='../css/breadcrumbs/breadcrumbs.css')
        link(rel='stylesheet', href='../css/block_org_struct/block_org_struct.css')
        link(rel='stylesheet', href='../css/libraries/knowledge-data.css')
        link(rel='stylesheet', href='../css/typicalblock/typicalblock.css')
        link(rel='stylesheet', href='../css/comments/comments.css')
        link(rel='stylesheet', href='../css/footer/footer.css')
    body
        .site-wrapper.template--aim
            -
                let contentData1 = {
                    img: 'temp_img.png',
                    text: '<h2>Производство</h2>',
                    type: 'imagetable',
                }
            header.site-header.with-bg
                +header_top_custom
                +header_right
            .blocks-wrapper
                .inner
                    +breadcrumbs('Банк знаний', 'Проектное управление')
                    //- +typeblock(contentData1)
                    #comp_842b5c4f3c557b45e880b62938ba3302
                        .page-news-in
                            h1.page-news-in__title Производство
                            .news_text Проекты по направлению "Производство"
                            img(src='../../images/temp/temp_img.png')
                            .news_text_in
                                table(cellpadding="10", border="1", cellspacing="10")
                                    tbody
                                        tr
                                            th.

                                                №

                                            th.

                                                Название проекта

                                            th.

                                                Паспорт проекта

                                            th.

                                                Статус

                                            th.

                                                Руководитель проекта

                                            th.

                                                Отчетность по проекту

                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                1

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Увеличение производственной мощности филиала АО «СУЭК-Красноярск» «Разрез Бородинский им. М.И. Щадова»

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2019/08/Приложение-25.-Увеличение_мощности_Бородинский_Паспорт_проекта.pdf") Паспорт проекта
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                открыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Фёдоров Андрей Витальевич

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                | 

                                                a(href="http://pmo.suek.ru/wp-content/uploads/2021/04/Приложение-№1-Увеличение-производственной-мощности-р.-Бородинский-им.-М.-И.-Щадова-до-26-млн.т.-в-год.pdf") Отчет о статусе проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                2

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Развитие угледобычи и углеобогащения ОАО «Ургалуголь» (отчетность в МРДВ)

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2017/03/Паспорт-проекта-Ургалуголь.pdf") Паспорт проекта 
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                открыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Копылов Константин Николаевич

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                | 

                                                a(href="http://pmo.suek.ru/wp-content/uploads/2021/04/Отчет-по-проекту-Комплексный-ИП-развития-угледобычи-и-углеобогащения-ОАО-Ургалуголь.pdf") Отчет о статусе проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                3

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Разработка Апсатского месторождения

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2017/03/Паспорт-проекта-Апсат-утвержд.pdf") Паспорт проекта
                                            td(style="text-align: center; vertical-align: middle;", bgcolor="#cccccc", height="30").

                                                закрыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Копылов Константин Николаевич

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2020/03/Протокол-НТС-№4-Апсатский.pdf") Отчет о завершении проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                4

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Подготовка и запуск 400-метровой лавы по на ш. Ялевского с обеспечением объемов запланированной добычи

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                | 

                                                a(href="http://pmo.suek.ru/wp-content/uploads/2017/03/Приложение-5.-Паспорт-проекта-400.pdf") Паспорт проекта
                                            td(style="text-align: center; vertical-align: middle;", bgcolor="#cccccc", height="30").

                                                закрыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Кавардаков Александр Алексеевич

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2020/03/ПЗ_Лава-400_о-выпл-2-транша_на-ПК.pdf") Отчет о завершении проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                5

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Реконструкция погрузочного комплекса ш. Талдинская-Западная-1 ПЕ ОФ участок Талдинский-Западный-1

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2017/03/Приложение-4-Паспорт-ТЗ-1.pdf") Паспорт проекта
                                            td(style="text-align: center; vertical-align: middle;", bgcolor="#cccccc", height="30").

                                                закрыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Калашников Валентин Анатольевич

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2019/08/Приложение-02.-Отчет-о-завершении-проекта-ТЗ-1.pdf") Отчет о завершении проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                6

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Реконструкция пункта погрузки ш. Талдинская-Западная-2

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2017/03/Паспорт-ТЗ-2-1.pdf") Паспорт проекта
                                            td(style="text-align: center; vertical-align: middle;", bgcolor="#cccccc", height="30").

                                                закрыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Лупий Михаил Григорьевич

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2019/08/Приложение-03.-Отчет-о-завершении-проекта-ТЗ-2.pdf") Отчет о завершении проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                7

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Развитие проектной мощности участка Магистральный, шахтоуправление им. А.Д. Рубана до 3,5 млн. т.

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2017/03/Приложение-9.-Паспорт-проекта-Магистр-v.3.pdf") Паспорт проекта
                                            td(style="text-align: center; vertical-align: middle;", bgcolor="#cccccc", height="30").

                                                закрыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Сальвассер Иван Александрович

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                | 

                                                a(href="http://pmo.suek.ru/wp-content/uploads/2020/03/ПЗ_Магистральный_выплата_ПК.pdf") Отчет о завершении проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                8

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Организация серийного производства рештаков лавных конвейеров

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2019/08/Приложение-27.-Производство_рештаков_БРМЗ_Паспорт-проекта.pdf") Паспорт проекта 
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                открыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Чумаков Александр Николаевич

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2019/11/Приложение-01.-Сводный-отчет-ПК4-19.pdf")  
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2021/04/Приложение-№2-Организация-серийного-производства-рештаков-лавных-конвейеров.pdf") Отчет о статусе проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                9

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Внедрение системы прохождения медицинских осмотров

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2019/08/Приложение-26.-Внедрение-системы-прохождения-медицинских-осмотров_Паспорт-проекта.pdf")  Паспорт проекта
                                            td(style="text-align: center; vertical-align: middle;", bgcolor="#cccccc", height="30").

                                                закрыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Павлов Сергей Викторович

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                | 

                                                a(href="http://pmo.suek.ru/wp-content/uploads/2021/03/Отчет-о-завершении-проекта_Внедрение-системы-прохождения-медицинских-осмотров-2.docx") Отчет о завершении проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                10

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Ремонт металлоконструкций секций механизированной крепи

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2017/03/Паспорт-проекта-мехкрепи.pdf") Паспорт проекта
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                открыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Люкин Юрий Анатольевич

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                | 

                                                a(href="http://pmo.suek.ru/wp-content/uploads/2021/04/Сводный-отчет-по-портфелю-Ноябрь.pdf") Отчет о статусе проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                11

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Ремонт силовой гидравлики горношахтного оборудования

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                | 

                                                a(href="http://pmo.suek.ru/wp-content/uploads/2017/03/Паспорт-проекта-силовой-гидравлики-1.pdf") Паспорт проекта 
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                открыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Люкин Юрий Анатольевич

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2021/04/Сводный-отчет-по-портфелю-Ноябрь.pdf")  
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2021/04/Сводный-отчет-по-портфелю-Ноябрь.pdf") Отчет о статусе проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                12

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Увеличение мощности р. Заречный до 6 млн.т.

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2017/03/Паспорт-проекта-Увеличение-мощности-р.Заречный-до-6-млн.т.-20.04.2018.pdf") Паспорт проекта
                                            td(style="text-align: center; vertical-align: middle;", bgcolor="#cccccc", height="30").

                                                закрыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Кацубин Александр Викторович

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2020/02/2.1.2.-Отчет-о-завершении-проекта-Увеличение-мощности-р.-Заречный-до-6-млн.т.pdf") Отчет о завершении проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                13

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Модернизация ПС Соколовская 220/110/35 в части увеличения пропускной мощности и РЗИА

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                | 

                                                a(href="http://pmo.suek.ru/wp-content/uploads/2017/03/Паспорт-проекта-ПС-Соколовская-07.02.2018г.pdf") Паспорт проекта
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                открыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Никонов Александр Викторович

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2021/04/Сводный-отчет-по-портфелю-Ноябрь.pdf")  
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2021/04/Сводный-отчет-по-портфелю-Ноябрь.pdf") Отчет о статусе проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                14

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Организация отделения флотации ОФ участок Кирова ПЕ Обогатительная фабрика

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                | 

                                                a(href="http://pmo.suek.ru/wp-content/uploads/2017/03/Паспорт-проекта-строит-отд.-флотации-27.02.18.pdf") Паспорт проекта
                                            td(style="text-align: center; vertical-align: middle;", bgcolor="#cccccc", height="30").

                                                закрыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Калашников Валентин Анатольевич

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                | 

                                                a(href="http://pmo.suek.ru/wp-content/uploads/2021/03/Отчет-о-завершении-проекта-строительство-отделения-флотации-на-ш-Кирова.docx") Отчет о завершении проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                15

                                            td(style="text-align: left; vertical-align: middle;", height="30")
                                                | Организация фильтр-прессового отделения участок Полысаевский
                                                br
                                                | ПЕ Обогатительная фабрика

                                                td(style="text-align: center; vertical-align: middle;", height="30")
                                                    a(href="http://pmo.suek.ru/wp-content/uploads/2017/03/Паспорт-проекта-строит-ФПО-05.02.18.pdf") Паспорт проекта 
                                                td(style="text-align: center; vertical-align: middle;", bgcolor="#cccccc", height="30").

                                                    закрыт

                                                td(style="text-align: left; vertical-align: middle;", height="30").

                                                    Калашников Валентин Анатольевич

                                                td(style="text-align: center; vertical-align: middle;", height="30")
                                                    a(href="http://pmo.suek.ru/wp-content/uploads/2021/03/Отчет-о-завершении-проекта-Организация-ФПО-Полысаевский-04.09.20.docx") Отчет о завершении проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                16

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                ТОРО 2017 (интеграция Паруса и SAP)

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2017/03/Паспорт-проекта-ПАРУС-SAP.pdf") Паспорт проекта 
                                            td(style="text-align: center; vertical-align: middle;", bgcolor="#cccccc", height="30").

                                                закрыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Сиземов Дмитрий Николаевич

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2017/03/Отчет-о-завершении-проекта-ТОРО-2017.pdf") Отчет о завершении проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                17

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Пилотный проект автоматизированной системы грузоперевозок на основе роботизированных самосвалов БЕЛАЗ-7513R

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2017/03/Паспорт-проекта-Внедрение-роботизированных-беспилотных-самосвалов.pdf") Паспорт проекта 
                                            td(style="text-align: center; vertical-align: middle;", bgcolor="#cccccc", height="30").

                                                закрыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Сиземов Дмитрий Николаевич

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2019/10/2.1.3.-Отчет-о-завершении-проекта-Пилотный-проект-автоматизированной-системы-грузоперевозок.pdf") Отчет о завершении проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                18

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Автоматизированный учета работы горно-транспортного оборудования

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2017/03/Паспорт-проекта-Автоматизация-учета-работы-ГТО-v2.pdf") Паспорт проекта
                                            td(style="text-align: center; vertical-align: middle;", bgcolor="#cccccc", height="30").

                                                закрыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Павлов Сергей Викторович

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2020/03/Отчет-по-проекту-Автоматизация-учета-работы-горнотранспортного-оборудования-тираж.docx") Отчет о завершении проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                19

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Комплекс роботизированного управления буровым станком

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2017/03/Паспорт-проекта-Беспилотный-буровой-станок-05.04.2018.pdf") Паспорт проекта
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                открыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Павлов Сергей Викторович

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2021/04/Отчеты-по-проектам-направления-Производство_31032021.pdf") Отчет о статусе проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                20

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Модернизация систем аэрогазового контроля и прогноза динамических явлений

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2017/03/Паспорт-проекта-Модернизация-с-м-аэрогазового-контроля-и-прогноза-динам-явлений-v2.0.pdf") Паспорт проекта
                                            td(style="text-align: center; vertical-align: middle;", bgcolor="#cccccc", height="30").

                                                закрыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Павлов Сергей Викторович

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2021/04/Отчет-о-завершении-проекта-Прогноз-АГК.pdf") Отчет о завершении проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                21

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Развитие диспетчерских систем ОГР

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                | 

                                                a(href="http://pmo.suek.ru/wp-content/uploads/2017/03/Паспорт-проекта-Развитие-диспетчерских-систем-ОГР.pdf") Паспорт проекта
                                            td(style="text-align: center; vertical-align: middle;", bgcolor="#cccccc", height="30").

                                                закрыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Павлов Сергей Викторович

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2019/10/2.1.4.-Отчет-о-завершении-проекта-Развитие-диспетчерских-систем-ОГР.pdf") Отчет о завершении проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                22

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Оптимизация процесса ТОиР

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2020/12/Паспорт-проекта-ремонты.docx") Паспорт проекта
                                            td(style="text-align: center; vertical-align: middle;", bgcolor="#cccccc", height="30").

                                                закрыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Кирисов Сергей Васильевич

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2021/03/Отчет-о-завершении-проекта-Организация-ФПО-Полысаевский-04.09.20.docx") Отчет о завершении проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                23

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Расширение производства по выпуску брикета из буроугольного кокса до 30 тыс. т/год

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2017/03/Паспорт-проекта-расширение-производства-по-выпуску-брикета.pdf") Паспорт проекта 
                                            td(style="text-align: center; vertical-align: middle;", bgcolor="#cccccc", height="30").

                                                закрыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Буйницкий Александр Иванович

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2020/02/2.1.1.-Отчет-о-завершении-проекта-Расширение-производства-по-выпуску-брикета.pdf") Отчет о завершении проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                24

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Аналитическая система оценки эффективности потребления энергоресурсов предприятия

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2017/03/4.3.-Паспорт-проекта-Аналитическая-система-оценки-эффективности-потребления-v-5.0.pdf") Паспорт проекта 
                                            td(style="text-align: center; vertical-align: middle;", bgcolor="#cccccc", height="30").

                                                закрыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Иванов Дмитрий Владимирович

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2020/11/Шаблон-Отчет-о-завершении-проекта_В2-1.docx") Отчет о завершении проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                25

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Автоматизация учета работы горнотранспортного оборудования (тираж)

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2017/03/4.5.-Паспорт-проекта-Автоматизация-учета-работы-горно-транспортного-оборудования-тираж.pdf") Паспорт проекта 
                                            td(style="text-align: center; vertical-align: middle;", bgcolor="#cccccc", height="30").

                                                закрыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Павлов Сергей Викторович

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2020/11/Отчет-о-завершении-проекта-Автоматизация-учета-работы-ГТО-1.docx") Отчет о завершении проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                26

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                «5+» Первое условие стабильного производства учет и анализ простоев на проедприятиях АО “СУЭК-Кузбасс”

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2017/03/Паспорт-проекта-5-21.12.2018.pdf") Паспорт проекта 
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                открыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Шмат Владимир Николаевич

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2021/04/Сводный-отчет-по-портфелю-Ноябрь.pdf") Отчет о статусе проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                27

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Вскрытие и отработка запасов участка Сычевский

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2017/03/5.2.-Паспорт-Сычевский.pdf") Паспорт проекта
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                открыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Климов Виктор Викторович

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2021/04/Сводный-отчет-по-портфелю-Ноябрь.pdf") Отчет о статусе проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                28

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Модернизация АИСКУЭ

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2017/03/5.3-Паспорт-проекта-Модернизация-АИСКУЭ.pdf") Паспорт проекта
                                            td(style="text-align: center; vertical-align: middle;", bgcolor="#cccccc", height="30").

                                                закрыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Павлов Сергей Викторович

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2020/11/Отчет-о-завершении-проекта-Модернизация-АИСКУЭ-Фаза-1.docx") Отчет о завершении проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                29

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Модернизация сети передач данных АСД “Карьер”

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2017/03/Паспорт-проекта-от-01.02.19-Модернизация-сети-передачи-данных-АСД-Карьер.pdf") Паспорт проекта
                                            td(style="text-align: center; vertical-align: middle;", bgcolor="#cccccc", height="30").

                                                закрыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Павлов Сергей Викторович

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2020/11/Отчет-о-завершении-проекта-Модернизация-сети-передачи-данных-АСД-Карьер-Фаза-1.docx") Отчет о завершении проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                30

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Тираж системы контроля качества дорог

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2017/03/5.5-Паспорт-проекта-Тираж-системы-контроля-качества-дорог.pdf") Паспорт проекта
                                            td(style="text-align: center; vertical-align: middle;", bgcolor="#cccccc", height="30").

                                                закрыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Павлов Сергей Викторович

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                | 

                                                a(href="http://pmo.suek.ru/wp-content/uploads/2020/11/Отчет-о-завершении-проекта_Тираж-системы-контроля-качества-дорог-Фаза-1.docx") Отчет о завершении проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                31

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Тираж системы автоматизированного проектирования буровзрывных работ blast maker на ПЕ р. Черногорский

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2017/03/Паспорт-проекта-от-01.02.19-Тираж-системы-САПР-БВР-Blast-Maker-на-р.-Черногорский.pdf") Паспорт проекта 
                                            td(style="text-align: center; vertical-align: middle;", bgcolor="#cccccc", height="30").

                                                закрыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Павлов Сергей Викторович

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2020/11/Отчет-о-завершении-проекта-BM-ЧУК.docx") Отчет о завершении проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                32

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Создание сайта “Продукция и услуги сервисных предприятий АО “СУЭК””

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2017/03/5.7-Паспорт-проекта-Создание-сайта-Продукция-и-услуги-сервисных-предприятии-АО-СУЭК.pdf") Паспорт проекта
                                            td(style="text-align: center; vertical-align: middle;", bgcolor="#cccccc", height="30").

                                                закрыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Павлов Сергей Викторович

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2020/11/Отчет-о-завершении-проекта-Создание-сайта-Продукция-и-услуги-сервисных-предприятий-АО-СУЭК.docx") Отчет о завершении проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                33

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Система контроля наработки узлов карьерных самосвалов(пилот)

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2017/03/Паспорт-проекта-от-18.01.19-Система-контроля-наработки.pdf") Паспорт проекта 
                                            td(style="text-align: center; vertical-align: middle;", bgcolor="#cccccc", height="30").

                                                закрыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Павлов Сергей Викторович

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2020/11/Отчет-о-завершении-проекта-Система-контроля-наработки-узлов-карьерных-автосамосвалов-пилот.docx") Отчет о заверш
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2020/11/Отчет-о-завершении-проекта-Система-контроля-наработки-узлов-карьерных-автосамосвалов-пилот.docx") ении  
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2020/03/Отчет-по-проекту-Система-контроля-наработки-узлов-карьерных-самосвалов-пилот.docx") проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                34

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Система контроля технического состояния ГТО (пилот)

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2017/03/5.9-Паспорт-проекта-Система-контроля-технического.pdf") Паспорт проекта
                                            td(style="text-align: center; vertical-align: middle;", bgcolor="#cccccc", height="30").

                                                закрыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Павлов Сергей Викторович

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2020/11/Отчет-о-завершении-проекта_Система-контроля-технического-состояния-ГТО-пилот-Фаза-1.docx") Отчет о завершении проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                35

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Модернизация радиосвязи

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2019/10/4.1.-Паспорт-проекта-Модернизация-радиосвязи.pdf") Паспорт проекта
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                открыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Павлов Сергей Викторович

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2021/04/Отчеты-по-проектам-направления-Производство_31032021.pdf") Отчет о статусе проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                36

                                            td(style="text-align: left; vertical-align: middle;", height="30")
                                                | Внедрение автоматизированной
                                                br
                                                | системы грузоперевозок на основе
                                                br
                                                | роботизированных самосвалов БелАЗ-
                                                br
                                                | 7513R. Фаза 2

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2019/10/4.2.-Паспорт-проекта-Внедрение-автоматизированной-системы-грузоперевозок-на-основе-Белаз.Фаза-2.pdf") Паспорт проекта
                                            td(style="text-align: center; vertical-align: middle;", bgcolor="#cccccc", height="30").

                                                закрыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Сиземов Дмитрий Николаевич

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2020/11/Отчет-о-завершении-проекта-Оптимизация-работы-и-оценка-эк.-эфф-ти-роботов-самосвалов.docx") Отчет о завершении проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                37

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Модернизация системы оперативной производственной отчетности

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2019/10/4.3.-Паспорт-проекта-Модернизация-системы-оперативной-производственной-отчетности.pdf") Паспорт проекта
                                            td(style="text-align: center; vertical-align: middle;", bgcolor="#cccccc", height="30").

                                                закрыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Токарев Сергей Александрович

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2020/11/Отчет-о-завершении-проекта-Модерн-ция-системы-ПО.docx") Отчет о завершении проекта
                                        tr
                                            td(style="text-align: center; vertical-align: middle;", height="30").

                                                38

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Создание аналитической отчетности по производственным и экономическим показателям по единицам оборудования

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2020/02/4.1.-Паспорт-проекта-Создание-аналитической-отчетности-по-производственным-и-экономическим-показателям.pdf") Паспорт проекта
                                            td(style="text-align: center; vertical-align: middle;", bgcolor="#cccccc", height="30").

                                                закрыт

                                            td(style="text-align: left; vertical-align: middle;", height="30").

                                                Токарев Сергей Александрович

                                            td(style="text-align: center; vertical-align: middle;", height="30")
                                                a(href="http://pmo.suek.ru/wp-content/uploads/2021/03/Отчет-о-завершении-проекта-Организация-ФПО-Полысаевский-04.09.20.docx") Отчет о завершении проекта
                            a.all-news.all-news_bottom(title="Все темы", href="/bank-of-knowledge/").

                                Все темы	

                            #comment-list.comments
                                .comments_wrap
                                    .title-bl Комментарии (1)
                                    .items-wrap
                                        .item
                                            .author
                                                .image(style="background-image: url(../../images/people/employees5.png)")
                                                .body
                                                    .top
                                                        .name Андрей Риттер
                                                        .date 27.092021 в 09:34
                                                    .center Не корректный отчет по п 22 Оптимизация процесса ТОиР
                                                    .bottom
                                                        a.reply(title="Ответить", href="#Андрей Риттер") Ответить
                                        .heading Оставить коментарий
                                        form#REPLIERkcc6k(name="REPLIERkcc6k", action="/bank-of-knowledge/20631/99829/", method="post")
                                            input(type="text", placeholder="Введите текст...", name="REVIEW_TEXT")
                    //- +comments


        +footer_custom

        script(src='../js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        script(src='../js/separate-js/jquery-2.2.4.min.js')
        script(src='../js/separate-js/owl.carousel.min.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js")
        script(src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js")
        script(src='../js/compiled.js')
        script(src='../js/separate-js/retina.min.js')
        script(src='../js/knowledge-data.js')
        script(src='../components/footer/footer.js')
