doctype html
html(class="no-js", lang="en")

    include ../components/head/head
    include ../components/header_top/header_top_custom
    include ../components/header_right/header_right
    include ../components/header_notif/header_notif
    include ../components/section_title/section_title
    include ../components/section_title/title_bl
    include ../components/newsdetail/newsdetail
    include ../components/comments/comments
    include ../components/footer/footer_custom

    head
        +head
        link(rel='stylesheet', href='../css/header_top/header_top.css')
        link(rel='stylesheet', href='../css/header_right/header_right.css')
        link(rel='stylesheet', href='../css/header_notif/header_notif.css')
        link(rel='stylesheet', href='../css/newsdetail/newsdetail.css')
        link(rel='stylesheet', href='../css/comments/comments.css')
        link(rel='stylesheet', href='../css/footer/footer.css')
        link(rel='stylesheet', href='../css/modals/modals.css')
    body
        .site-wrapper.list_news.template--aim
            header.site-header.with-bg
                +header_top_custom
                +header_right
            .blocks-wrapper.page-news
                .inner
                    +newsdetail
                    .section.comments
                        .comments__inner
                            .comments__head Комментарии (36)
                            .comments__item
                                .author
                                    .author__photo
                                        img(src='../../images/people/employees5.png')
                                    .author__data
                                        .author__name 
                                            span Илларион Витальев
                                            .date вчера в 13:14
                                        .author__msg Спасибо! Прочитал с большим интересом.
                                        a(href='#!' title='нравится').author__like.active 1
                                        a(href='#!' title='Ответить').author__repeat Ответить
                                .author
                                    .author__photo
                                        img(src='../../images/people/employees3.png')
                                    .author__data
                                        .author__name 
                                            span Антонина Харитдиновскаяев
                                            .date вчера в 12:05
                                        .author__msg "Значит, импорт угля будет расти. Россия — крупнейший поставщик по целому ряду причин —
                                            | прежде всего из-за низкой цены, высокого качества сырья и минимальных транспортных
                                            | расходов", — объяснил он изданию BiznesAlert. Об этом сообщает "Рамблер".
                                        a(href='#!' title='нравится').author__like 14
                                        a(href='#!' title='Ответить').author__repeat Ответить
                                .author
                                    .author__photo
                                        img(src='../../images/people/employees6.png')
                                    .author__data
                                        .author__name 
                                            span Евгений Петров
                                            .date вчера в 11:04
                                        .author__msg Отличные новости
                                        a(href='#!' title='нравится').author__like Нравится
                                        a(href='#!' title='Ответить').author__repeat Ответить
                                a.more-link(href="#") Смотреть еще 
                                    span (33)
                                .comments__input
                                    .author__text Оставить комментарий
                                    form(action='') 
                                        input.custom-input(type='text' placeholder='Введите текст... ')        
        +footer_custom


        script(src='../js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        script(src='../js/separate-js/jquery-2.2.4.min.js')
        script(src='../js/separate-js/owl.carousel.min.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js")
        script(src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js")
        script(src='../js/compiled.js')
        script(src='../js/separate-js/retina.min.js')
        script(src='../components/comments/comments.js')
        script(src='../components/footer/footer.js')
