.modal.instruction__modal(id="instruction", data-popup="instruction", tabindex="-1" role="dialog")
    .modal__bg.modal-dialog(role="document")
    .modal__wrap.instruction
        .modal__inner
            .modal__header.modal-header
                .close-modal
                    button.btn.close-modal__button.modal_close.
            .modal__body
                h2.title-bl.bleft Инструкция по регистрации на корпоративном портале
                ol.instruction__list
                    li Зайдите в Личный кабинет на корпоративном портале 
                        a(href="https://intranet.aimholding.ru/") https://intranet.aimholding.ru/
                        img(src="../../images/screen/screen_1.png")
                    li
                        | В разделе «Рабочие сервисы» на вкладке «Мои сервисы» выберите «Справки и документы» или «Расчетные листы», 
                        | после чего будет выполнен автоматический переход на страницу регистрации пользователей в Личном кабинете
                        img(src="../../images/screen/screen_2.png")
                    li
                        | Чтобы пройти регистрацию в Личном кабинете необходимо ввести номер мобильного телефона. 
                        span(style="color:#007BC4;") (В дальнейшем на указанный номер телефона будут приходить уведомления от ЛК о готовности документов и других услугах).
                        | А также необходимо подтвердить своё согласие на обработку персональных данных и нажать кнопку «зарегистрироваться»
                        img(src="../../images/screen/screen_3.png")
                    li
                        | В течение 30 сек. на указанный номер телефона придет смс с четырехзначным проверочным кодом, 
                        | который необходимо ввести в строку «код подтверждения» и нажать кнопку «войти»
                        img(src="../../images/screen/screen_4.png")
                    li
                        | После этого на указанный вами номер телефона с адреса SUEK будет направлено смс уведомление с «пин–кодом», который необходимо сохранить. 
                        | «Пин-код» потребуется в дальнейшем для прохождения авторизации в случае работы с сервисами Личного кабинета из внешней сети.
                    li
                        | Система автоматически выполнит переход на страницу сервиса, 
                        | который был выбран вами при регистрации для дальнейшей работы с ним
                        img(src="../../images/screen/screen_2.png")
            .modal__footer
                p(style="color:#007BC4;") 
                    b ВАЖНО ЗНАТЬ!
                ol
                    li При последующей работе с сервисами Личного кабинета из внутренней корпоративной сети (через корпоративный портал) авторизация пользователя будет выполняться автоматически при входе на портал.
                    li При дальнейшей работе с сервисами Личного кабинета из внешней сети интернет потребуется прохождение авторизации по номеру мобильного телефона и «пин-коду».
                    li В случае изменения номера мобильного телефона необходимо сообщить информацию в кадровую службу вашего предприятия для корректировки информации в системе, после чего на новый номер телефона будет выслан новый «пин-код».
                    li Изменить «пин-код» на другой удобный для вас 6-ти значный цифровой код можно в разделе «смена пароля» Личного кабинета, для этого вам потребуется исходный «пин-код», полученный при регистрации.
