
<div class="modal instruction__modal" id="instruction" data-popup="instruction" tabindex="-1" role="dialog">
  <div class="modal__bg modal-dialog" role="document"></div>
  <div class="modal__wrap instruction">
    <div class="modal__inner">
      <div class="modal__header modal-header">
        <div class="close-modal">
          <button class="btn close-modal__button modal_close"></button>
        </div>
      </div>
      <div class="modal__body">
        <h2 class="title-bl bleft">Инструкция по регистрации на корпоративном портале</h2>
        <ol class="instruction__list">
          <li>Зайдите в Личный кабинет на корпоративном портале <a href="https://intranet.aimholding.ru/">https://intranet.aimholding.ru/</a><img src="../../images/screen/screen_1.png"></li>
          <li>
            В разделе «Рабочие сервисы» на вкладке «Мои сервисы» выберите «Справки и документы» или «Расчетные листы», 
            после чего будет выполнен автоматический переход на страницу регистрации пользователей в Личном кабинете<img src="../../images/screen/screen_2.png">
          </li>
          <li>Чтобы пройти регистрацию в Личном кабинете необходимо ввести номер мобильного телефона. <span style="color:#007BC4;">(В дальнейшем на указанный номер телефона будут приходить уведомления от ЛК о готовности документов и других услугах).</span>А также необходимо подтвердить своё согласие на обработку персональных данных и нажать кнопку «зарегистрироваться»<img src="../../images/screen/screen_3.png"></li>
          <li>
            В течение 30 сек. на указанный номер телефона придет смс с четырехзначным проверочным кодом, 
            который необходимо ввести в строку «код подтверждения» и нажать кнопку «войти»<img src="../../images/screen/screen_4.png">
          </li>
          <li>
            После этого на указанный вами номер телефона с адреса SUEK будет направлено смс уведомление с «пин–кодом», который необходимо сохранить. 
            «Пин-код» потребуется в дальнейшем для прохождения авторизации в случае работы с сервисами Личного кабинета из внешней сети.
          </li>
          <li>
            Система автоматически выполнит переход на страницу сервиса, 
            который был выбран вами при регистрации для дальнейшей работы с ним<img src="../../images/screen/screen_2.png">
          </li>
        </ol>
      </div>
      <div class="modal__footer">
        <p style="color:#007BC4;"> <b>ВАЖНО ЗНАТЬ!</b></p>
        <ol>
          <li>При последующей работе с сервисами Личного кабинета из внутренней корпоративной сети (через корпоративный портал) авторизация пользователя будет выполняться автоматически при входе на портал.</li>
          <li>При дальнейшей работе с сервисами Личного кабинета из внешней сети интернет потребуется прохождение авторизации по номеру мобильного телефона и «пин-коду».</li>
          <li>В случае изменения номера мобильного телефона необходимо сообщить информацию в кадровую службу вашего предприятия для корректировки информации в системе, после чего на новый номер телефона будет выслан новый «пин-код».</li>
          <li>Изменить «пин-код» на другой удобный для вас 6-ти значный цифровой код можно в разделе «смена пароля» Личного кабинета, для этого вам потребуется исходный «пин-код», полученный при регистрации.</li>
        </ol>
      </div>
    </div>
  </div>
</div>