ol.testpages
    li
        a(href="/main.html") Главная
        span gameisch
    li
        a(href="/phonebook.html") Телефонный справочник
        span gameisch
    li
        a(href="/orgsturcture.html") Организационная структура
        span gameisch
    li
        a(href="/vacancy.html") Вакансии
        |  / 
        a(href="/vacancy-inner.html") Вакансия внутренняя
        |  / 
        a(href="/vacancy-modal.html") Модалки вакансий
        span gameisch