mixin testpage()
    ol.testpages
        li
            a(href="https://docs.google.com/spreadsheets/d/1SpcCNDrX6f9ZBqn50te1yFnbNQb3YmR2ub85LWej94E/edit#gid=0", target="blank", style="color:deeppink;") Все макеты в фигме
        li
            a(href="/app/requests.html") Административные заявки

            a(href="/app/request-auto.html") Заявка на автотранспорт

            a(href="/app/request-auto-2.html") Заявка на автотранспорт (Открытая)
            span gameisch
        li
            a(href="/app/knowledge-data.html") Банк знаний
            a(href="/app/knowledge-data-detail.html") Банк знаний - детальная страница
            span gameisch
        li
            a(href="/app/prsafety.html") Безопасность труда
            span gameisch
        li
            a(href="/app/faq.html") Вопрос-ответ
            a(href="/app/faqfilter.html") Вопрос-ответ с фильтром
            span gameisch
        li
            a(href="/app/vacancy.html") Вакансии

            a(href="/app/vacancy-inner.html") Вакансия внутренняя

            a(href="/app/vacancy-modal.html") Модалки вакансий
            span gameisch
        li
            a(href="/app/main.html") Главная
            span gameisch
        li
            a(href="/app/birthdays.html") Дни рождения

            a(href="/app/birthday-modal.html") Модалка для поздравительного текста
            span gameisch
        li
            a(href="/app/complience.html") Комплаенс

            a(href="/app/complience-team.html") Комплаенс-команда
            span gameisch
        li
            a(href="/app/ku.html") Корпоративный университет

            a(href="/app/ku_about_target.html") Наши цели и задачи (КУ)
            a(href="/app/ku_faq.html") Вопрос-ответ (КУ)
            a(href="/app/ku_our_team.html") Наша команда (КУ)
            a(href="/app/ku_facultet.html") Факультет менеджмента и лидерства (КУ)
            a(href="/app/ku_lib.html") Корпоративная библиотека (КУ)
            span gameisch
        li
            a(href="/app/mediateka.html") Медиатека
            span gameisch
        li
            a(href="/app/news.html") Новости
            a(href="/app/news-detail.html") Новости детальная
            span gameisch
        li
            a(href="/app/new_personal.html") Новые сотрудники
            span gameisch
        li
            a(href="/app/custom-lk.html") Общий ЛК (aim, ntk, sgk, eurochem, suek)

            a(href="/app/custom-account.html") Личный кабинет (custom)

            a(href="/app/account.html") Личный кабинет
            a(href="/app/my_appeals.html") Мои обращения
            a(href="/app/declarations.html") 
                b  ЛК Декларации
            ul.testpages
                li
                    a(href="/app/declaresettings.html") Управление декларацией
                li
                    a(href="/app/declareyear.html") Ежегодное декларирование
                li
                    a(href="/app/lkopros.html") ЛК с опросом и верхними кнопками
            a(href="/app/lk.html") 
                b ЛК Core(НОВЫЙ)
            ul.testpages
                li
                    a(href="/app/registration.html") ЛК Регистрация с инструкцией
                li
                    a(href="/app/signin.html") ЛК Авторизация
                li
                    a(href="/app/lk-1.html") ЛК Предприятия
                li
                    a(href="/app/lk-2.html") ЛК Регистрация сотрудника
                li
                    a(href="/app/lk-3.html") ЛК Массовая регистрация сотрудников
                li
                    a(href="/app/lk-4.html") ЛК Изменение пин-кода для сотрудника
                li
                    a(href="/app/lk-5.html") ЛК Изменение почты для сотрудника
            span gameisch
        
        li
            a(href="/app/orgsturcture.html") Организационная структура
            span gameisch
        li
            a(href="/app/aboutus.html") О компании
            span gameisch
        li
            a(href="/app/portal.html") Портал самообслуживания пользователя
            span gameisch
        li
            a(href="/app/prsafety.html") Безопасность труда
            span gameisch
        //- li
        //-     a(href="/app/kodeks.html") Кодекс этики
        //-     span gameisch
        //- li
        //-     a(href="/app/safety.html") Безопасность
        //-     span gameisch
        li
            a(href="/app/quiz.html") Пошаговые опросы сотрудников

            a(href="/app/quiz_2.html") С переключателями (тестовый опрос)

            a(href="/app/quiz_3.html") С градацией (Опрос удовлетворенности процессом подбора персонала)
            a(href="/app/quiz_4.html") C возможностью возврата (Исследование корпоративной культуры и эффективности системы исполнения)
            span gameisch
        li
            a(href="/app/profile.html") Страница профиля
            span gameisch
        li
            a(href="/app/phonebook.html") Телефонный справочник
            span gameisch
        li
            a(href="/app/legalservice.html") Юридическая служба
            a(href="/app/legalservice-structure.html") Структура Юридической службы
            a(href="/app/legalservice-company.html") Структура Компании группы
            a(href="/app/legalservice-modal.html") Юридическая служба - модалка
            a(href="/app/legalservice-faq-error.html") Часто встречабщиеся ошибки
            a(href="/app/legalservice-faq.html") Часто задаваемые вопросы
            span gameisch
