section.section.news_slider
    .items-wrap
        .item
            .city
                .image
                    img(src="../../images/small_slider_news_image.png", alt)
                .body
                    a.title(href="#").

                        Suek.ru

                    .desc.

                        Улан-Удэ, Бурятия

            .image
                img(src="../../images/news_slider_image1.png", alt)
            .btns-wrap
                a.like(href="#") 82
                a.comment(href="#") 0
            .text.

                Будущие сельские медики познакомились с программой СУЭК «Здоровье»...

            .tags
                a(href="#") #СУЭК
                |  
                a(href="#") #SUEK
                |  
                a(href="#") #УланУдэ
        .item
            .city
                .image
                    img(src="../../images/small_slider_news_image.png", alt)
                .body
                    a.title(href="#").

                        Suek.ru

                    .desc.

                        Владивосток

            .image
                img(src="../../images/news_slider_image2.png", alt)
            .btns-wrap
                a.like(href="#") 105
                a.comment(href="#") 0
            .text.

                Соревнования выявили самых спортивных сотрудников аппарата управления ООО «Приморскуголь»

            .tags
                a(href="#") #СУЭК
                |  
                a(href="#") #SUEK
                |  
                a(href="#") #приморье
        .item
            .city
                .image
                    img(src="../../images/small_slider_news_image.png", alt)
                .body
                    a.title(href="#").

                        Suek.ru

                    .desc.

                        пос. Дровяная Забайкальского края

            .image
                img(src="../../images/news_slider_image3.png", alt)
            .btns-wrap
                a.like(href="#") 81
                a.comment(href="#") 0
            .text.

                Горняки разреза Восточный СУЭК провели традиционный турнир по хоккею на валенках...

            .tags
                a(href="#") #СУЭК
                |  
                a(href="#") #SUEK
                |  
                a(href="#") #Забайкалье
        .item
            .city
                .image
                    img(src="../../images/small_slider_news_image.png", alt)
                .body
                    a.title(href="#").

                        Suek.ru

                    .desc.

                        пос. Дровяная Забайкальского края

            .image
                img(src="../../images/news_slider_image4.png", alt)
            .btns-wrap
                a.like(href="#") 82
                a.comment(href="#") 5
            .text.

                Забайкальские горняки получили в награду автомобили от СУЭК за победу в производственных соревнованиях по итогам 2019 года

            .tags
                a(href="#") #СУЭК
                |  
                a(href="#") #SUEK
                |  
                a(href="#") #Чита
        .item
            .city
                .image
                    img(src="../../images/small_slider_news_image.png", alt)
                .body
                    a.title(href="#").

                        Suek.ru

                    .desc.

                        Улан-Удэ, Бурятия

            .image
                img(src="../../images/news_slider_image1.png", alt)
            .btns-wrap
                a.like(href="#") 82
                a.comment(href="#") 0
            .text.

                Будущие сельские медики познакомились с программой СУЭК «Здоровье»...

            .tags
                a(href="#") #СУЭК
                |  
                a(href="#") #SUEK
                |  
                a(href="#") #УланУдэ
        .item
            .city
                .image
                    img(src="../../images/small_slider_news_image.png", alt)
                .body
                    a.title(href="#").

                        Suek.ru

                    .desc.

                        Владивосток

            .image
                img(src="../../images/news_slider_image2.png", alt)
            .btns-wrap
                a.like(href="#") 105
                a.comment(href="#") 0
            .text.

                Соревнования выявили самых спортивных сотрудников аппарата управления ООО «Приморскуголь»

            .tags
                a(href="#") #СУЭК
                |  
                a(href="#") #SUEK
                |  
                a(href="#") #приморье