
<section class="section news_slider">
  <div class="items-wrap">
    <div class="item">
      <div class="city">
        <div class="image"><img src="../../images/small_slider_news_image.png" alt></div>
        <div class="body"><a class="title" href="#">
            Suek.ru
            </a>
          <div class="desc">
            Улан-Удэ, Бурятия
            
          </div>
        </div>
      </div>
      <div class="image"><img src="../../images/news_slider_image1.png" alt></div>
      <div class="btns-wrap"><a class="like" href="#">82</a><a class="comment" href="#">0</a></div>
      <div class="text">
        Будущие сельские медики познакомились с программой СУЭК «Здоровье»...
        
      </div>
      <div class="tags"><a href="#">#СУЭК</a> <a href="#">#SUEK</a> <a href="#">#УланУдэ</a></div>
    </div>
    <div class="item">
      <div class="city">
        <div class="image"><img src="../../images/small_slider_news_image.png" alt></div>
        <div class="body"><a class="title" href="#">
            Suek.ru
            </a>
          <div class="desc">
            Владивосток
            
          </div>
        </div>
      </div>
      <div class="image"><img src="../../images/news_slider_image2.png" alt></div>
      <div class="btns-wrap"><a class="like" href="#">105</a><a class="comment" href="#">0</a></div>
      <div class="text">
        Соревнования выявили самых спортивных сотрудников аппарата управления ООО «Приморскуголь»
        
      </div>
      <div class="tags"><a href="#">#СУЭК</a> <a href="#">#SUEK</a> <a href="#">#приморье</a></div>
    </div>
    <div class="item">
      <div class="city">
        <div class="image"><img src="../../images/small_slider_news_image.png" alt></div>
        <div class="body"><a class="title" href="#">
            Suek.ru
            </a>
          <div class="desc">
            пос. Дровяная Забайкальского края
            
          </div>
        </div>
      </div>
      <div class="image"><img src="../../images/news_slider_image3.png" alt></div>
      <div class="btns-wrap"><a class="like" href="#">81</a><a class="comment" href="#">0</a></div>
      <div class="text">
        Горняки разреза Восточный СУЭК провели традиционный турнир по хоккею на валенках...
        
      </div>
      <div class="tags"><a href="#">#СУЭК</a> <a href="#">#SUEK</a> <a href="#">#Забайкалье</a></div>
    </div>
    <div class="item">
      <div class="city">
        <div class="image"><img src="../../images/small_slider_news_image.png" alt></div>
        <div class="body"><a class="title" href="#">
            Suek.ru
            </a>
          <div class="desc">
            пос. Дровяная Забайкальского края
            
          </div>
        </div>
      </div>
      <div class="image"><img src="../../images/news_slider_image4.png" alt></div>
      <div class="btns-wrap"><a class="like" href="#">82</a><a class="comment" href="#">5</a></div>
      <div class="text">
        Забайкальские горняки получили в награду автомобили от СУЭК за победу в производственных соревнованиях по итогам 2019 года
        
      </div>
      <div class="tags"><a href="#">#СУЭК</a> <a href="#">#SUEK</a> <a href="#">#Чита</a></div>
    </div>
    <div class="item">
      <div class="city">
        <div class="image"><img src="../../images/small_slider_news_image.png" alt></div>
        <div class="body"><a class="title" href="#">
            Suek.ru
            </a>
          <div class="desc">
            Улан-Удэ, Бурятия
            
          </div>
        </div>
      </div>
      <div class="image"><img src="../../images/news_slider_image1.png" alt></div>
      <div class="btns-wrap"><a class="like" href="#">82</a><a class="comment" href="#">0</a></div>
      <div class="text">
        Будущие сельские медики познакомились с программой СУЭК «Здоровье»...
        
      </div>
      <div class="tags"><a href="#">#СУЭК</a> <a href="#">#SUEK</a> <a href="#">#УланУдэ</a></div>
    </div>
    <div class="item">
      <div class="city">
        <div class="image"><img src="../../images/small_slider_news_image.png" alt></div>
        <div class="body"><a class="title" href="#">
            Suek.ru
            </a>
          <div class="desc">
            Владивосток
            
          </div>
        </div>
      </div>
      <div class="image"><img src="../../images/news_slider_image2.png" alt></div>
      <div class="btns-wrap"><a class="like" href="#">105</a><a class="comment" href="#">0</a></div>
      <div class="text">
        Соревнования выявили самых спортивных сотрудников аппарата управления ООО «Приморскуголь»
        
      </div>
      <div class="tags"><a href="#">#СУЭК</a> <a href="#">#SUEK</a> <a href="#">#приморье</a></div>
    </div>
  </div>
</section>