
<div class="news-block news-block-new">
  <div class="title-bl"><img src="../../images/image_news/news_title.png"></div>
  <div class="right-side">
    <div class="popular-news">
      <div class="title-bl">Популярное</div>
      <div class="item">
        <div class="title"><a href="#">У General Motors упали продажи</a></div>
        <div class="date">27 ноября</div>
      </div>
      <div class="item with-image">
        <div class="left">
          <div class="title"><a href="#">Москва решила увеличить добычу нефти</a></div>
          <div class="date">26 ноября</div>
        </div>
        <div class="image"><img src="../images/image_news/msc.png" alt></div>
      </div>
      <div class="item">
        <div class="left">
          <div class="title"><a href="#">Как стать инвестором, не имея значительного капитала, знаний и времени</a></div>
          <div class="date">25 ноября</div>
        </div>
      </div>
      <div class="item">
        <div class="title"><a href="#">Шахматы после Илюмжинова: с какими проблемами столкнется Дворкович в ФИДЕ</a></div>
        <div class="date">25 ноября</div>
      </div>
      <div class="item">
        <div class="title"><a href="#">Москва решиал увеличить добычу нефти</a></div>
        <div class="date">24 ноября</div>
      </div>
    </div>
  </div>
  <div class="big_news">
    <div class="item">
      <div class="image"><img src="../images/image_news/news_image.png" alt></div><a class="title" href="/stranica-novosti.html">Польские энергокомпании вынуждены покупать российский уголь</a>
      <div class="body">
        Польские угольные шахты не в состоянии покрыть спрос, и даже контролируемые государством энергетические компании PGE и Tauron уже используют сырье из России, пишет польское издание DGP. Так же, хотелось бы отмети ...
        
      </div>
      <div class="date_news">27 ноября 2019</div>
      <div class="btns-wrap"><a class="like" href="#">153</a><a class="comment" href="#">36</a><a class="see" href="#">256</a><a class="favorite" href="#"></a></div>
    </div>
  </div>
  <div class="item_bl"><a class="title" href="#">Пенсионерам хотят снизить компенсацию за уголь в ЕАО</a>
    <div class="body">
      Вопрос об ограничении размера компенсации возник не случайно. Относительно недавно комитет социальной защиты случайно столкнулся с тем, что жители ...
      
    </div>
    <div class="date_news">27 ноября 2019</div>
    <div class="btns-wrap"><a class="like" href="#">153</a><a class="comment" href="#">36</a><a class="see" href="#">256</a><a class="favorite" href="#"></a></div>
  </div>
  <div class="item_bl"><a class="title" href="#">Германия отказалась от угля. От этого выиграет Россия</a>
    <div class="body">
      Вопрос об ограничении размера компенсации возник не случайно. Относительно недавно комитет социальной защиты случайно столкнулся с тем, что жители ...
      
    </div>
    <div class="date_news">27 ноября 2019</div>
    <div class="btns-wrap"><a class="like" href="#">153</a><a class="comment" href="#">36</a><a class="see" href="#">256</a><a class="favorite" href="#"></a></div>
  </div>
  <div class="item_bl"><a class="title" href="#">Для кузбасского угля будет расширен железнодорожный...</a>
    <div class="body">
      Вопрос об ограничении размера компенсации возник не случайно. Относительно недавно комитет социальной защиты случайно столкнулся с тем, что жители ...
      
    </div>
    <div class="date_news">27 ноября 2019</div>
    <div class="btns-wrap"><a class="like" href="#">153</a><a class="comment" href="#">36</a><a class="see" href="#">256</a><a class="favorite" href="#"></a></div>
  </div>
  <div class="item_bl"><a class="title" href="#">В Приморье начали добывать уголь открытым способом</a>
    <div class="body">
      Вопрос об ограничении размера компенсации возник не случайно. Относительно недавно комитет социальной защиты случайно столкнулся с тем, что жители ...
      
    </div>
    <div class="date_news">27 ноября 2019</div>
    <div class="btns-wrap"><a class="like" href="#">153</a><a class="comment" href="#">36</a><a class="see" href="#">256</a><a class="favorite" href="#"></a></div>
  </div>
  <div class="clear"></div>
  <div class="more-news"><a href="#">Все новости</a></div>
</div>