mixin newslist()
    .news-block.news-block-new
        +title_bl('image_news/news_title.png')
        .right-side
            .popular-news
                .title-bl Популярное
                .item
                    .title
                        a(href="#") У General Motors упали продажи
                    .date 27 ноября
                .item.with-image
                    .left
                        .title
                            a(href="#") Москва решила увеличить добычу нефти
                        .date 26 ноября
                    .image
                        img(src="../images/image_news/msc.png", alt)
                .item
                    .left
                        .title
                            a(href="#") Как стать инвестором, не имея значительного капитала, знаний и времени
                        .date 25 ноября
                .item
                    .title
                        a(href="#") Шахматы после Илюмжинова: с какими проблемами столкнется Дворкович в ФИДЕ
                    .date 25 ноября
                .item
                    .title
                        a(href="#") Москва решила увеличить добычу нефти
                    .date 24 ноября
        .big_news
            .item
                .image
                    img(src="../images/image_news/news_image.png", alt)
                a.title(href="/stranica-novosti.html") Польские энергокомпании вынуждены покупать российский уголь
                .body.

                    Польские угольные шахты не в состоянии покрыть спрос, и даже контролируемые государством энергетические компании PGE и Tauron уже используют сырье из России, пишет польское издание DGP. Так же, хотелось бы отмети ...

                .date_news 27 ноября 2019
                .btns-wrap
                    a.like(href="#") 153
                    a.comment(href="#") 36
                    a.see(href="#") 256
                    a.favorite(href="#")
        .item_bl
            a.title(href="#") Пенсионерам хотят снизить компенсацию за уголь в ЕАО
            .body.

                Вопрос об ограничении размера компенсации возник не случайно. Относительно недавно комитет социальной защиты случайно столкнулся с тем, что жители ...

            .date_news 27 ноября 2019
            .btns-wrap
                a.like(href="#") 153
                a.comment(href="#") 36
                a.see(href="#") 256
                a.favorite(href="#")
        .item_bl
            a.title(href="#") Германия отказалась от угля. От этого выиграет Россия
            .body.

                Вопрос об ограничении размера компенсации возник не случайно. Относительно недавно комитет социальной защиты случайно столкнулся с тем, что жители ...

            .date_news 27 ноября 2019
            .btns-wrap
                a.like(href="#") 153
                a.comment(href="#") 36
                a.see(href="#") 256
                a.favorite(href="#")
        .item_bl
            a.title(href="#") Для кузбасского угля будет расширен железнодорожный...
            .body.

                Вопрос об ограничении размера компенсации возник не случайно. Относительно недавно комитет социальной защиты случайно столкнулся с тем, что жители ...

            .date_news 27 ноября 2019
            .btns-wrap
                a.like(href="#") 153
                a.comment(href="#") 36
                a.see(href="#") 256
                a.favorite(href="#")
        .item_bl
            a.title(href="#") В Приморье начали добывать уголь открытым способом
            .body.

                Вопрос об ограничении размера компенсации возник не случайно. Относительно недавно комитет социальной защиты случайно столкнулся с тем, что жители ...

            .date_news 27 ноября 2019
            .btns-wrap
                a.like(href="#") 153
                a.comment(href="#") 36
                a.see(href="#") 256
                a.favorite(href="#")
        .clear
        .more-news
            a(href="#") Все новости
