nav.with-nav__wrap
    ul.with-nav__list
        li.with-nav__item.active
            a(href="#", data-sec-trigger="sec-1") Новая заявка
        li.with-nav__item
            a(href="#", data-sec-trigger="sec-2") Мои заявки
        li.with-nav__item
            a(href="#", data-sec-trigger="sec-3") Инструкции
        li.with-nav__item
            a(href="#", data-sec-trigger="sec-4") Смена пароля
        li.with-nav__item
            a(href="#") Выход