.MainSlider#MainSlider
    div
        .MainSlider--slide(style="background-image:url(../../images/main-slider-bg/slide_prices.jpg);", data-rjs='3')
            .MainSlider--content.MainSlider--content__01
                .MainSlider--logos
                    a.MainSlider--logo(href="#")
                        img(src="../../images/main-slider-logos/suek-logo.svg")
                    a.MainSlider--logo(href="#")
                        img(src="../../images/main-slider-logos/ntk-logo.svg")
                    a.MainSlider--logo(href="#")
                        img(src="../../images/main-slider-logos/sgk-logo.svg")
                    a.MainSlider--logo(href="#")
                        img(src="../../images/main-slider-logos/evrohim-logo.svg")
                .MainSlider--title 
                    | Операционные 
                    b  показатели
                .MainSliderParams
                    .row.d-flex.align-items-stretch.mx-n4
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title
                                    | Выработка
                                    br
                                    | электроэнергии

                                .MainSliderParams--value.d-inline-block
                                    | 63,7

                                    .MainSliderParams--desciption Твт*ч
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title
                                    | Отпуск
                                    br
                                    | теплоэнергии

                                .MainSliderParams--value.d-inline-block
                                    | 43,7

                                    .MainSliderParams--desciption млн Гкал
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title
                                    | Перевалка
                                    br
                                    | угля

                                .MainSliderParams--value.d-inline-block
                                    | 39,7

                                    .MainSliderParams--desciption млн тонн
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title
                                    | Добыча
                                    br
                                    | угля

                                .MainSliderParams--value.d-inline-block
                                    | 101,2

                                    .MainSliderParams--desciption млн тонн
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title
                                    | Производство
                                    br
                                    | удобрений

                                .MainSliderParams--value.d-inline-block
                                    | 27,9

                                    .MainSliderParams--desciption млн тонн
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title
                                    | Производство
                                    br
                                    | хлорида калия

                                .MainSliderParams--value.d-inline-block
                                    | 2,2

                                    .MainSliderParams--desciption млн тонн
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title
                                    | Капитальные
                                    br
                                    | затраты

                                .MainSliderParams--value.d-inline-block
                                    | 1,026

                                    .MainSliderParams--desciption млн $
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title
                                    | Численность
                                    br
                                    | персонала

                                .MainSliderParams--value.d-inline-block.MainSliderParams--value__cond
                                    | 105 000

                                    .MainSliderParams--desciption
    div
        .MainSlider--slide(style="background-image:url(../../images/main-slider-bg/slide_charc.jpg);", data-rjs='3')
            .MainSlider--content.MainSlider--content__02
                .MainSlider--logos
                    .MainSlider--logo
                        img(src="../../images/main-slider-logos/suek-logo.svg")
                .MainSlider--title
                    | Дивизион Уголь,
                    br
                    b операционные показатели
                .MainSliderParams
                    .row.d-flex.align-items-stretch.mx-n4
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title
                                    | Добыча
                                    br
                                    | открытым способом

                                .MainSliderParams--value.d-inline-block
                                    | 74,5

                                    .MainSliderParams--desciption млн тонн
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title
                                    | Добыча
                                    br
                                    | подземным способом

                                .MainSliderParams--value.d-inline-block
                                    | 26,7

                                    .MainSliderParams--desciption млн тонн
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title.
                                    Обогащение

                                .MainSliderParams--value.d-inline-block
                                    | 44,2

                                    .MainSliderParams--desciption млн тонн
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title.
                                    LTIFR

                                .MainSliderParams--value.d-inline-block
                                    | 0,72

                                    .MainSliderParams--desciption
    div
        .MainSlider--slide(style="background-image:url(../../images/main-slider-bg/slide_logistic.jpg);", data-rjs='3')
            .MainSlider--content.MainSlider--content__03
                .MainSlider--logos
                    .MainSlider--logo
                        img(src="../../images/main-slider-logos/ntk-logo.svg")
                .MainSlider--title
                    | Дивизион Логистика,
                    br
                    b операционные показатели
                .MainSliderParams
                    .row.d-flex.align-items-stretch.mx-n4
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title
                                    | Железнодорожные
                                    br
                                    | перевозки

                                .MainSliderParams--value.d-inline-block
                                    | 85,7

                                    .MainSliderParams--desciption млн тонн
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title
                                    | Перевалка
                                    br
                                    | угля

                                .MainSliderParams--value.d-inline-block
                                    | 39,7

                                    .MainSliderParams--desciption млн тонн
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title
                                    | Перевалка
                                    br
                                    | не угольных грузов

                                .MainSliderParams--value.d-inline-block
                                    | 10,6

                                    .MainSliderParams--desciption млн тонн
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title.
                                    LTIFR

                                .MainSliderParams--value.d-inline-block
                                    | 0,72

                                    .MainSliderParams--desciption
    div
        .MainSlider--slide(style="background-image:url(../../images/main-slider-bg/slide_energy.jpg);", data-rjs='3')
            .MainSlider--content.MainSlider--content__04
                .MainSlider--logos
                    .MainSlider--logo
                        img(src="../../images/main-slider-logos/sgk-logo.svg")
                .MainSlider--title
                    | Дивизион Энергетика,
                    br
                    b операционные показатели
                .MainSliderParams
                    .row.d-flex.align-items-stretch.mx-n4
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title
                                    | Выработка
                                    br
                                    | электроэнергии

                                .MainSliderParams--value.d-inline-block
                                    | 63,7

                                    .MainSliderParams--desciption Твт•ч
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title
                                    | Отпуск
                                    br
                                    | теплоэнергии

                                .MainSliderParams--value.d-inline-block
                                    | 43,7

                                    .MainSliderParams--desciption млн Гкал
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title.
                                    LTIFR

                                .MainSliderParams--value.d-inline-block
                                    | 0,24

                                    .MainSliderParams--desciption
    div
        .MainSlider--slide(style="background-image:url(../../images/main-slider-bg/slide_mount.jpg);", data-rjs='3')
            .MainSlider--content.MainSlider--content__05
                .MainSlider--logos
                    .MainSlider--logo
                        img(src="../../images/main-slider-logos/evrohim-logo.svg")
                .MainSlider--title
                    | Дивизион Горнорудный,
                    br
                    b операционные показатели
                .MainSliderParams
                    .row.d-flex.align-items-stretch.mx-n4
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title
                                    | Производство
                                    br
                                    | хлорида калия

                                .MainSliderParams--value.d-inline-block
                                    | 2,2

                                    .MainSliderParams--desciption млн тонн
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title
                                    | Производство
                                    br
                                    | концентрата

                                .MainSliderParams--value.d-inline-block
                                    | 2,2

                                    .MainSliderParams--desciption млн тонн
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title
                                    | Добыча
                                    br
                                    | железной руды

                                .MainSliderParams--value.d-inline-block
                                    | 5,5

                                    .MainSliderParams--desciption млн тонн
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title.
                                    Добыча калия

                                .MainSliderParams--value.d-inline-block
                                    | >8

                                    .MainSliderParams--desciption млн тонн
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title.
                                    LTIFR

                                .MainSliderParams--value.d-inline-block
                                    | 2,59

                                    .MainSliderParams--desciption
    div
        .MainSlider--slide(style="background-image:url(../../images/main-slider-bg/slide_mineral.jpg);", data-rjs='3')
            .MainSlider--content.MainSlider--content__06
                .MainSlider--logos
                    .MainSlider--logo
                        img(src="../../images/main-slider-logos/evrohim-logo.svg")
                .MainSlider--title
                    | Дивизион Минеральные удобрения, 
                    b операционные показатели
                .MainSliderParams
                    .row.d-flex.align-items-stretch.mx-n4
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title
                                    | Производство
                                    br
                                    | удобрений

                                .MainSliderParams--value.d-inline-block
                                    | 27,9

                                    .MainSliderParams--desciption млн тонн
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title
                                    | Производство
                                    br
                                    | аммиака

                                .MainSliderParams--value.d-inline-block
                                    | 994

                                    .MainSliderParams--desciption тыс тонн
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title.
                                    Уровень загрузки

                                .MainSliderParams--value.d-inline-block
                                    | 97,3 %

                                    .MainSliderParams--desciption
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title.
                                    LTIFR

                                .MainSliderParams--value.d-inline-block
                                    | 0,67

                                    .MainSliderParams--desciption
    div
        .MainSlider--slide(style="background-image:url(../../images/main-slider-bg/slide_marketing.jpg);", data-rjs='3')
            .MainSlider--content.MainSlider--content__07
                .MainSlider--title
                    | Дивизион Маркетинг и сбыт,
                    br
                    b операционные показатели
                .MainSliderParams
                    .row.d-flex.align-items-stretch.mx-n4
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title
                                    | Продажи
                                    br
                                    | угля

                                .MainSliderParams--value.d-inline-block
                                    | 115,1

                                    .MainSliderParams--desciption млн тонн
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title
                                    | Продажи
                                    br
                                    | электроэнергии

                                .MainSliderParams--value.d-inline-block
                                    | 55,2

                                    .MainSliderParams--desciption Твт
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title
                                    | Продажи
                                    br
                                    | теплоэнергии

                                .MainSliderParams--value.d-inline-block
                                    | 35,3

                                    .MainSliderParams--desciption млн Гкал
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title
                                    | Продажи
                                    br
                                    | удобрений

                                .MainSliderParams--value.d-inline-block
                                    | 17,914

                                    .MainSliderParams--desciption тыс тонн
    div
        .MainSlider--slide(style="background-image:url(../../images/main-slider-bg/slide_fin.jpg);", data-rjs='3')
            .MainSlider--content.MainSlider--content__08
                .MainSlider--title Финансовые 
                    b  показатели
                .MainSliderParams
                    table.financial-highlights.text-white
                        thead
                            tr
                                td.align-middle МЛН ДОЛЛ. США
                                td.text-right.align-middle
                                    .min-logo
                                        //- <img src="../../images/helpers/financial-highlights_suek.svg">
                                        img(src="../../images/main-slider-logos/suek-logo.svg")
                                        span +
                                        img(src="../../images/main-slider-logos/sgk-logo.svg")
                                        span +
                                        img(src="../../images/main-slider-logos/ntk-logo.svg")
                                td.text-right.align-middle
                                    .min-logo
                                        //- img(src="../../images/helpers/financial-highlights_evrohim.svg")
                                        img(src="../../images/main-slider-logos/evrohim-logo.svg")
                        tbody
                            tr
                                td.font-weight-bold Себестоимость реализации продукции
                                td.font-weight-bold.text-center (5 608)
                                td.font-weight-bold.text-right (3 609)
                            tr
                                td.font-weight-bold EBITDA
                                td.font-weight-bold.text-center 1 973
                                td.font-weight-bold.text-right 1 809
                            tr
                                td Рентабельность EBITDA (%)
                                td.text-center 30%
                                td.text-right 29%
                            tr
                                td.font-weight-bold Капитальные вложения
                                td.font-weight-bold.text-center 1 026
                                td.font-weight-bold.text-right 1 168
                            tr
                                td.font-weight-bold Операционный денежный поток
                                td.font-weight-bold.text-center 1 669
                                td.font-weight-bold.text-right 1 556
                            tr
                                td.font-weight-bold Чистый долг
                                td.font-weight-bold.text-center 6 819
                                td.font-weight-bold.text-right 4 300
                            tr
                                td Чистый долг / банковский показатель EBITDA
                                td.text-center 3,3x
                                td.text-right 3,5x
    div
        .MainSlider--slide(style="background-image:url(../../images/main-slider-bg/slide_news2.jpg);", data-rjs='3')
            .MainSlider--content.MainSlider--content__09
                .MainSlider--title АО «СУЭК» – лучшая в России в социальной ответственности и развитии персонала
                .MainSliderButtons.d-flex.align-items-center
                    .more
                        a(href="#") Подробнее
                    .allmore
                        a(href="#") Все новости
    div
        .MainSlider--slide(style="background-image:url(../../images/main-slider-bg/slide_birthday.jpg);", data-rjs='3')
            .MainSlider--content.MainSlider--content__10
                .MainSlider--title
                    | С Днем 
                    b  рождения!
                .MainSliderParams
                    .row.align-items-stretch.text-center
                        .col-6.col-sm-3.d-flex.flex-column.align-items-center.mb-4

                            .congratulate-action.link.js-show-happy-birthday-popup
                                a.js-prepare-congrats(data-id="122", href="#")
                                    img(src="../../images/gift.svg")

                            .photo.d-inline-block.mb-3.Staff--birthday__today
                                img.rounded-circle.mx-auto(src="../../images/people/employees1.png")
                            .name.mb-2
                                b Александр Стоцкий
                            .position.Staff--position.mb-auto Директор по персоналу и администрации, а так же Заместитель Генерального директора
                        .col-6.col-sm-3.d-flex.flex-column.align-items-center.mb-4
                            .congratulate-action.link.js-show-happy-birthday-popup
                                a.js-prepare-congrats(data-id="123", href="#")
                                    img(src="../../images/gift.svg")
                            .photo.d-inline-block.mb-3.Staff--birthday__today
                                img.rounded-circle.mx-auto(src="../../images/people/employees2.png")
                            .name.mb-2
                                b Константин Константинопольский
                            .position.Staff--position.mb-auto Заместитель Генерального директора
                        .col-6.col-sm-3.d-flex.flex-column.align-items-center.mb-4
                            .congratulate-action.link.js-show-happy-birthday-popup
                                a.js-prepare-congrats(data-id="125", href="#")
                                    img(src="../../images/gift.svg")
                            .photo.d-inline-block.mb-3.Staff--birthday__today
                                img.rounded-circle.mx-auto(src="../../images/people/employees3.png")
                            .name.mb-2
                                b София Велкопоповицкая
                            .position.Staff--position.mb-auto Заместитель Директора по персоналу
                        .col-6.col-sm-3.d-flex.flex-column.align-items-center.mb-4
                            .congratulate-action.link.js-show-happy-birthday-popup
                                a.js-prepare-congrats(data-id="124", href="#")
                                    img(src="../../images/gift.svg")
                            .photo.d-inline-block.mb-3.Staff--birthday__today
                                img.rounded-circle.mx-auto(src="../../images/people/employees4.png")
                            .name.mb-2
                                b Анна-Мария Прокопенко
                            .position.Staff--position.mb-auto Генеральный директор филиала СУЭК-Красноярск
                    .MainSliderButtons.d-flex.align-items-center.justify-content-end
                        .more.pr-0
                            a(href="#")
                                | Все дни рождения 
                                span.text-white.pl-2 15
    div
        .MainSlider--slide(style="background-image:url(../../images/main-slider-bg/slide_pers.jpg);", data-rjs='3')
            .MainSlider--content.MainSlider--content__11
                .MainSlider--title
                    | Новые 
                    b  сотрудники
                .MainSliderParams
                    .row.align-items-stretch.text-center
                        .col-6.col-sm-3.col-3.d-flex.flex-column.justify-content-between.align-items-center.mb-4
                            .photo.d-inline-block.mb-3
                                img.rounded-circle.mx-auto(src="../../images/people/employees5.png")
                            .name.mb-2
                                b Феофан Ферганов
                            .position.mb-auto Топ-менеджер CEO
                        .col-6.col-sm-3.col-3.d-flex.flex-column.justify-content-between.align-items-center.mb-4
                            .photo.d-inline-block.mb-3
                                img.rounded-circle.mx-auto(src="../../images/people/employees6.png")
                            .name.mb-2
                                b Александр Фергюссонов
                            .position.mb-auto Шахтер 1-ой категории
                        .col-6.col-sm-3.col-3.d-flex.flex-column.justify-content-between.align-items-center.mb-4
                            .photo.d-inline-block.mb-3
                                img.rounded-circle.mx-auto(src="../../images/people/employees3.png")
                            .name.mb-2
                                b Лиана Пастухова
                            .position.mb-auto Генеральный директор филиала СУЭК-Хакасия
                        .col-6.col-sm-3.col-3.d-flex.flex-column.justify-content-between.align-items-center.mb-4
                            .photo.d-inline-block.mb-3
                                img.rounded-circle.mx-auto(src="../../images/people/employees4.png")
                            .name.mb-2
                                b Лиана Пастухова
                            .position.mb-auto Заместитель Генерального директора филиала
                    .MainSliderButtons.d-flex.align-items-center.justify-content-end
                        .more.pr-0
                            a(href="#")
                                | Все новые сотрудники 
                                span.text-white.pl-2 23
    div
        .MainSlider--slide(style="background-image:url(../../images/main-slider-bg/slide_events.jpg);", data-rjs='3')
            .MainSlider--content.MainSlider--content__12
                .MainSlider--title
                    | Ближайшие 
                    b  события
                .MainSliderParams
                    .row.align-items-stretch
                        .col-6.col-sm-3.d-flex.flex-column.justify-content-between.mb-4
                            .photo.d-inline-block.mb-3
                                img.event.d-block.mx-auto(src="../../images/events/event01.png")
                            .name.mb-2
                                b Организация отдыха для детей портовиков в дни Новогодних каникул
                            .position.mt-auto 1 января 2020
                        .col-6.col-sm-3.d-flex.flex-column.justify-content-between.mb-4
                            .photo.d-inline-block.mb-3
                                img.event.d-block.mx-auto(src="../../images/events/event02.png")
                            .name.mb-2
                                b Выступления ХК Мурман в Супер-Лиге по хоккею с мячем
                            .position.mt-auto 6 января 2020
                        .col-6.col-sm-3.d-flex.flex-column.justify-content-between.mb-4
                            .photo.d-inline-block.mb-3
                                img.event.d-block.mx-auto(src="../../images/events/event03.png")
                            .name.mb-2
                                b Акция “Дарю добро”
                            .position.mt-auto 8 января 2020
                        .col-6.col-sm-3.d-flex.flex-column.justify-content-between.mb-4
                            .photo.d-inline-block.mb-3
                                img.event.d-block.mx-auto(src="../../images/events/event04.png")
                            .name.mb-2
                                b Поздравление генерального директора АО ДТУ
                            .position.mt-auto 12 января 2020
                    .MainSliderButtons.d-flex.align-items-center.justify-content-end
                        .more.pr-0
                            a(href="#")
                                | Все ближайшие события 
                                span.text-white.pl-2 32
    div
        .MainSlider--slide(style="background-image:url(../../images/main-slider-bg/slide_news1.jpg);", data-rjs='3')
            .MainSlider--content.MainSlider--content__13
                .MainSlider--title
                    | Цены на 
                    b уголь
                .MainSliderParams
                    .row.d-flex.align-items-stretch.mx-n4
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title
                                    | API 2
                                    img.d-inline.ml-2.align-baseline(src="../../images/helpers/up.svg")
                                .MainSliderParams--value.d-inline-block
                                    | 55,6

                                    .MainSliderParams--desciption $ / тонну
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title
                                    | API 8
                                    img.d-inline.ml-2.align-baseline(src="../../images/helpers/down.svg")
                                .MainSliderParams--value.d-inline-block
                                    | 68,4

                                    .MainSliderParams--desciption $ / тонну
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title
                                    | GC NEWC
                                    img.d-inline.ml-2.align-baseline(src="../../images/helpers/up.svg")
                                .MainSliderParams--value.d-inline-block
                                    | 104,2

                                    .MainSliderParams--desciption $ / тонну
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title
                                    | CCI5500
                                    img.d-inline.ml-2.align-baseline(src="../../images/helpers/up.svg")
                                .MainSliderParams--value.d-inline-block
                                    | 65,7

                                    .MainSliderParams--desciption $ / тонну
    div
        .MainSlider--slide(style="background-image:url(../../images/main-slider-bg/slide_valute.jpg);", data-rjs='3')
            .MainSlider--content.MainSlider--content__14
                .MainSlider--title
                    | Валюта 
                    b и нефть
                .MainSliderParams
                    .row.d-flex.align-items-stretch.mx-n4
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title
                                    | US Dollar
                                    img.d-inline.ml-2.align-baseline(src="../../images/helpers/up.svg")
                                .MainSliderParams--value.d-inline-block
                                    | 65,8

                                    .MainSliderParams--desciption рублей
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title
                                    | EURO
                                    img.d-inline.ml-2.align-baseline(src="../../images/helpers/down.svg")
                                .MainSliderParams--value.d-inline-block
                                    | 73,4

                                    .MainSliderParams--desciption рублей
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title
                                    | Brent
                                    img.d-inline.ml-2.align-baseline(src="../../images/helpers/down.svg")
                                .MainSliderParams--value.d-inline-block
                                    | 70,0

                                    .MainSliderParams--desciption $ / баррель
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title
                                    | URALS
                                    img.d-inline.ml-2.align-baseline(src="../../images/helpers/up.svg")
                                .MainSliderParams--value.d-inline-block
                                    | 75,0

                                    .MainSliderParams--desciption $ / баррель
    div
        .MainSlider--slide(style="background-image:url(../../images/main-slider-bg/slide_credit.jpg);", data-rjs='3')
            .MainSlider--content.MainSlider--content__15
                .MainSlider--title
                    | Кредитные 
                    b  рейтинги
                .MainSliderParams
                    .row.d-flex.align-items-stretch.mx-n4

                        .col.col-12.col-sm-12.mb-2.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSlider--logo
                                    img(src="../../images/main-slider-logos/suek-logo.svg")
                                    span группа компаний
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title Moody’s
                                .MainSliderParams--value.d-inline-block Ba2
                                    .MainSliderParams--desciption POSITIVE
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title PA
                                .MainSliderParams--value.d-inline-block BB
                                    .MainSliderParams--desciption Stable
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title FITCH
                                .MainSliderParams--value.d-inline-block ruAA-
                                    .MainSliderParams--desciption Stable

                        .col.col-12.col-sm-12.mb-2.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSlider--logo
                                    img(src="../../images/main-slider-logos/evrohim-logo.svg")
                        .col.col-6.col-sm-2.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title S&P
                                .MainSliderParams--value.d-inline-block BB
                                    .MainSliderParams--desciption Stable
                        .col.col-6.col-sm-2.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title Moody’s
                                .MainSliderParams--value.d-inline-block Ba2
                                    .MainSliderParams--desciption Stable
                        .col.col-6.col-sm-2.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title FITCH
                                .MainSliderParams--value.d-inline-block BB
                                    .MainSliderParams--desciption Stable
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title RAEX
                                .MainSliderParams--value.d-inline-block ruAA
                                    .MainSliderParams--desciption Stable
                        .col.col-6.col-sm-3.mb-5.px-4
                            .MainSliderParams--item.d-flex.flex-column.justify-content-between.align-items-start
                                .MainSliderParams--title ACRA
                                .MainSliderParams--value.d-inline-block AA-(RU)
                                    .MainSliderParams--desciption Stable
