
<div class="MainSlider" id="MainSlider">
  <div>
    <div class="MainSlider--slide" style="background-image:url(../../images/main-slider-bg/slide_prices.jpg);" data-rjs="3">
      <div class="MainSlider--content MainSlider--content__01">
        <div class="MainSlider--logos"><a class="MainSlider--logo" href="#"><img src="../../images/main-slider-logos/suek-logo.svg"></a><a class="MainSlider--logo" href="#"><img src="../../images/main-slider-logos/ntk-logo.svg"></a><a class="MainSlider--logo" href="#"><img src="../../images/main-slider-logos/sgk-logo.svg"></a><a class="MainSlider--logo" href="#"><img src="../../images/main-slider-logos/evrohim-logo.svg"></a></div>
        <div class="MainSlider--title">
           Операционные <b> показатели</b></div>
        <div class="MainSliderParams">
          <div class="row d-flex align-items-stretch mx-n4">
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">Выработка<br>электроэнергии</div>
                <div class="MainSliderParams--value d-inline-block">63,7
                  <div class="MainSliderParams--desciption">Твт*ч</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">Отпуск<br>теплоэнергии</div>
                <div class="MainSliderParams--value d-inline-block">43,7
                  <div class="MainSliderParams--desciption">млн Гкал</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">Перевалка<br>угля</div>
                <div class="MainSliderParams--value d-inline-block">39,7
                  <div class="MainSliderParams--desciption">млн тонн</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">Добыча<br>угля</div>
                <div class="MainSliderParams--value d-inline-block">101,2
                  <div class="MainSliderParams--desciption">млн тонн</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">Производство<br>удобрений</div>
                <div class="MainSliderParams--value d-inline-block">27,9
                  <div class="MainSliderParams--desciption">млн тонн</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">Производство<br>хлорида калия</div>
                <div class="MainSliderParams--value d-inline-block">2,2
                  <div class="MainSliderParams--desciption">млн тонн</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">Капитальные<br>затраты</div>
                <div class="MainSliderParams--value d-inline-block">1,026
                  <div class="MainSliderParams--desciption">млн $</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">Численность<br>персонала</div>
                <div class="MainSliderParams--value d-inline-block MainSliderParams--value__cond">105 000
                  <div class="MainSliderParams--desciption"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="MainSlider--slide" style="background-image:url(../../images/main-slider-bg/slide_charc.jpg);" data-rjs="3">
      <div class="MainSlider--content MainSlider--content__02">
        <div class="MainSlider--logos">
          <div class="MainSlider--logo"><img src="../../images/main-slider-logos/suek-logo.svg"></div>
        </div>
        <div class="MainSlider--title">Дивизион Уголь,<br><b>операционные показатели</b></div>
        <div class="MainSliderParams">
          <div class="row d-flex align-items-stretch mx-n4">
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">Добыча<br>открытым способом</div>
                <div class="MainSliderParams--value d-inline-block">74,5
                  <div class="MainSliderParams--desciption">млн тонн</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">Добыча<br>подземным способом</div>
                <div class="MainSliderParams--value d-inline-block">26,7
                  <div class="MainSliderParams--desciption">млн тонн</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">
                  Обогащение
                  
                </div>
                <div class="MainSliderParams--value d-inline-block">44,2
                  <div class="MainSliderParams--desciption">млн тонн</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">
                  LTIFR
                  
                </div>
                <div class="MainSliderParams--value d-inline-block">0,72
                  <div class="MainSliderParams--desciption"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="MainSlider--slide" style="background-image:url(../../images/main-slider-bg/slide_logistic.jpg);" data-rjs="3">
      <div class="MainSlider--content MainSlider--content__03">
        <div class="MainSlider--logos">
          <div class="MainSlider--logo"><img src="../../images/main-slider-logos/ntk-logo.svg"></div>
        </div>
        <div class="MainSlider--title">Дивизион Логистика,<br><b>операционные показатели</b></div>
        <div class="MainSliderParams">
          <div class="row d-flex align-items-stretch mx-n4">
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">Железнодорожные<br>перевозки</div>
                <div class="MainSliderParams--value d-inline-block">85,7
                  <div class="MainSliderParams--desciption">млн тонн</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">Перевалка<br>угля</div>
                <div class="MainSliderParams--value d-inline-block">39,7
                  <div class="MainSliderParams--desciption">млн тонн</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">Перевалка<br>не угольных грузов</div>
                <div class="MainSliderParams--value d-inline-block">10,6
                  <div class="MainSliderParams--desciption">млн тонн</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">
                  LTIFR
                  
                </div>
                <div class="MainSliderParams--value d-inline-block">0,72
                  <div class="MainSliderParams--desciption"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="MainSlider--slide" style="background-image:url(../../images/main-slider-bg/slide_energy.jpg);" data-rjs="3">
      <div class="MainSlider--content MainSlider--content__04">
        <div class="MainSlider--logos">
          <div class="MainSlider--logo"><img src="../../images/main-slider-logos/sgk-logo.svg"></div>
        </div>
        <div class="MainSlider--title">Дивизион Энергетика,<br><b>операционные показатели</b></div>
        <div class="MainSliderParams">
          <div class="row d-flex align-items-stretch mx-n4">
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">Выработка<br>электроэнергии</div>
                <div class="MainSliderParams--value d-inline-block">63,7
                  <div class="MainSliderParams--desciption">Твт•ч</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">Отпуск<br>теплоэнергии</div>
                <div class="MainSliderParams--value d-inline-block">43,7
                  <div class="MainSliderParams--desciption">млн Гкал</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">
                  LTIFR
                  
                </div>
                <div class="MainSliderParams--value d-inline-block">0,24
                  <div class="MainSliderParams--desciption"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="MainSlider--slide" style="background-image:url(../../images/main-slider-bg/slide_mount.jpg);" data-rjs="3">
      <div class="MainSlider--content MainSlider--content__05">
        <div class="MainSlider--logos">
          <div class="MainSlider--logo"><img src="../../images/main-slider-logos/evrohim-logo.svg"></div>
        </div>
        <div class="MainSlider--title">Дивизион Горнорудный,<br><b>операционные показатели</b></div>
        <div class="MainSliderParams">
          <div class="row d-flex align-items-stretch mx-n4">
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">Производство<br>хлорида калия</div>
                <div class="MainSliderParams--value d-inline-block">2,2
                  <div class="MainSliderParams--desciption">млн тонн</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">Производство<br>концентрата</div>
                <div class="MainSliderParams--value d-inline-block">2,2
                  <div class="MainSliderParams--desciption">млн тонн</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">Добыча<br>железной руды</div>
                <div class="MainSliderParams--value d-inline-block">5,5
                  <div class="MainSliderParams--desciption">млн тонн</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">
                  Добыча калия
                  
                </div>
                <div class="MainSliderParams--value d-inline-block">>8
                  <div class="MainSliderParams--desciption">млн тонн</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">
                  LTIFR
                  
                </div>
                <div class="MainSliderParams--value d-inline-block">2,59
                  <div class="MainSliderParams--desciption"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="MainSlider--slide" style="background-image:url(../../images/main-slider-bg/slide_mineral.jpg);" data-rjs="3">
      <div class="MainSlider--content MainSlider--content__06">
        <div class="MainSlider--logos">
          <div class="MainSlider--logo"><img src="../../images/main-slider-logos/evrohim-logo.svg"></div>
        </div>
        <div class="MainSlider--title">Дивизион Минеральные удобрения, <b>операционные показатели</b></div>
        <div class="MainSliderParams">
          <div class="row d-flex align-items-stretch mx-n4">
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">Производство<br>удобрений</div>
                <div class="MainSliderParams--value d-inline-block">27,9
                  <div class="MainSliderParams--desciption">млн тонн</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">Производство<br>аммиака</div>
                <div class="MainSliderParams--value d-inline-block">994
                  <div class="MainSliderParams--desciption">тыс тонн</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">
                  Уровень загрузки
                  
                </div>
                <div class="MainSliderParams--value d-inline-block">97,3 %
                  <div class="MainSliderParams--desciption"></div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">
                  LTIFR
                  
                </div>
                <div class="MainSliderParams--value d-inline-block">0,67
                  <div class="MainSliderParams--desciption"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="MainSlider--slide" style="background-image:url(../../images/main-slider-bg/slide_marketing.jpg);" data-rjs="3">
      <div class="MainSlider--content MainSlider--content__07">
        <div class="MainSlider--title">Дивизион Маркетинг и сбыт,<br><b>операционные показатели</b></div>
        <div class="MainSliderParams">
          <div class="row d-flex align-items-stretch mx-n4">
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">Продажи<br>угля</div>
                <div class="MainSliderParams--value d-inline-block">115,1
                  <div class="MainSliderParams--desciption">млн тонн</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">Продажи<br>электроэнергии</div>
                <div class="MainSliderParams--value d-inline-block">55,2
                  <div class="MainSliderParams--desciption">Твт</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">Продажи<br>теплоэнергии</div>
                <div class="MainSliderParams--value d-inline-block">35,3
                  <div class="MainSliderParams--desciption">млн Гкал</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">Продажи<br>удобрений</div>
                <div class="MainSliderParams--value d-inline-block">17,914
                  <div class="MainSliderParams--desciption">тыс тонн</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="MainSlider--slide" style="background-image:url(../../images/main-slider-bg/slide_fin.jpg);" data-rjs="3">
      <div class="MainSlider--content MainSlider--content__08">
        <div class="MainSlider--title">Финансовые <b> показатели</b></div>
        <div class="MainSliderParams">
          <table class="financial-highlights text-white">
            <thead>
              <tr>
                <td class="align-middle">МЛН ДОЛЛ. США</td>
                <td class="text-right align-middle">
                  <div class="min-logo"><img src="../../images/main-slider-logos/suek-logo.svg"><span>+</span><img src="../../images/main-slider-logos/sgk-logo.svg"><span>+</span><img src="../../images/main-slider-logos/ntk-logo.svg"></div>
                </td>
                <td class="text-right align-middle">
                  <div class="min-logo"><img src="../../images/main-slider-logos/evrohim-logo.svg"></div>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="font-weight-bold">Себестоимость реализации продукции</td>
                <td class="font-weight-bold text-center">(5 608)</td>
                <td class="font-weight-bold text-right">(3 609)</td>
              </tr>
              <tr>
                <td class="font-weight-bold">EBITDA</td>
                <td class="font-weight-bold text-center">1 973</td>
                <td class="font-weight-bold text-right">1 809</td>
              </tr>
              <tr>
                <td>Рентабельность EBITDA (%)</td>
                <td class="text-center">30%</td>
                <td class="text-right">29%</td>
              </tr>
              <tr>
                <td class="font-weight-bold">Капитальные вложения</td>
                <td class="font-weight-bold text-center">1 026</td>
                <td class="font-weight-bold text-right">1 168</td>
              </tr>
              <tr>
                <td class="font-weight-bold">Операционный денежный поток</td>
                <td class="font-weight-bold text-center">1 669</td>
                <td class="font-weight-bold text-right">1 556</td>
              </tr>
              <tr>
                <td class="font-weight-bold">Чистый долг</td>
                <td class="font-weight-bold text-center">6 819</td>
                <td class="font-weight-bold text-right">4 300</td>
              </tr>
              <tr>
                <td>Чистый долг / банковский показатель EBITDA</td>
                <td class="text-center">3,3x</td>
                <td class="text-right">3,5x</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="MainSlider--slide" style="background-image:url(../../images/main-slider-bg/slide_news2.jpg);" data-rjs="3">
      <div class="MainSlider--content MainSlider--content__09">
        <div class="MainSlider--title">АО «СУЭК» – лучшая в России в социальной ответственности и развитии персонала</div>
        <div class="MainSliderButtons d-flex align-items-center">
          <div class="more"><a href="#">Подробнее</a></div>
          <div class="allmore"><a href="#">Все новости</a></div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="MainSlider--slide" style="background-image:url(../../images/main-slider-bg/slide_birthday.jpg);" data-rjs="3">
      <div class="MainSlider--content MainSlider--content__10">
        <div class="MainSlider--title">С Днем <b> рождения!</b></div>
        <div class="MainSliderParams">
          <div class="row align-items-stretch text-center">
            <div class="col-6 col-sm-3 d-flex flex-column align-items-center mb-4">
              <div class="congratulate-action link js-show-happy-birthday-popup"><a class="js-prepare-congrats" data-id="122" href="#"><img src="../../images/gift.svg"></a></div>
              <div class="photo d-inline-block mb-3 Staff--birthday__today"><img class="rounded-circle mx-auto" src="../../images/people/employees1.png"></div>
              <div class="name mb-2"><b>Александр Стоцкий</b></div>
              <div class="position Staff--position mb-auto">Директор по персоналу и администрации, а так же Заместитель Генерального директора</div>
            </div>
            <div class="col-6 col-sm-3 d-flex flex-column align-items-center mb-4">
              <div class="congratulate-action link js-show-happy-birthday-popup"><a class="js-prepare-congrats" data-id="123" href="#"><img src="../../images/gift.svg"></a></div>
              <div class="photo d-inline-block mb-3 Staff--birthday__today"><img class="rounded-circle mx-auto" src="../../images/people/employees2.png"></div>
              <div class="name mb-2"><b>Константин Константинопольский</b></div>
              <div class="position Staff--position mb-auto">Заместитель Генерального директора</div>
            </div>
            <div class="col-6 col-sm-3 d-flex flex-column align-items-center mb-4">
              <div class="congratulate-action link js-show-happy-birthday-popup"><a class="js-prepare-congrats" data-id="125" href="#"><img src="../../images/gift.svg"></a></div>
              <div class="photo d-inline-block mb-3 Staff--birthday__today"><img class="rounded-circle mx-auto" src="../../images/people/employees3.png"></div>
              <div class="name mb-2"><b>София Велкопоповицкая</b></div>
              <div class="position Staff--position mb-auto">Заместитель Директора по персоналу</div>
            </div>
            <div class="col-6 col-sm-3 d-flex flex-column align-items-center mb-4">
              <div class="congratulate-action link js-show-happy-birthday-popup"><a class="js-prepare-congrats" data-id="124" href="#"><img src="../../images/gift.svg"></a></div>
              <div class="photo d-inline-block mb-3 Staff--birthday__today"><img class="rounded-circle mx-auto" src="../../images/people/employees4.png"></div>
              <div class="name mb-2"><b>Анна-Мария Прокопенко</b></div>
              <div class="position Staff--position mb-auto">Генеральный директор филиала СУЭК-Красноярск</div>
            </div>
          </div>
          <div class="MainSliderButtons d-flex align-items-center justify-content-end">
            <div class="more pr-0"><a href="#">Все дни рождения <span class="text-white pl-2">15</span></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="MainSlider--slide" style="background-image:url(../../images/main-slider-bg/slide_pers.jpg);" data-rjs="3">
      <div class="MainSlider--content MainSlider--content__11">
        <div class="MainSlider--title">Новые <b> сотрудники</b></div>
        <div class="MainSliderParams">
          <div class="row align-items-stretch text-center">
            <div class="col-6 col-sm-3 col-3 d-flex flex-column justify-content-between align-items-center mb-4">
              <div class="photo d-inline-block mb-3"><img class="rounded-circle mx-auto" src="../../images/people/employees5.png"></div>
              <div class="name mb-2"><b>Феофан Ферганов</b></div>
              <div class="position mb-auto">Топ-менеджер CEO</div>
            </div>
            <div class="col-6 col-sm-3 col-3 d-flex flex-column justify-content-between align-items-center mb-4">
              <div class="photo d-inline-block mb-3"><img class="rounded-circle mx-auto" src="../../images/people/employees6.png"></div>
              <div class="name mb-2"><b>Александр Фергюссонов</b></div>
              <div class="position mb-auto">Шахтер 1-ой категории</div>
            </div>
            <div class="col-6 col-sm-3 col-3 d-flex flex-column justify-content-between align-items-center mb-4">
              <div class="photo d-inline-block mb-3"><img class="rounded-circle mx-auto" src="../../images/people/employees3.png"></div>
              <div class="name mb-2"><b>Лиана Пастухова</b></div>
              <div class="position mb-auto">Генеральный директор филиала СУЭК-Хакасия</div>
            </div>
            <div class="col-6 col-sm-3 col-3 d-flex flex-column justify-content-between align-items-center mb-4">
              <div class="photo d-inline-block mb-3"><img class="rounded-circle mx-auto" src="../../images/people/employees4.png"></div>
              <div class="name mb-2"><b>Лиана Пастухова</b></div>
              <div class="position mb-auto">Заместитель Генерального директора филиала</div>
            </div>
          </div>
          <div class="MainSliderButtons d-flex align-items-center justify-content-end">
            <div class="more pr-0"><a href="#">Все новые сотрудники <span class="text-white pl-2">23</span></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="MainSlider--slide" style="background-image:url(../../images/main-slider-bg/slide_events.jpg);" data-rjs="3">
      <div class="MainSlider--content MainSlider--content__12">
        <div class="MainSlider--title">Ближайшие <b> события</b></div>
        <div class="MainSliderParams">
          <div class="row align-items-stretch">
            <div class="col-6 col-sm-3 d-flex flex-column justify-content-between mb-4">
              <div class="photo d-inline-block mb-3"><img class="event d-block mx-auto" src="../../images/events/event01.png"></div>
              <div class="name mb-2"><b>Организация отдыха для детей портовиков в дни Новогодних каникул</b></div>
              <div class="position mt-auto">1 января 2020</div>
            </div>
            <div class="col-6 col-sm-3 d-flex flex-column justify-content-between mb-4">
              <div class="photo d-inline-block mb-3"><img class="event d-block mx-auto" src="../../images/events/event02.png"></div>
              <div class="name mb-2"><b>Выступления ХК Мурман в Супер-Лиге по хоккею с мячем</b></div>
              <div class="position mt-auto">6 января 2020</div>
            </div>
            <div class="col-6 col-sm-3 d-flex flex-column justify-content-between mb-4">
              <div class="photo d-inline-block mb-3"><img class="event d-block mx-auto" src="../../images/events/event03.png"></div>
              <div class="name mb-2"><b>Акция “Дарю добро”</b></div>
              <div class="position mt-auto">8 января 2020</div>
            </div>
            <div class="col-6 col-sm-3 d-flex flex-column justify-content-between mb-4">
              <div class="photo d-inline-block mb-3"><img class="event d-block mx-auto" src="../../images/events/event04.png"></div>
              <div class="name mb-2"><b>Поздравление генерального директора АО ДТУ</b></div>
              <div class="position mt-auto">12 января 2020</div>
            </div>
          </div>
          <div class="MainSliderButtons d-flex align-items-center justify-content-end">
            <div class="more pr-0"><a href="#">Все ближайшие события <span class="text-white pl-2">32</span></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="MainSlider--slide" style="background-image:url(../../images/main-slider-bg/slide_news1.jpg);" data-rjs="3">
      <div class="MainSlider--content MainSlider--content__13">
        <div class="MainSlider--title">Цены на <b>уголь</b></div>
        <div class="MainSliderParams">
          <div class="row d-flex align-items-stretch mx-n4">
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">API 2<img class="d-inline ml-2 align-baseline" src="../../images/helpers/up.svg"></div>
                <div class="MainSliderParams--value d-inline-block">55,6
                  <div class="MainSliderParams--desciption">$ / тонну</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">API 8<img class="d-inline ml-2 align-baseline" src="../../images/helpers/down.svg"></div>
                <div class="MainSliderParams--value d-inline-block">68,4
                  <div class="MainSliderParams--desciption">$ / тонну</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">GC NEWC<img class="d-inline ml-2 align-baseline" src="../../images/helpers/up.svg"></div>
                <div class="MainSliderParams--value d-inline-block">104,2
                  <div class="MainSliderParams--desciption">$ / тонну</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">CCI5500<img class="d-inline ml-2 align-baseline" src="../../images/helpers/up.svg"></div>
                <div class="MainSliderParams--value d-inline-block">65,7
                  <div class="MainSliderParams--desciption">$ / тонну</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="MainSlider--slide" style="background-image:url(../../images/main-slider-bg/slide_valute.jpg);" data-rjs="3">
      <div class="MainSlider--content MainSlider--content__14">
        <div class="MainSlider--title">Валюта <b>и нефть</b></div>
        <div class="MainSliderParams">
          <div class="row d-flex align-items-stretch mx-n4">
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">US Dollar<img class="d-inline ml-2 align-baseline" src="../../images/helpers/up.svg"></div>
                <div class="MainSliderParams--value d-inline-block">65,8
                  <div class="MainSliderParams--desciption">рублей</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">EURO<img class="d-inline ml-2 align-baseline" src="../../images/helpers/down.svg"></div>
                <div class="MainSliderParams--value d-inline-block">73,4
                  <div class="MainSliderParams--desciption">рублей</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">Brent<img class="d-inline ml-2 align-baseline" src="../../images/helpers/down.svg"></div>
                <div class="MainSliderParams--value d-inline-block">70,0
                  <div class="MainSliderParams--desciption">$ / баррель</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">URALS<img class="d-inline ml-2 align-baseline" src="../../images/helpers/up.svg"></div>
                <div class="MainSliderParams--value d-inline-block">75,0
                  <div class="MainSliderParams--desciption">$ / баррель</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="MainSlider--slide" style="background-image:url(../../images/main-slider-bg/slide_credit.jpg);" data-rjs="3">
      <div class="MainSlider--content MainSlider--content__15">
        <div class="MainSlider--title">Кредитные <b> рейтинги</b></div>
        <div class="MainSliderParams">
          <div class="row d-flex align-items-stretch mx-n4">
            <div class="col col-12 col-sm-12 mb-2 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSlider--logo"><img src="../../images/main-slider-logos/suek-logo.svg"><span>группа компаний</span></div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">Moody’s</div>
                <div class="MainSliderParams--value d-inline-block">Ba2
                  <div class="MainSliderParams--desciption">POSITIVE</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">PA</div>
                <div class="MainSliderParams--value d-inline-block">BB
                  <div class="MainSliderParams--desciption">Stable</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">FITCH</div>
                <div class="MainSliderParams--value d-inline-block">ruAA-
                  <div class="MainSliderParams--desciption">Stable</div>
                </div>
              </div>
            </div>
            <div class="col col-12 col-sm-12 mb-2 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSlider--logo"><img src="../../images/main-slider-logos/evrohim-logo.svg"></div>
              </div>
            </div>
            <div class="col col-6 col-sm-2 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">S&P</div>
                <div class="MainSliderParams--value d-inline-block">BB
                  <div class="MainSliderParams--desciption">Stable</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-2 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">Moody’s</div>
                <div class="MainSliderParams--value d-inline-block">Ba2
                  <div class="MainSliderParams--desciption">Stable</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-2 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">FITCH</div>
                <div class="MainSliderParams--value d-inline-block">BB
                  <div class="MainSliderParams--desciption">Stable</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">RAEX</div>
                <div class="MainSliderParams--value d-inline-block">ruAA
                  <div class="MainSliderParams--desciption">Stable</div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-3 mb-5 px-4">
              <div class="MainSliderParams--item d-flex flex-column justify-content-between align-items-start">
                <div class="MainSliderParams--title">ACRA</div>
                <div class="MainSliderParams--value d-inline-block">AA-(RU)
                  <div class="MainSliderParams--desciption">Stable</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>