
<div class="jobs_inner flex_wrap justify">
  <div class="info">
    <h3>Машинист тепловоза</h3>
    <div class="job_type">Внутренний отбор</div><span class="cost">от 60 000 ₽</span>
  </div>
  <div class="flex map"><span class="pin" href="#!">пгт. Чегдомын, Хабаровский край</span><span class="sort" href="#!">Добыча сырья</span><span class="calendar" href="#!">03 марта 2020, 08:49</span></div>
  <div class="jobs">
    <div class="price flex_wrap justify">
      <div class="flex tools"><a class="btn" href="#!" data-popup-trigger="otklik">Откликнуться</a><a class="btn btn--primary" href="#!" data-popup-trigger="friends" data-toggle="tooltip" data-placement="bottom" title="Поррекомендовать товарища и получить вознаграждение"><span class="rub">₽</span>Приведи друга</a>
        <div class="order order-1"><a class="favorite" href="#!" data-toggle="tooltip" data-placement="bottom" title="Добавить вакансию в избранное"></a><a class="share" href="#!" data-toggle="tooltip" data-placement="bottom" title="Поделиться в соц.сетях вакансией" data-popup-trigger="socialshare"></a></div>
        <div class="order order-2"><a class="copy" href="#!" data-toggle="tooltip" data-placement="bottom" data-copy="https://testtesttest.test" data-copied="Скопировано!" data-err-copied="Не удалось скопировать!" title="Скопипровать пригласительную ссылку"></a><a class="mail" href="mailt:testmail@testmail.com" data-toggle="tooltip" data-placement="bottom" title="Направить пригласительную ссылку письмом"></a><a class="print" href="#!" data-toggle="tooltip" data-placement="bottom" title="Отправить на печать" onclick="window.print();"></a></div><a class="hidden__link order-last" href="#!" data-slide-down="Развернуть подбор и развитие персонала" data-slide-up="Свернуть подбор и развитие персонала">Развернуть подбор и развитие персонала</a>
      </div><a class="mt-2" href="#">Изучить программу “Приведи друга” </a>
    </div>
    <div class="jobs_support absolute hidden__content">
      <h2>Подбор и развитие персонала</h2>
    </div>
    <div class="usercard"><img src="../../images/temp/avatars/ava03.png" alt><a href="#!">
        <h3>Васюкович Юлия Анатольевна</h3></a><span class="position">Директор по подбору персонала</span><a class="map" href="#!">АО "СУЭК-Красноярск</a>
      <div class="phones"><a href="tel:+7 (495) 911-12-10">+7 (495) 911-12-10</a>
        <div class="mobile-code"><a class="code" href="#">3128</a></div>
      </div>
      <div class="skype"><a href="mailto:VasukovichUA@suek.ru">VasukovichUA@suek.ru</a></div>
      <div class="whatsap"><a href="tel:+7 (495) 911-12-10">WhatsApp</a></div>
    </div>
  </div>
  <section class="innpage_content">
    <p><b>Требуемый опыт работы:</b>3–6 лет</p>
    <p>Полная занятость, сменный график.</p>
    <h4>Обязанности:</h4>
    <ul> 
      <li>Управление тепловозом серия ТГМ 23В;</li>
      <li>Маневровые работы на производственных путях;</li>
      <li>Знание устройства ТТХ тепловоза;</li>
      <li>Умение поиска и оперативное устранение неисправностей тепловоза.</li>
    </ul>
    <h4>Требования:</h4>
    <ul> 
      <li>Образование средне-специальное, техническое.</li>
    </ul>
    <h4>Условия:</h4>
    <ul> 
      <li>Трудоустройство согласно ТК РФ;</li>
      <li>Рабочее место в пгт. Чегдомын;</li>
      <li>Ежедневная транспортная доставка до места работы.</li>
    </ul>
    <section class="innpage_tags"> 
      <div class="section__title">Ключевые навыки:</div><a class="btn btn--tags" href="#!">Маневрирование</a><a class="btn btn--tags" href="#!">Знание устройства</a><a class="btn btn--tags" href="#!">Ремонтные работы</a>
    </section>
    <section class="innpage_footer">
      <div class="backto"><a class="btn_backto" href="/vacancy.html">
          <svg>
            <use href="../../images/sprite.svg#i_arrow_long"></use>
          </svg>Все вакансии</a></div>
    </section>
  </section>
</div>