.services_block_tab
    ul.service-tabs.nav.nav-tabs(role="tablist")
        li.nav-item.active-tab(role="presentation")
            a.nav-link.active(data-toggle="tab", href="#tab-0", role="tab", aria-controls="tab-0", aria-selected="true")
                | Мои сервисы 
                span (9)
        li.nav-item.second(role="presentation")
            a.nav-link(data-toggle="tab", href="#tab-1", role="tab", aria-controls="tab-1", aria-selected="false")
                | Моя команда 
                span (4)
        li.nav-item(role="presentation")
            a.nav-link(data-toggle="tab", href="#tab-2", role="tab", aria-controls="tab-2", aria-selected="false")
                | Профильные сервисы 
                span (10)
        li.nav-item(role="presentation")
            a.nav-link(data-toggle="tab", href="#tab-3", role="tab", aria-controls="tab-3", aria-selected="false")
                | Администрирование 
                span (3)
    .service-desc.tab-content
        .desc-area.tab-pane.active-area.fade.show.active#tab-0(role="tabpanel", aria-labelledby="nav-home-tab")
            .items-wrap
                a.item(href="#!")
                    .image
                        img(src="../../images/image_service/services_block1.png", alt)
                    .title
                        | Планирование
                        br
                        | отпуска

                a.item(href="#!")
                    .image
                        img(src="../../images/image_service/services_block2.png", alt)
                    .title
                        | Заявка
                        br
                        | на отпуск

                a.item(href="#!")
                    .image
                        img(src="../../images/image_service/services_block3.png", alt)
                    .title
                        | Личная
                        br
                        | информация

                a.item(href="#!")
                    .image
                        img(src="../../images/image_service/services_block4.png", alt)
                    .title
                        | Расчетный
                        br
                        | лист

                a.item(href="#!")
                    .image
                        img(src="../../images/image_service/services_block5.png", alt)
                    .title
                        | Мои
                        br
                        | командировки

                a.item(href="#!")
                    .image
                        img(src="../../images/image_service/services_block6.png", alt)
                    .title
                        | Административные
                        br
                        | заявки

                a.item(href="#!")
                    .image
                        img(src="../../images/image_service/services_block7.png", alt)
                    .title
                        | Справки и
                        br
                        | документы

                a.item(href="#!")
                    .image
                        img(src="../../images/image_service/services_block8.png", alt)
                    .title Информирование

                a.item(href="#!")
                    .image
                        img(src="../../images/image_service/services_block9.png", alt)
                    .title
                        | Учет затрат
                        br
                        | на мобильную связь

        .desc-area#tab-1.tab-pane.fade(role="tabpanel", aria-labelledby="nav-profile-tab")
            .items-wrap
                a.item(href="#!")
                    .image
                        img(src="../../images/image_service/services_block6.png", alt)
                    .title
                        | Административные
                        br
                        | заявки

                a.item(href="#!")
                    .image
                        img(src="../../images/image_service/services_block7.png", alt)
                    .title
                        | Справки и
                        br
                        | документы

                a.item(href="#!")
                    .image
                        img(src="../../images/image_service/services_block8.png", alt)
                    .title Информирование

                a.item(href="#!")
                    .image
                        img(src="../../images/image_service/services_block9.png", alt)
                    .title
                        | Учет затрат
                        br
                        | на мобильную связь

        .desc-area#tab-2.tab-pane.fade(role="tabpanel", aria-labelledby="nav-profile-tab")
            .items-wrap
                a.item(href="#!")
                    .image
                        img(src="../../images/icons/work_services/work_s01.svg", alt)
                    .title
                        | Кодекс
                        br
                        | копрпоративной этики

                a.item(href="#!")
                    .image
                        img(src="../../images/icons/work_services/work_s02.svg", alt)
                    .title Проектное управление

                a.item(href="#!")
                    .image
                        img(src="../../images/icons/work_services/work_s03.svg", alt)
                    .title Дивизион «Сбыт»

                a.item(href="#!")
                    .image
                        img(src="../../images/icons/work_services/work_s04.svg", alt)
                    .title Дирекция по стратегиям и корпоративной политике

                a.item(href="#!")
                    .image
                        img(src="../../images/icons/work_services/work_s05.svg", alt)
                    .title Безопасность труда

                a.item(href="#!")
                    .image
                        img(src="../../images/icons/work_services/work_s06.svg", alt)
                    .title Корпоративный университет

                a.item(href="#!")
                    .image
                        img(src="../../images/icons/work_services/work_s07.svg", alt)
                    .title Комплаенс

                a.item(href="#!")
                    .image
                        img(src="../../images/icons/work_services/work_s08.svg", alt)
                    .title
                        | Дирекция
                        br
                        | по общим вопросам

                a.item(href="#!")
                    .image
                        img(src="../../images/icons/work_services/work_s09.svg", alt)
                    .title Блок закупок

                a.item(href="#!")
                    .image
                        img(src="../../images/image_service/services_block8.png", alt)
                    .title Задать вопрос

        .desc-area#tab-3.tab-pane.fade(role="tabpanel", aria-labelledby="nav-profile-tab")
            .items-wrap
                a.item(href="/zayavki-kanctovary.html")
                    .image
                        img(src="../../images/image_service/services_block6.png", alt)
                    .title Заявка на канцтовары

                a.item(href="/zayavki-propusk.html")
                    .image
                        img(src="../../images/image_service/services_block6.png", alt)
                    .title Заявка на гостевой пропуск

                a.item(href="#!")
                    .image
                        img(src="../../images/image_service/services_block6.png", alt)
                    .title Заявка на автотранспорт