
<div class="services_block_tab">
  <ul class="service-tabs nav nav-tabs" role="tablist">
    <li class="nav-item active-tab" role="presentation"><a class="nav-link active" data-toggle="tab" href="#tab-0" role="tab" aria-controls="tab-0" aria-selected="true">Мои сервисы <span>(9)</span></a></li>
    <li class="nav-item second" role="presentation"><a class="nav-link" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="false">Моя команда <span>(4)</span></a></li>
    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Профильные сервисы <span>(10)</span></a></li>
    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Администрирование <span>(3)</span></a></li>
  </ul>
  <div class="service-desc tab-content">
    <div class="desc-area tab-pane active-area fade show active" id="tab-0" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="items-wrap"><a class="item" href="#!">
          <div class="image"><img src="../../images/image_service/services_block1.png" alt></div>
          <div class="title">Планирование<br>отпуска</div></a><a class="item" href="#!">
          <div class="image"><img src="../../images/image_service/services_block2.png" alt></div>
          <div class="title">Заявка<br>на отпуск</div></a><a class="item" href="#!">
          <div class="image"><img src="../../images/image_service/services_block3.png" alt></div>
          <div class="title">Личная<br>информация</div></a><a class="item" href="#!">
          <div class="image"><img src="../../images/image_service/services_block4.png" alt></div>
          <div class="title">Расчетный<br>лист</div></a><a class="item" href="#!">
          <div class="image"><img src="../../images/image_service/services_block5.png" alt></div>
          <div class="title">Мои<br>командировки</div></a><a class="item" href="#!">
          <div class="image"><img src="../../images/image_service/services_block6.png" alt></div>
          <div class="title">Административные<br>заявки</div></a><a class="item" href="#!">
          <div class="image"><img src="../../images/image_service/services_block7.png" alt></div>
          <div class="title">Справки и<br>документы</div></a><a class="item" href="#!">
          <div class="image"><img src="../../images/image_service/services_block8.png" alt></div>
          <div class="title">Информирование</div></a><a class="item" href="#!">
          <div class="image"><img src="../../images/image_service/services_block9.png" alt></div>
          <div class="title">Учет затрат<br>на мобильную связь</div></a></div>
    </div>
    <div class="desc-area tab-pane fade" id="tab-1" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div class="items-wrap"><a class="item" href="#!">
          <div class="image"><img src="../../images/image_service/services_block6.png" alt></div>
          <div class="title">Административные<br>заявки</div></a><a class="item" href="#!">
          <div class="image"><img src="../../images/image_service/services_block7.png" alt></div>
          <div class="title">Справки и<br>документы</div></a><a class="item" href="#!">
          <div class="image"><img src="../../images/image_service/services_block8.png" alt></div>
          <div class="title">Информирование</div></a><a class="item" href="#!">
          <div class="image"><img src="../../images/image_service/services_block9.png" alt></div>
          <div class="title">Учет затрат<br>на мобильную связь</div></a></div>
    </div>
    <div class="desc-area tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div class="items-wrap"><a class="item" href="#!">
          <div class="image"><img src="../../images/icons/work_services/work_s01.svg" alt></div>
          <div class="title">Кодекс<br>копрпоративной этики</div></a><a class="item" href="#!">
          <div class="image"><img src="../../images/icons/work_services/work_s02.svg" alt></div>
          <div class="title">Проектное управление</div></a><a class="item" href="#!">
          <div class="image"><img src="../../images/icons/work_services/work_s03.svg" alt></div>
          <div class="title">Дивизион «Сбыт»</div></a><a class="item" href="#!">
          <div class="image"><img src="../../images/icons/work_services/work_s04.svg" alt></div>
          <div class="title">Дирекция по стратегиям и корпоративной политике</div></a><a class="item" href="#!">
          <div class="image"><img src="../../images/icons/work_services/work_s05.svg" alt></div>
          <div class="title">Безопасность труда</div></a><a class="item" href="#!">
          <div class="image"><img src="../../images/icons/work_services/work_s06.svg" alt></div>
          <div class="title">Корпоративный университет</div></a><a class="item" href="#!">
          <div class="image"><img src="../../images/icons/work_services/work_s07.svg" alt></div>
          <div class="title">Комплаенс</div></a><a class="item" href="#!">
          <div class="image"><img src="../../images/icons/work_services/work_s08.svg" alt></div>
          <div class="title">Дирекция<br>по общим вопросам</div></a><a class="item" href="#!">
          <div class="image"><img src="../../images/icons/work_services/work_s09.svg" alt></div>
          <div class="title">Блок закупок</div></a><a class="item" href="#!">
          <div class="image"><img src="../../images/image_service/services_block8.png" alt></div>
          <div class="title">Задать вопрос</div></a></div>
    </div>
    <div class="desc-area tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div class="items-wrap"><a class="item" href="/zayavki-kanctovary.html">
          <div class="image"><img src="../../images/image_service/services_block6.png" alt></div>
          <div class="title">Заявка на канцтовары</div></a><a class="item" href="/zayavki-propusk.html">
          <div class="image"><img src="../../images/image_service/services_block6.png" alt></div>
          <div class="title">Заявка на гостевой пропуск</div></a><a class="item" href="#!">
          <div class="image"><img src="../../images/image_service/services_block6.png" alt></div>
          <div class="title">Заявка на автотранспорт</div></a></div>
    </div>
  </div>
</div>