
<div class="services_block_tab">
  <ul class="service-tabs nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#tab-0" role="tab" aria-controls="tab-0" aria-selected="false">Мои сервисы<span>(10)</span></a></li>
    <li class="nav-item second" role="presentation"><a class="nav-link" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="false">Моя команда<span>(4)</span></a></li>
    <li class="nav-item active-tab" role="presentation"><a class="nav-link active" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="true">Профильные сервисы<span>(1)</span></a></li>
    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Организации<span>(6)</span></a></li>
  </ul>
  <div class="service-desc tab-content">
    <div class="desc-area tab-pane fade" id="tab-0" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="items-wrap"><a class="item" href="#!">
          <div class="image"><img src="../../images/image_service/services_block1.svg" alt></div>
          <div class="title">Планирование<br>отпуска</div></a><a class="item" href="#!">
          <div class="image"><img src="../../images/image_service/services_block2.svg" alt></div>
          <div class="title">Заявка<br>на отпуск</div></a><a class="item" href="#!">
          <div class="image"><img src="../../images/image_service/services_block3.svg" alt></div>
          <div class="title">Личная<br>информация</div></a><a class="item" href="#!">
          <div class="image"><img src="../../images/image_service/services_block4.svg" alt></div>
          <div class="title">Расчетный<br>лист</div></a><a class="item" href="#!">
          <div class="image"><img src="../../images/image_service/services_block5.svg" alt></div>
          <div class="title">Мои<br>командировки</div></a><a class="item" href="#!">
          <div class="image"><img src="../../images/image_service/services_block6.svg" alt></div>
          <div class="title">Административные<br>заявки</div></a><a class="item" href="#!">
          <div class="image"><img src="../../images/image_service/services_block7.svg" alt></div>
          <div class="title">Справки и<br>документы</div></a><a class="item" href="#!">
          <div class="image"><img src="../../images/image_service/services_block8.svg" alt></div>
          <div class="title">Информирование</div></a><a class="item" href="#!">
          <div class="image"><img src="../../images/image_service/services_block9.svg" alt></div>
          <div class="title">Учет затрат<br>на мобильную связь</div></a><a class="item" href="/app/declareyear.html">
          <div class="image"><img src="../../images/image_service/services_block10.svg" alt></div>
          <div class="title">Ежегодное декларирование</div></a></div>
    </div>
    <div class="desc-area tab-pane fade" id="tab-1" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div class="items-wrap"><a class="item" href="#!">
          <div class="image"><img src="../../images/image_service/services_block6.svg" alt></div>
          <div class="title">Административные<br>заявки</div></a><a class="item" href="#!">
          <div class="image"><img src="../../images/image_service/services_block7.svg" alt></div>
          <div class="title">Справки и<br>документы</div></a><a class="item" href="#!">
          <div class="image"><img src="../../images/image_service/services_block8.svg" alt></div>
          <div class="title">Информирование</div></a><a class="item" href="#!">
          <div class="image"><img src="../../images/image_service/services_block9.svg" alt></div>
          <div class="title">Учет затрат<br>на мобильную связь</div></a></div>
    </div>
    <div class="desc-area tab-pane fade show active" id="tab-2" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div class="items-wrap"><a class="item" href="/app/declaresettings.html">
          <div class="image"><img src="../../images/image_service/services_block11.svg" alt></div>
          <div class="title">Управление декларацией</div></a></div>
    </div>
    <div class="desc-area tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="nav-profile-tab"></div>
  </div>
</div>