
<div class="_bg_for_slider">
  <div class="_top_menu" id="draggable">
    <ul class="flex_wrap justify">
      <li><a class="active" href="#!">Кодекс корпоративной этики</a></li>
      <li><a href="#!">Система исполнения</a></li>
      <li><a href="#!">Горячая Линия</a></li>
      <li><a href="#!">Банк знаний</a></li>
      <li><a href="#!">Конкурсы</a></li>
    </ul>
    <hr>
  </div>
  <h1><b>Кодекс</b> Корпоративной <b>Этики</b></h1>
  <div class="slick_position ke_slider">
    <div>
      <div class="_etika_slider">
        <item class="flex_wrap">
          <div class="_gradient_white">
            <div class="flex">
              <div>
                <div class="_leader_photo"><img src="../../images/rashevsky.jpg" alt></div>
              </div>
              <div>
                <div class="position">
                  <h5>ВЛАДИМИР РАШЕВСКИЙ</h5>
                  <h6>Генеральный директор АО «СУЭК»</h6>
                </div>
                <div class="quote">
                  Миллионы китайцев стали обращаться в MMM-China и MMM Global. Это вызвало большой спрос на биткоины и резкий скачок цены. Если я завтра перестану использовать биткоин, он рухнет.
                  
                </div>
              </div>
            </div>
          </div>
        </item>
        <div class="more flex"><a href="#!">Подробнее</a><a href="#!">Все обращения <span>руководства</span></a></div>
      </div>
    </div>
    <div>
      <div class="_etika_slider">
        <item class="flex_wrap">
          <div class="_gradient_white">
            <div class="flex">
              <div>
                <div class="_leader_photo"><img src="../../images/rashevsky.jpg" alt></div>
              </div>
              <div>
                <div class="position">
                  <h5>ВЛАДИМИР РАШЕВСКИЙ</h5>
                  <h6>Генеральный директор АО «СУЭК»</h6>
                </div>
                <div class="quote">
                  Миллионы китайцев стали обращаться в MMM-China и MMM Global. Это вызвало большой спрос на биткоины и резкий скачок цены. Если я завтра перестану использовать биткоин, он рухнет.
                  
                </div>
              </div>
            </div>
          </div>
        </item>
        <div class="more flex"><a href="#!">Подробнее</a><a href="#!">Все обращения <span>руководства</span></a></div>
      </div>
    </div>
  </div>
</div>