mixin bg-slider()
    ._bg_for_slider
        ._top_menu#draggable
            ul.flex_wrap.justify
                li
                    a.active(href="#!") Кодекс корпоративной этики
                li
                    a(href="#!") Система исполнения
                li
                    a(href="#!") Горячая Линия
                li
                    a(href="#!") Банк знаний
                li
                    a(href="#!") Конкурсы
            hr
        h1
            b Кодекс
            |  Корпоративной 
            b Этики
        .slick_position.ke_slider
            div
                ._etika_slider
                    item.flex_wrap
                        ._gradient_white
                            .flex
                                div
                                    ._leader_photo
                                        img(src="../../images/rashevsky.jpg", alt)
                                div
                                    .position
                                        h5 ВЛАДИМИР РАШЕВСКИЙ
                                        h6 Генеральный директор АО «СУЭК»
                                    .quote.

                                        Миллионы китайцев стали обращаться в MMM-China и MMM Global. Это вызвало большой спрос на биткоины и резкий скачок цены. Если я завтра перестану использовать биткоин, он рухнет.

                    .more.flex
                        a(href="#!") Подробнее
                        a(href="#!")
                            | Все обращения 
                            span руководства
            div
                ._etika_slider
                    item.flex_wrap
                        ._gradient_white
                            .flex
                                div
                                    ._leader_photo
                                        img(src="../../images/rashevsky.jpg", alt)
                                div
                                    .position
                                        h5 ВЛАДИМИР РАШЕВСКИЙ
                                        h6 Генеральный директор АО «СУЭК»
                                    .quote.

                                        Миллионы китайцев стали обращаться в MMM-China и MMM Global. Это вызвало большой спрос на биткоины и резкий скачок цены. Если я завтра перестану использовать биткоин, он рухнет.

                    .more.flex
                        a(href="#!") Подробнее
                        a(href="#!")
                            | Все обращения 
                            span руководства