
<section class="section reports_and_publications">
  <section class="publications">
    <div class="title-bl"><img src="../../images/image_report/reports_title.png"></div>
    <div class="items-wrap">
      <div class="item">
        <div class="image persp"><img src="../../images/temp/newspaper.jpg" alt></div><a class="title" href="#">Годовой<br>отчет</a>
        <div class="date">
          2018 год
          
        </div>
      </div>
      <div class="item">
        <div class="image persp"><img src="../../images/temp/newspaper.jpg" alt></div><a class="title" href="#">Годовой<br>отчет</a>
        <div class="date">
          2017 год
          
        </div>
      </div>
      <div class="item">
        <div class="image persp"><img src="../../images/temp/newspaper.jpg" alt></div><a class="title" href="#">Социальный<br>отчет</a>
        <div class="date">
          2017 год
          
        </div>
      </div>
      <div class="item">
        <div class="image persp"><img src="../../images/temp/newspaper.jpg" alt></div><a class="title" href="#">Годовой<br>отчет</a>
        <div class="date">
          2017 год
          
        </div>
      </div>
      <div class="item">
        <div class="image persp"><img src="../../images/temp/newspaper.jpg" alt></div><a class="title" href="#">Социальный<br>отчет</a>
        <div class="date">
          2017 год
          
        </div>
      </div>
      <div class="item">
        <div class="image persp"><img src="../../images/temp/newspaper.jpg" alt></div><a class="title" href="#">Годовой<br>отчет</a>
        <div class="date">
          2017 год
          
        </div>
      </div>
    </div>
    <div class="more-reports"><a href="#">Смотреть все</a></div>
  </section>
  <section class="publications">
    <div class="title-bl"><img src="../../images/image_publication/publication_title.png"></div>
    <div class="items-wrap">
      <div class="item">
        <div class="image persp"><img src="../../images/temp/newspaper.jpg" alt></div><a class="title" href="#">События и люди<br>№1</a>
        <div class="date">
          2018 год
          
        </div>
      </div>
      <div class="item">
        <div class="image persp"><img src="../../images/temp/newspaper.jpg" alt></div><a class="title" href="#">События и люди<br>№12</a>
        <div class="date">
          2017 год
          
        </div>
      </div>
      <div class="item">
        <div class="image persp"><img src="../../images/temp/newspaper.jpg" alt></div><a class="title" href="#">События и люди<br>№11</a>
        <div class="date">
          2017 год
          
        </div>
      </div>
      <div class="item">
        <div class="image persp"><img src="../../images/temp/newspaper.jpg" alt></div><a class="title" href="#">События и люди<br>№13</a>
        <div class="date">
          2017 год
          
        </div>
      </div>
      <div class="item">
        <div class="image persp"><img src="../../images/temp/newspaper.jpg" alt></div><a class="title" href="#">События и люди<br>№1</a>
        <div class="date">
          2017 год
          
        </div>
      </div>
      <div class="item">
        <div class="image persp"><img src="../../images/temp/newspaper.jpg" alt></div><a class="title" href="#">События и люди<br>№4</a>
        <div class="date">
          2017 год
          
        </div>
      </div>
    </div>
    <div class="more-publications"><a href="#">Смотреть все</a></div>
  </section>
</section>