mixin reports-and-publ()
    section.section.reports_and_publications
      section.publications
        +title_bl('image_report/reports_title.png')
        .items-wrap
          .item
            .image.persp
              img(src="../../images/temp/newspaper.jpg", alt)
            a.title(href="#")
              | ЕвроХим:
              br
              | Годовой
              br
              | отчет
    
            .date.
              
              2018 год
              
          .item
            .image.persp
              img(src="../../images/temp/newspaper.jpg", alt)
            a.title(href="#")
              | Годовой
              br
              | отчет
    
            .date.
              
              2017 год
              
          .item
            .image.persp
              img(src="../../images/temp/newspaper.jpg", alt)
            a.title(href="#")
              | Социальный
              br
              | отчет
    
            .date.
              
              2017 год
              
          .item
            .image.persp
              img(src="../../images/temp/newspaper.jpg", alt)
            a.title(href="#")
              | Годовой
              br
              | отчет
    
            .date.
              
              2017 год
              
          .item
            .image.persp
              img(src="../../images/temp/newspaper.jpg", alt)
            a.title(href="#")
              | Социальный
              br
              | отчет
    
            .date.
              
              2017 год
              
          .item
            .image.persp
              img(src="../../images/temp/newspaper.jpg", alt)
            a.title(href="#")
              | Годовой
              br
              | отчет
    
            .date.
              
              2017 год
              
        .more-publications
          a(href="#") Смотреть все
      section.publications
        +title_bl('image_publication/publication_title.png')
        .items-wrap
          .item
            .image.persp
              img(src="../../images/temp/newspaper.jpg", alt)
            a.title(href="#")
              | События и люди
              br
              | №1
    
            .date.
              
              2018 год
              
          .item
            .image.persp
              img(src="../../images/temp/newspaper.jpg", alt)
            a.title(href="#")
              | События и люди
              br
              | №12
    
            .date.
              
              2017 год
              
          .item
            .image.persp
              img(src="../../images/temp/newspaper.jpg", alt)
            a.title(href="#")
              | События и люди
              br
              | №11
    
            .date.
              
              2017 год
              
          .item
            .image.persp
              img(src="../../images/temp/newspaper.jpg", alt)
            a.title(href="#")
              | События и люди
              br
              | №13
    
            .date.
              
              2017 год
              
          .item
            .image.persp
              img(src="../../images/temp/newspaper.jpg", alt)
            a.title(href="#")
              | События и люди
              br
              | №1
    
            .date.
              
              2017 год
              
          .item
            .image.persp
              img(src="../../images/temp/newspaper.jpg", alt)
            a.title(href="#")
              | События и люди
              br
              | №4
    
            .date.
              
              2017 год
              
        .more-publications
          a(href="#") Смотреть все