.reports_and_publications {
    display: flex;
    flex-wrap: wrap;
    margin-right: -2rem;
    margin-left: -2rem;
    @media (max-width:1023px){
        margin-left:0;
        margin-right: 0;
    }
    .title-bl {
        text-align: center;
        margin-bottom: 3rem;
        min-height: 5rem;
        max-height: 6rem;
        @media all and (max-width: 480px) {
            min-height: auto;
        }
        img{
            max-height: 6rem;
        }
    }
    .owl-carousel .owl-item img {
        max-width: initial;
        width: auto;
    }
    .owl-dots{
        padding-top:0;
    }
    .reports {
        width: calc(50% - 3rem);
        margin-right: 3rem;
        .more-reports {
            margin-top: 3rem;
            text-align: center;
            a {
                font-weight: normal;
                font-size: 1.8rem;
                line-height: 1.2;
                text-decoration-line: underline;
                color: #007BC4;
                display: inline-block;
                padding-right: 2.2rem;
                box-sizing: border-box;
                background: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.7564e-08 4C5.19421e-08 3.63181 0.299234 3.33333 0.668359 3.33333L9.69397 3.33333L7.45175 1.14296C7.18803 0.885344 7.18361 0.463257 7.44189 0.200206C7.70016 -0.0628451 8.12332 -0.0672482 8.38704 0.190371L11.7993 3.5237C11.9277 3.6491 12 3.82078 12 4C12 4.17922 11.9277 4.3509 11.7993 4.4763L8.38704 7.80963C8.12332 8.06725 7.70016 8.06285 7.44189 7.79979C7.18361 7.53674 7.18803 7.11466 7.45175 6.85704L9.69397 4.66667L0.668358 4.66667C0.299234 4.66667 4.31858e-08 4.36819 4.7564e-08 4Z' fill='%23949300'/%3E%3C/svg%3E%0A") 100% 50% no-repeat;
                :hover {
                    color: #009696;
                    background: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.7564e-08 4C5.19421e-08 3.63181 0.299234 3.33333 0.668359 3.33333L9.69397 3.33333L7.45175 1.14296C7.18803 0.885344 7.18361 0.463257 7.44189 0.200206C7.70016 -0.0628451 8.12332 -0.0672482 8.38704 0.190371L11.7993 3.5237C11.9277 3.6491 12 3.82078 12 4C12 4.17922 11.9277 4.3509 11.7993 4.4763L8.38704 7.80963C8.12332 8.06725 7.70016 8.06285 7.44189 7.79979C7.18361 7.53674 7.18803 7.11466 7.45175 6.85704L9.69397 4.66667L0.668358 4.66667C0.299234 4.66667 4.31858e-08 4.36819 4.7564e-08 4Z' fill='%23009696'/%3E%3C/svg%3E%0A") 100% 50% no-repeat;
                }
            }
        }
    }
    .publications {
        width: calc(50% - 3rem);
        margin-left: 3rem;
        .more-publications {
            margin-top: 2rem;
            text-align: center;
            a {
                font-weight: normal;
                font-size: 1.8rem;
                line-height: 1.2;
                text-decoration-line: underline;
                color: #007BC4;
                display: inline-block;
                padding-right: 2.2rem;
                box-sizing: border-box;
                background: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.7564e-08 4C5.19421e-08 3.63181 0.299234 3.33333 0.668359 3.33333L9.69397 3.33333L7.45175 1.14296C7.18803 0.885344 7.18361 0.463257 7.44189 0.200206C7.70016 -0.0628451 8.12332 -0.0672482 8.38704 0.190371L11.7993 3.5237C11.9277 3.6491 12 3.82078 12 4C12 4.17922 11.9277 4.3509 11.7993 4.4763L8.38704 7.80963C8.12332 8.06725 7.70016 8.06285 7.44189 7.79979C7.18361 7.53674 7.18803 7.11466 7.45175 6.85704L9.69397 4.66667L0.668358 4.66667C0.299234 4.66667 4.31858e-08 4.36819 4.7564e-08 4Z' fill='%23949300'/%3E%3C/svg%3E%0A") 100% 50% no-repeat;
                :hover {
                    color: #009696;
                    background: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.7564e-08 4C5.19421e-08 3.63181 0.299234 3.33333 0.668359 3.33333L9.69397 3.33333L7.45175 1.14296C7.18803 0.885344 7.18361 0.463257 7.44189 0.200206C7.70016 -0.0628451 8.12332 -0.0672482 8.38704 0.190371L11.7993 3.5237C11.9277 3.6491 12 3.82078 12 4C12 4.17922 11.9277 4.3509 11.7993 4.4763L8.38704 7.80963C8.12332 8.06725 7.70016 8.06285 7.44189 7.79979C7.18361 7.53674 7.18803 7.11466 7.45175 6.85704L9.69397 4.66667L0.668358 4.66667C0.299234 4.66667 4.31858e-08 4.36819 4.7564e-08 4Z' fill='%23009696'/%3E%3C/svg%3E%0A") 100% 50% no-repeat;
                }
            }
        }
    }
    .item {
        .title {
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 1.2;
            text-align: center;
            color: #333;
            margin-bottom: 1rem;
            display: block;
            text-decoration: none;
        }
        .date {
            font-weight: 300;
            font-size: 1.8rem;
            line-height: 1.2;
            text-align: center;
            color: #b8b9ba;
        }
    }
}
.reports_and_publications,
.staff-block {
    justify-content: space-between;
    .owl-carousel {
        .owl-item {
            opacity: 0;
            transition: opacity .3s;
            &.active {
                opacity: 1;
            }
            .image {
                position: relative;
                width: 100%;
                height: 20rem;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    position: absolute;
                }
            }
        }
        .owl-stage-outer {
            padding: 0 3rem;
            margin: 0 -3rem;
        }
        .owl-nav {
            button.owl-prev {
                left: -2.2rem;
                // top: 29%;
                top:9rem;
            }
            button.owl-next {
                right: -2.2rem;
                // top: 29%;
                top:9rem;
            }
        }
    }
    .section-title {
        padding: 0 0 5rem;
    }
    .reports, .publications {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 45%;
        @media (max-width: 1024px) {
            width: 100%;
            margin: 0 0 60px 0;
        }
    }
    .birthdays, .new-employees {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 45%;
        @media (max-width: 1024px) {
            width: 100%;
            margin: 0 0 60px 0;
        }
        .owl-carousel {
            .owl-nav {
                button.owl-prev {
                    left: -2.2rem;
                    top: initial;
                    bottom: 22rem;
                }
                button.owl-next {
                    right: -2.2rem;
                    top: initial;
                    bottom: 22rem;
                }
            }
        }
    }
    .publications .items-wrap {
        @media (max-width: 1024px) {
            margin-top: 20px;
        }
    }
    .dropdown {
        position: absolute;
        top:9rem;
        &-header {
            p {
                font-weight: 600;
                font-size: 3.2rem;
                color: #404287;
                text-transform: inherit;
            }
            svg {
                fill: #404287;
                ;
            }
        }
    }
    .items {
        width: 100%;
        &-wrap {
            width: 100%;
        }
    }
}
.reports {
    .section-title {
        padding-top: 1.2rem;
        img {
            height: 7.7rem;
        }
    }
}
.publications {
    .section-title {
        img {
            height: 8.9rem;
        }
    }
}
.reports_and_publications {
    .image.persp {
        @media (max-width: 1350px) {
            font-size: 8px;
        }
    }
}
.image.persp {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    font-size: 1rem;
    max-width: 18.2em !important;
    height: 18.5em !important;
    min-height: 18.5em !important;
    margin: 0 auto;
    @media (max-width: 767px) {
        font-size: 7px;
    }
    &:before {
        content: "";
        position: absolute;
        bottom: 1.5em;
        z-index: 0;
        width: 50%;
        height: 3.1em;
        left: -20%;
        box-shadow: 2em -6.5em 5em 1.2em hsla(0, 0%, 0%, .1);
        transform: perspective(19rem) rotateX(70deg) rotateZ(50deg);
    }
    &:after {
        content: "";
        position: absolute;
        bottom: 1.7em;
        left: -20%;
        width: 6em;
        box-shadow: -5em -10.5em 6em 1.1em rgba(0, 0, 0, .1), .5em -10.9em 5em 3em rgba(0, 0, 0, .3);
        transform: perspective(20em) rotateX(67deg) rotateZ(50deg);
    }
    img {
        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, .7), 0px 1px 1px 0px rgba(0, 0, 0, 0.4), inset 0 0 2px 20px rgba(0, 0, 0, 0.5);
        transform: perspective(350px) rotateY(20deg) scale(.9999);
        transform: perspective(31rem) rotateY(20deg) scale(.9999) rotateX(-2deg) matrix3d(1, 0, 0, 0, .045, 1, -.1, -.0001, 0, 0, 1, 0, 0, 0, 0, 1);
        transform-style: preserve-3d;
        width: auto !important;
        max-height: 14.5em;
        height: 14.5em;
        position: initial !important;
        z-index: 2;
        -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(85%, transparent), to(rgba(255, 255, 255, 0.8)));
        -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(85%, transparent), to(rgba(255, 255, 255, 0.8)));
    }
}

.reports_and_publications .item .image.persp img {
    max-height: 20rem;
    position: relative !important;
}

.reports_and_publications .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}