
<div class="appeals_block_tab">
  <ul class="appeals-tabs nav nav-tabs" role="tablist">
    <li class="nav-item active-tab" role="presentation"><a class="nav-link active" data-toggle="tab" href="#openapp" role="tab" aria-controls="openapp" aria-selected="true">Открытые обращения <span>(4)</span></a></li>
    <li class="nav-item second" role="presentation"><a class="nav-link" data-toggle="tab" href="#allapp" role="tab" aria-controls="allapp" aria-selected="false">Все обращения <span>(4)</span></a></li>
  </ul>
  <div class="appeals-desc tab-content">
    <div class="desc-area tab-pane active-area fade show active" id="openapp" role="tabpanel" aria-labelledby="openapp-tab">
      <div class="title">
        <div class="left">
          <div class="id">ID</div>
          <div class="type">Тип обращения</div>
          <div class="name">Название</div>
        </div>
        <div class="right">
          <div class="author">Ответственный</div>
          <div class="date">Дата регистрации</div>
          <div class="status">Статус</div>
          <div class="goto"></div>
        </div>
      </div>
      <div class="item">
        <div class="left">
          <div class="id">#374782</div>
          <div class="type">IT-поддержка</div>
          <div class="name"><a href="#">Легли сервера</a></div>
        </div>
        <div class="right">
          <div class="author">
            <div class="image"><img src="../../images/appeal_image1.png" alt></div>
            <div class="name">Блок IT</div>
          </div>
          <div class="date">27.02.2020<span>Решение до 05.05.20</span></div>
          <div class="status received"> <a href="#">Получено</a></div>
          <div class="goto"><a class="btn" href="#">
              <svg class="w14">
                <use href="../../images/sprite.svg#i_arrow"></use>
              </svg></a></div>
        </div>
      </div>
      <div class="item odd">
        <div class="left">
          <div class="id">#312355</div>
          <div class="type">Задать вопрос</div>
          <div class="name"><a href="#">Точки доступа</a></div>
        </div>
        <div class="right">
          <div class="author">
            <div class="image"><img src="../../images/appeal_image1.png" alt></div>
            <div class="name">Финансово- экономический блок</div>
          </div>
          <div class="date">27.02.2020<span>Решение до 05.05.20</span></div>
          <div class="status considered"> <a href="#">Рассмотрено</a></div>
          <div class="goto"><a class="btn" href="#">
              <svg class="w14">
                <use href="../../images/sprite.svg#i_arrow"></use>
              </svg></a></div>
        </div>
      </div>
      <div class="item">
        <div class="left">
          <div class="id">#374782</div>
          <div class="type">Кодекс этики</div>
          <div class="name"><a href="#">Как работать с этическими кейсами</a></div>
        </div>
        <div class="right">
          <div class="author">
            <div class="image"><img src="../../images/appeal_image2.png" alt></div>
            <div class="name">Попкова Елена Владимировна</div>
          </div>
          <div class="date">27.02.2020<span>Решение до 05.05.20</span></div>
          <div class="status send"><a href="#">Отправлено в<br>Комиссию по этике</a></div>
          <div class="goto"><a class="btn" href="#">
              <svg class="w14">
                <use href="../../images/sprite.svg#i_arrow"></use>
              </svg></a></div>
        </div>
      </div>
      <div class="item odd">
        <div class="left">
          <div class="id">#374782</div>
          <div class="type">Комплаенс</div>
          <div class="name"><a href="#">Коррупционная схема руководства</a></div>
        </div>
        <div class="right">
          <div class="author">
            <div class="image"><img src="../../images/appeal_image3.png" alt></div>
            <div class="name">Сысоева Светлана Петровна</div>
          </div>
          <div class="date">27.02.2020<span>Решение до 05.05.20</span></div>
          <div class="status received"> <a href="#">Получено</a></div>
          <div class="goto"><a class="btn" href="#">
              <svg class="w14">
                <use href="../../images/sprite.svg#i_arrow"></use>
              </svg></a></div>
        </div>
      </div>
    </div>
    <div class="desc-area tab-pane fade" id="allapp" role="tabpanel" aria-labelledby="allapp-tab">
      <div class="title">
        <div class="left">
          <div class="id">ID</div>
          <div class="type">Тип обращения</div>
          <div class="name">Название</div>
        </div>
        <div class="right">
          <div class="author">Ответственный</div>
          <div class="date">Дата регистрации</div>
          <div class="status"> <a href="#">Статус</a></div>
          <div class="goto"></div>
        </div>
      </div>
      <div class="item">
        <div class="left">
          <div class="id">#374782</div>
          <div class="type">IT-поддержка</div>
          <div class="name"><a href="#">Не работает 1C</a></div>
        </div>
        <div class="right">
          <div class="author">
            <div class="image"><img src="../../images/appeal_image1.png" alt></div>
            <div class="name">Блок IT</div>
          </div>
          <div class="date">01.02.2020</div>
          <div class="status closed"> <a href="#">Закрыто</a></div>
          <div class="goto"><a class="btn" href="#">
              <svg class="w14">
                <use href="../../images/sprite.svg#i_arrow"></use>
              </svg></a></div>
        </div>
      </div>
      <div class="item odd">
        <div class="left">
          <div class="id">#374782</div>
          <div class="type">Кодекс этики</div>
          <div class="name"><a href="#">Моя зарплата не соответствует договору</a></div>
        </div>
        <div class="right">
          <div class="author">
            <div class="image"><img src="../../images/appeal_image4.png" alt></div>
            <div class="name">Демко Наталья Васильевна</div>
          </div>
          <div class="date">01.02.2020</div>
          <div class="status closed"> <a href="#">Закрыто</a></div>
          <div class="goto"><a class="btn" href="#">
              <svg class="w14">
                <use href="../../images/sprite.svg#i_arrow"></use>
              </svg></a></div>
        </div>
      </div>
      <div class="item">
        <div class="left">
          <div class="id">#374782</div>
          <div class="type">IT-поддержка</div>
          <div class="name"><a href="#">Легли сервера</a></div>
        </div>
        <div class="right">
          <div class="author">
            <div class="image"><img src="../../images/appeal_image1.png" alt></div>
            <div class="name">Блок IT</div>
          </div>
          <div class="date">27.02.2020<span>Решение до 05.05.20</span></div>
          <div class="status closed"> <a href="#">Закрыто</a></div>
          <div class="goto"><a class="btn" href="#">
              <svg class="w14">
                <use href="../../images/sprite.svg#i_arrow"></use>
              </svg></a></div>
        </div>
      </div>
      <div class="item odd">
        <div class="left">
          <div class="id">#312355</div>
          <div class="type">Задать вопрос</div>
          <div class="name"><a href="#">Точки доступа</a></div>
        </div>
        <div class="right">
          <div class="author">
            <div class="image"><img src="../../images/appeal_image1.png" alt></div>
            <div class="name">Финансово- экономический блок</div>
          </div>
          <div class="date">27.02.2020<span>Решение до 05.05.20</span></div>
          <div class="status closed"> <a href="#">Закрыто</a></div>
          <div class="goto"><a class="btn" href="#">
              <svg class="w14">
                <use href="../../images/sprite.svg#i_arrow"></use>
              </svg></a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="more-link"><a class="goto-arrow" href="/appeals.html">Все обращения</a></div>
</div>