.profile-page
    .profile-page-left
        .pic.act
            .label
            .label.label--birthday
            img(src="../../images/profilpage/profil_page_1.png", alt)
        .blocks
            .item
                .title Навыки
                .body
                    strong 3 
                    | навыка
                    .info
                        .text
                            .text_body
                                | Навыки межличностного делового общения
                                br
                                | Умение организовывать работу
                                br
                                | Лидерство
                                br
                                | Коммуникабельность
                                br
                                | Умение вести переговоры
                                br
                                | Гибкость
                                br
                                | Аналитика
                                br
                                | Креативность
                                br
                                | Неконфликтность
                                br
                                | Доброта
                                br
                                | Грамотность в планировании
                                br
                                | Бережливость
                .body
                    strong 1
                    |  компетенция
                    .info
                        .text
                            .text_body Тест
            .item
                .title День рождения
                .body.act
                    strong Сегодня
    .profile-page-right
        .profile-page-block
            .picbl.act
                .label
                    img(src="../../images/profilpage/profile_label.png", alt)
                img(src="../../images/profilpage/profil_page_1.png", alt)
            .textbl
                .profile-page-title Марков Сергей Петрович
                    .label.label--birthday
                .profile-page-desk
                    | Директор по персоналу и администрации
                    .info
                        .text
                            .text_title Огранизационная структура сотрудника
                            .text_body
                                ul
                                    li
                                        span Компания
                                        ul
                                            li
                                                span Сибирская угольная энергетическая компания
                                                ul
                                                    li
                                                        span АО «СУЭК-Кузбасс»
                                                        ul
                                                            li
                                                                span АО «СУЭК-Кузбасс» шахтоуправление им. А.Д.Рубана
                                                                ul
                                                                    li
                                                                        span Шахта им. А.Д.Рубана
                                                                        ul
                                                                            li
                                                                                span Участок по добыче угля №1
                                                                                ul
                                                                                    li.place
                                                                                        span Участок по добыче угля №1
                                                                                        ul
                                                                                            li
                                                                                                span Горнорабочий очистного забоя 5 разряда
        .profile-page-buttons
            .item
                .count
                    span 3
                a.but1(href="#") 
                    .icon.icon--star
                    | Поблагодарить
                .block-body
                    .item-in
                        .top
                            .image
                                img(src="../../images/profilpage/profile_image1.png", alt)
                            .name
                                | Маринина Жанна
                                br
                                | Аркадьевна
                        .desc.

                            Благодарю вас за помощь в содействии с борьбе с коррупцией в Саан-Нуре! Вы очень помогли рабочим!

                        .bottom
                            a.like(href="#") 153
                            .date 24 июня 2019
                    .item-in
                        .top
                            .image
                                img(src="../../images/profilpage/profile_image2.png", alt)
                            .name
                                | Земсков Игорь
                                br
                                | Маркович
                        .desc.

                            Спасибо за помощь в трудную минуту. Вы отличный руководитель!

                        .bottom
                            a.like.active(href="#") 2
                            .date 24 июня 2019
                    .all_link
                        a.all_link_btn(href="#"  data-popup-trigger="thanks") Смотреть все
            .item
                .count
                    span 12
                a.but2(href="#") 
                    .icon.icon--box
                    | Поздравить
                .block-body
                    .item-in
                        .top
                            .image
                                img(src="../../images/profilpage/profile_image3.png", alt)
                            .name
                                | Кирюхина Богдана
                                br
                                | Станиславовна
                        .desc.

                            Поздравляю с днем рождения!

                        .bottom
                            a.like(href="#") 14
                            .date 24 июня 2019
                    .item-in
                        .top
                            .image
                                img(src="../../images/profilpage/profile_image4.png", alt)
                            .name
                                | Иринина Мария
                                br
                                | Аркадьевна
                        .desc.

                            Поздравляю с днём цемента!

                        .bottom
                            a.like.active(href="#") 2
                            .date 24 июня 2019
                    .all_link
                        a.all_link__btn(href="#" data-popup-trigger="congrad") Смотреть все
            .item.nagrad
                .count
                    span 22
                a.but3(href="#") 
                    .icon.icon--cup
                    | Награды
                .block-body
                    .item-in
                        .top
                            .image
                                img(src="../../images/profilpage/profile_image5.png", alt)
                            .name
                                | Почетное звание
                                br
                                | «Заслуженный шахтер РФ»
                        .bottom.mleft
                            .date 24 июня 2019
                    .item-in
                        .top
                            .image
                                img(src="../../images/profilpage/profile_image6.png", alt)
                            .name Диплом № К43 о о подтверждении уровня знаний по проектному управлению по квалификационной категории "Руководитель проекта"
                        .bottom.mleft
                            .date 24 июня 2019
                    .item-in
                        .top
                            .image
                                img(src="../../images/profilpage/profile_image7.png", alt)
                            .name Сертификат №Р-0280 об окончании курсов повышения квалификации горного мастера
                        .bottom.mleft
                            .date 24 июня 2019
                    .all_link
                        a.all_link_btn(href="#" data-popup-trigger="awards") Смотреть все
        .profile-page-contacts
            .contacts-title Контактная информация
            .contacts-blocks
                .item
                    .title Мобильный
                    .body
                        a(href="tel:84959111210") 8 (495) 911 12 10
                .item
                    .title(style="min-width:80px;") Email
                    .body
                        a(href="mailto:markovsv@suek.ru") markovsv@suek.ru
                .item
                    .title Рабочий
                    .body
                        a(href="tel:84951144114") 8 (495) 114 41 14
                .item
                    .title(style="min-width:80px;") Skype
                    .body
                        a(href="#") markovsv@suek.ru
                .item
                    .title Внутренний
                    .body 1282
    .clear
    .profile-page-bot
        .profile-bot-title Рабочая информация
        .profile-bot-blocks
            .item
                .title Компания
                .body АО «СУЭК-Красноярск»
            .item
                .title Адрес
                .body
                    | г. Красноярск, Ул. Уличный
                    br
                    | проезд, д.5 стр. 7/16, офис 5,
                    br
                    | этаж 3, кабинет 1340
            .item
                .title
                    | Подразделение

                    .info
                        .text
                            .text_body.

                                Тест 2

                .body
                    a(href="#")
                        | Управление
                        br
                        | по работе с персоналом
                        br
                        | и организационному развитию
            .item
                .title Руководитель
                .body
                    a(href="#") Максимов Максим Максимович