
<div class="profile-page">
  <div class="profile-page-left">
    <div class="pic act">
      <div class="label"></div>
      <div class="label label--birthday"></div><img src="../../images/profilpage/profil_page_1.png" alt>
    </div>
    <div class="blocks">
      <div class="item">
        <div class="title">Навыки</div>
        <div class="body"><strong>3 </strong>навыка
          <div class="info">
            <div class="text">
              <div class="text_body">Навыки межличностного делового общения<br>Умение организовывать работу<br>Лидерство<br>Коммуникабельность<br>Умение вести переговоры<br>Гибкость<br>Аналитика<br>Креативность<br>Неконфликтность<br>Доброта<br>Грамотность в планировании<br>Бережливость</div>
            </div>
          </div>
        </div>
        <div class="body"><strong>1</strong> компетенция
          <div class="info">
            <div class="text">
              <div class="text_body">Тест</div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="title">День рождения</div>
        <div class="body act"><strong>Сегодня</strong></div>
      </div>
    </div>
  </div>
  <div class="profile-page-right">
    <div class="profile-page-block">
      <div class="picbl act">
        <div class="label"><img src="../../images/profilpage/profile_label.png" alt></div><img src="../../images/profilpage/profil_page_1.png" alt>
      </div>
      <div class="textbl">
        <div class="profile-page-title">Марков Сергей Петрович
          <div class="label label--birthday"></div>
        </div>
        <div class="profile-page-desk">Директор по персоналу и администрации
          <div class="info">
            <div class="text">
              <div class="text_title">Огранизационная структура сотрудника</div>
              <div class="text_body">
                <ul>
                  <li><span>Компания</span>
                    <ul>
                      <li><span>Сибирская угольная энергетическая компания</span>
                        <ul>
                          <li><span>АО «СУЭК-Кузбасс»</span>
                            <ul>
                              <li><span>АО «СУЭК-Кузбасс» шахтоуправление им. А.Д.Рубана</span>
                                <ul>
                                  <li><span>Шахта им. А.Д.Рубана</span>
                                    <ul>
                                      <li><span>Участок по добыче угля №1</span>
                                        <ul>
                                          <li class="place"><span>Участок по добыче угля №1</span>
                                            <ul>
                                              <li><span>Горнорабочий очистного забоя 5 разряда</span></li>
                                            </ul>
                                          </li>
                                        </ul>
                                      </li>
                                    </ul>
                                  </li>
                                </ul>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-page-buttons">
      <div class="item">
        <div class="count"><span>3</span></div><a class="but1" href="#"> 
          <div class="icon icon--star"></div>Поблагодарить</a>
        <div class="block-body">
          <div class="item-in">
            <div class="top">
              <div class="image"><img src="../../images/profilpage/profile_image1.png" alt></div>
              <div class="name">Маринина Жанна<br>Аркадьевна</div>
            </div>
            <div class="desc">
              Благодарю вас за помощь в содействии с борьбе с коррупцией в Саан-Нуре! Вы очень помогли рабочим!
              
            </div>
            <div class="bottom"><a class="like" href="#">153</a>
              <div class="date">24 июня 2019</div>
            </div>
          </div>
          <div class="item-in">
            <div class="top">
              <div class="image"><img src="../../images/profilpage/profile_image2.png" alt></div>
              <div class="name">Земсков Игорь<br>Маркович</div>
            </div>
            <div class="desc">
              Спасибо за помощь в трудную минуту. Вы отличный руководитель!
              
            </div>
            <div class="bottom"><a class="like active" href="#">2</a>
              <div class="date">24 июня 2019</div>
            </div>
          </div>
          <div class="all_link"><a class="all_link_btn" href="#" data-popup-trigger="thanks">Смотреть все</a></div>
        </div>
      </div>
      <div class="item">
        <div class="count"><span>12</span></div><a class="but2" href="#"> 
          <div class="icon icon--box"></div>Поздравить</a>
        <div class="block-body">
          <div class="item-in">
            <div class="top">
              <div class="image"><img src="../../images/profilpage/profile_image3.png" alt></div>
              <div class="name">Кирюхина Богдана<br>Станиславовна</div>
            </div>
            <div class="desc">
              Поздравляю с днем рождения!
              
            </div>
            <div class="bottom"><a class="like" href="#">14</a>
              <div class="date">24 июня 2019</div>
            </div>
          </div>
          <div class="item-in">
            <div class="top">
              <div class="image"><img src="../../images/profilpage/profile_image4.png" alt></div>
              <div class="name">Иринина Мария<br>Аркадьевна</div>
            </div>
            <div class="desc">
              Поздравляю с днём цемента!
              
            </div>
            <div class="bottom"><a class="like active" href="#">2</a>
              <div class="date">24 июня 2019</div>
            </div>
          </div>
          <div class="all_link"><a class="all_link__btn" href="#" data-popup-trigger="congrad">Смотреть все</a></div>
        </div>
      </div>
      <div class="item nagrad">
        <div class="count"><span>22</span></div><a class="but3" href="#"> 
          <div class="icon icon--cup"></div>Награды</a>
        <div class="block-body">
          <div class="item-in">
            <div class="top">
              <div class="image"><img src="../../images/profilpage/profile_image5.png" alt></div>
              <div class="name">Почетное звание<br>«Заслуженный шахтер РФ»</div>
            </div>
            <div class="bottom mleft">
              <div class="date">24 июня 2019</div>
            </div>
          </div>
          <div class="item-in">
            <div class="top">
              <div class="image"><img src="../../images/profilpage/profile_image6.png" alt></div>
              <div class="name">Диплом № К43 о о подтверждении уровня знаний по проектному управлению по квалификационной категории "Руководитель проекта"</div>
            </div>
            <div class="bottom mleft">
              <div class="date">24 июня 2019</div>
            </div>
          </div>
          <div class="item-in">
            <div class="top">
              <div class="image"><img src="../../images/profilpage/profile_image7.png" alt></div>
              <div class="name">Сертификат №Р-0280 об окончании курсов повышения квалификации горного мастера</div>
            </div>
            <div class="bottom mleft">
              <div class="date">24 июня 2019</div>
            </div>
          </div>
          <div class="all_link"><a class="all_link_btn" href="#" data-popup-trigger="awards">Смотреть все</a></div>
        </div>
      </div>
    </div>
    <div class="profile-page-contacts">
      <div class="contacts-title">Контактная информация</div>
      <div class="contacts-blocks">
        <div class="item">
          <div class="title">Мобильный</div>
          <div class="body"><a href="tel:84959111210">8 (495) 911 12 10</a></div>
        </div>
        <div class="item">
          <div class="title" style="min-width:80px;">Email</div>
          <div class="body"><a href="mailto:markovsv@suek.ru">markovsv@suek.ru</a></div>
        </div>
        <div class="item">
          <div class="title">Рабочий</div>
          <div class="body"><a href="tel:84951144114">8 (495) 114 41 14</a></div>
        </div>
        <div class="item">
          <div class="title" style="min-width:80px;">Skype</div>
          <div class="body"><a href="#">markovsv@suek.ru</a></div>
        </div>
        <div class="item">
          <div class="title">Внутренний</div>
          <div class="body">1282</div>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="profile-page-bot">
    <div class="profile-bot-title">Рабочая информация</div>
    <div class="profile-bot-blocks">
      <div class="item">
        <div class="title">Компания</div>
        <div class="body">АО «СУЭК-Красноярск»</div>
      </div>
      <div class="item">
        <div class="title">Адрес</div>
        <div class="body">г. Красноярск, Ул. Уличный<br>проезд, д.5 стр. 7/16, офис 5,<br>этаж 3, кабинет 1340</div>
      </div>
      <div class="item">
        <div class="title">Подразделение
          <div class="info">
            <div class="text">
              <div class="text_body">
                Тест 2
                
              </div>
            </div>
          </div>
        </div>
        <div class="body"><a href="#">Управление<br>по работе с персоналом<br>и организационному развитию</a></div>
      </div>
      <div class="item">
        <div class="title">Руководитель</div>
        <div class="body"><a href="#">Максимов Максим Максимович</a></div>
      </div>
    </div>
  </div>
</div>