mixin newsdetail()
    .page-news-in
        .page_tags
            a(href="#") #ЭКОНОМИКА
            a(href="#") #ВАЖНОЕ
        h1 Польские энергокомпании из-за дефицита вынуждены покупать уголь в России
        .news_text
            | В результате контролируемые государством энергетические компании PGE и
            br
            | Tauron используют уголь из России. В прошлом году Tauron, владеющая
            br
            | собственными шахтами, добыла на 1,8 миллиона тонн угля меньше.

        .date_see
            | 20 января 2020 в 12:10
            .see 256
        img(src="../../images/image_news/news_page_pic1.png", alt)
        .news_text_in
            | Польские угольные шахты, в том числе контролируемые государством энергетические
            br
            | компании PGE и Tauron, из-за дефицита сырья вынуждены закупать уголь у России, пишет
            br
            a(href="#") Dziennik Gazeta Prawna
            br
            br
            | Прибалтийская страна вошла в десятку основных торговых партнеров Москвы
            br
            br
            | По данным издания, в стране стремительно закрываются убыточные предприятия, а
            br
            | инвестиции не способствуют тому, чтобы покрыть запросы отечественных потребителей.
            br
            | Так, в прошлом году импорт угля в республику составил около 19 млн т, из которых 70%
            br
            | пришлось на российское топливо. В текущем году эксперты прогнозируют импорт на
            br
            | уровне 20 млн т.

        img(src="../../images/image_news/news_page_pic2.png", alt)
        br
        span.pic_name Варшава (Фото: ТАСС)
        .news_text_in
            | Кроме того, в середине декабря сертификацию прошли «около 2 тыс. т угля очень
            br
            | хорошего качества, с низким содержанием серы». Как отмечает издание, сырье было
            br
            | доставлено из России для Польской энергетической группы (PGE), которой уже в 2019 году
            br
            | может не хватить 2 млн т топлива.
            br
            br
            | Несмотря на то что российский уголь поступает в дополнение к импорту из Америки,
            br
            | скорость его доставки в два раза выше, чем заморский товар, который приходится
            br
            | ждать до шести недель, напоминает газета.
            br
            br
            | В сентябре посол Польши в России Влодзимеж Марчиняк заявил, что республика не
            br
            | планирует полностью отказываться от закупок российского газа, но стремится к тому, чтобы
            br
            | закупать этот вид топлива «как можно дешевле».

        .btns-wrap
            a.like-it(href="#!") Нравится
                span 153
            a.favorite.active(href="#!") Добавлено в закладки

        a.all-news(href="#!") Все новости