
<div class="filter">
  <button class="btn filter_btn"><span class="btn_inner">
      <p>Фильтр</p><span class="i_filter"></span></span></button>
  <div class="filter_wrap">
    <div class="faq-sel">
      <div class="faq-sel__item">
        <select id="sel_reg" name="region">
          <option selected disabled value="Выбрать регион">Выбрать регион</option>
          <option value="Тестовый регион">Тестовый регион</option>
          <option value="Тестовый регион 2">Тестовый регион 2</option>
        </select>
      </div>
      <hr>
      <div class="faq-sel__item">
        <select id="sel_comp" name="comp">
          <option selected disabled value="Выбрать предприятие">
            Выбрать предприятие
            
          </option>
          <option value="Тестовый регион">Предприятие 1</option>
          <option value="Тестовый регион 2">Предприятие 2</option>
        </select>
      </div>
      <hr>
      <div class="faq-sel__item">
        <select id="sel_block" name="block">
          <option selected disabled value="Выбрать блок">Выбрать блок</option>
          <option value="Тестовый регион">Тестовый Блок 1</option>
          <option value="Тестовый регион 2">Тестовый Блок 2</option>
        </select>
      </div>
      <hr>
      <div class="faq-sel__item">
        <select id="sel_serv" name="serv">
          <option selected disabled value="Выбрать службу">Выбрать службу</option>
          <option value="Тестовый регион">Служба 1</option>
          <option value="Тестовый регион 2">Служба 2</option>
        </select>
      </div>
    </div>
  </div>
</div>