mixin faq_block()
    .faq__inner
        h2.faq-title Рассрочка погашения задолженности
        .faq-items
            .faq-item
                .faq-item__header
                    p «Как оплатить обязательный платеж при заключении рассрочки?»
                    button.btn.btn_pluse
                        span
                .faq-item__body
                    .content
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem provident omnis laudantium praesentium! Praesentium nobis enim amet omnis impedit, fugiat beatae veritatis similique ducimus deserunt voluptatem nulla consequuntur asperiores esse?
            .faq-item
                .faq-item__header
                    p «Обязательно ли мне оплачивать текущие начисление, если у меня заключена рассрочка?»
                    button.btn.btn_pluse
                        span
                .faq-item__body
                    .content
                        p Периодичность вывоза твердых коммунальных отходов определяется условиями договора в соответствии с типовой формой, утвержденной постановлением Правительства РФ № 1156 от 12.11.2016. Графики вывода ТКО можно уточнить в управляющей организации (по МКД) или у Регионального оператора.
                        p В населенных местах в дворовых сборниках в холодное время года (при температуре -5 °C и ниже) он должен быть не более трех суток. В теплое время (при плюсовой температуре - свыше +5 °C) - не более одних суток, что означает ежедневный вывоз мусора (п. 2.2.1 СанПиН 42-128-4690-88).
                        button.btn.btn-with-arrow
                            span.btn_inner
                                svg.i-pdf
                                    use(href="../../images/sprite.svg#i_pdf")
                                p Документы на квартиру
                                span.i-arrow
                                    svg
                                        use(href="../../images/sprite.svg#i_arrow_long")
                        button.btn.btn-with-arrow
                            span.btn_inner
                                svg.i-doc
                                    use(href="../../images/sprite.svg#i_pdf")
                                p Образец договора
                                span.i-arrow
                                    svg
                                        use(href="../../images/sprite.svg#i_arrow_long")