
<div class="section-body spravka_new">
  <h3 class="page-subtitle">Выберите тип справки или документа</h3>
  <select class="select-custom w-25">
    <option value="Справка">Справка</option>
    <option value="Документ">Документ</option>
  </select><br><br>
  <div class="zayavka-info">
    <h3 class="page-subtitle">Информация о сотруднике</h3>
    <div class="block">
      <div class="label">Табельный номер</div>
      <div class="text">00006076</div>
    </div>
    <div class="block">
      <div class="label">ФИО</div>
      <div class="text">Соснин Иван Викторович</div>
    </div>
    <div class="block">
      <div class="label">Телефон</div>
      <div class="text">+7(926)-982-88-46</div>
    </div>
    <div class="block">
      <div class="label">E-mail</div>
      <div class="text">SosninV@gmail.com</div>
    </div>
    <div class="block">
      <div class="label">Место работы</div>
      <div class="text">СУЭК Москва</div>
    </div>
    <div class="block">
      <div class="label">Подразделение</div>
      <div class="text">Внештатные сотрудники</div>
    </div>
    <div class="block">
      <div class="label">Должность</div>
      <div class="text">Внештатный сотрудник</div>
    </div>
    <div class="block">
      <div class="btn-toolbar">
        <button class="btn btn-primary" id="m_spravka_sended__btn">
          <div class="btn-inner">Отправить запрос</div>
        </button>
      </div>
    </div>
  </div>
</div>