
<div class="section comments">
  <div class="comments__inner">
    <div class="comments__head">Комментарии (1)</div>
    <div class="comments__item">
      <div class="author">
        <div class="author__photo"><img src="../../images/people/employees5.png"></div>
        <div class="author__data">
          <div class="author__name"> <span>Илларион Витальев</span>
            <div class="date">27.09.2021 в 13:14</div>
          </div>
          <div class="author__msg">Спасибо! Прочитал с большим интересом.</div><a class="author__repeat" href="#!">Ответить</a>
        </div>
      </div>
      <div class="comments__input">
        <div class="author__text">Оставить комментарий</div>
        <form action=""> 
          <input class="custom-input" type="text" placeholder="Введите текст... ">
        </form>
      </div>
    </div>
  </div>
</div>