.section.comments
    .comments__inner
        .comments__head Комментарии (1)
        .comments__item
            .author
                .author__photo
                    img(src='../../images/people/employees5.png')
                .author__data
                    .author__name 
                        span Илларион Витальев
                        .date 27.09.2021 в 13:14
                    .author__msg Спасибо! Прочитал с большим интересом.
                    a(href='#!').author__repeat Ответить
            .comments__input
                .author__text Оставить комментарий
                form(action='') 
                    input.custom-input(type='text' placeholder='Введите текст... ')