.pagelist
    ul
        li.prev
            a(href="#")
        li.active
            a(href="#") 01
        li
            a(href="#") 02
        li
            a(href="#") 03
        li
            a(href="#") ...
        li
            a(href="#") 15
        li.next
            a(href="#")