
<div class="header-right">
  <div class="item button1">
    <div class="item-title"></div>
    <div class="item-body">
      <div class="close-modal">
        <button class="btn close-modal__button modal_close"></button>
      </div>
      <div class="cont-block">
        <div class="title"><span class="sname">Горячая линия СУЭК</span>
          <div class="info">
            <div class="text">
              <div class="text_title">Причины обращения к координатору</div>
              <div class="text_body">Если у Вас имеются вопросы по содержанию Кодекса корпоративной этики, возникли сомнения в правильности ваших действий или действий ваших коллег, Вы видите явные нарушения Кодекса или же оказались в ситуации, вынуждающей Вас его нарушать, пожалуйста, воспользуйтесь «Горячей линией».<br><br><span>В течение 5 дней ваше обращение будет рассмотрено</span> и уполномоченный сотрудник вернется к Вам с решением.</div>
            </div>
          </div>
        </div>
        <div class="body"><a href="tel:88002001240">8 (800) 200 - 12 - 40</a></div>
      </div>
      <div class="cont-block-in">
        <div class="title"><span class="sname">Пожелания</span>
          <div class="info">
            <div class="text">
              <div class="text_body">Свои пожелания по работе корпоративного портала, комментарии и предложения направляйте через кнопку обратной связи</div>
            </div>
          </div>
        </div><a class="button" href="#!" data-popup-trigger="typical_form">Написать</a>
      </div>
      <div class="cont-block-in">
        <div class="title"><span class="sname">Комплаенс-офицер</span>
          <div class="info">
            <div class="text">
              <div class="text_title">Причины обращения к координатору</div>
              <div class="text_body">Если у Вас имеются вопросы по содержанию Кодекса корпоративной этики, возникли сомнения в правильности ваших действий или действий ваших коллег, Вы видите явные нарушения Кодекса или же оказались в ситуации, вынуждающей Вас его нарушать, пожалуйста, воспользуйтесь «Горячей линией».<br><br><span>В течение 5 дней ваше обращение будет рассмотрено</span> и уполномоченный сотрудник вернется к Вам с решением.</div>
            </div>
          </div>
        </div>
        <div class="jblock">
          <div class="pic"><img src="../../images/jblock_pic1.png" alt="Иванов Максим Павлович"></div>
          <div class="name">Иванов Максим Павлович</div>
        </div><a class="button" href="#!" data-popup-trigger="typical_form_v2">Написать</a>
      </div>
      <div class="cont-block-in">
        <div class="title"><span class="sname">Координатор по этике</span>
          <div class="info">
            <div class="text">
              <div class="text_title">Причины обращения к координатору</div>
              <div class="text_body">Если у Вас имеются вопросы по содержанию Кодекса корпоративной этики, возникли сомнения в правильности ваших действий или действий ваших коллег, Вы видите явные нарушения Кодекса или же оказались в ситуации, вынуждающей Вас его нарушать, пожалуйста, воспользуйтесь «Горячей линией».<br><br><span>В течение 5 дней ваше обращение будет рассмотрено</span> и уполномоченный сотрудник вернется к Вам с решением.</div>
            </div>
          </div>
        </div>
        <div class="jblock">
          <div class="pic"><img src="../../images/jblock_pic1.png" alt="Константинопольский Василий Петрович"></div>
          <div class="name">Константинопольский Василий Петрович</div>
        </div><a class="button" id="form-wrapper1_2_btn" href="#">Написать</a>
      </div>
    </div>
  </div>
  <div class="item button2">
    <div class="item-title"></div>
    <div class="item-body">
      <div class="close-modal">
        <button class="btn close-modal__button modal_close"></button>
      </div>
      <div class="item">
        <div class="title">Заявка в техническую поддержку</div><a class="button" href="#">Перейти на страницу</a>
      </div>
    </div>
  </div>
  <div class="item button3">
    <div class="item-title"></div>
    <div class="item-body">
      <div class="close-modal">
        <button class="btn close-modal__button modal_close"></button>
      </div>
      <div class="head-form">
        <div class="head-form-title">Задать рабочий вопрос</div>
        <form action="#">
          <div class="form-text">
            <div class="ftitle">Получатель</div>
            <div class="fbody">
              <select id="selzakup" name="Блок Закупок">
                <option>Блок Закупок</option>
                <option>Блок Закупок 2</option>
                <option>Блок Закупок 3</option>
              </select>
            </div>
          </div>
          <div class="form-text">
            <div class="ftitle">Тема обращения</div>
            <div class="fbody">
              <input type="text" placeholder="Рабочий вопрос">
            </div>
          </div>
          <div class="form-text">
            <div class="ftitle">Вопрос</div>
            <div class="fbody">
              <textarea name cols="30" rows="10" placeholder="Мне только спросить"></textarea>
            </div>
          </div>
          <div class="form-text form-buttons">
            <button class="send">Отправить</button>
            <div class="text flex">
              <button class="upload">Выбрать файл</button>
              <div class="tip"><span>Не более 5мб</span></div>
            </div>
          </div>
          <div class="form-text form-link"><a href="#">Смотреть все обращения</a></div>
        </form>
      </div>
    </div>
  </div>
  <div class="last-but"></div>
</div>