.header-right
    .item.button1
        .item-title
        .item-body
            .close-modal
                button.btn.close-modal__button.modal_close.


            .cont-block
                .title
                    span.sname Горячая линия СУЭК
                    .info
                        .text
                            .text_title Причины обращения к координатору
                            .text_body
                                | Если у Вас имеются вопросы по содержанию Кодекса корпоративной этики, возникли сомнения в правильности ваших действий или действий ваших коллег, Вы видите явные нарушения Кодекса или же оказались в ситуации, вынуждающей Вас его нарушать, пожалуйста, воспользуйтесь «Горячей линией».
                                br
                                br
                                span В течение 5 дней ваше обращение будет рассмотрено
                                |  и уполномоченный сотрудник вернется к Вам с решением.

                .body
                    a(href="tel:88002001240") 8 (800) 200 - 12 - 40
            .cont-block-in
                .title
                    span.sname Пожелания
                    .info
                        .text
                            .text_body.
                                Свои пожелания по работе корпоративного портала, комментарии и предложения направляйте через кнопку обратной связи
                a.button(href="#!", data-popup-trigger="typical_form") Написать
            .cont-block-in
                .title
                    span.sname Комплаенс-офицер
                    .info
                        .text
                            .text_title Причины обращения к координатору
                            .text_body
                                | Если у Вас имеются вопросы по содержанию Кодекса корпоративной этики, возникли сомнения в правильности ваших действий или действий ваших коллег, Вы видите явные нарушения Кодекса или же оказались в ситуации, вынуждающей Вас его нарушать, пожалуйста, воспользуйтесь «Горячей линией».
                                br
                                br
                                span В течение 5 дней ваше обращение будет рассмотрено
                                |  и уполномоченный сотрудник вернется к Вам с решением.

                .jblock
                    .pic
                        img(src="../../images/jblock_pic1.png", alt="Иванов Максим Павлович")
                    .name Иванов Максим Павлович
                a.button(href="#!", data-popup-trigger="typical_form_v2") Написать
            .cont-block-in
                .title
                    span.sname Координатор по этике
                    .info
                        .text
                            .text_title Причины обращения к координатору
                            .text_body
                                | Если у Вас имеются вопросы по содержанию Кодекса корпоративной этики, возникли сомнения в правильности ваших действий или действий ваших коллег, Вы видите явные нарушения Кодекса или же оказались в ситуации, вынуждающей Вас его нарушать, пожалуйста, воспользуйтесь «Горячей линией».
                                br
                                br
                                span В течение 5 дней ваше обращение будет рассмотрено
                                |  и уполномоченный сотрудник вернется к Вам с решением.

                .jblock
                    .pic
                        img(src="../../images/jblock_pic1.png", alt="Константинопольский Василий Петрович")
                    .name Константинопольский Василий Петрович
                a.button#form-wrapper1_2_btn(href="#") Написать
    .item.button2
        .item-title
        .item-body
            .close-modal
                button.btn.close-modal__button.modal_close.


            .item
                .title Заявка в техническую поддержку
                a.button(href="#") Перейти на страницу
    .item.button3
        .item-title
        .item-body
            .close-modal
                button.btn.close-modal__button.modal_close.


            .head-form
                .head-form-title Задать рабочий вопрос
                form(action="#")
                    .form-text
                        .ftitle Получатель
                        .fbody
                            select#selzakup(name="Блок Закупок")
                                option Блок Закупок
                                option Блок Закупок 2
                                option Блок Закупок 3
                    .form-text
                        .ftitle Тема обращения
                        .fbody
                            input(type="text", placeholder="Рабочий вопрос")
                    .form-text
                        .ftitle Вопрос
                        .fbody
                            textarea(name, cols="30", rows="10", placeholder="Мне только спросить")
                    .form-text.form-buttons
                        button.send Отправить
                        .text.flex
                            button.upload Выбрать файл
                            .tip
                                span Не более 5мб
                    .form-text.form-link
                        a(href="#") Смотреть все обращения
    .last-but