
<div class="working_groups">
  <div class="title-bl"><img src="../../images/image_work_group/work_group_title.png" alt></div>
  <ul class="appeals-tabs nav nav-tabs" role="tablist">
    <li class="nav-item active-tab" role="presentation"><a class="nav-link active" data-toggle="tab" href="#openapp" role="tab" aria-controls="openapp" aria-selected="true">Мои группы <span>(7)</span></a></li>
  </ul>
  <div class="items-wrap">
    <div class="item">
      <div class="left">
        <div class="image"><img src="../../images/image_work_group/w1.png" alt></div>
        <div class="desc">Формирование проектной<br>группы для проверки шахты<br>под Ростовом-На-Дону
          <div class="adap_text">11 <span>участников</span></div>
        </div>
      </div>
      <div class="right comblocks">
        <div class="title">11 <span>участников</span></div>
        <div class="images"><img src="../../images/image_work_group/wm6.png" alt><img src="../../images/image_work_group/wm5.png" alt><img src="../../images/image_work_group/wm4.png" alt><img src="../../images/image_work_group/wm3.png" alt><img src="../../images/image_work_group/wm2.png" alt><img src="../../images/image_work_group/wm1.png" alt></div><a href="#">и ещё 5</a>
      </div>
      <div class="more"><a href="#">Смотреть группу<span></span></a></div>
    </div>
    <div class="item">
      <div class="left">
        <div class="image"><img src="../../images/image_work_group/w2.png" alt></div>
        <div class="desc">Формирование проектной<br>группы для проверки порта<br>Владивосток
          <div class="adap_text">11 <span>участников</span></div>
        </div>
      </div>
      <div class="right comblocks">
        <div class="title">13 <span>участников</span></div>
        <div class="images"><img src="../../images/image_work_group/wm1.png" alt><img src="../../images/image_work_group/wm2.png" alt><img src="../../images/image_work_group/wm3.png" alt><img src="../../images/image_work_group/wm4.png" alt><img src="../../images/image_work_group/wm5.png" alt><img src="../../images/image_work_group/wm6.png" alt></div><a href="#">и ещё 5</a>
      </div>
      <div class="more"><a href="#">Смотреть группу<span></span></a></div>
    </div>
    <div class="item">
      <div class="left">
        <div class="image"><img src="../../images/image_work_group/w3.png" alt></div>
        <div class="desc">Формирование проектной<br>группы для проверки шахты<br>под Ростовом-На-Дону
          <div class="adap_text">11 <span>участников</span></div>
        </div>
      </div>
      <div class="right comblocks">
        <div class="title">11 <span>участников</span></div>
        <div class="images"><img src="../../images/image_work_group/wm1.png" alt><img src="../../images/image_work_group/wm2.png" alt><img src="../../images/image_work_group/wm3.png" alt><img src="../../images/image_work_group/wm4.png" alt><img src="../../images/image_work_group/wm5.png" alt><img src="../../images/image_work_group/wm6.png" alt></div><a href="#">и ещё 5</a>
      </div>
      <div class="more"><a href="#">Смотреть группу<span></span></a></div>
    </div>
    <div class="item">
      <div class="left">
        <div class="image"><img src="../../images/image_work_group/w4.png" alt></div>
        <div class="desc">16 лет СУЭК
          <div class="adap_text">11 <span>участников</span></div>
        </div>
      </div>
      <div class="right comblocks">
        <div class="title">13 <span>участников</span></div>
        <div class="images"><img src="../../images/image_work_group/wm1.png" alt><img src="../../images/image_work_group/wm2.png" alt><img src="../../images/image_work_group/wm3.png" alt><img src="../../images/image_work_group/wm4.png" alt><img src="../../images/image_work_group/wm5.png" alt><img src="../../images/image_work_group/wm6.png" alt></div><a href="#">и ещё 5</a>
      </div>
      <div class="more"><a href="#">Смотреть группу<span></span></a></div>
    </div>
  </div>
  <div class="more-link"><a href="#">Все группы</a></div>
</div>