mixin working_groups()
    section.section.working_groups
        .title-bl
            img.replace-2x(src="../../images/image_work_group/work_group_title.png", alt, data-rjs='3')
        ul.appeals-tabs.nav.nav-tabs(role="tablist")
            li.nav-item.active-tab(role="presentation")
                a.nav-link.active(data-toggle="tab", href="#openapp", role="tab", aria-controls="openapp", aria-selected="true")
                    | Мои группы 
                    span (7)
        .items-wrap
            .item
                .left
                    .image
                        img(src="../../images/image_work_group/w1.png", alt)
                    .desc
                        | Формирование проектной
                        br
                        | группы для проверки шахты
                        br
                        | под Ростовом-На-Дону
    
                        .adap_text
                            | 11 
                            span участников
                .right.comblocks
                    .title
                        | 11 
                        span участников
                    .images
                        img(src="../../images/image_work_group/wm6.png", alt)
                        img(src="../../images/image_work_group/wm5.png", alt)
                        img(src="../../images/image_work_group/wm4.png", alt)
                        img(src="../../images/image_work_group/wm3.png", alt)
                        img(src="../../images/image_work_group/wm2.png", alt)
                        img(src="../../images/image_work_group/wm1.png", alt)
                    a(href="#") и ещё 5
                .more
                    a(href="#")
                        | Смотреть группу
    
                        span
            .item
                .left
                    .image
                        img(src="../../images/image_work_group/w2.png", alt)
                    .desc
                        | Формирование проектной
                        br
                        | группы для проверки порта
                        br
                        | Владивосток
    
                        .adap_text
                            | 11 
                            span участников
                .right.comblocks
                    .title
                        | 13 
                        span участников
                    .images
                        img(src="../../images/image_work_group/wm1.png", alt)
                        img(src="../../images/image_work_group/wm2.png", alt)
                        img(src="../../images/image_work_group/wm3.png", alt)
                        img(src="../../images/image_work_group/wm4.png", alt)
                        img(src="../../images/image_work_group/wm5.png", alt)
                        img(src="../../images/image_work_group/wm6.png", alt)
                    a(href="#") и ещё 5
                .more
                    a(href="#")
                        | Смотреть группу
    
                        span
            .item
                .left
                    .image
                        img(src="../../images/image_work_group/w3.png", alt)
                    .desc
                        | Формирование проектной
                        br
                        | группы для проверки шахты
                        br
                        | под Ростовом-На-Дону
    
                        .adap_text
                            | 11 
                            span участников
                .right.comblocks
                    .title
                        | 11 
                        span участников
                    .images
                        img(src="../../images/image_work_group/wm1.png", alt)
                        img(src="../../images/image_work_group/wm2.png", alt)
                        img(src="../../images/image_work_group/wm3.png", alt)
                        img(src="../../images/image_work_group/wm4.png", alt)
                        img(src="../../images/image_work_group/wm5.png", alt)
                        img(src="../../images/image_work_group/wm6.png", alt)
                    a(href="#") и ещё 5
                .more
                    a(href="#")
                        | Смотреть группу
    
                        span
            .item
                .left
                    .image
                        img(src="../../images/image_work_group/w4.png", alt)
                    .desc
                        | 16 лет СУЭК
    
                        .adap_text
                            | 11 
                            span участников
                .right.comblocks
                    .title
                        | 13 
                        span участников
                    .images
                        img(src="../../images/image_work_group/wm1.png", alt)
                        img(src="../../images/image_work_group/wm2.png", alt)
                        img(src="../../images/image_work_group/wm3.png", alt)
                        img(src="../../images/image_work_group/wm4.png", alt)
                        img(src="../../images/image_work_group/wm5.png", alt)
                        img(src="../../images/image_work_group/wm6.png", alt)
                    a(href="#") и ещё 5
                .more
                    a(href="#")
                        | Смотреть группу
    
                        span
        .more-link
            a(href="#") Все группы