
<div class="header_slider_wrap">
  <ul class="header_slider header_slider_main">
    <li>
      <div class="slider_pic" style="background-image: url(../../images/student_bg_33.png);"><img src="../../images/student_bg_33.png" alt></div>
      <div class="slider_block slider_block1">
        <div class="item">
          <div class="item_inner">
            <h1 class="title">Локомотив 2018</h1>
            <p class="sub">Защита проектов</p>
            <p class="sub">5 сессия</p>
            <div class="more-arrow-big"><a class="more-arrow-big__btn" htef="#!">Подробнее о программе</a></div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="slider_pic" style="background-image: url(../../images/slider_icon/slider_image_2-min.png);"><img src="../../images/slider_icon/slider_image_2-min.png" alt></div>
      <div class="slider_block slider_block2">
        <div class="slider_block_in">
          <div class="slider_title">АО «СУЭК» – лучшая в России в социальной ответственности и развитии персонала</div>
          <div class="slider_buttons">
            <div class="more"><a href="#">Подробнее</a></div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="slider_pic slider_pic--blur" style="background-image: url(../../images/portal_02_bk.png);"><img src="../../images/portal_02_bk.png" alt></div>
      <div class="slider_block slider_block3">
        <div class="bt_o_top_slider_c_item_c">
          <div class="bt_o_top_slider_c_item">
            <div class="bt_o_top_slider_c_item_row_1"><img src="../../images/portal_02.png">
              <div class="bt_o_top_slider_c_item_row_1_text">
                <div class="bt_o_top_slider_c_item_row_1_text_1"><span>Основной канал для получения технической поддержки</span></div>
                <div class="bt_o_top_slider_c_item_row_1_text_2 bt_font_size_21">Внутренний номер <b>55-5-55</b><br>ВКС <b>55-0-55</b><br>Федеральный номер <b>8-800-77-55-130</b><br>При отсутствии технической возможности - <b>55555@suek.ru</b></div>
              </div>
            </div>
          </div>
          <div class="slider_buttons">
            <div class="more"><a href="#">Подробнее</a></div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>