mixin header_slider()
    .header_slider_wrap
        ul.header_slider.header_slider_main
            li
                .slider_pic(style="background-image: url(../../images/student_bg_33.png);")
                    img(src="../../images/student_bg_33.png", alt)
                .slider_block.slider_block1
                    .item
                        .item_inner
                            h1.title Локомотив 2018
                            p.sub Защита проектов
                            p.sub 5 сессия
                            .more-arrow-big
                                a.more-arrow-big__btn(htef="#!") Подробнее о программе
            li
                .slider_pic(style="background-image: url(../../images/slider_icon/slider_image_2-min.png);")
                    img(src="../../images/slider_icon/slider_image_2-min.png", alt)
                .slider_block.slider_block2
                    .slider_block_in
                        .slider_title АО «СУЭК» – лучшая в России в социальной ответственности и развитии персонала
                        .slider_buttons
                            .more
                                a(href="#") Подробнее
            li
                .slider_pic.slider_pic--blur(style="background-image: url(../../images/portal_02_bk.png);")
                    img(src="../../images/portal_02_bk.png", alt)
                .slider_block.slider_block3
                    .bt_o_top_slider_c_item_c
                        .bt_o_top_slider_c_item
                            .bt_o_top_slider_c_item_row_1
                                img(src="../../images/portal_02.png")
                                .bt_o_top_slider_c_item_row_1_text
                                    .bt_o_top_slider_c_item_row_1_text_1
                                        span Основной канал для получения технической поддержки
                                    .bt_o_top_slider_c_item_row_1_text_2.bt_font_size_21
                                        | Внутренний номер 
                                        b 55-5-55
                                        br
                                        | ВКС 
                                        b 55-0-55
                                        br
                                        | Федеральный номер 
                                        b 8-800-77-55-130
                                        br
                                        | При отсутствии технической возможности - 
                                        b 55555@suek.ru
                        .slider_buttons
                            .more
                                a(href="#") Подробнее