mixin map_rus_new()
    .map_block_rus
        .map_block_rus_inner
            .title
                img(src="../../images/img/title_name.png", alt)
            .map_rus
                .road
                    img(src="../../images/img/roads.svg", alt)
                .list_city
                    .city_main(style="top: 27%;left: 23%;", data-city-name="murmansk")
                        em
                        span Мурманск
                    .city_main(style="top: 52%;left: 12%;", data-city-name="moskva")
                        em
                        span Москва
                    .city_main.left_top(style="top: 73%;left: 33.7%;", data-city-name="novosib")
                        em
                        span Новосибирск
                    .city_main.left_bottom(style="top: 88%;left: 38%;", data-city-name="barnaul")
                        em
                        span Барнаул
                    .city_main.right_top(style="top: 73%;left: 45%;", data-city-name="kemerovo")
                        em
                        span Кемерово
                    .city_main.bottom(style="top: 87%;left: 45.5%;", data-city-name="abakan")
                        em
                        span Абакан
                    .city_main(style="top: 80%;left: 50%;", data-city-name="krasnoyarsk")
                        em
                        span Красноярск
                    .city_main.right_bottom(style="top: 92%;left: 52%;", data-city-name="kizil")
                        em
                        span Кызыл
                    .city_main.bottom(style="top: 86%;left: 60%;", data-city-name="ulan")
                        em
                        span Улан-удэ
                    .city_main(style="top: 82%;left: 66%;", data-city-name="chita")
                        em
                        span Чита
                    .city_main.mor.left(style="top: 73%;left: 77%;", data-city-name="xabar")
                        em
                        span Хабаровск
                    .city_main.mor(style="top: 83.5%;left: 86.5%;", data-city-name="vladivostok")
                        em
                        span Владивосток
                .maps_bb