.lk-pu {
    * {
        box-sizing: border-box;
    }
    .site-header {
        padding-top: 80px;
        font-family: Proxima Nova, Roboto, sans-serif;
        min-height: 735px;
        background: url(../../images/lk_kpe_bg.png) 0 0 no-repeat;
        background-color: #000;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: 50% 50%;
        padding-bottom: 85px;
        @media screen and (max-width: 1024px) {
            padding-bottom: 29px;
            min-height: 0;
        }
        .hnblock {
            max-width: 1340px;
            margin: 0 auto;
            padding: 6px 50px 0;
            @media screen and (max-width: 1024px) {
                padding: 6px 10px 0;
            }
            &-title {
                font-style: normal;
                font-weight: 300;
                font-size: 64px;
                line-height: 78px;
                padding-top: 32px;
                color: #fff;
                text-align: center;
                padding-bottom: 35px;
                .sub {
                    font-size: 32px;
                    line-height: 32px;
                    display: block;
                }
                @media screen and (max-width: 1024px) {
                    font-size: 48px;
                    line-height: 140%;
                }
                @media screen and (max-width: 767px) {
                    font-size: 24px;
                    line-height: 120%;
                    padding: 0;
                    .sub {
                        font-size: 16px;
                        line-height: 120%;
                    }
                }
            }
        }
    }
    &_slider {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .counting {
        width: 100%;
        max-width: 500px;
        padding: 0 15px;
        @media screen and (max-width: 1025px) {
            margin: 0 auto;
            min-height: 450px;
            padding-top: 40px;
        }
        @media screen and (max-width: 767px) {
            padding: 30px 5px 0;
            font-size: 14px;
            line-height: 126%;
            min-height: 370px;
        }
        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .title {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            text-transform: uppercase;
            text-align: center;
            @media screen and (max-width: 767px) {
                font-size: 16px;
                line-height: 19px;
            }
        }
        .count {
            position: relative;
            &.yellow {
                font-weight: bold;
                font-size: 96px;
                color: #F6C358;
                @media screen and (max-width: 767px) {
                    font-size: 48px;
                    line-height: 62px;
                }
            }
            &.green {
                font-weight: bold;
                font-size: 64px;
                padding: 10px 0;
                margin: 10px 0 20px;
                color: #74B422;
                &:after {
                    right: -30px;
                }
                @media screen and (max-width: 767px) {
                    font-size: 32px;
                    line-height: 39px;
                    margin: 10px 0;
                    &:after {
                        right: -20px;
                    }
                }
            }
            &:after {
                content: "";
                display: block;
                width: 30px;
                height: 30px;
                border-right: 10px solid;
                border-bottom: 10px solid;
                position: absolute;
                bottom: 0;
                right: -20px;
                @media screen and (max-width: 767px) {
                    width: 20px;
                    height: 20px;
                    border-right: 7px solid;
                    border-bottom: 7px solid;
                    right: -15px;
                }
            }
        }
        .tag {
            display: inline-block;
            font-weight: bold;
            font-size: 16px;
            padding: 3px 7px;
            background: rgba(255, 255, 255, 0.3);
            border-radius: 30px;
            @media screen and (max-width: 767px) {
                font-size: 14px;
                line-height: 126%;
            }
        }
        .text {
            margin: 3px 0 10px;
        }
        ol {
            padding-left: 15px;
            li {
                margin-bottom: 10px;
            }
        }
    }
    .lk_nav {
        ul li {
            min-width: 170px;
            a {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                min-width: 170px;
                svg {
                    margin: 0 0 10px;
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
    &.lk .block-data-tab .block-tabs {
        a {
            padding-left: 34px;
            &:before {
                display: none;
            }
        }
    }
    .my_tasks_block {
        margin-bottom: 0;
        .table {
            &-row {
                .title {
                    color: #333333 !important;
                    font-size: 13px !important;
                    min-width: 370px;
                }
            }
        }
    }
    .my_notifications {
        .table {
            .desc {
                max-width: initial;
                min-width: 400px;
            }
        }
    }
    .my_tasks {
        .block-data-tab .block-tabs {
            li:nth-child(2) {
                border-left: 1px solid #EBEBEB;
                border-right: 1px solid #EBEBEB;
                margin-left: -1px;
                &.r-tabs-state-active {
                    border-left: 0;
                    border-right: 0;
                }
            }
        }
    }
    .my_projects {
        .table {
            font-size: 12px;
            &-header {
                font-size: 12px;
                // white-space: nowrap;
            }
            .date {
                padding-right: 0;
                white-space: nowrap;
            }
            &-row {
                .goto {
                    padding-left: 10px;
                }
                .theme {
                    max-width: 300px;
                    min-width: 300px;
                }
                &:last-child {
                    .qualitytb .tooltip {
                        bottom: 135%;
                        top: initial;
                        &:before {
                            top: initial;
                            bottom: -8px;
                            border-bottom: 0;
                            border-top: 8px solid rgba(51, 51, 51, 0.6);
                        }
                    }
                }
            }
        }
    }
    .to-date {
        margin-right: 20px;
        min-width: 240px;
        input {
            height: 50px;
        }
    }
}
.qualitytb {
    //text-align: center;
    &__wrap {
        display: flex;
        .item {
            position: relative;
            padding: 0 5px;
            @media screen and (max-width: 767px) {
                &:last-child {
                    .tooltip {
                        right: 0;
                        left: auto;
                        &:before {
                            left: auto;
                            right: 20px;
                        }
                    }
                }
            }
        }
        .indicator {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            .top {
                width: 36px;
                min-width: 36px;
                height: 36px;
                min-height: 36px;
                border-radius: 36px;
                color: #fff;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 3px;
                cursor: default;
            }
            .label {
                cursor: default;
                font-size: 12px;
                line-height: 130%;
            }
            &.green {
                .top {
                    background: #74B422;
                    &:hover {
                        background: darken(#74B422, 4%);
                    }
                }
            }
            &.red {
                .top {
                    background: #FF4A4A;
                    &:hover {
                        background: darken(#FF4A4A, 4%);
                    }
                }
            }
            &.yellow {
                .top {
                    background: #F6C358;
                    &:hover {
                        background: darken(#F6C358, 4%);
                    }
                }
            }
            &.up {
                .top {
                    background: #F6C358;
                }
            }
            &.down {
                .top:after {
                    content: "";
                    width: 13px;
                    height: 13px;
                    display: block;
                    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.8033 5.24264L7.03031 0.46967C6.73741 0.176777 6.26254 0.176777 5.96965 0.46967L1.19668 5.24264C0.903784 5.53553 0.903784 6.01041 1.19668 6.3033C1.48957 6.59619 1.96444 6.59619 2.25734 6.3033L5.74998 2.81066L5.74998 13C5.74998 13.4142 6.08576 13.75 6.49998 13.75C6.91419 13.75 7.24998 13.4142 7.24998 13L7.24998 2.81066L10.7426 6.3033C11.0355 6.59619 11.5104 6.59619 11.8033 6.3033C12.0962 6.01041 12.0962 5.53553 11.8033 5.24264Z' fill='white'/%3E%3C/svg%3E%0A") 50% 50% no-repeat;
                    transform: rotate(180deg);
                }
            }
            &.up {
                .top:after {
                    content: "";
                    width: 13px;
                    height: 13px;
                    display: block;
                    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.8033 5.24264L7.03031 0.46967C6.73741 0.176777 6.26254 0.176777 5.96965 0.46967L1.19668 5.24264C0.903784 5.53553 0.903784 6.01041 1.19668 6.3033C1.48957 6.59619 1.96444 6.59619 2.25734 6.3033L5.74998 2.81066L5.74998 13C5.74998 13.4142 6.08576 13.75 6.49998 13.75C6.91419 13.75 7.24998 13.4142 7.24998 13L7.24998 2.81066L10.7426 6.3033C11.0355 6.59619 11.5104 6.59619 11.8033 6.3033C12.0962 6.01041 12.0962 5.53553 11.8033 5.24264Z' fill='white'/%3E%3C/svg%3E%0A") 50% 50% no-repeat;
                }
            }
            &:hover {
                &+.tooltip {
                    opacity: 1;
                    visibility: visible;
                    transform: unset;
                    z-index: 1;
                }
            }
        }
        .tooltip {
            padding: 9px 14px;
            font-size: 16px;
            box-sizing: border-box;
            background: rgba(51, 51, 51, 0.6);
            //backdrop-filter: blur(5px);
            //backdrop-filter: blur(16px);
            border-radius: 5px;
            transition: 0.3s;
            opacity: 0;
            visibility: hidden;
            transform: translateY(5px);
            color: #FFFFFF;
            position: absolute;
            top: 115%;
            right: 0;
            white-space: nowrap;
            @media screen and (max-width: 767px) {
                padding: 5px 10px;
                font-size: 12px;
            }
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: -8px;
                right: 20px;
                //left: 50%;
                //transform: translateX(-50%);
                width: 0;
                height: 0;
                border-right: 4px solid transparent;
                border-left: 4px solid transparent;
                border-bottom: 8px solid rgba(51, 51, 51, 0.6);
                //backdrop-filter: blur(16px);
            }
        }
    }
}
.goto-arrow {
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #949300;
    padding-right: 18px;
    transition: .3s;
    background: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.7564e-08 4C5.19421e-08 3.63181 0.299234 3.33333 0.668359 3.33333L9.69397 3.33333L7.45175 1.14296C7.18803 0.885344 7.18361 0.463257 7.44189 0.200206C7.70016 -0.0628451 8.12332 -0.0672482 8.38704 0.190371L11.7993 3.5237C11.9277 3.6491 12 3.82078 12 4C12 4.17922 11.9277 4.3509 11.7993 4.4763L8.38704 7.80963C8.12332 8.06725 7.70016 8.06285 7.44189 7.79979C7.18361 7.53674 7.18803 7.11466 7.45175 6.85704L9.69397 4.66667L0.668358 4.66667C0.299234 4.66667 4.31858e-08 4.36819 4.7564e-08 4Z' fill='%23949300'/%3E%3C/svg%3E%0A") 100% 50% no-repeat;
    &:hover {
        padding-right: 24px;
    }
}
@media screen and (max-width: 767px) {
    .lk-pu {
        .to-date {
            margin: 0 0 10px;
            input {
                height: 40px;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .lk-pu {
        &.lk .my_tasks_block.my_notifications .block-data-tab .block-tabs li {
            height: 22px;
            width: auto;
            a {
                padding-left: 10px;
                padding-right: 10px;
            }
            &.r-tabs-state-active a {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        &.lk .my_tasks_block.my_tasks .block-data-tab .block-tabs li {
            height: 22px;
            width: auto;
            &:nth-child(1) {
                width: 68px;
            }
            &:nth-child(2) {
                width: 110px;
            }
            &:nth-child(3) {
                width: 100px;
                a {
                    padding-top: 5px;
                }
                &.r-tabs-state-active a {
                    padding-top: 18px;
                }
            }
            &.r-tabs-state-active a {
                padding-left: 5px;
                padding-top: 15px;
            }
            a {
                padding-left: 5px;
                padding-right: 5px;
                height: 49px;
            }
            a {
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                span {
                    display: none;
                }
            }
        }
        .to-date {
            margin: 0 0 10px;
            input {
                height: 40px;
            }
        }
    }
}
