.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
.mediateka_content {
    padding: 40px 85px 61px 85px;
}
.mediateka_content input {
    
}
.mediateka_content_logo {
    text-align: center;
    margin: 12px 0 30px 0;
}
.mediateka_header_menu {
    display: flex;
    align-items: center;
    height: 70px;
    font-size: 0;
    margin-bottom: 30px;
}
.mediateka_header_menu_search {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 9px 20px 9px 10px;
    border: 1px solid #EBEBEB;
    border-radius: 5px 0 0 5px;
    box-sizing: border-box;
}
.mediateka_header_menu_search input {
    flex-grow: 1;
    border: none;
    background: none;
    font-size: 16px;
    line-height: 19px;
    margin: 0 20px;
    outline: none;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
}
.mediateka_header_menu_search input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #B8B9BA;
    opacity: 1;
    /* Firefox */
}
.mediateka_header_menu_search input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #B8B9BA;
}
.mediateka_header_menu_search input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #B8B9BA;
}
.mediateka_header_menu_search_icon {
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
}
.mediateka_header_menu_clean_search {
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.mediateka_header_menu_filter_drow_down .jq-selectbox__select, .calendar_top_filter_line2 .jq-selectbox__select {
    background: none;
    height: auto !important;
}
.mediateka_header_menu .jq-selectbox .jq-selectbox__select {
    height: 50px;
}
.mediateka_header_menu .jq-selectbox .jq-selectbox__select .jq-selectbox__select-text {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
    line-height: 16px;
    color: #333;
}
.mediateka_header_menu .mediateka_header_menu_filter_drow_down_c:not(last-child) {
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
    box-sizing: border-box;
}
.mediateka_header_menu .mediateka_header_menu_filter_drow_down_c:last-child {
    border-radius: 0 5px 5px 0;
}
.mediateka_header_menu_filter_drow_down_c {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 5px;
    width: 285px;
}
.mediateka_header_menu_filter_drow_down_c .jq-selectbox {
    width: 100%;
}
.mediateka_header_menu_filter_drow_down_c .jq-selectbox__select-text {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    padding-left: 15px !important;
    padding-right: 35px !important;
}
.mediateka_header_menu_tabs {
    background: #F0F0F0;
    opacity: 0.5;
    border-radius: 5px;
    padding: 10px 20px 0 20px;
    margin-bottom: 20px;
    overflow: hidden;
    font-size: 0;
    position: relative;
    height: 50px;
}
.mediateka_header_menu_tabs>nav {
    display: flex;
    position: absolute;
    bottom: 0;
}
.mediateka_header_menu_tabs a {
    padding: 9px 15px 15px 15px;
    margin-right: 15px;
    display: inline-block;
    border-bottom: 4px solid #F0F0F0;
    color: #333333;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    white-space: nowrap;
}
.mediateka_header_menu_tabs a.mediateka_header_menu_tabs_current {
    color: #949300 !important;
    border-bottom: 4px solid #949300;
}
.mediateka_header_menu3_tabs_txt {
    overflow: hidden;
    margin-bottom: 25px;
}
.mediateka_header_menu3_tabs_txt>nav {
    display: flex;
    align-items: center;
}
.mediateka_header_menu3_tabs_txt a {
    font-size: 20px;
    line-height: 24px;
    color: #707274;
    text-decoration: none;
    display: inline-block;
    margin-right: 30px;
    white-space: nowrap;
}
.mediateka_header_menu3_tabs_txt a:last-child {
    margin-right: 0;
}
.mediateka_header_menu3_tabs_txt a.mediateka_header_menu3_tabs_txt_current {
    color: #333333;
    font-weight: 600;
}
.mediateka_content_tab_head {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.mediateka_content_tab_head_title {
    flex-grow: 1;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #333333;
    word-break: break-all;
}
.mediateka_content_tab_head .jq-selectbox__select {
    background: #fff;
    border: 1px solid #B8B9BA;
    border-radius: 5px;
    width: 221px;
}
.mediateka_tab_list_content {
    margin-left: -15px;
    margin-right: -15px;
    font-size: 0;
    margin-bottom: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 287px);
}
.mediateka_tab_list_content_item {
    display: inline-block;
    margin: 30px 15px;
    width: 270px;
    height: 207px;
    vertical-align: top;
    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;
}
.mediateka_photo_album_item_title {
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #333333;
}
.mediateka_photo_album_item_photo {
    width: 210px;
    height: 150px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 7px;
}
.mediateka_photo_album_item_photo>img {
    position: absolute;
}
.mediateka_photo_album_item_photo_main {
    z-index: 4;
    top: 0;
    left: 0;
    border-radius: 5px;
    overflow: hidden;
    width: 201px;
    height: 135px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mediateka_photo_album_item_photo_main img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}
.mediateka_photo_album_item_photo_bk3 {
    z-index: 3;
    top: 5px;
    left: 5px;
}
.mediateka_photo_album_item_photo_bk2 {
    z-index: 2;
    top: 10px;
    left: 10px;
}
.mediateka_photo_album_item_photo_bk1 {
    z-index: 1;
    top: 15px;
    left: 15px;
}
.mediateka_footer_moree {
    text-align: center;
}
.mediateka_footer_moree a {
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #949300;
}
/*.mediateka_video_album_list {
      margin-left: -15px;
      margin-right: -15px;
      font-size: 0;
      margin-bottom: 20px;
  }*/
/*.mediateka_video_album_list_item {
      display: inline-block;
      margin: 30px 15px;
      width: 270px;
      height: 207px;
      vertical-align: top;
      cursor: pointer;
  }*/
.mediateka_video_album_list_item_title {
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #333333;
}
.mediateka_video_album_list_item_img {
    position: relative;
    width: 220px;
    height: 148px;
    margin: 0 auto 9px auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.mediateka_video_album_list_item_img_cover {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}
.mediateka_video_album_list_item_img_lleft {
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 1;
}
.mediateka_video_album_list_item_img_lleft_2 {
    position: absolute;
    left: 5px;
    top: 6px;
    z-index: 1;
}
.mediateka_video_album_list_item_img_lright {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
}
.mediateka_video_album_list_item_img_lright_2 {
    position: absolute;
    top: 6px;
    right: 5px;
    z-index: 1;
}
.mediateka_video_album_list_item_img_lplay {
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 55px;
    height: 55px;
}
/*.mediateka_presentations_album_list {
      margin-left: -15px;
      margin-right: -15px;
      font-size: 0;
      margin-bottom: 20px;
  }*/
/*.mediateka_presentations_album_list_item {
      display: inline-block;
      margin: 30px 15px;
      width: 270px;
      height: 207px;
      vertical-align: top;
      cursor: pointer;
  }*/
.mediateka_presentations_album_list_item_img {
    position: relative;
    width: 220px;
    height: 148px;
    margin: 0 auto 9px auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.mediateka_presentations_album_list_item_img .mediateka_presentations_album_list_item_img_img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}
.mediateka_presentations_album_list_item_title {
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #333333;
}
#mediateka_content_tab_3>.mediateka_content_tab_head {
    margin-top: 5px;
}
.mediateka_content_tab_head .jq-selectbox__select-text {
    font-size: 16px !important;
    line-height: 100% !important;
    color: #333333 !important;
    padding-left: 21px !important;
    padding-right: 47px !important;
}
.mediateka_content_tab_head .jq-selectbox__trigger {
    width: 32px !important;
}
/*.mediateka_documents_list {
      margin-left: -15px;
      margin-right: -15px;
      font-size: 0;
      margin-bottom: 20px;
  }*/
/*.mediateka_documents_list_item {
      display: inline-block;
      margin: 30px 15px;
      width: 270px;
      height: 207px;
      vertical-align: top;
      cursor: pointer;
  }*/
.mediateka_documents_list_item_img {
    position: relative;
    width: 220px;
    height: 148px;
    margin: 0 auto 9px auto;
    z-index: 0;
}
.mediateka_documents_list_item_img img {
    left: 31%;
    position: absolute;
    width: 88px;
    box-shadow: -11px 6px 31px rgba(0, 0, 0, 0.3);
    transform: perspective(400px) rotateY(30deg);
    top: -6px;
}
.mediateka_documents_list_item_title {
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #333333;
}
#mediateka_header_menu_tabs_search_menu {
    font-weight: 600;
}
.mediateka_header_menu_btn_search {
    box-sizing: border-box;
    height: 70px;
    width: 76px;
    background: linear-gradient(225deg, #FFDF07 0%, #969300 100%), #C4C4C4;
    border-radius: 0 10px 10px 0;
    align-items: center;
    font-size: 0;
    justify-content: center;
    cursor: pointer;
}
.mediateka_content_tab_head .jq-selectbox .jq-selectbox__select {
    height: 48px;
    display: flex;
    align-items: center;
}
.mediateka_presentations_album_list_item_img_rectangle {
    position: absolute;
    top: 0;
    left: 0;
}
.mediateka_top_filter_line2_btn {
    background: #B8B9BA;
    border-radius: 5px;
    padding: 0 20px;
    margin-right: 20px;
    display: flex;
    height: 40px;
    line-height: 50px;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    align-items: center;
    padding-right: 12px;
    cursor: pointer;
}
.mediateka_top_filter_line2 {
    margin-bottom: 10px;
}
.mediateka_top_filter_line2 .jq-selectbox {
    margin-bottom: 10px;
}
.mediateka_top_filter_line2_btn span {
    font-size: 16px;
    line-height: 15px;
    flex-grow: 1;
}
.mediateka_video_album_list_item_img_lleft_2, .mediateka_video_album_list_item_img_lright_2 {
    display: none;
}
.mediateka_tab_list_content_item:hover .mediateka_video_album_list_item_img .mediateka_video_album_list_item_img_lplay {
    opacity: 0.8;
}
.mediateka_documents_list_item_title {
    margin: 0 25px;
}
.mediateka_photo_album_item_title, .mediateka_video_album_list_item_title, .mediateka_presentations_album_list_item_title, .mediateka_documents_list_item_title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    max-height: 48px;
    /* fallback */
    font-size: 18px;
    line-height: 140%;
}
.mediateka_tab_list_content_c {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1440px) {
    /*.mediateka_tab_list_content {
        text-align: center;
      }*/
}
@media (max-width: 1376px) {
    .mediateka_header_menu_filter_drow_down_c, #mediateka_header_menu_search_icon, #mediateka_header_menu_clean_search {
        display: none !important;
    }
    .mediateka_header_menu_btn_search {
        display: flex !important;
    }
    .mediateka_header_menu_2 {
        display: flex !important;
        margin-bottom: 20px;
    }
    .mediateka_header_menu {
        margin-bottom: 20px;
    }
    .mediateka_header_menu_2>div {
        margin-right: 10px;
    }
    .mediateka_header_menu_2 .jq-selectbox .jq-selectbox__select .jq-selectbox__select-text {
        font-size: 16px;
        line-height: 15px;
        color: #333333;
    }
    .mediateka_header_menu_2 .jq-selectbox .jq-selectbox__select {
        height: 50px;
        display: flex;
        align-items: center;
    }
}
@media (max-width: 1140px) {
    .mediateka_tab_list_content_item {
        margin: 20px 5px;
    }
}
@media (max-width: 1024px) {
    .mediateka_content {
        padding: 29px 20px 50px 20px;
    }
}
@media (max-width: 768px) {
    .mediateka_photo_album_item_photo {
        width: 210px;
        height: 150px;
    }
    .mediateka_photo_album_item_photo_main {
        width: 201px;
        height: 135px;
    }
    .mediateka_tab_list_content {
        grid-template-columns: repeat(auto-fill, 248px);
    }
    .mediateka_tab_list_content_item {
        width: 222px;
        height: 207px;
    }
    .mediateka_photo_album_item_title, .mediateka_video_album_list_item_title, .mediateka_presentations_album_list_item_title, .mediateka_documents_list_item_title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        /* number of lines to show */
        max-height: 48px;
        /* fallback */
        font-size: 18px;
        line-height: 140%;
    }
    .mediateka_photo_album_item_photo_bk3 {
        z-index: 3;
        top: 5px;
        left: 5px;
        width: 199px;
        height: 135px;
    }
    .mediateka_photo_album_item_photo_bk2 {
        z-index: 2;
        top: 10px;
        left: 10px;
        width: 197px;
        height: 135px;
    }
    .mediateka_photo_album_item_photo_bk1 {
        z-index: 1;
        top: 15px;
        left: 15px;
        width: 195px;
        height: 135px;
    }
    .mediateka_tab_list_content_item {
        margin: 16px 12px;
    }
    .mediateka_video_album_list_item_img, .mediateka_presentations_album_list_item_img {
        width: 220px;
        height: 148px;
    }
    .mediateka_documents_list_item_img {
        width: 182px;
        height: 150px;
    }
    .mediateka_documents_list_item_img img {
        left: 27%;
        top: -6px;
        width: 93px;
    }
    .mediateka_video_album_list_item_img_lplay {
        width: 76px;
        height: 76px;
    }
    .mediateka_header_menu_search input {
        font-size: 16px;
        line-height: 15px;
    }
}
@media (max-width: 767px) {
    .mediateka_content_tab_head {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    .mediateka_content_tab_head .jq-selectbox {
        width: 100%;
    }
    .mediateka_content_tab_head>span {
        display: block;
        margin-bottom: 15px;
    }
    .mediateka_content_tab_head .jq-selectbox .jq-selectbox__select {
        width: 100%;
    }
}
@media (max-width: 610px) {
    .mediateka_tab_list_content_item {
        margin: 23px 6px;
    }
}
@media (max-width: 610px) {
    .mediateka_tab_list_content_item {
        margin: 20px 0px;
    }
}
@media (max-width: 506px) {
    .mediateka_header_menu_2 {
        display: none !important;
    }
    .mediateka_top_filter_line2 {
        display: block !important;
    }
    .mediateka_header_menu {
        margin-bottom: 10px;
    }
    .mediateka_header_menu_search {
        padding: 5px;
        height: 50px;
        /*overflow: hidden;*/
    }
    .mediateka_header_menu_btn_search {
        height: 50px;
        width: 50px;
        flex: 0 0 50px;
    }
    .mediateka_header_menu .jq-selectbox .jq-selectbox__select {
        height: 40px;
        width: 72px;
    }
    .mediateka_header_menu .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger {
        width: 21px;
    }
    .mediateka_header_menu .jq-selectbox .jq-selectbox__select .jq-selectbox__select-text {
        font-size: 12px;
        line-height: 15px;
        color: #333333;
        padding: 12px 10px;
    }
    .mediateka_photo_album_item_photo {
        width: 130px;
        height: 92px;
    }
    .mediateka_photo_album_item_photo_main {
        width: 124px;
        height: 86px;
    }
    .mediateka_tab_list_content {
        grid-template-columns: repeat(auto-fill, 153px);
    }
    .mediateka_tab_list_content_item {
        width: 130px;
        height: 137px;
    }
    .mediateka_photo_album_item_title, .mediateka_video_album_list_item_title, .mediateka_presentations_album_list_item_title, .mediateka_documents_list_item_title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        /* number of lines to show */
        line-height: 20px;
        /* fallback */
        max-height: 40px;
        /* fallback */
        font-size: 14px;
        line-height: 140%;
    }
    .mediateka_photo_album_item_photo_bk3 {
        z-index: 3;
        top: 3px;
        left: 3px;
        width: 123px;
        height: 85px;
    }
    .mediateka_photo_album_item_photo_bk2 {
        z-index: 2;
        top: 6px;
        left: 6px;
        width: 123px;
        height: 85px;
    }
    .mediateka_photo_album_item_photo_bk1 {
        z-index: 1;
        top: 10px;
        left: 9px;
        width: 123px;
        height: 85px;
    }
    .mediateka_tab_list_content_item {
        margin: 16px 12px;
    }
    .mediateka_header_menu_search input {
        margin: 0 10px;
    }
    .mediateka_video_album_list_item_img_lplay {
        width: 36px;
        height: 36px;
    }
    .mediateka_video_album_list_item_img_lleft, .mediateka_video_album_list_item_img_lright {
        display: none;
    }
    .mediateka_video_album_list_item_img_lleft_2, .mediateka_video_album_list_item_img_lright_2 {
        display: block;
    }
    .mediateka_video_album_list_item_img, .mediateka_presentations_album_list_item_img {
        width: 130px;
        height: 92px;
    }
    .mediateka_documents_list_item_img {
        width: 130px;
        height: 88px;
    }
    .mediateka_documents_list_item_img img {
        left: 30%;
        top: -8px;
        width: 56px;
    }
    .mediateka_presentations_album_list_item_img_rectangle {
        width: 35px;
        top: 3px;
    }
    .mediateka_content_tab_head_title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #333333;
    }
    .mediateka_top_filter_line2_btn span {
        font-size: 12px;
        line-height: 15px;
    }
    .mediateka_top_filter_line2 .jq-selectbox .jq-selectbox__select .jq-selectbox__select-text {
        font-size: 12px;
        line-height: 16px;
    }
    .mediateka_header_menu_tabs {
        padding: 0 10px;
        padding-top: 8px;
        height: 42px;
    }
    .mediateka_header_menu_tabs a {
        padding-bottom: 10px;
    }
    .mediateka_header_menu3_tabs_txt a {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
    }
    .mediateka_header_menu {
        height: 50px;
    }
    /*.form_popup_preview_img_img {
          width: 372px;
          height: 371px;
      }*/
    /*.popup_preview_img {
          width: 472px;
          height: 551px;
      }*/
    .mediateka_header_menu_tabs a {
        font-size: 16px;
        line-height: 19px;
        color: #333333;
    }
    #mediateka_search_text {
        width: 122px;
    }
    .mediateka_header_menu_search input {
        font-size: 14px;
        line-height: 15px;
    }
}
