.blocks-wrapper.blocks-news {
    .sort-news {
        background: #fff;
        border: 1px solid #f0f0f0;
        box-sizing: border-box;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
        position: relative;
        a {
            width: 100%;
            max-width: 256px;
            padding: 3px 20px 3px;
            font-size: 16px;
            line-height: 15px;
            color: #333;
            text-decoration: none;
            display: block;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border-right: 1px solid #f0f0f0;
        }
        div.to-date {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                top: calc(50% - 8px);
                right: 20px;
                width: 16px;
                height: 16px;
                background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 0C3.44772 0 3 0.447715 3 1V2H1C0.447715 2 0 2.44772 0 3V15C0 15.5523 0.447715 16 1 16H15C15.5523 16 16 15.5523 16 15V3C16 2.44772 15.5523 2 15 2H13V1C13 0.447715 12.5523 0 12 0C11.4477 0 11 0.447715 11 1V2H5V1C5 0.447715 4.55228 0 4 0ZM2 5C1.44772 5 1 5.44772 1 6V14C1 14.5523 1.44772 15 2 15H14C14.5523 15 15 14.5523 15 14V6C15 5.44772 14.5523 5 14 5H2Z' fill='%23333333'/%3E%3Cpath d='M10 11C10 10.4477 10.4477 10 11 10H13C13.5523 10 14 10.4477 14 11V13C14 13.5523 13.5523 14 13 14H11C10.4477 14 10 13.5523 10 13V11Z' fill='%23333333'/%3E%3C/svg%3E%0A") 100% 50% no-repeat;
            }
            input {
                cursor: pointer;
                height: 45px;
                width: 100%;
                border: none;
                padding: 0 20px;
                margin: 0;
                outline: none;
                font-family: Proxima Nova;
                font-size: 16px;
                line-height: 15px;
                color: #5e5e5e;
                background: none;
                &:placeholder {
                    font-family: Proxima Nova;
                    font-size: 16px;
                    line-height: 15px;
                    color: #5e5e5e;
                }
                &:focus,
                &:active {
                    outline: none;
                    border: none;
                }
            }
            a {
                position: relative;
                &:after {
                    position: absolute;
                    content: '';
                    top: 50%;
                    right: 20px;
                    margin-top: -8px;
                    width: 16px;
                    height: 16px;
                    background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 0C3.44772 0 3 0.447715 3 1V2H1C0.447715 2 0 2.44772 0 3V15C0 15.5523 0.447715 16 1 16H15C15.5523 16 16 15.5523 16 15V3C16 2.44772 15.5523 2 15 2H13V1C13 0.447715 12.5523 0 12 0C11.4477 0 11 0.447715 11 1V2H5V1C5 0.447715 4.55228 0 4 0ZM2 5C1.44772 5 1 5.44772 1 6V14C1 14.5523 1.44772 15 2 15H14C14.5523 15 15 14.5523 15 14V6C15 5.44772 14.5523 5 14 5H2Z' fill='%23333333'/%3E%3Cpath d='M10 11C10 10.4477 10.4477 10 11 10H13C13.5523 10 14 10.4477 14 11V13C14 13.5523 13.5523 14 13 14H11C10.4477 14 10 13.5523 10 13V11Z' fill='%23333333'/%3E%3C/svg%3E%0A") 50% 50% no-repeat;
                }
            }
        }
        div.to-region a,
        div.to-heading a {
            position: relative;
            &:after {
                position: absolute;
                content: '';
                top: 50%;
                right: 20px;
                margin-top: -8px;
                width: 16px;
                height: 16px;
                background: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.8' fill-rule='evenodd' clip-rule='evenodd' d='M13.6533 1.9681C14.1156 1.51839 14.1156 0.767329 13.6533 0.317611C13.218 -0.10587 12.5303 -0.10587 12.095 0.317611L7.00001 5.27395L1.90504 0.317609C1.46971 -0.10587 0.782068 -0.10587 0.346741 0.31761C-0.115556 0.767329 -0.115556 1.51838 0.346741 1.9681L0.779755 1.47957L0.346742 1.9681L6.22086 7.68239C6.65618 8.10587 7.34383 8.10587 7.77916 7.68239L13.6533 1.9681Z' fill='%23707274'/%3E%3C/svg%3E%0A") 50% 50% no-repeat;
            }
        }
    }
    .form-news {
        display: flex;
        align-items: center;
        margin: 0 0 0 14px;
        button {
            margin-right: 10px;
            outline: none;
            border: 0;
            width: 16px;
            height: 16px;
            min-width: 16px;
            background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.7842 10.2632C13.5871 7.73267 13.3465 4.18945 11.0673 1.91025C8.52788 -0.629158 4.41941 -0.637838 1.89077 1.89086C-0.637865 4.41956 -0.629121 8.52807 1.9103 11.0675C4.18952 13.3467 7.73272 13.5872 10.2632 11.7843C10.2823 11.8068 10.3025 11.8287 10.3238 11.85L14.1554 15.6816C14.5787 16.1049 15.2634 16.1063 15.6849 15.6849C16.1063 15.2634 16.1049 14.5787 15.6816 14.1554L11.8499 10.3238C11.8287 10.3025 11.8067 10.2823 11.7842 10.2632ZM9.54114 3.43645C11.2341 5.12939 11.2399 7.86839 9.55416 9.55419C7.8684 11.24 5.12942 11.2342 3.43647 9.54127C1.74352 7.84833 1.73769 5.10932 3.42345 3.42353C5.10921 1.73773 7.84819 1.74351 9.54114 3.43645Z' fill='%23707274'/%3E%3C/svg%3E%0A") 50% 50% no-repeat;
        }
    }
}

