.page-phonebook {
    .sort-bl {
        border: 1px solid #ebebeb;
        box-sizing: border-box;
        border-radius: 1rem;
        margin-bottom: 2rem;
        display: flex;
    }
    .sort-bl .search {
        margin: 1rem;
        margin-right: 0;
        height: 5rem;
        min-width: 17.6rem;
        width: 17.6rem;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 1;
        color: #333;
        .jq-selectbox__select-text{
            max-height: 5rem;
            padding-top: 1.5rem;
            line-height: 1;
            padding-bottom: 1.5rem;
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

    .sort-bl .search span {
        padding-right: 1.8rem;
        background: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%23333333' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 100% 50% no-repeat;
    }
    .sort-bl .filterform__search {
        width: 100%;
        display: flex;
        border:0;
        align-items: center;
        margin: 0 0 0 3rem;
        input{
            padding-left: 0;
        }
    }
    .sort-alphavite {
        padding: 2rem 0;
        border-bottom: 1px solid #ebebeb;
        border-top: 1px solid #ebebeb;
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 100%;
        @media (max-width:1100px){
            overflow-x: auto;
        }
    }
    .sort-alphavite a {
        position: relative;
        bottom: -.2rem;
        min-width: 2.2rem;
        width: 2.2rem;
        height: 2.2rem;
        margin-right: .75rem;
        margin-left: .75rem;
        font-size: 1.6rem;
        line-height: 1;
        vertical-align: middle;
        color: #707274;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border-radius: 50%;
        transition: all .3s;
        transform-style: preserve-3d;
        z-index: 1;
        &:before{
            content:'';
            position: absolute;
            background: rgba(0,0,0,0);
            border-radius: 50%;
            top:-.2rem;
            left:0;
            width: 100%;
            height: 100%;
            transform: translateZ(-1px);
            z-index: 0;
        }
        &:first-child{
            margin-left: 0;
        }
        &:last-child{
            margin-right: 0;
        }
        &:hover,
        &.active {
            font-weight: 600;
            color: #fff;
            &:before{
                background: #333;
            }
        }
    }
    .result-block {
        padding: 2rem 0;
        border-bottom: 1px solid #ebebeb;
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .heading {
            font-size: 2rem;
            margin-bottom: 0;
            line-height: 3rem;
            color: #333;
            span {
                font-weight: 600;
            }
        }
        .sort_bl {
            min-width: 22rem;
            width: auto;
            margin-left: 2rem;
        }
    }
    .city-bl {
        margin-right: -1rem;
        margin-left: -1rem;
        // margin-bottom: 2rem;
        // padding: 2rem 0;
        display: flex;
        flex-wrap: wrap;
    }
    .city-bl a {
        margin-right: 1rem;
        margin-left: 1rem;
        margin-bottom: 2rem;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 1;
        color: #333;
        text-decoration: none;
    }
    .city-bl a span {
        color: #707274;
        font-size: 1.3rem;
    }
    .city-bl a.active, .city-bl a:hover {
        font-weight: bold;
    }
    .city-bl a.active span, .city-bl a:hover span {
        font-weight: normal;
    }
    .items-wrap {
        display: flex;
        flex-direction: column;
        position: relative;
        border-radius: 5px;
        border: 1px solid #ebebeb;
    }
    .item {
        display: flex;
        align-items: flex-start;
        background: #f3f3f3;
        border-top: 1px solid #ebebeb;
        padding: 3rem;
        box-sizing: border-box;
    }
    .item:hover {
        z-index: 5;
        position: relative;
    }
    .item:first-child {
        border-top: none;
        border-radius: 5px 5px 0 0;
    }
    .item:last-child {
        border-radius: 0 0 5px 5px;
    }
    .item:nth-child(odd) {
        background: #fff;
    }
    .item .left {
        min-width: 10rem;
        width: 10rem;
        margin-right: 3rem;
        position: relative;
        z-index: 2;
    }
    .item .left .bone, .item .left .btwo {
        position: absolute;
        bottom: 5px;
        left: 0;
        cursor: pointer;
    }
    .item .left .bone .image, .item .left .btwo .image {
        width: 2.6rem;
        height: 2.6rem;
        background: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .item .left .bone .body, .item .left .btwo .body {
        position: absolute;
        top: 100%;
        left: 100%;
        background: #fff;
        display: none;
        width: 23.8rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0px 5px 5px 5px;
        padding: 1rem 2rem;
        font-style: normal;
        font-size: 1.4rem;
        line-height: 1.2;
        color: #333;
    }
    .item .left .bone .body strong, .item .left .btwo .body strong {
        font-weight: 600;
    }
    .item .left .bone:hover .body, .item .left .btwo:hover .body {
        display: block;
    }
    .item .left .bthree {
        position: absolute;
        bottom: .5rem;
        right: 0;
        cursor: pointer;
    }
    .item .left .bthree .image {
        width: 2.6rem;
        height: 2.6rem;
        background: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .item .left .bthree .body {
        position: absolute;
        top: 100%;
        left: 100%;
        background: #fff;
        display: none;
        width: 23.8rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0px 5px 5px 5px;
        padding: 1rem 2rem;
        font-style: normal;
        font-size: 1.4rem;
        line-height: 1.2;
        color: #333;
    }
    .item .left .bthree .body strong {
        font-weight: 600;
    }
    .item .left .bthree:hover .body {
        display: block;
    }
    @media (max-width: 768px) {
        .item .left .bone, .item .left .btwo, .item .left .bthree {
            display: none;
        }
    }
    .item .center {
        width: 100%;
        max-width: 51.6rem;
        margin-right: 3rem;
    }
    .item .name {
        font-weight: bold;
        font-size: 2.4rem;
        line-height: 120%;
        color: #333;
        margin-bottom: .2rem;
    }
    .item .desc {
        font-weight: normal;
        font-size: 1.8rem;
        line-height: 120%;
        color: #707274;
        margin-bottom: 2rem;
    }
    .item .center .mob_butbl {
        display: none;
        flex-direction: column;
    }
    @media (max-width: 640px) {
        .item .center .mob_butbl {
            display: block;
        }
    }
    .item .center .mob_butbl .bone {
        display: flex;
        align-items: center;
    }
    .item .center .mob_butbl .bone .image {
        min-width: 1.2rem;
        margin-right: .5rem;
    }
    .item .center .mob_butbl .bone .body {
        font-style: normal;
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 120%;
        color: #333;
    }
    .item .center .mob_butbl .btwo, .item .center .mob_butbl .bthree {
        display: flex;
        align-items: center;
    }
    .item .center .mob_butbl .btwo .image, .item .center .mob_butbl .bthree .image {
        min-width: 2.6rem;
        margin-right: .5rem;
        text-align: center;
    }
    .item .center .mob_butbl .btwo .body, .item .center .mob_butbl .bthree .body {
        font-style: normal;
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 120%;
        color: #333;
    }
    .item .center .mob_butbl .btwo .body br, .item .center .mob_butbl .bthree .body br {
        display: none;
    }
    .item .center .mob_butbl .btwo .body span, .item .center .mob_butbl .bthree .body span, .item .center .mob_butbl .btwo .body strong, .item .center .mob_butbl .bthree .body strong {
        font-style: normal;
        font-weight: normal;
        font-size: 1.2rem;
    }
    .item .company {
        font-weight: bold;
        font-size: 1.6rem;
        line-height: 120%;
        text-transform: uppercase;
        color: #333;
        margin-bottom: 2rem;
    }
    .item .center .btns {
        display: flex;
        align-items: center;
    }
    .item .center .btns .mob_butbl {
        display: none;
        flex-direction: column;
    }
    .item .center .btns .mob_butbl .bone {
        display: flex;
        align-items: center;
    }
    .item .center .btns .mob_butbl .bone .image {
        min-width: 1.2rem;
        margin-right: .5rem;
    }
    .item .center .btns .mob_butbl .bone .body {
        font-style: normal;
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 120%;
        color: #333;
    }
    .item .center .btns .mob_butbl .btwo, .item .center .btns .mob_butbl .bthree {
        display: flex;
        align-items: center;
    }
    .item .center .btns .mob_butbl .btwo .image, .item .center .btns .mob_butbl .bthree .image {
        min-width: 2.6rem;
        margin-right: .5rem;
        text-align: center;
    }
    .item .center .btns .mob_butbl .btwo .body, .item .center .btns .mob_butbl .bthree .body {
        font-style: normal;
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 120%;
        color: #333;
    }
    .item .center .btns .mob_butbl .btwo .body br, .item .center .btns .mob_butbl .bthree .body br {
        display: none;
    }
    .item .center .btns .mob_butbl .btwo .body span, .item .center .btns .mob_butbl .bthree .body span, .item .center .btns .mob_butbl .btwo .body strong, .item .center .btns .mob_butbl .bthree .body strong {
        font-style: normal;
        font-weight: normal;
        font-size: 1.2rem;
    }
    @media (max-width: 768px) {
        .item .center .btns .mob_butbl {
            display: flex;
        }
    }
    .item .center .btns .department, .item .center .btns .location {
        cursor: pointer;
        position: relative;
        min-width: 3.2rem;
    }
    .item .center .btns .department:hover, .item .center .btns .location:hover {
        z-index: 2;
    }
    .item .center .btns .department .body, .item .center .btns .location .body {
        display: none;
        font-style: normal;
        font-size: 1.4rem;
        line-height: 1.2;
        color: #333;
    }
    @media (min-width: 769px) {
        .item .center .btns .department .body, 
        .item .center .btns .location .body {
            position: absolute;
            left: 100%;
            top: 100%;
            background: #fff;
            width: 25rem;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 0px 5px 5px 5px;
            padding: 1rem 2rem;
            margin: -.5rem 0 0 -.5rem;
        }
    }
    .item .center .btns .department .body strong, .item .center .btns .location .body strong {
        font-weight: 600;
    }
    .item .center .btns .department .body.body_width, 
    .item .center .btns .location .body.body_width {
        width: 42.8rem;
    }
    .item .center .btns .department .body .body_in .close, .item .center .btns .location .body .body_in .close {
        position: absolute;
        top: -2rem;
        right: -2rem;
        display: none;
        width: 4rem;
        height: 4rem;
        background: #f6c358 url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.3773 13.7216C12.7485 14.0928 13.3504 14.0928 13.7216 13.7216C14.0928 13.3504 14.0928 12.7485 13.7216 12.3773L8.34432 7L13.7216 1.62273C14.0928 1.25151 14.0928 0.649638 13.7216 0.278415C13.3504 -0.0928073 12.7485 -0.0928022 12.3773 0.278415L7 5.65568L1.62273 0.278415C1.25151 -0.092808 0.649632 -0.0928022 0.278415 0.278415C-0.0928024 0.649633 -0.0928076 1.25151 0.278415 1.62273L5.65568 7L0.278415 12.3773C-0.0928024 12.7485 -0.0928076 13.3504 0.278415 13.7216C0.649637 14.0928 1.25151 14.0928 1.62273 13.7216L7 8.34432L12.3773 13.7216Z' fill='%23333333'/%3E%3C/svg%3E%0A") 50% 50% no-repeat;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 50%;
    }
    .item .center .btns .department .body .titbl, .item .center .btns .location .body .titbl {
        font-style: normal;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 1.2;
        color: #000;
        padding-bottom: .5rem;
    }
    .item .center .btns .department .body ul.tit_links, .item .center .btns .location .body ul.tit_links {
        margin: 0;
        padding: 0;
        font-size: 0;
        list-style: none;
    }
    .item .center .btns .department .body ul.tit_links li, .item .center .btns .location .body ul.tit_links li {
        display: block;
    }
    .item .center .btns .department .body ul.tit_links li a, .item .center .btns .location .body ul.tit_links li a {
        display: inline-block;
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 1.2;
        color: #333;
        text-decoration: none;
        padding: .5rem 1.2rem;
        position: relative;
    }
    .item .center .btns .department .body ul.tit_links li a:before, .item .center .btns .location .body ul.tit_links li a:before {
        content: '';
        position: absolute;
        top: .9rem;
        left: .2rem;
        width: .5rem;
        height: .8rem;
        background: url("data:image/svg+xml,%3Csvg width='5' height='8' viewBox='0 0 5 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.264555 7.74169C0.617296 8.0861 1.1892 8.0861 1.54195 7.74169L4.73544 4.62363C5.08819 4.27921 5.08819 3.72081 4.73545 3.3764L1.54197 0.258312C1.18923 -0.0861025 0.617323 -0.0861044 0.264579 0.258307C-0.0881645 0.602719 -0.0881663 1.16112 0.264575 1.50554L2.81935 4.00001L0.264559 6.49446C-0.0881848 6.83887 -0.0881866 7.39727 0.264555 7.74169Z' fill='%23f6c358'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
        background-size: .5rem .8rem;
    }
    .item .center .btns .department .body ul.tit_links li a.active, .item .center .btns .location .body ul.tit_links li a.active {
        background: #f6c358;
        mix-blend-mode: multiply;
        border-radius: 5px;
    }
    .item .center .btns .department .body ul.tit_links li ul, .item .center .btns .location .body ul.tit_links li ul {
        margin-left: 2rem;
        padding: 0;
    }
    .item .center .btns .department .body.fixed, .item .center .btns .location .body.fixed {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        justify-content: center;
        align-items: center;
        opacity: 1;
        visibility: visible;
        -webkit-backface-visibility: hidden;
        display: flex !important;
        flex-direction: column;
        transition: all 0.4s ease;
        padding: 0;
        margin: 0;
        background: rgba(51, 51, 51, 0.5);
    }
    .item .center .btns .department .body.fixed .body_in, .item .center .btns .location .body.fixed .body_in {
        background: #fff;
        padding: 2rem;
        border-radius: 5px;
        position: relative;
    }
    .item .center .btns .department .body.fixed .body_in .close, .item .center .btns .location .body.fixed .body_in .close {
        display: block;
    }
    @media (max-width: 480px) {
        .item .center .btns .department .body.fixed, .item .center .btns .location .body.fixed {
            width: 100%;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            justify-content: flex-end;
        }
        .item .center .btns .department .body.fixed .body_in, .item .center .btns .location .body.fixed .body_in {
            width: 100%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border-radius: 1.6rem 1.6rem 0px 0px;
        }
        .item .center .btns .department .body.fixed .body_in .close, .item .center .btns .location .body.fixed .body_in .close {
            width: 64px;
            height: 4px;
            background: #c4c4c4;
            border-radius: 2px;
            top: 4px;
            left: calc(50% - 32px);
        }
    }
    .item .center .btns .department {
        margin-right: 1rem;
    }
    .item .center .btns .department .body.fixed .body_in {
        width: 42.8rem;
    }
    @media (max-width: 480px) {
        .item .center .btns .department .body.fixed {
            width: 100%;
        }
        .item .center .btns .department .body.fixed .body_in {
            width: 100%;
        }
    }
    @media (min-width: 769px) {
        .item .center .btns .department:hover .body {
            display: block;
        }
    }
    .item .center .btns .location {
        margin-right: 2rem;
    }
    @media (max-width: 768px) {
        .item .center .btns .location {
            margin-right: 1rem;
        }
    }
    .item .center .btns .location .body.fixed .body_in {
        width: 30rem;
    }
    @media (max-width: 480px) {
        .item .center .btns .location .body.fixed {
            width: 100%;
        }
        .item .center .btns .location .body.fixed .body_in {
            width: 100%;
        }
    }
    @media (min-width: 769px) {
        .item .center .btns .location:hover .body {
            display: block;
        }
    }
    .item .center .btns .dont_working {
        
        font-style: normal;
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 120%;
        color: #333;
        position: relative;
        display: flex;
        align-items: center;
    }
    .item .center .btns .dont_working:before {
        content: '';
        width: 1.2rem;
        height: 1.2rem;
        background: #ff4a4a;
        border-radius: 50%;
        display: inline-block;
        margin-right: .5rem;
    }
    .item .clear {
        display: none;
    }
    .item .right {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        padding-top:3rem;
    }
    .item .right a {
        font-weight: normal;
        font-size: 2rem;
        line-height: 160%;
        color: #333;
        display: block;
        text-decoration: none;
    }
    .item .right .phones {
        width: 50%;
    }
    .item .right .phones a {
        padding-left: 3rem;
        background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.7' d='M19.0202 19.2562C18.9161 19.7509 18.6166 19.9982 18.1219 19.9982C13.1228 19.9982 8.85266 18.2277 5.3116 14.6866C1.77053 11.1456 -3.00536e-07 6.87546 -8.20161e-08 1.87631C-6.03917e-08 1.3816 0.247354 1.08217 0.742062 0.978023L4.80387 0.0406825C5.29858 -0.0895037 5.65008 0.0927571 5.85838 0.587465L7.73306 4.96172C7.91532 5.37832 7.82419 5.74284 7.45967 6.05529L5.11632 7.96902C5.81932 9.50522 6.76968 10.8592 7.9674 12.0308C9.16511 13.2285 10.519 14.1789 12.0292 14.8819L13.982 12.5386C14.2684 12.174 14.6329 12.0829 15.0756 12.2652L19.4498 14.1399C19.9185 14.3482 20.0877 14.6997 19.9575 15.1944L19.0202 19.2562Z' fill='%23B8B9BA'/%3E%3C/svg%3E%0A") 0 50% no-repeat;
        margin-bottom: 2rem;
        background-size: 2rem;
    }
    .item .right .mobile-code {
        width: 50%;
    }
    .item .right .mobile-code a {
        margin-bottom: 2rem;
        padding-left: 3rem;
        background: url("data:image/svg+xml,%3Csvg width='13' height='20' viewBox='0 0 13 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.7' d='M10.625 0C11.1458 0 11.5885 0.182292 11.9531 0.546875C12.3177 0.911458 12.5 1.35417 12.5 1.875V18.125C12.5 18.6458 12.3177 19.0885 11.9531 19.4531C11.5885 19.8177 11.1458 20 10.625 20H1.875C1.35417 20 0.911458 19.8177 0.546875 19.4531C0.182292 19.0885 0 18.6458 0 18.125V1.875C0 1.35417 0.182292 0.911458 0.546875 0.546875C0.911458 0.182292 1.35417 0 1.875 0H10.625ZM5.35156 18.3594C5.61198 18.6198 5.91146 18.75 6.25 18.75C6.58854 18.75 6.875 18.6198 7.10938 18.3594C7.36979 18.125 7.5 17.8385 7.5 17.5C7.5 17.1615 7.36979 16.875 7.10938 16.6406C6.875 16.3802 6.58854 16.25 6.25 16.25C5.91146 16.25 5.61198 16.3802 5.35156 16.6406C5.11719 16.875 5 17.1615 5 17.5C5 17.8385 5.11719 18.125 5.35156 18.3594ZM10.625 14.5312V2.34375C10.625 2.03125 10.4688 1.875 10.1562 1.875H2.34375C2.03125 1.875 1.875 2.03125 1.875 2.34375V14.5312C1.875 14.8438 2.03125 15 2.34375 15H10.1562C10.4688 15 10.625 14.8438 10.625 14.5312Z' fill='%23B8B9BA'/%3E%3C/svg%3E%0A") 0 50% no-repeat;
        background-size: 1.25rem 2rem;
        background-position: 0.5rem 50%;
    }
    .item .right .mobile-code a.code {
        background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.7' d='M18.5714 7.85714C18.9583 7.85714 19.2857 8.00595 19.5536 8.30357C19.8512 8.57143 20 8.89881 20 9.28571V10.7143C20 11.1012 19.8512 11.4435 19.5536 11.7411C19.2857 12.0089 18.9583 12.1429 18.5714 12.1429H12.1429V18.5714C12.1429 18.9583 11.994 19.2857 11.6964 19.5536C11.4286 19.8512 11.1012 20 10.7143 20H9.28571C8.89881 20 8.55655 19.8512 8.25893 19.5536C7.99107 19.2857 7.85714 18.9583 7.85714 18.5714V12.1429H1.42857C1.04167 12.1429 0.699405 12.0089 0.401786 11.7411C0.133929 11.4435 0 11.1012 0 10.7143V9.28571C0 8.89881 0.133929 8.57143 0.401786 8.30357C0.699405 8.00595 1.04167 7.85714 1.42857 7.85714H7.85714V1.42857C7.85714 1.04167 7.99107 0.714286 8.25893 0.446429C8.55655 0.14881 8.89881 0 9.28571 0H10.7143C11.1012 0 11.4286 0.14881 11.6964 0.446429C11.994 0.714286 12.1429 1.04167 12.1429 1.42857V7.85714H18.5714Z' fill='%23B8B9BA'/%3E%3C/svg%3E%0A") 0 50% no-repeat;
        background-size: 2rem;
    }
    .item .right .skype a {
        padding-left: 5.5rem;
        background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.7' d='M10.8186 19.8031C11.5891 19.6526 12.0829 18.9479 11.9216 18.2291C11.7602 17.5106 11.0052 17.0504 10.2343 17.2004C4.40128 18.3401 0.79031 12.2527 4.13957 6.82081C6.21844 3.44958 10.6279 1.51826 14.0842 3.38638C17.3255 5.13865 18.1326 9.53178 15.8834 13.1794C15.7078 13.4641 15.4248 13.6675 15.0864 13.7521C13.9657 14.0315 13.0306 12.8933 13.6162 11.9437C16.0119 8.05872 13.6129 4.34322 10.0412 5.235C8.61774 5.59079 7.29299 6.61907 6.40669 8.05641C3.70968 12.4304 7.07329 16.3853 11.0613 14.3572C12.5812 17.0983 16.7254 17.1471 18.3544 14.5051C21.3848 9.59072 20.1104 3.57074 15.5135 1.08571C10.7622 -1.48282 4.61708 0.713077 1.66844 5.49506C-2.94989 12.9847 2.64235 21.3998 10.8186 19.8031ZM8.67447 12.1772C8.22063 11.9317 8.0703 10.6919 8.87792 9.38216C9.40559 8.52654 10.3348 7.76329 11.0749 7.76329C11.1713 7.76329 11.2673 7.77915 11.3486 7.82303C11.8023 8.06838 11.9527 9.30815 11.145 10.6179C10.3643 11.884 9.14371 12.4305 8.67447 12.1772Z' fill='%23B8B9BA'/%3E%3C/svg%3E%0A") 0 50% no-repeat, url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.7' d='M19.4049 12.1108C20.8518 5.6098 15.1558 -0.296061 8.46658 0.837664C4.83519 -1.41563 0 1.13067 0 5.45081C0 6.45551 0.277224 7.39612 0.759245 8.20687C-0.585251 14.7229 5.15737 20.5438 11.8407 19.3327C16.5652 21.8307 21.7858 16.8488 19.4049 12.1108ZM13.0462 16.0314C11.2913 16.7531 8.40331 16.7573 6.65588 15.8425C4.16419 14.5139 3.7213 11.5231 5.87083 11.5231C7.49088 11.5231 6.97806 13.4119 8.61393 14.1818C9.36485 14.5289 10.9791 14.5647 11.9173 13.9321C12.8439 13.312 12.759 12.3364 12.2553 11.8703C10.9208 10.6383 7.1021 11.1278 5.35634 8.97101C4.59793 8.0354 4.45474 6.38476 5.38714 5.18777C7.01219 3.09679 11.7808 2.96943 13.8312 4.54849C15.7244 6.01351 15.2132 7.95799 13.6856 7.95799C11.8482 7.95799 12.8139 5.55402 9.84771 5.55402C7.69735 5.55402 6.85152 7.08314 8.36585 7.8273C10.4188 8.84699 15.6503 8.50654 15.6503 12.4912C15.6461 14.1494 14.6296 15.3855 13.0462 16.0314Z' fill='%23B8B9BA'/%3E%3C/svg%3E%0A") 2.5rem 50% no-repeat;
        background-size: 2rem;
    }
    .item .hide_more_but, .item .dont_working_mob {
        display: none;
    }
    .header-right {
        z-index: 9999;
    }
    .filter-phonebook .fil-title {
        background: #b8b9ba url("data:image/svg+xml,%3Csvg width='16' height='13' viewBox='0 0 16 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 1.02632C0 0.459497 0.467181 0 1.04348 0H14.9565C15.5328 0 16 0.459497 16 1.02632C16 1.59313 15.5328 2.05263 14.9565 2.05263H1.04348C0.467181 2.05263 0 1.59313 0 1.02632ZM2.78261 6.5C2.78261 5.93318 3.24979 5.47368 3.82609 5.47368H12.1739C12.7502 5.47368 13.2174 5.93318 13.2174 6.5C13.2174 7.06682 12.7502 7.52632 12.1739 7.52632H3.82609C3.24979 7.52632 2.78261 7.06682 2.78261 6.5ZM5.56522 11.9737C5.56522 11.4069 6.0324 10.9474 6.6087 10.9474H9.3913C9.9676 10.9474 10.4348 11.4069 10.4348 11.9737C10.4348 12.5405 9.9676 13 9.3913 13H6.6087C6.0324 13 5.56522 12.5405 5.56522 11.9737Z' fill='%23333333'/%3E%3C/svg%3E%0A") 95% 50% no-repeat;
        border-radius: 5px;
        padding: 1.3rem 1.2rem;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 1;
        margin-bottom: 1rem;
    }
    .filter-phonebook .sort-alphavite-mobile {
        display: none;
    }
    .filter-phonebook #alphavite-styler {
        margin-bottom: 1rem;
    }
    @media (max-width: 1300px) {
        .item .right{
            padding-top:0;
        }
        .item .right .phones, .item .right .mobile-code {
            width: 100%;
        }
    }
    @media (max-width: 1024px) {
        .sort-alphavite a {
            min-width: 2.5rem;
            height: 2.5rem;
            width: 2.5rem;
            margin-right: 0;
            margin-left: 0;
        }
        .sort-bl form input {
            padding-right: 1.2rem;
        }
        .sort-bl form button {
            border-radius: 0 1rem 1rem 0;
        }
        .result-block .heading {
            font-size: 1.8rem;
        }
        .item {
            padding: 2rem;
        }
        .item .left {
            min-width: 6rem;
            width: 6rem;
            margin-right: 2rem;
        }
        .item .center {
            max-width: 32rem;
        }
        .item .name {
            font-size: 1.8rem;
        }
        .item .desc {
            font-size: 1.4rem;
        }
        .item .company {
            font-size: 1.4rem;
        }
        .item .right a {
            font-size: 1.6rem;
            margin-bottom: 1rem;
        }
        .item .right .phones, .item .right .mobile-code {
            width: 100%;
        }
        .pagelist {
            margin-bottom: 60px;
        }
    }
    @media (min-width: 641px) {
        .filter-phonebook {
            display: none;
        }
    }
    @media (max-width: 640px) {
        .sort-alphavite, .city-bl {
            display: none;
        }
        .sort-bl .search {
            width: 72px;
            min-width: 72px;
            height: 40px;
            margin: 5px;
        }
        
        .sort-bl form {
            margin-left: 5px;
        }
        .sort-bl form input {
            font-size: 1.4rem;
        }
        .sort-bl form button {
            min-width: 5rem;
            width: 5rem;
            height: 5rem;
        }
        .result-block {
            padding-top: 1rem;
            padding-bottom: 1rem;
            border-top: 1px solid #f0f0f0;
            border-bottom: 0;
            flex-direction: column;
            align-items: flex-start;
        }
        .result-block .sort_bl {
            min-width: 100%;
            order: -1;
        }
        .result-block .heading {
            font-weight: normal;
            font-size: 1.4rem;
            line-height: 120%;
            color: #333;
            margin-top: 1rem;
        }
        .items-wrap {
            border: 0;
        }
        .item {
            background: #fff;
            border-right: 0;
            border-left: 0;
            display: block;
            padding: 1rem 0;
        }
        .item .left {
            float: left;
            margin-right: 1rem;
        }
        .item .center {
            max-width: 100%;
        }
        .item .name {
            padding-top: 0;
            min-height: 60px;
            display: flex;
            align-items: center;
        }
        .item .desc {
            padding-top: 1rem;
            margin-bottom: 1rem;
        }
        .item .company {
            display: none;
        }
        .item .center .btns {
            display: none;
        }
        .item .clear {
            display: block;
        }
        .item .right {
            display: none;
            width: 100%;
            padding-top: 15px;
        }
        .item .dont_working_mob {
            
            font-style: normal;
            font-weight: normal;
            font-size: 1.2rem;
            line-height: 120%;
            color: #333333;
            position: relative;
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
        }
        .item .dont_working_mob:before {
            content: '';
            width: 12px;
            height: 12px;
            background: #ff4a4a;
            border-radius: 50%;
            display: inline-block;
            margin-right: .5rem;
        }
        .item .hide_more_but {
            display: inline-block;
            vertical-align: top;
            font-style: normal;
            font-weight: normal;
            font-size: 1.4rem;
            line-height: 1;
            position: relative;
            padding-right: 22px;
        }
        .item .hide_more_but:after {
            content: '';
            position: absolute;
            top: 5px;
            right: 0;
            width: 1rem;
            height: 6px;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
            -ms-transition: all 0.5s;
            transition: all 0.5s;
            background: url("data:image/svg+xml,%3Csvg width='9' height='7' viewBox='0 0 9 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.5L5 5.5L9 1.5' stroke='%23949300' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") 50% 50% no-repeat;
        }
        .item .hide_more_but.active:after {
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
        }
        .item.actitem .company {
            display: block;
            padding-top: 1rem;
        }
        .item.actitem .center .btns {
            display: flex;
        }
        .item.actitem .center .btns .mob_butbl {
            display: none;
        }
        .item.actitem .right {
            display: block;
        }
    }
    @media (max-width: 580px) {
        .item .center .btns .dont_working.mob_hide {
            display: none !important;
        }
    }
    @media (max-width: 1024px) {
        .items-wrap {
            z-index: auto;
        }
        .item:hover, .item {
            z-index: auto;
        }
        .item:hover .center, .item .center, .item:hover .btns, .item .btns {
            z-index: auto;
            position: relative;
        }
        .item:hover .center .department, .item .center .department, .item:hover .btns .department, .item .btns .department, .item:hover .center .location, .item .center .location, .item:hover .btns .location, .item .btns .location {
            z-index: auto !important;
        }
    }
    @media (max-width: 768px) {
        .item .name {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
        .item .name span {
            display: block;
        }
        .item .desc br {
            display: none;
        }
    }
    @media (max-width: 640px) {
        .result-block .sort_bl {
            margin-left: 0;
        }
        .item .center .mob_butbl {
            margin-bottom: 1rem;
        }
    }
}
