.step_two, .step_three,
.step_four {
    display: none;
}
.step_four {
    padding-bottom: 30px;
    svg.arrow {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        transition: 0.3s;
        opacity: 0
    }
    &__wrap {
        z-index: 1;
        position: relative;
    }
    &_blocks,
    &__wrap>ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 0;
        overflow: hidden;
        li {
            position: initial;
            display: block;
            padding: 0 20px 20px 0;
            a, .label {
                display: flex;
                align-items: center;
                background: #ebecf0;
                border-radius: 40px;
                padding: 20px 15px 20px 60px;
                margin: 0;
                text-decoration: none;
                
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                color: #333;
                max-width: 433px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                position: relative;
                border: 1px solid transparent;
                min-height: 70px;
                max-height: 70px;
                .jpost{
                    &:after{
                        display: inline;
                        background: none;
                        width: auto;
                        height: auto;
                        margin: inherit;
                        border-radius: 0;
                        color: inherit;
                        line-height: inherit;
                        font-size: inherit;
                        transform: unset;
                        cursor: default;
                    }
                    &_popup{
                        font-size: 17px;
                        bottom: auto;
                        top: 160%;
                        left: 40%;
                        width: 490px;
                        text-align: left;
                        &:before{
                            display: block;
                            content: "";
                            position: absolute;
                            top: -10px;
                            left: 80px;
                            width: 0;
                            height: 0;
                            border-right: 6px solid transparent;
                            border-left: 6px solid transparent;
                            border-bottom: 10px solid rgba(51, 51, 51, 0.6);
                        }
                    }
                }
                &:before {
                    content: '';
                    position: absolute;
                    top: calc(50% - 15px);
                    left: 20px;
                    width: 30px;
                    height: 30px;
                    background: url(../../images/step_four_pic.png) 50% 50% no-repeat;
                }
                &:hover {
                    background: linear-gradient(195.68deg, #ffdf07 0%, #969300 100%), #333;
                    border: 1px solid #ebebeb;
                    color: #fff;
                    z-index: 1;
                    &:before {
                        background: url(../../images/step_four_pic_h.png) 50% 50% no-repeat;
                    }
                }
                &.s3-menu-allin-open {
                    background: linear-gradient(195.68deg, #ffdf07 0%, #969300 100%), #333;
                    border: 1px solid #ebebeb;
                    color: #fff;
                }
            }
            .info {
                position: absolute;
                left: 50%;
                top: 100%;
                background: rgba(51, 51, 51, 0.6);
                border-radius: 5px;
                font-size: 18px;
                line-height: 120%;
                color: #fff;
                width: 480px;
                padding: 9px 14px;
                margin: 15px 0 0 0;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                display: none;
                opacity: 0;
                transition: all 0.3s ease;
            }
            .open_p+.b {
                opacity: 1;
                visibility: visible;
            }
            &.s3-menu-allin-has>a,
            &.s3-menu-allin-has>.label {
                &:before {
                    background: url("data:image/svg+xml,%3Csvg width='12' height='20' viewBox='0 0 12 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.476416 0.495319C1.15099 -0.165106 2.27758 -0.165106 2.95216 0.495319L11.5236 8.88693C12.1588 9.50882 12.1588 10.4912 11.5236 11.1131L2.95216 19.5047L2.21936 18.8861L2.95216 19.5047C2.27758 20.1651 1.15099 20.1651 0.476416 19.5047L1.20921 18.8861L0.476415 19.5047C-0.158805 18.8828 -0.158805 17.9004 0.476415 17.2785L1.20278 17.8917L0.476416 17.2785L7.91092 10L0.476416 2.72146C-0.158805 2.09957 -0.158805 1.11721 0.476416 0.495319Z' fill='%23949300'/%3E%3C/svg%3E%0A") 50% 50% no-repeat;
                }
                &:hover:before {
                    background-image: url("data:image/svg+xml,%3Csvg width='12' height='20' viewBox='0 0 12 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.476416 0.495319C1.15099 -0.165106 2.27758 -0.165106 2.95216 0.495319L11.5236 8.88693C12.1588 9.50882 12.1588 10.4912 11.5236 11.1131L2.95216 19.5047L2.21936 18.8861L2.95216 19.5047C2.27758 20.1651 1.15099 20.1651 0.476416 19.5047L1.20921 18.8861L0.476415 19.5047C-0.158805 18.8828 -0.158805 17.9004 0.476415 17.2785L1.20278 17.8917L0.476416 17.2785L7.91092 10L0.476416 2.72146C-0.158805 2.09957 -0.158805 1.11721 0.476416 0.495319Z' fill='white'/%3E%3C/svg%3E%0A");
                }
                &.s3-menu-allin-open {
                    &:before {
                        background-image: url("data:image/svg+xml,%3Csvg width='12' height='20' viewBox='0 0 12 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.476416 0.495319C1.15099 -0.165106 2.27758 -0.165106 2.95216 0.495319L11.5236 8.88693C12.1588 9.50882 12.1588 10.4912 11.5236 11.1131L2.95216 19.5047L2.21936 18.8861L2.95216 19.5047C2.27758 20.1651 1.15099 20.1651 0.476416 19.5047L1.20921 18.8861L0.476415 19.5047C-0.158805 18.8828 -0.158805 17.9004 0.476415 17.2785L1.20278 17.8917L0.476416 17.2785L7.91092 10L0.476416 2.72146C-0.158805 2.09957 -0.158805 1.11721 0.476416 0.495319Z' fill='white'/%3E%3C/svg%3E%0A");
                        transition: all 0.3s ease;
                        -webkit-transform: rotate(90deg);
                        -moz-transform: rotate(90deg);
                        -ms-transform: rotate(90deg);
                        -o-transform: rotate(90deg);
                        transform: rotate(90deg);
                    }
                    &:hover:before {
                        background-image: url("data:image/svg+xml,%3Csvg width='12' height='20' viewBox='0 0 12 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.476416 0.495319C1.15099 -0.165106 2.27758 -0.165106 2.95216 0.495319L11.5236 8.88693C12.1588 9.50882 12.1588 10.4912 11.5236 11.1131L2.95216 19.5047L2.21936 18.8861L2.95216 19.5047C2.27758 20.1651 1.15099 20.1651 0.476416 19.5047L1.20921 18.8861L0.476415 19.5047C-0.158805 18.8828 -0.158805 17.9004 0.476415 17.2785L1.20278 17.8917L0.476416 17.2785L7.91092 10L0.476416 2.72146C-0.158805 2.09957 -0.158805 1.11721 0.476416 0.495319Z' fill='white'/%3E%3C/svg%3E%0A");
                    }
                }
            }
            &.opened {
                &>.label {
                    background: linear-gradient(195.68deg, #ffdf07 0%, #969300 100%), #333;
                    border: 1px solid #ebebeb;
                    color: #fff;
                    &:before {
                        background-image: url("data:image/svg+xml,%3Csvg width='12' height='20' viewBox='0 0 12 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.476416 0.495319C1.15099 -0.165106 2.27758 -0.165106 2.95216 0.495319L11.5236 8.88693C12.1588 9.50882 12.1588 10.4912 11.5236 11.1131L2.95216 19.5047L2.21936 18.8861L2.95216 19.5047C2.27758 20.1651 1.15099 20.1651 0.476416 19.5047L1.20921 18.8861L0.476415 19.5047C-0.158805 18.8828 -0.158805 17.9004 0.476415 17.2785L1.20278 17.8917L0.476416 17.2785L7.91092 10L0.476416 2.72146C-0.158805 2.09957 -0.158805 1.11721 0.476416 0.495319Z' fill='white'/%3E%3C/svg%3E%0A");
                        transition: all 0.3s ease;
                        -webkit-transform: rotate(90deg);
                        -moz-transform: rotate(90deg);
                        -ms-transform: rotate(90deg);
                        -o-transform: rotate(90deg);
                        transform: rotate(90deg);
                    }
                    &:hover:before {
                        background-image: url("data:image/svg+xml,%3Csvg width='12' height='20' viewBox='0 0 12 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.476416 0.495319C1.15099 -0.165106 2.27758 -0.165106 2.95216 0.495319L11.5236 8.88693C12.1588 9.50882 12.1588 10.4912 11.5236 11.1131L2.95216 19.5047L2.21936 18.8861L2.95216 19.5047C2.27758 20.1651 1.15099 20.1651 0.476416 19.5047L1.20921 18.8861L0.476415 19.5047C-0.158805 18.8828 -0.158805 17.9004 0.476415 17.2785L1.20278 17.8917L0.476416 17.2785L7.91092 10L0.476416 2.72146C-0.158805 2.09957 -0.158805 1.11721 0.476416 0.495319Z' fill='white'/%3E%3C/svg%3E%0A");
                    }
                }
                // &>ul {
                //     display: block;
                // }
            }
            ul {
                display: none;
                padding: 20px 0 0 25px;
                margin: 0 0 0 15px;
                li {
                    padding: 0 0 20px;
                    &:last-child {
                        padding-bottom: 0;
                        &>a:after,
                        &>.label:after {
                            bottom: 50%;
                        }
                    }
                    &>a,
                    &>.label {
                        position: relative;
                        &:after {
                            content: '';
                            position: absolute;
                            top: 0;
                            bottom: -30px;
                            left: -20px;
                            border-left: 1px dashed #ccc;
                        }
                        span {
                            display: block;
                            position: relative;
                            &:after {
                                content: '';
                                position: absolute;
                                top: calc(50% - 0.5px);
                                left: -102px;
                                left: -80px;
                                border-top: 1px dashed #ccc;
                                width: 20px;
                            }
                        }
                        .info {
                            position: absolute;
                            left: 50%;
                            top: 100%;
                            background: rgba(51, 51, 51, 0.6);
                            border-radius: 5px;
                            font-size: 18px;
                            line-height: 120%;
                            color: #fff;
                            width: 480px;
                            padding: 9px 14px;
                            margin: 15px 0 0 0;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            display: none;
                            opacity: 0;
                            transition: all 0.3s ease;
                            &:before {
                                position: absolute;
                                content: '';
                                top: -6px;
                                left: 100px;
                                width: 16px;
                                height: 16px;
                                margin-top: -8px;
                                background: url("data:image/svg+xml,%3Csvg width='12' height='14' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_b)'%3E%3Cpath d='M-3.49691e-07 7.00018L12 0.071979L12 13.9284L-3.49691e-07 7.00018Z' fill='%23333333' fill-opacity='0.6'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_b' x='-16' y='-15.928' width='44' height='45.8564' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImage' stdDeviation='8'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A") 50% 50% no-repeat;
                                transition: all 0.3s ease;
                                -webkit-transform: rotate(90deg);
                                -moz-transform: rotate(90deg);
                                -ms-transform: rotate(90deg);
                                -o-transform: rotate(90deg);
                                transform: rotate(90deg);
                            }
                        }
                        &:hover .info {
                            display: block;
                            opacity: 1;
                        }
                    }
                    ul {
                        &:hover {
                            /* z-index: 10;
                              position: relative; */
                        }
                    }
                }
            }
        }
    }
    &_block_popup {
        display: block;
        position: fixed;
        position: absolute;
        top: 0;
        right: 0;
        left: initial;
        transition: opacity 0.3s, visibility .3s, top 0s;
        opacity: 0;
        visibility: hidden;
        &_in {
            max-height: 90vh;
            background: #fff;
            border: 1px solid #b8b9ba;
            box-sizing: border-box;
            border-radius: 5px;
            width: 100%;
            max-width: 420px;
            max-height: 650px;
            overflow: auto;
        }
        &.absbl {
            position: absolute;
            left: auto;
            top: 0;
            transform: unset;
        }
        .btn-close_wpopup {
            display: none;
        }
        .top {
            padding: 20px;
            background: linear-gradient(335.85deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
            background-blend-mode: soft-light, normal;
            border: 1px solid rgba(255, 255, 255, 0.4);
            box-sizing: border-box;
            .title {
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
                padding-left: 40px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                color: #333;
                margin-bottom: 3px;
                background: url("data:image/svg+xml,%3Csvg width='34' height='29' viewBox='0 0 34 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.3706 3.7981L17.4234 5.90345L20.4763 3.7981L25.5808 7.31832H9.26612L14.3706 3.7981Z' fill='%23949300'/%3E%3Cpath d='M4.78885 18.8597V8.9821H30.058V18.8597H4.78885Z' fill='%23949300'/%3E%3Cpath d='M3.39844 20.1908H31.4484V21.8721H30.058V23.5534C30.058 24.5206 29.3814 25.3047 28.5467 25.3047C27.712 25.3047 27.0354 24.5206 27.0354 23.5534H24.6173C24.6173 24.5206 23.9407 25.3047 23.106 25.3047C22.2713 25.3047 21.5947 24.5206 21.5947 23.5534V21.8721H13.2522V23.5534C13.2522 24.5206 12.5756 25.3047 11.7409 25.3047C10.9062 25.3047 10.2296 24.5206 10.2296 23.5534H7.81148C7.81148 24.5206 7.13484 25.3047 6.30016 25.3047C5.46549 25.3047 4.78885 24.5206 4.78885 23.5534V21.8721H3.39844V20.1908Z' fill='%23949300'/%3E%3C/svg%3E%0A") 0 50% no-repeat;
            }
            .desc {
                margin-bottom: 8px;
                span {
                    display: block;
                    font-size: 14px;
                    line-height: 120%;
                    color: #333;
                    margin-bottom: 2px;
                }
            }
            .author {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                .image {
                    min-width: 60px;
                    border-radius: 100px;
                    margin-right: 14px;
                }
                .information {
                    .name {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 19px;
                        color: #333;
                        margin-bottom: 2px;
                    }
                    .body {
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 17px;
                        color: #333;
                    }
                }
            }
            a.more {
                font-weight: 600 !important;
                font-size: 16px !important;
                line-height: 120% !important;
                text-decoration-line: underline !important;
                color: #333 !important;
                padding: 0 !important;
                margin: 0 !important;
                background: none !important;
                &:hover {
                    background: none;
                    text-decoration: none !important;
                }
                &:before {
                    display: none;
                }
            }
        }
        .bottom {
            padding: 10px 20px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            .title {
                font-weight: bold;
                font-size: 18px;
                line-height: 29px;
                color: #333;
                margin-bottom: 10px;
            }
            .heading {
                margin-bottom: 10px;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                text-transform: uppercase;
                color: #707274;
            }
            .headind_desc {
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #707274;
                margin-top: -7px;
                margin-bottom: 10px;
            }
            .author {
                display: flex;
                align-items: center;
                margin-bottom: 13px;
                .image {
                    border-radius: 100px;
                    min-width: 60px;
                    margin-right: 15px;
                }
                .information {
                    .name {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 19px;
                        color: #333;
                        margin-bottom: 2px;
                    }
                    .body {
                        font-size: 14px;
                        line-height: 17px;
                        color: #707274;
                    }
                }
            }
            .head_divizion .author {
                margin-bottom: 20px;
            }
        }
        &::-webkit-scrollbar {
            background-color: #e0e0e0;
            border-radius: 5px;
            width: 5px;
            &-track {
                background-color: #e0e0e0;
                border-radius: 5px;
            }
            &-thumb {
                background-color: #c4c4c4;
                border-radius: 5px;
            }
            &-button {
                display: none;
            }
        }
    }
}
.step-two_m__wrap {
    .step_four{
        &_blocks,
        &__wrap>ul {
            overflow: hidden;
        }
    }
}
@media screen and (max-width: 1400px) {
    .step_four {
        svg.arrow {
            display: none !important;
        }
        &_block_popup {
            opacity: 1 !important;
            position: fixed;
            top: 0 !important;
            bottom: 0;
            left: 0;
            z-index: 100000;
            background: rgba(0, 0, 0, .5);
            display: flex;
            align-items: center;
            justify-content: center;
            &_in {
                position: relative;
                max-width: 50%;
                box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
            }
            .btn-close_wpopup {
                border: 0;
                background: rgba(148, 147, 0, 0.6);
                border-bottom-left-radius: 10px;
                color: black;
                height: 30px;
                width: 30px;
                padding: 0;
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                outline: none;
                top: 0;
                right: 0;
                span {
                    display: block;
                    background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.6818 19.6023C18.2121 20.1326 19.072 20.1326 19.6023 19.6023C20.1326 19.072 20.1326 18.2121 19.6023 17.6818L11.9205 10L19.6023 2.31819C20.1326 1.78788 20.1326 0.928054 19.6023 0.397736C19.0719 -0.132582 18.2121 -0.132575 17.6818 0.397736L10 8.07955L2.31819 0.397736C1.78787 -0.132583 0.928046 -0.132575 0.397736 0.397736C-0.132575 0.928047 -0.132582 1.78787 0.397736 2.31819L8.07955 10L0.397736 17.6818C-0.132575 18.2121 -0.132582 19.0719 0.397736 19.6023C0.928054 20.1326 1.78788 20.1326 2.31819 19.6023L10 11.9205L17.6818 19.6023Z' fill='white'/%3E%3C/svg%3E%0A") 50% 50% no-repeat;
                    width: 14px;
                    height: 14px;
                    cursor: pointer;
                }
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    .step-two_m__wrap {
        .step_four {
            &_blocks,
            &__wrap>ul {
                overflow: initial;
            }
        }
    }
    .step_four {
        svg.arrow {
            display: none;
        }
        &_block_popup {
            top: 0 !important;
            opacity: 1 !important;
            width: 100% !important;
            transform: unset;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1000;
            position: fixed;
            padding: 10px;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            .btn-close_wpopup {
                border: 0;
                background: rgba(148, 147, 0, 0.6);
                border-bottom-left-radius: 10px;
                color: black;
                height: 30px;
                width: 30px;
                padding: 0;
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                outline: none;
                top: 0;
                right: 0;
                span {
                    display: block;
                    background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.6818 19.6023C18.2121 20.1326 19.072 20.1326 19.6023 19.6023C20.1326 19.072 20.1326 18.2121 19.6023 17.6818L11.9205 10L19.6023 2.31819C20.1326 1.78788 20.1326 0.928054 19.6023 0.397736C19.0719 -0.132582 18.2121 -0.132575 17.6818 0.397736L10 8.07955L2.31819 0.397736C1.78787 -0.132583 0.928046 -0.132575 0.397736 0.397736C-0.132575 0.928047 -0.132582 1.78787 0.397736 2.31819L8.07955 10L0.397736 17.6818C-0.132575 18.2121 -0.132582 19.0719 0.397736 19.6023C0.928054 20.1326 1.78788 20.1326 2.31819 19.6023L10 11.9205L17.6818 19.6023Z' fill='white'/%3E%3C/svg%3E%0A") 50% 50% no-repeat;
                    width: 14px;
                    height: 14px;
                    cursor: pointer;
                }
            }
            &_in {
                max-width: 100%;
                height: 100%;
                max-height: 100%;
                border: 0;
            }
        }
    }
}
@media (max-width: 768px) {
    .blocks-wrapper-org {
        .step_four {
            &_blocks,
            &__wrap>ul {
                li {
                    ul li>a,
                    ul li>.label {
                        .info {
                            right: 0;
                            left: auto;
                            z-index: 99;
                        }
                        &:after {
                            // left: -36px;
                        }
                    }
                    a, .label {
                        // padding: 0 10px 0 50px;
                        // min-height: 78px;
                        &:before {
                            left: 12px;
                            width: 20px;
                            height: 20px;
                            top: calc(50% - 10px);
                            -webkit-background-size: 100% 100%;
                            background-size: 100% 100%;
                        }
                        span:after {
                            // left: -92px;
                            // width: 27px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 480px) {
    .step_four {
        &_blocks,
        &__wrap>ul {
            li {
                padding-right: 0 !important;
                padding-right: 10px;
                padding-bottom: 10px;
                ul {
                    padding-left: 12px;
                    padding-left: 15px;
                    margin-left: 0;
                }
                &>a,
                &>.label {
                    width: 240px;
                    box-sizing: border-box;
                    min-height: 52px;
                    max-height: 52px;
                    padding: 0 10px 0 40px;
                    font-size: 12px;
                    &:before {
                        left: 10px;
                    }
                    &:after,
                    .info,
                    span:after {
                        display: none;
                    }
                }
            }
        }
    }
}
.step_four .step_blocks_name:before {
    content: 'Шаг 4: ';
}
.step_blocks.division {
    .step_four {
        .step_blocks_name:before {
            content: 'Шаг 2: ';
        }
    }
}
