
<nav class="header-sub-menu-wrap">
  <ul class="header-sub-menu">
    <li><a href="#">Корпоративный Университет</a></li>
    <li class="-drop-"><a href="#">О корпоративном Университете</a>
      <ul>
        <li><a href="#">О нас</a></li>
        <li><a href="#">Наша команда</a></li>
      </ul>
    </li>
    <li><a href="#">Каталог программ</a></li>
    <li><a href="#">Корпоративная библиотека</a></li>
    <li><a href="#">Банк знаний</a></li>
    <li><a href="#">Нормативные документы</a></li>
    <li><a href="#">FAQ</a></li>
  </ul>
</nav>