nav.header-sub-menu-wrap
    ul.header-sub-menu
        li
            a(href="#") Корпоративный Университет
        li.-drop-
            a(href="#") О корпоративном Университете
            ul
                li
                    a(href="#") О нас
                li
                    a(href="#") Наша команда
        li
            a(href="#") Каталог программ
        li
            a(href="#") Корпоративная библиотека
        li
            a(href="#") Банк знаний

        li
            a(href="#") Нормативные документы
        li
            a(href="#") FAQ