mixin header_sub_menu()
    nav.header-sub-menu-wrap
        ul.header-sub-menu
            li
                a(href="#") Корпоративный Университет
            li.-drop-
                a(href="#") О корпоративном Университете
                ul
                    li
                        a(href="#") О нас
                    li
                        a(href="#") Наша команда
            //- li
            //-     a(href="#") Факультеты
            li
                a(href="#") Каталог программ
                //- ul
                    li
                        a(href="#") Факультет менеджмента и лидерства
                    li
                        a(href="#") Факультет личной эффективности
                    li.-dropright-
                        a(href="#") Факультет по функциям
                        ul
                            li
                                a(href="#") Факультет HR
                            li
                                a(href="#") Факультет закупок
                            li
                                a(href="#") Факультет проектного управления
                    li
                        a(href="#") Факультет цифровых навыков и цифровизации
                    li
                        a(href="#") Факультет английского языка
                    li
                        a(href="#") Адаптация в компании и в роли

            li
                a(href="#") Корпоративная библиотека
            li
                a(href="#") Банк знаний
                //- ul
                    li
                        a(href="#") Записи вебинаров
                    li
                        a(href="#") Образовательная рассылка
                    li
                        a(href="#") Нормативные документы
            //- li.-drop-
                a(href="#") Учебные центры
                ul
                    li
                        a(href="#") Дивизион Уголя
                    li
                        a(href="#") Дивизион Энергетики
                    li
                        a(href="#") Дивизион Логистики
                    li
                        a(href="#") Дивизион Минеральных удобрений
                    li
                        a(href="#") Дивизион Горнорудный
            li
                a(href="#") Нормативные документы
            li
                a(href="#") FAQ