mixin lsheadermenu()
    nav.header-sub-menu-wrap
        ul.header-sub-menu
            li.-drop-
                a(href="#") Документы
                ul
                    li
                        a(href="#") Документы
                    li
                        a(href="#") Документы
                    li
                        a(href="#") Документы
            li.-drop-
                a(href="legalservice-structure.html") Структура
                ul
                    li
                        a(href="#") Документы
                    li
                        a(href="#") Документы
            li.-drop-
                a(href="#") Констультации
                ul
                    li
                        a(href="#") Документы
                    li
                        a(href="#") Документы
            li
                a(href="legalservice-faq.html") Часто задаваемые вопросы
            li
                a(href="legalservice-faq-error.html") Часто встречающиеся ошибки