.header-top
    button.menu-burger
        .lines
    .menu-top-wrapper.menu-mobile-wr
        .mobile-menu-in
            .close-menu
            .menu-overflow
                nav
                    .site-search
                        form(action="#")
                            button
                            input(type="text", placeholder="Поиск по сайту")
                nav
                    ul.menu-top
                        li
                            a(href="#") О компании
                            ul
                                li
                                    a(href="#")
                                        span.pic
                                            img(src="../../images/menu_icon/menu_icon_1.svg", alt="О компании")
                                        span.name О компании
                                li
                                    a(href="#")
                                        span.pic
                                            img(src="../../images/menu_icon/menu_icon_2_n.svg", alt="Подразделения")
                                        span.name Подразделения
                                li
                                    a(href="/stranica-org.html")
                                        span.pic
                                            img(src="../../images/menu_icon/menu_icon_3_n.svg", alt="Организационная структура")
                                        span.name Организационная структура
                                li
                                    a(href="#")
                                        span.pic
                                            img(src="../../images/menu_icon/menu_icon_4_n.svg", alt="Кодекс корпоративной этики")
                                        span.name Кодекс корпоративной этики
                                li
                                    a(href="#")
                                        span.pic
                                            img(src="../../images/menu_icon/menu_icon_5.svg", alt="Карьера в компании")
                                        span.name Карьера в компании
                        li
                            a(href="#") Информация
                            ul
                                li
                                    a(href="/telefonnyj-spravochnik.html")
                                        span.pic
                                            img(src="../../images/menu_icon/menu_icon_6_n.svg", alt="Телефонный справочник")
                                        span.name Телефонный справочник
                                li
                                    a(href="#")
                                        span.pic
                                            img(src="../../images/menu_icon/menu_icon_7_n.svg", alt="Комплаенс")
                                        span.name Комплаенс
                                li
                                    a(href="#")
                                        span.pic
                                            img(src="../../images/menu_icon/menu_icon_8_n.svg", alt="Безопасность")
                                        span.name Безопасность
                                li
                                    a(href="#")
                                        span.pic
                                            img(src="../../images/menu_icon/menu_icon_9.svg", alt="Проектное управление")
                                        span.name Проектное управление
                                li
                                    a(href="#")
                                        span.pic
                                            img(src="../../images/menu_icon/menu_icon_100.svg", alt="Социальная политика")
                                        span.name Социальная политика
                        li
                            a(href="#") Обновления
                            ul
                                li
                                    a(href="/spisok-novostej.html")
                                        span.pic
                                            img(src="../../images/menu_icon/menu_icon_11_n.svg", alt="Новости")
                                        span.name Новости
                                li
                                    a(href="#")
                                        span.pic
                                            img(src="../../images/menu_icon/menu_icon_12.svg", alt="Доска объявлений")
                                        span.name Доска объявлений
                                li
                                    a(href="#")
                                        span.pic
                                            img(src="../../images/menu_icon/menu_icon_13.svg", alt="Новые сотрудники")
                                        span.name Новые сотрудники
                        li
                            a(href="#") База знаний
                            ul
                                li
                                    a(href="#")
                                        span.pic
                                            img(src="../../images/menu_icon/menu_icon_14_n.svg", alt="Новому сотруднику")
                                        span.name Новому сотруднику
                                li
                                    a(href="#")
                                        span.pic
                                            img(src="../../images/menu_icon/menu_icon_15.svg", alt="Корпоративный университет")
                                        span.name Корпоративный университет
                                li
                                    a(href="#")
                                        span.pic
                                            img(src="../../images/menu_icon/menu_icon_16.svg", alt="Банк знаний")
                                        span.name Банк знаний
                        li
                            a(href="#") Хранилище
                            ul
                                li
                                    a(href="#")
                                        span.pic
                                            img(src="../../images/menu_icon/menu_icon_17.svg", alt="Диск")
                                        span.name Диск
                                li
                                    a(href="#")
                                        span.pic
                                            img(src="../../images/menu_icon/menu_icon_18.svg", alt="Документы")
                                        span.name Документы
                                li
                                    a(href="#")
                                        span.pic
                                            img(src="../../images/menu_icon/menu_icon_19.svg", alt="Медиатека")
                                        span.name Медиатека
                        li
                            .site-contacts
                                .phone
                                    a(href="tel:88002001240") 8 (800) 200 - 12 - 40
                                .link
                                    a(href="#") Внешний сайт СУЭК
                                .social-block
                                    a(href="#")
                                        img(src="../../images/social_icon/fb.svg", alt="Facebook")
                                    a(href="#")
                                        img(src="../../images/social_icon/vk.svg", alt="Вконтакте")
                                    a(href="#")
                                        img(src="../../images/social_icon/inst.svg", alt="Instagram")
                                    a(href="#")
                                        img(src="../../images/social_icon/youtube.svg", alt="YouTube")
                                .social-block2
                                    a(href="#")
                                        img(src="../../images/social_icon/fb.svg", alt="Facebook")
                                    a(href="#")
                                        img(src="../../images/social_icon/vk.svg", alt="Вконтакте")
                                    a(href="#")
                                        img(src="../../images/social_icon/inst.svg", alt="Instagram")
                                    a(href="#")
                                        img(src="../../images/social_icon/youtube.svg", alt="YouTube")
    .header-time 09:00 Красноярск +9ºС
        img(src="../../images/weather/sun.svg", alt)
    .site-logo
        a(href="/")
            img(src="../../images/logo-aim-56.svg", alt)
    .account-block
        .account-block-title
            .pic
                img(src="../../images/account_image.png", alt="Александр Конев")
            .name Александр Конев
        .account-block-body
            .account-block-body-in
                .account
                    a(href="/stranica-lk.html") Личный кабинет
                .profile
                    a(href="#") Мой публичный профиль
                .logout
                    a(href="#") Выход
    .settings-block
        a(href="#")
    .search-block
        a(href="#")