.header-top
    .header-time.
        09:00 Красноярск +9ºС
    .site-logo
        a(href="/")
            img(src="../../images/logo-aim-56.svg", alt)
    .account-block
        .account-block-title
            .name Александр Конев
            .pic
                img(src="../../images/account_image.png", alt="Александр Конев")