
<div class="header-top">
  <button class="menu-burger">
    <div class="lines"></div>
  </button>
  <div class="menu-top-wrapper menu-mobile-wr">
    <div class="mobile-menu-in">
      <div class="close-menu"></div>
      <div class="menu-overflow">
        <nav>
          <div class="site-search">
            <form action="#">
              <button></button>
              <input type="text" placeholder="Поиск по сайту">
            </form>
          </div>
        </nav>
        <nav>
          <ul class="menu-top">
            <li><a href="#">О компании</a>
              <ul>
                <li><a href="#"><span class="pic"><img src="../../images/menu_icon/menu_icon_1.svg" alt="О компании"></span><span class="name">О компании</span></a></li>
                <li><a href="#"><span class="pic"><img src="../../images/menu_icon/menu_icon_2_n.svg" alt="Подразделения"></span><span class="name">Подразделения</span></a></li>
                <li><a href="/stranica-org.html"><span class="pic"><img src="../../images/menu_icon/menu_icon_3_n.svg" alt="Организационная структура"></span><span class="name">Организационная структура</span></a></li>
                <li><a href="#"><span class="pic"><img src="../../images/menu_icon/menu_icon_4_n.svg" alt="Кодекс корпоративной этики"></span><span class="name">Кодекс корпоративной этики</span></a></li>
                <li><a href="#"><span class="pic"><img src="../../images/menu_icon/menu_icon_5.svg" alt="Карьера в компании"></span><span class="name">Карьера в компании</span></a></li>
              </ul>
            </li>
            <li><a href="#">Информация</a>
              <ul>
                <li><a href="/telefonnyj-spravochnik.html"><span class="pic"><img src="../../images/menu_icon/menu_icon_6_n.svg" alt="Телефонный справочник"></span><span class="name">Телефонный справочник</span></a></li>
                <li><a href="#"><span class="pic"><img src="../../images/menu_icon/menu_icon_7_n.svg" alt="Комплаенс"></span><span class="name">Комплаенс</span></a></li>
                <li><a href="#"><span class="pic"><img src="../../images/menu_icon/menu_icon_8_n.svg" alt="Безопасность"></span><span class="name">Безопасность</span></a></li>
                <li><a href="#"><span class="pic"><img src="../../images/menu_icon/menu_icon_9.svg" alt="Проектное управление"></span><span class="name">Проектное управление</span></a></li>
                <li><a href="#"><span class="pic"><img src="../../images/menu_icon/menu_icon_100.svg" alt="Социальная политика"></span><span class="name">Социальная политика</span></a></li>
              </ul>
            </li>
            <li><a href="#">Обновления</a>
              <ul>
                <li><a href="/spisok-novostej.html"><span class="pic"><img src="../../images/menu_icon/menu_icon_11_n.svg" alt="Новости"></span><span class="name">Новости</span></a></li>
                <li><a href="#"><span class="pic"><img src="../../images/menu_icon/menu_icon_12.svg" alt="Доска объявлений"></span><span class="name">Доска объявлений</span></a></li>
                <li><a href="#"><span class="pic"><img src="../../images/menu_icon/menu_icon_13.svg" alt="Новые сотрудники"></span><span class="name">Новые сотрудники</span></a></li>
              </ul>
            </li>
            <li><a href="#">База знаний</a>
              <ul>
                <li><a href="#"><span class="pic"><img src="../../images/menu_icon/menu_icon_14_n.svg" alt="Новому сотруднику"></span><span class="name">Новому сотруднику</span></a></li>
                <li><a href="#"><span class="pic"><img src="../../images/menu_icon/menu_icon_15.svg" alt="Корпоративный университет"></span><span class="name">Корпоративный университет</span></a></li>
                <li><a href="#"><span class="pic"><img src="../../images/menu_icon/menu_icon_16.svg" alt="Банк знаний"></span><span class="name">Банк знаний</span></a></li>
              </ul>
            </li>
            <li><a href="#">Хранилище</a>
              <ul>
                <li><a href="#"><span class="pic"><img src="../../images/menu_icon/menu_icon_17.svg" alt="Диск"></span><span class="name">Диск</span></a></li>
                <li><a href="#"><span class="pic"><img src="../../images/menu_icon/menu_icon_18.svg" alt="Документы"></span><span class="name">Документы</span></a></li>
                <li><a href="#"><span class="pic"><img src="../../images/menu_icon/menu_icon_19.svg" alt="Медиатека"></span><span class="name">Медиатека</span></a></li>
              </ul>
            </li>
            <li>
              <div class="site-contacts">
                <div class="phone"><a href="tel:88002001240">8 (800) 200 - 12 - 40</a></div>
                <div class="link"><a href="#">Внешний сайт СУЭК</a></div>
                <div class="social-block"><a href="#"><img src="../../images/social_icon/fb.svg" alt="Facebook"></a><a href="#"><img src="../../images/social_icon/vk.svg" alt="Вконтакте"></a><a href="#"><img src="../../images/social_icon/inst.svg" alt="Instagram"></a><a href="#"><img src="../../images/social_icon/youtube.svg" alt="YouTube"></a></div>
                <div class="social-block2"><a href="#"><img src="../../images/social_icon/fb.svg" alt="Facebook"></a><a href="#"><img src="../../images/social_icon/vk.svg" alt="Вконтакте"></a><a href="#"><img src="../../images/social_icon/inst.svg" alt="Instagram"></a><a href="#"><img src="../../images/social_icon/youtube.svg" alt="YouTube"></a></div>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="header-time">09:00 Красноярск +9ºС<img src="../../images/weather/sun.svg" alt></div>
  <div class="site-logo"><a href="/"><img src="../../images/logo-aim-56.svg" alt></a></div>
  <div class="account-block">
    <div class="account-block-title">
      <div class="pic"><img src="../../images/account_image.png" alt="Александр Конев"></div>
      <div class="name">Александр Конев</div>
    </div>
    <div class="account-block-body">
      <div class="account-block-body-in">
        <div class="account"><a href="/stranica-lk.html">Личный кабинет</a></div>
        <div class="profile"><a href="#">Мой публичный профиль</a></div>
        <div class="logout"><a href="#">Выход</a></div>
      </div>
    </div>
  </div>
  <div class="settings-block"><a href="#"></a></div>
  <div class="search-block"><a href="#"></a></div>
</div>